<app-login-header></app-login-header>
<!--Page Content Start-->
<div class="container inner">
  <!-- start: PAGE -->
  <div class="white-bg section-padding">
    <div class="container-fluid p-0 bg-white">
      <!--about-us Start-->
      <div class="container">
        <div class="row">
		 <h1 class="headline col-xs-12 " ><span>Mentors List</span></h1>
          <div class="search-mentor col-xs-12 col-md-12">
                <div class="mo_stepwizard_counsoller">
					<div class="mentor-form " style=" text-align: center;" >
                    <div class="container">
                        <form class="form-inline mentor-form" [formGroup] = "formSearch" (ngSubmit) = "mentorSearch(formSearch.value)">
                                <div class="form-group mentor-text">Find a mentor</div>
                                   <div class="form-group find-margin" style="margin-left: 10px;">
                                    <input type="text" class="form-control" placeholder="First name" formControlName="first_name">
                                    </div>
                                    <div class="form-group find-margin" style="margin-left:10px;">
                                       <input type="text" class="form-control" placeholder="Last name" formControlName="last_name">
                                      </div>
                                    <div class="form-group find-margin" style="margin-left: 10px;">
                                        <select  formControlName="category" class="form-control">
                                              <option value="">Select Your Field </option>
                                              <option *ngFor="let serv of services" [value]="serv.id">{{serv.name}}</option>
                                        </select>
                                    </div>
                                    <div class="form-group find-margin" style="margin-left: 10px;">
                                        <input type="submit" class="btn btn-search" value="Search">
                                    </div>
                            </form>
                        </div>
                    </div>
                </div>
			</div>
		</div>
	</div>
	<div class="container about-upper">
		<div class="row">
			<div class="col-xs-12 col-md-12 col-sm-12 no-padding">
				<div class="mo_stepwizard_counsoller">
                        <div class="mentor-area" *ngIf="counsellors">
                            <div>
								<div class="row">
									<div class="col-md-3 col-sm-3 col-xs-6 search-div" *ngFor="let user of counsellors;let indCounsellor = index">
										<div class="carous-card">
											<div class="card-box">
												<div class="student-speak-section"> 
                                                    <div class="default-color-dark bag-color-light"></div>
                                                    <!--Avatar-->
                                                    <div class="image-box" [ngClass]="{'after-login-background': userId}">
                                                    <div class="avatar meettor-img meettor-img-height" *ngIf="user.dp_image" [ngStyle]="{'background-image': 'url('+cdnPath+user.dp_image+ ')'}" [style.backgroundSize]="'cover'"></div>
                                                    <div class="avatar meettor-img meettor-img-height"  *ngIf="!user.dp_image" [ngStyle]="{'background-image': 'url('+cdnPath+'intercell-user-pic.png'+ ')'}" [style.backgroundSize]="'cover'"></div>
                                      
                                                  </div>

                                                    <!--a href="javascript:void(0);" onclick="openProfile(this.id)" id="{{user.id}}" class="search-image">
													<img src="{{counsellorProfileUrl}}{{user.dp_image}}" alt="{{user.first_name}} {{user.last_name}}" class="img-responsive img-circle-profile" />
                                                 </a-->
                                                 <span class="card-block ">
                                                    <!--Name-->
                                                    <h4 class="card-title">{{ user.first_name | titlecase }} {{ user.last_name | titlecase }}</h4>
                                                      <p class="testi-title-home"><span>Total Experience:</span>  {{user.totalexperience | titlecase}} years</p>
                                                      <p class="testi-title-home"><span>Expertise:</span> {{user.name | titlecase}} </p>
                                                      <p class="testi-title-home" *ngIf="user.brand_worked_for"><span>Brand Portfolio:</span> <em [innerHTML]="user.brand_worked_for| safeHtml ">   </em> </p>
                                    
                                                    <!--<p class="testi-title">{{counsellor.summary}}</p>-->
                                                  </span>
                                                  
                                                <div class="book-session">
                                                    <div *ngIf="!userId">
														<a class="btn intercell-btn btn-small" href="javascript:void(0);" (click)="myModel.open();setCounsellor(user,indCounsellor,user.dp_image);">Book a Session</a>
														<div class="read-more-icon pull-right"><a href="javascript:void();" (click)="summaryModel.open();setCounsellor(user,indCounsellor,user.dp_image,user.summary);"><img src="../../assets/images/read_more.png" style="max-width:38px;"></a></div>
													</div>
                                                    <div *ngIf="userId">
                                                        <div *ngIf="userType!=3">
															<a class="btn intercell-btn btn-small" href="javascript:void(0);" (click)="directAppointment(user);">Book a Session</a>
															<div class="read-more-icon pull-right"><a href="javascript:void();" (click)="summaryModel.open();setCounsellor(user,indCounsellor,user.dp_image,user.summary);"><img src="../../assets/images/read_more.png" style="max-width:38px;"></a></div>
														</div>
                                                    </div> 
                                                </div>
                                                      
                                                <!--span class="card-block" >
                                                    <h4 class="center1" placement="top" ngbTooltip="Tooltip on top">{{user.first_name | titlecase}} {{user.last_name | titlecase}}</h4>
                                                    <p class="center1">{{user.category_name | titlecase}}<span *ngIf="user.city_name">, {{user.city_name | titlecase}}</span></p>           
                                                 </span-->
                                                 
												</div>
											</div>
										</div>
									</div>
								</div>
							 </div>
                        </div>
						<div *ngIf="!counsellors" style="min-height:350px;" class="text-center">
							<p>{{counsellorsErrormsg}} </p>
						</div>
                </div>
            </div>
		</div>
	</div>
      <!--about-us End-->
    </div>
  </div>
</div>
<!--Page Content End-->
<app-footer></app-footer>

<modal #summaryModel>
  <modal-header>
      <h5 class="popup-title">{{popFullName}}</h5>
  </modal-header>
    
  <modal-content>
      <div class="row">
         <div class="col-md-12">
         <div class="col-md-4">
             <img src="{{popUserPic}}" class="img-responsive">
           </div>
       <div class="popup-content col-md-8">
          
         <p>{{summary}}<p>
        </div>
     </div>
       </div>
     </modal-content>
  
</modal>

<modal #myModel>
    <modal-header>
        <h5 class="popup-title">Please login to book your session with <strong>{{popFullName|titlecase}}</strong></h5>
    </modal-header>

    <modal-content>

          <div class="lgn-bx login-forms-counsellor">
            <div class="row">
              <div class="col-md-6">
                <div class="counsellor-photo">
                  <img src="{{popUserPic}}">
                </div>
              </div>
              <div class="col-md-6 popup-form">
      <div class="popup-error box">
       <span *ngIf="incorrectDetails" class="red-clr popup-msg">  Incorrect Email Id and Password</span>  
     </div>					
    <div class="form-group form-gro">
                    <label class="control-label">User Name</label>
                    <br>
                    <input type="text" placeholder="Please Enter Email ID" id="username" maxlength="50" required/>
                    <i class="bar"></i>
                  </div>

                  <div class="form-group form-gro">
                    <label class="control-label">Password </label>
                    <br>
                    <input type="password" placeholder="Please Enter Password" id="password" required="required" required/>
                    <i class="bar"></i>
                  </div>
        
        <div class="form-group form-gro forgot-link">
            
             <div class="form-group forget-pass">
                <a [routerLink]="['/reset-password']" class="">Forgot Password ?</a>
                <a [routerLink]="['/login']" class="sign-up-popup">Register</a>
             </div>
                  </div> 
                </div>
            </div>
        </div>

    </modal-content>
    <modal-footer>
      <div class="col-md-12">
				<button class="btn btn-primary" (click)="doLogin()">Login</button>
		    </div>
    </modal-footer>
</modal>