<app-login-header></app-login-header>

<div class="col-lg-12 no-padding contact-page">
	<div class="inner-banner-div"  style="background:url(../../assets/images/terms-banner.jpg) no-repeat;background-size:cover;background-position:top center; height:180px;">
		<div class="container">
			<div  class="row">
				<div class="col-lg-12 banner-box">
					<p class="" *ngIf="this.cms_data.title">{{this.cms_data.title}}</p>
				</div>
			</div> 
		</div>
	</div> 
</div>


<!--Page Content Start-->
<div class="container">
  <!-- start: PAGE -->
<div class="container-fluid section-padding bg-white">
  <!--Term Start-->
  <div class="container">
    <div class="row">
      <div class="col-xs-12 no-padding">
        <div class="page-content">
           
         <!-- <h3 *ngIf='termUser==3'>Hi Counsellor</h3>
          <h3 *ngIf='termUser==2'>Hi Student</h3>
          <h3 *ngIf='termUser==1'>Hi Visitor</h3>
		  -->
          <div [innerHTML]="this.cms_data.cms_desc | safeHtml "></div> 
        </div>
      </div>
    </div>
  </div>
  <!--Term End-->
</div>
<!--Page Content End-->

</div>

<form class="hide" action={{paymentUrl}} method="POST" id="payment_form">
  <input name="userId" id="paymentUserId" value={{userId}}>
  <input name="sessionId" id="sessionId">
</form>


<app-footer></app-footer>