<footer class="inner">
  <div class="footer-inner">
    <div class="pull-left">
      2017 &copy; Intercell Technologies Pvt. Ltd.
    </div>

    <div class="pull-right">
      <div class="bottom-top-btn">
        <a href="#" class="scrollToTop"><i class="fa fa-arrow-up" aria-hidden="true"></i></a>
      </div>
    </div>


  </div>
</footer>