<app-login-header></app-login-header>

<div class="pos-rel" style="background:url(../../assets/images/banner2.jpg) no-repeat;background-size:cover;background-position:top center;height:70vh" >

<!--Page Content Start-->
<div class="container-fluid">
  <div class="forgot-bx blk-center">
    <div class="forgot-blk" style="display:block;">
      <h3 class="text-center colorwht">Forgot Password</h3>
      <form class="forgot-bx-cntnt" [formGroup] = "formEmail">
        <p>Please enter your registered email address and we will send you a OTP</p>
        <div class="form-group box">
          <input type="email" class="form-control" [(ngModel)] ="emailId" formControlName="emailId" placeholder="Email ID*" ngModel minlength="3">
          <span *ngIf="formEmailErrors.emailId" class="red-clr">{{formEmailErrors.emailId}}</span>
        </div>
      
        <div class="text-center">
          <input type="submit" [ngClass]="{'btn btn-blue text-center fgt-blk-btn' : true}"  (click) = "onSubmit()" value="Submit">
        </div>

      </form>
    </div>


    <div class="forgot-blk1" style="display:none;">
      <h3 class="text-center colorwht">Forgot Password</h3>
      <div class="forgot-bx-cntnt">
        <p>Verification code has been sent to your email id.</p>
        <div class="form-group box">
          <input type="text" [(ngModel)] ="validKey" class="form-control" placeholder="Verification Code">
          <span *ngIf="keyError" class="red-clr">Invalid OTP. Please check and enter valid OTP</span>
        </div>
       
        <div class="text-center"><input type="submit" (click) = "onCheck()" class="btn btn-blue text-center blk1-btn" value="Submit"> </div>
      </div>
    </div>

    <div class="forgot-blk2" style="display:none;">
      <h3 class="text-center colorwht">Forgot Password</h3>
      <form class="forgot-bx-cntnt"  [formGroup] = "formPassword" autocomplete="false">
        <p>Set Your new Password</p>
        <div class="form-group box">
          <input type="text" [(ngModel)] ="password" autocomplete="false" class="form-control" formControlName="password" placeholder="New Password" required>
          <input type="password" [(ngModel)] ="cpassword" autocomplete="false" class="form-control" formControlName="cpassword" placeholder="Confirm Password" required>
          <span *ngIf="formPasswordErrors.password" class="red-clr">{{formPasswordErrors.password}}</span>
		         </div>
        
        <div class="text-center"><input type="submit" [ngClass]="{'btn btn-blue text-center blk2-btn' : true}"   (click) = "onReset()" value="Submit"> </div>
      </form>
    </div>

    <div class="forgot-blk3 password-successfully" style="display:none;">
      <div class="forgot-bx-cntnt">
        <p class="text-center">Your Password Has been successfully updated</p>
        <!--<div class="text-center">
          <a href="" class="btn btn-blue text-center blk3-btn" >GO TO THE MAIN WEBSITE</a>
        </div>-->
      </div>
    </div>

  </div>
</div>
<!--Page Content End-->

</div>
<app-footer></app-footer>