<span *ngIf="isLogin"><app-header></app-header></span>
<span *ngIf="!isLogin"><app-login-header></app-login-header></span>


<div class="container-fluid p-0">
  <div class="feedback-intercell" style="background:url(../../assets/images/feedback_banner.jpg) no-repeat;background-size:cover;background-position:center center;">
	<div class="container">
    <div class="feedback-form">

       <form [formGroup] = "formContact" class="form">

        <div class="col-sm-12">
          <h3>Feedback</h3>
          <span *ngIf="AllRequiredError" class="blue-clr">{{AllRequiredError}}</span>

        </div>
		
		 <div class="col-sm-6">
          <div class="form-group">
            <label>Name <span>*</span></label>
            <input type="Text"  maxlength="50" class="form-control" formControlName="name" (click)="selectAllContent($event)">
            <span *ngIf="formErrors.name" class="blue-clr">{{formErrors.name}}</span>
          </div>
        </div>
		
		
        <div class="col-sm-6">
          <div class="form-group">
            <label>Phone No. </label>
            <input type="Text"  class="form-control" maxlength="10" formControlName="phone" (keyup)="onPhoneOut()" (click)="selectAllContent($event)" (keypress)="onlyNumberKey($event)">
            <span *ngIf="formErrors.phone" class="blue-clr">{{formErrors.phone}}</span>
          </div>
        </div>
        <div class="col-sm-12">
          <div class="form-group">
            <label>Email Address <span>*</span></label>
            <input type="Text" class="form-control" maxlength="50"  formControlName="email" (keyup)="onEmailOut()" (click)="selectAllContent($event)">
            <span *ngIf="formErrors.email" class="blue-clr">{{formErrors.email}}</span>
          </div>
        </div>
        <div class="col-sm-12">
          <div class="form-group">
            <label>Please tell us the fields you would like to receive mentoring in.<span>*</span></label>
      <textarea class="form-control textareacss" formControlName="message" (click)="selectAllContent($event)"></textarea>
            <span *ngIf="formErrors.message" class="blue-clr">{{formErrors.message}}</span>
          </div>
        </div>
        <div class="col-sm-12">
          <div class="btn-last-part">
            <button class="btn btn-transparent-white btn-squared counsellor-db-btn nextBtn btn-lg back-btn btn-right"  type="button" (click) = "onDone(formContact.value)">Submit</button>
            
          </div>
        </div>

      </form>
    </div>
	</div>


  </div>
</div>

<span *ngIf="!isLogin"><app-footer></app-footer></span>

<!--Page Content End-->
