<app-login-header></app-login-header>

<div class="col-lg-12 no-padding contact-page">
	<div class="inner-banner-div"  style="background:url(../../assets/images/faq-banner.jpg) no-repeat;background-size:cover;background-position:top center; height:180px;">
		<div class="container">
			<div  class="row">
				<div class="col-lg-12 banner-box">
					<p class="text-uppercase">Faq</p>
				</div>
			</div> 
		</div>
	</div> 
</div>

<div class="container inner">
  <!-- start: PAGE -->
	<div class="main-content">
	<!--Page Content Start-->
	<div class="container-fluid pd-tp50 bg-white section-padding">
	  <div class="container">
		<div class="row">
		  <div class="col-xs-12 no-padding">
			<div class="faq-pages">
			  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">   
				<div class="panel panel-custom">
					<div class="panel-heading" role="tab" id="heading1">
						<a data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">  
						  <h4 class="panel-title">
						  <i class="glyphicon glyphicon-minus pull-right"></i>
						  1. Why should I become a Mentor on Intercell panel? 
						  </h4>
					  </a>
					</div>
					<div id="collapse1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading1">
						<div class="panel-body animated zoomOut">
						  If you think you have it in you to steer young talent to their ultimate career goal, then, you must become a Mentor on Intercell’s Virtual Mentor Network. As an expert in your chosen field, you can help countless Students and Professionals launch and shape their careers. Nothing can be more satisfying than to play a role in developing the skills of youngsters starting out. You also become a brand in your own right. 
						</div>
					</div>
				</div>					
				<div class="panel panel-custom">
					<div class="panel-heading" role="tab" id="heading2">
						<a data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="false" aria-controls="collapse1">  
						  <h4 class="panel-title">
						  <i class="glyphicon glyphicon-plus pull-right"></i>
						  2. Does Mentoring on Intercell require full-time or a part-time commitment by a Mentor ?
						  </h4>
					  </a>
					</div>
					<div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
						<div class="panel-body animated zoomOut">
						  No, a mentor is not liable to commit any fix number of hours for mentoring. He can set his availability as per his convenience.  
						</div>
					</div>
				</div>					
				<div class="panel panel-custom">
					<div class="panel-heading" role="tab" id="heading3">
						<a data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="false" aria-controls="collapse1">  
						  <h4 class="panel-title">
						  <i class="glyphicon glyphicon-plus pull-right"></i>
						  3. Will Mentoring conflict with Code of Conduct policy of my employer?
						  </h4>
					  </a>
					</div>
					<div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3">
						<div class="panel-body animated zoomOut">
						  No, Mentoring is for a social cause. It is to guide Students and Professionals towards a better and a more rewarding career. Mentoring does not conflict with existing nature of employment. For more information, please write to us at <a href="mailto:info@intercellworld.com">info@intercellworld.com</a>.   
						</div>
					</div>
				</div>	
				<div class="panel panel-custom">
					<div class="panel-heading" role="tab" id="heading4">
						<a data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapse1">  
						  <h4 class="panel-title">
						  <i class="glyphicon glyphicon-plus pull-right"></i>
						  4. Why should I register myself on Intercell?
						  </h4>
					  </a>
					</div>
					<div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4">
						<div class="panel-body animated zoomOut">
						  Intercell is your answer to the mentor you always needed in your life, a mentor who will guide you at each step of your career. Interact real-time with people who have your dream jobs and become who you want to be by getting the right guidance, and say good bye to the countless days and nights of hunting for the right people on social networking sites. Experience an evolution of not just quick responsiveness but a direct involvement of your chosen mentor in your career!  
						</div>
					</div>
				</div>
				<div class="panel panel-custom">
					<div class="panel-heading" role="tab" id="heading5">
					  <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false" aria-controls="collapse2">
						<h4 class="panel-title">
						  <i class="glyphicon glyphicon-plus pull-right"></i>
	  
						  5. Who is a mentor? Why do I need a mentor in life?
						</h4> </a>
					</div>
					<div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading5">
					  <div class="panel-body animated zoomOut">
						A mentor in your life can act as an immense support for you to make a place for yourself in the corporate world. A mentor who can guide you at each step, help you choose the correct specialization or organization based on your personality, aptitude and aspirations, or prepare you for that first job interview, all this and more is what you get at Intercell. Intercell mentors are those people who are working in your dream companies or in your dream job roles.
					  </div>
					</div>
				</div>
				<div class="panel panel-custom">
				  <div class="panel-heading" role="tab" id="heading6">
					<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="false" aria-controls="collapse3">
					  <h4 class="panel-title">

						<i class="glyphicon glyphicon-plus pull-right"></i>
						6. What kind of questions can I ask?

					  </h4> </a>
				  </div>
				  <div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading6">
					<div class="panel-body animated zoomOut">
					  You can ask just about anything in your career. Whether you’re stuck in choosing a specialization or wondering about a change of job or change of career altogether, Intercell mentors can help you get on track no matter where you are. 
					</div>
				  </div>
				</div>
				<div class="panel panel-custom">
				  <div class="panel-heading" role="tab" id="heading7">

					<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse7" aria-expanded="false" aria-controls="collapse4">
					  <h4 class="panel-title">
						<i class="glyphicon glyphicon-plus pull-right"></i>

						7. Will Intercell guarantee placement?
					  </h4> </a>
				  </div>
				  <div id="collapse7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading7">
					<div class="panel-body animated zoomOut">
					  No, but it will give you a competitive edge by providing you with the right guidance and direction that your peers may not have, and that could prove as an added bonus for you to kick-start your career.  
					</div>
				  </div>
				</div>
				<div class="panel panel-custom">
				  <div class="panel-heading" role="tab" id="heading8">
					<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse8" aria-expanded="false" aria-controls="collapse5">
						<h4 class="panel-title">
					  <i class="glyphicon glyphicon-plus pull-right"></i>

					  8. I have some work experience, can Intercell help me grow? 
					</h4></a>
				  </div>
				  <div id="collapse8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading8">
					<div class="panel-body animated zoomOut">
					  Yes. Everyone needs a mentor and we understand that the first couple of years in a job can be tough. Intercell was born to help professionals like you achieve more and prepare better for the world that awaits you.  Simply, get started by selecting a mentor from the list. Register <a [routerLink]="['/']">here</a>.
					</div>
				  </div>
				</div>
				<div class="panel panel-custom">
				  <div class="panel-heading" role="tab" id="heading9">
					<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse9" aria-expanded="false" aria-controls="collapse6">
					  <h4 class="panel-title">
						<i class="glyphicon glyphicon-plus pull-right"></i>

						9. What do companies look for in a fresher?
					  </h4></a>
				  </div>
				  <div id="collapse9" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading9">
					<div class="panel-body animated zoomOut">
						Companies more often than not look for someone who isn't just academically qualified but also a right fit for the organization. You can now get your queries answered by experts on Intercell on specific organizations or specific job roles. Every organization has a different work culture and every profile will demand a unique skill set and hence, it is important to speak one to one with a mentor who can provide you with personalized guidance right before that first job interview.
					</div>
				  </div>
				</div>
				<div class="panel panel-custom">
				  <div class="panel-heading" role="tab" id="heading10">
					<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse10" aria-expanded="false" aria-controls="collapse7">
					  <h4 class="panel-title">
						<i class="glyphicon glyphicon-plus pull-right"></i>

						10.  I am unable to login to my account. How do I change my password?
					  </h4> </a>
				  </div>
				  <div id="collapse10" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading10">
					<div class="panel-body animated zoomOut">
					  You can click on ‘Forgot password’ option on your dashboard or homepage. You will receive a link on your registered email address to reset your password. 
					</div>
				  </div>
				</div>
				<div class="panel panel-custom">
				  <div class="panel-heading" role="tab" id="heading11">
					<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse11" aria-expanded="false" aria-controls="collapse8">
					  <h4 class="panel-title">
						<i class="glyphicon glyphicon-plus pull-right"></i>

						11. What all do I need in my computer to do a video call with my mentor?
					  </h4></a>
				  </div>
				  <div id="collapse11" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading11">
					<div class="panel-body animated zoomOut">
					  Following are the minimum requirements, for you to get started: 
					  <ul>
						<li>Latest version of any browser you use (Google Chrome, Mozilla Firefox, Internet Explorer)</li>
						<li>Camera, Headsets with microphone</li>
						<li>Internet speed requirements: 350 kbps </li>
						<li>High-resolution device</li>
					  </ul>
					</div>
				  </div>
				</div>
				<div class="panel panel-custom">
					<div class="panel-heading" role="tab" id="heading12">
					  <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse12" aria-expanded="false" aria-controls="collapse9">
						<h4 class="panel-title">
						  <i class="glyphicon glyphicon-plus pull-right"></i>
						  12. Which browsers Support Intercell ?
						</h4> </a>
					</div>
					<div id="collapse12" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading12">
					  <div class="panel-body animated zoomOut">
						1. Google Chrome (latest release version) — HTTPS only <br/>
						2. Google Chrome for Android (latest release version) — HTTPS only <br/>
						3. Firefox (latest release version)<br/>
						4. Firefox for Android (latest release version)<br/>
						5. Internet Explorer 10 and 11 with the OpenTok Plugin for Internet Explorer — see Developing with the OpenTok Plugin.<br/>
						6. Microsoft Edge 15+ — beta support. Edge version 15+ was released with the latest Windows 10 Creators Update. Currently, Edge is only supported in relayed sessions; it is not supported in routed sessions (sessions that use the Media Router). Edge support is currently in beta.<br/>
						7. Opera (latest release version)<br/>
						8. Safari Browser Support (beta): The upcoming Safari 11 browser for Mac and iOS will be compatible with WebRTC.<br/>
	  
					  </div>
					</div>
				  </div>
				<div class="panel panel-custom">
					<div class="panel-heading" role="tab" id="heading13">
					  <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse13" aria-expanded="false" aria-controls="collapse15">
						<h4 class="panel-title">
						  <i class="glyphicon glyphicon-plus pull-right"></i>
						  13. How do I use Intercell's Virtual Mentor Network on my mobile?
						</h4> </a>
					</div>
					<div id="collapse13" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading13">
					  <div class="panel-body animated zoomOut">
						  You can either use Intercell on your phone by using one of the browsers listed above or you can download our app from the play store.
					  </div>
					</div>
				</div>
				<div class="panel panel-custom">
				  <div class="panel-heading" role="tab" id="heading14">
					<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse14" aria-expanded="false" aria-controls="collapse10">
					  <h4 class="panel-title">
						<i class="glyphicon glyphicon-plus pull-right"></i>

						14.  Can I do a voice call with my mentor, instead of a video call? 
					  </h4> </a>
				  </div>
				  <div id="collapse14" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading14">
					<div class="panel-body animated zoomOut">
					  Yes. You will be provided with an option to hide video feature when you start your session.
					</div>
				  </div>
				</div>
				<div class="panel panel-custom">
				  <div class="panel-heading" role="tab" id="heading15">
					<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse15" aria-expanded="false" aria-controls="collapse11">
					  <h4 class="panel-title">
						<i class="glyphicon glyphicon-plus pull-right"></i>

						15. How would I get billed? Do I need to pay in advance?
					  </h4> </a>
				  </div>
				  <div id="collapse15" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading15">
					<div class="panel-body animated zoomOut">

					  Yes, you will need to pay in advance through a secure payment gateway. An invoice will be sent on your registered email address, post the payment.
					</div>
				  </div>
				</div>
				<div class="panel panel-custom">
				  <div class="panel-heading" role="tab" id="heading16">
					<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse16" aria-expanded="false" aria-controls="collapse12">
					  <h4 class="panel-title">
						<i class="glyphicon glyphicon-plus pull-right"></i>

						16. What is the cost of one session with a mentor of my choice? 
					  </h4> </a>
				  </div>
				  <div id="collapse16" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading16">
					<div class="panel-body animated zoomOut">
					  Cost of one session is INR 2300 plus Govt. applicable taxes.
					</div>
				  </div>
				</div>
				<div class="panel panel-custom">
				  <div class="panel-heading" role="tab" id="heading17">
					<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse17" aria-expanded="false" aria-controls="collapse13">
					  <h4 class="panel-title">
						<i class="glyphicon glyphicon-plus pull-right"></i>
						17. How long a session lasts?
					  </h4> </a>
				  </div>
				  <div id="collapse17" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading17">
					<div class="panel-body animated zoomOut">
					  One session lasts for 30 minutes. However, you can book another session if you would like to speak to your mentor again. 
					</div>
				  </div>
				</div>
				<div class="panel panel-custom">
				  <div class="panel-heading" role="tab" id="heading18">
					<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse18" aria-expanded="false" aria-controls="collapse14">
					  <h4 class="panel-title">
						<i class="glyphicon glyphicon-plus pull-right"></i>
						18. What do I need to do if I decide to extend my call during my session?
					  </h4> </a>
				  </div>
				  <div id="collapse18" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading18">
					<div class="panel-body animated zoomOut">
					  As of now, there is no such provision. However, you can book another session with the same mentor.
					</div>
				  </div>
				</div>
				<div class="panel panel-custom">
					  <div class="panel-heading" role="tab" id="heading19">
						<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse19" aria-expanded="false" aria-controls="collapse16">
						  <h4 class="panel-title">
							<i class="glyphicon glyphicon-plus pull-right"></i>
							19. What are the various ways that I can interact with my mentor?
						  </h4> </a>
					  </div>
					  <div id="collapse19" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading19">
						<div class="panel-body animated zoomOut">
							You can interact with your mentor in three ways: video call, audio call and chat
						</div>
					  </div>
				</div>
				<div class="panel panel-custom">
						<div class="panel-heading" role="tab" id="heading20">
						  <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse20" aria-expanded="false" aria-controls="collapse17">
							<h4 class="panel-title">
							  <i class="glyphicon glyphicon-plus pull-right"></i>
							  20. What is the Intercell refund policy?
							</h4> </a>
						</div>
						<div id="collapse20" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading20">
						  <div class="panel-body animated zoomOut">
							  Please refer to the Terms & Conditions page for the same.
						  </div>
						</div>
				</div>
			  </div>
			</div>
		  </div>
		</div>
	  </div>
	</div>
  </div>
</div>
<app-footer></app-footer>
<!--Page Content End-->
