<div>
  <div *ngIf="!isLogin" class="slide" id="formSlide">

    <!--ul class="slide-bx list-unstyled">
      <li class="slide-list">
        <a href="javascript:void(0);" onclick="window.open('https://www.facebook.com/Digitigi23')">
          <div class="" data-toggle="modal" data-target="#getPrice"> <i class="fa fa-facebook fa-2x"></i></div>
        </a>
      </li>

      <li class="slide-list">
        <a href="javascript:void(0);" onclick="window.open('https://www.linkedin.com/company/13256257/')">
          <div class="" data-toggle="modal" data-target="#bookService"> <i class="fa fa-linkedin fa-2x"></i></div>
        </a>
      </li>

      <li class="slide-list">
        <a href="javascript:void(0);" onclick="window.open('https://plus.google.com/u/0/101262026208087890343')">
          <div class=""><i class="fa fa-google-plus fa-2x"></i></div>
        </a>
      </li>

       <li class="slide-list">
        <a href="javascript:void(0);">
          <div class="" data-toggle="modal" data-target="#bookTestDrive"> <i class="fa fa-twitter fa-2x"></i></div>
        </a>
      </li>

    </ul-->

  </div>

  <!-- FOOTER -->

  <footer class="main-footer">
    <div class="container">
		<div class="row">
       <div class="col-xs-12 no-padding">
          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" > 
            <div class="ftr-sections footer-about">
              <p class="ftr-head">About Us</p>
              <p class="footer-about-content">Intercell’s Virtual Mentor Network provides solution to the growing problem of lack of direction in the lives of today’s youth. For that mid-career crisis or for that crucial decision-making like choosing a specialization and more. It is also about how you utilise your time, Intercell mentors can help you do just that and so much more. <a [routerLink]="['/about-us']" class="readmore">Know More</a></p>
            </div> 
           </div>
		   
		   
		   
		   
          <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3"  >
              <div class="ftr-sections know-more">
                  <p class="ftr-head">Know More</p>     
				 <ul class="list-group">
          <li><a [routerLink]="['/about-mentor']" >Message for Mentors</a></li>
          <li><a [routerLink]="['/about-mentee']">Message for Students/Professionals</a></li>
          <!-- <li><a [routerLink]="['/news']">Press & News</a></li> -->
          <li><a [routerLink]="['/term/mentor-terms']">Terms & Conditions - Mentors</a></li> 
          <li><a [routerLink]="['/term/mentee-terms']">Terms & Conditions - Students/ Professionals</a></li> 
                  
        </ul>
		
               </div>
               
          </div>

          <div class="col-xs-12 col-sm-2 col-md-2 col-lg-1" >
              <div class="ftr-sections footer-support">
                 <p class="ftr-head">Support</p>
                 <ul class="list-group">
                  <li><a [routerLink]="['/faq']">FAQ</a></li> 
                  <li><a [routerLink]="['/contact-us']" >Contact Us</a></li>
                 
                 </ul>
              </div>
             
           </div>
		   <div class="col-xs-12 col-sm-3 col-md-3 col-lg-4" > 
            <div class="ftr-sections footer-about">
              <p class="ftr-head">Intercell Story</p>
              <p class="footer-about-content">Dummy Intercell’s Virtual Mentor Network provides solution to the growing problem of lack of direction in the lives of today’s youth.For that mid-career crisis. <a [routerLink]="['#']" class="readmore">Read More</a></p>
            </div> 
           </div>
		   <!--
         <div class="col-xs-12 col-sm-3" >
              <div class="ftr-sections3">
                 <p class="ftr-head">Contact Us</p>
                 <ul class="social-icons3">
                    <li> <span class="app-icons"><i class="fa fa-envelope" aria-hidden="true"></i></span><a href="mailto:info@intercellworld.com">info@intercellworld.com</a></li>
                 </ul>
              </div>
           </div>
		   -->
         
       </div>
      </div>
    </div>
    
  <!--  <div class="container">
    <div class="col-md-11 col-sm-8 col-xs-12">
        <div class="ftr-sections1 ">
           <ul class="social-icons1">
              <li class="ftr-head">Mobile Apps: </li>
              <li class="add-margin"><a href="#"  style="color:#fff;"><span class="app-icons"><i class="fa fa-apple" aria-hidden="true"></i></span> Download for iOS</a></li>
              <li class="add-margin"><a href="#"  style="color:#fff;"><span class="app-icons"><i class="fa fa-android" aria-hidden="true"></i></span> Download for Android</a></li>
           </ul>
        </div>
        </div>
</div>-->

 </footer>

 <section class="footercopyright-section">
    <div class="container">
	<div class="row">
		
		<div class="col-sm-12 col-xs-12">
			<div class="footer-copy">2017 &copy; Intercell Technologies Pvt. Ltd.</div>
			
			<!--<div class="footer-social">
			<ul class="social-icons">
                         <li><a href="#"><span class="app-icons"><i class="fa fa-facebook-square" aria-hidden="true"></i></span></a></li>
                         <li><a href="#"><span class="app-icons"><i class="fa fa-google-plus-square" aria-hidden="true"></i></span></a></li>

             </ul>
			</div>-->
            </div>
        </div>
        </div>
  </section>
  <!-- FOOTER -->
</div>