<!--app-relatedmentor [sId]="ServiceIdslider"></app-relatedmentor-->

    <div class="" style="padding:0px !important;" *ngIf="counsellorDetails.length">
      <div class="container">
    <h3 class="car-head">Related Mentor</h3>
    <!--Counsellor carousel Start relatedmentor-->

    <div class="resCarousel" data-items="2-4-4-4" data-interval="2000" data-slide="1" data-animator="lazy">
      <div class="resCarousel-inner">

        <div class="item" *ngFor="let counsellor of counsellorDetails;let indCounsellor = index">
          <div class="col-xs-12  carous-card">
            <div class="card">

              <!--<div class=" ribbon">
                <div class="ribbon_fold"></div>
                <div class="ribbon_text">{{counsellor.name}}</div>
              </div>-->

              <div class="student-speak-section">
                <div class="default-color-dark bag-color-light"></div>
                <!--Avatar-->
                <div class="image-box" [ngClass]="{'after-login-background': userId}">
                <div class="avatar meettor-img meettor-img-height" *ngIf="counsellor.dp_image" [ngStyle]="{'background-image': 'url('+cdnPath+counsellor.dp_image+ ')'}" [style.backgroundSize]="'cover'"></div>
                <div class="avatar meettor-img meettor-img-height"  *ngIf="!counsellor.dp_image" [ngStyle]="{'background-image': 'url('+cdnPath+'intercell-user-pic.png'+ ')'}" [style.backgroundSize]="'cover'"></div>
                <p  *ngIf="!userId" class="profile-detelis"><a href="javascript:void(0);" (click)="myModel.open();setCounsellor(counsellor,indCounsellor,counsellor.dp_image);">Book a Session</a></p>

                <span  *ngIf="userId">
                 <p  *ngIf="userType!=3" class="profile-detelis"><a href="javascript:void(0);" (click)="directAppointment(counsellor);">Book a Session</a></p>
                 
                </span>  
              </div>
                <span class="card-block ">
                <!--Name-->
                <h4 class="card-title">{{ counsellor.first_name | titlecase }} {{ counsellor.last_name | titlecase }}</h4>
                  <!--<hr>-->
                  <!--Quotation-->
                  <p class="testi-title-home"><span>Total Experience:</span>  {{counsellor.totalexperience | titlecase}} years</p>
                  <p class="testi-title-home"><span>Expertise:</span> {{counsellor.name | titlecase}} </p>
                  <p class="testi-title-home" *ngIf="counsellor.brand_worked_for"><span>Brand Portfolio:</span> <em [innerHTML]="counsellor.brand_worked_for| safeHtml ">   </em> </p>

                <!--<p class="testi-title">{{counsellor.summary}}</p>-->
              </span>

                <!--<button class="btn btn-blue book-btn" (click)="myModel.open();setCounsellor(counsellor,indCounsellor,counsellor.dp_image);"></button>-->
               
              </div>
            </div>
          </div>
        </div>
      </div>
      <button class='btn btn-default leftRs'><i aria-hidden="true" class="fa fa-angle-left"></i></button>
      <button class='btn btn-default rightRs'><i aria-hidden="true" class="fa fa-angle-right"></i></button>
    </div>



    <div class="clearfix"></div>
  </div>
  </div>
  <!--Counsellor carousel End-->




  <modal #myModel>
    <modal-header>
        <h5 class="popup-title">Please login to book your session with <strong>{{popFullName|titlecase}}</strong></h5>
    </modal-header>

    <modal-content>

          <div class="lgn-bx login-forms-counsellor">
            <div class="row">
              <div class="col-md-6">
                <div class="counsellor-photo">
                  <img src="{{popUserPic}}">
                </div>
              </div>
              <div class="col-md-6 popup-form">
      <div class="popup-error box">
       <span *ngIf="incorrectDetails" class="red-clr popup-msg">  Incorrect Email Id and Password</span>  
     </div>					
    <div class="form-group form-gro">
                    <label class="control-label">User Name</label>
                    <br>
                    <input type="text" placeholder="Please Enter Email ID" id="username" maxlength="50" required/>
                    <i class="bar"></i>
                  </div>

                  <div class="form-group form-gro">
                    <label class="control-label">Password </label>
                    <br>
                    <input type="password" placeholder="Please Enter Password" id="password" required="required" required/>
                    <i class="bar"></i>
                  </div>
        
        <div class="form-group form-gro forgot-link">
            
             <div class="form-group forget-pass">
                <a [routerLink]="['/reset-password']" class="">Forgot Password ?</a>
                <a [routerLink]="['/login']" class="sign-up-popup">Register</a>
             </div>
                  </div> 
                </div>
            </div>
        </div>

    </modal-content>
    <modal-footer>
      <div class="col-md-12">
				<button class="btn btn-primary" (click)="doLogin()">Login</button>
		    </div>
    </modal-footer>
</modal>

