<!--<span *ngIf="isLogin"><app-header></app-header></span>
<span *ngIf="!isLogin"><app-login-header></app-login-header></span>-->
<app-login-header></app-login-header>
<!--Page Content Start-->

<div class="main-wrapper Counsellor_dashboard" id="main">

  <div  style="margin-top:0px;">
    <!-- start: PAGE -->
    <div >

<div class="container-fluid p-0 bg-white" style="background:#fff !important;">
  <!--about-us Start-->
  
<div  class="about-section1">     
    <section>
		<!--slider section start -->
			<div class="col-lg-12 no-padding">
				<div class="inner-banner-div" style="background:url(../../assets/images/about-us-top-banner.jpg) no-repeat;height:335px;background-size:cover;background-position:center center;">
					<div class="container">
							<div class="banner-box">
								<p>Where Students and Professionals meet Mentors!</p>
								<!--<span>Experts from the industry who perform the role of a coach </span>-->
							</div>
					</div>
				</div> 
			</div>
    </section><!--slider section end -->
                     
            <section><!--page artical mentor section start -->
				<div class="container">
				<div class="row mentor-div">
				<div class="col-lg-7 col-md-7">
                <div class="tabbable">
                              <ul class="nav nav-tabs tab-padding tab-space-3 tab-blue tab-mentor">
                                <li class="active">
                                  <a data-toggle="tab" href="#panel_overview" aria-expanded="true" class="toggle_nav">
                                    Mentors
                                  </a>
                                </li>
                                <li class="">
								
                                  <a data-toggle="tab" href="#panel_edit_account" aria-expanded="false" class="toggle_nav1">
                                    Students and Professionals
                                  </a>
                                </li>
                              </ul>
                <div class="tab-content">
                    <div id="panel_overview" class="tab-pane fade active in">
						<div class="mentor-txt">
              <p> <a [routerLink]="['/']">Register</a> if you can steer young talent to their ultimate career goal.
                As a domain expert, you can help countless students and professionals launch and shape their careers. 
                  Nothing can be more satisfying than to play a role in developing skills of youngsters starting out.You also become a brand in your own right.</p>
							          </div>
                      </div>
                  <div id="panel_edit_account" class="tab-pane fade ">
                      <div class="mentor-txt">
                        <p>How quickly you learn the ropes of your field will determine how far you will go. The mentor you choose can help you in many ways:</p>
                          <ul class="bullets">
                              <li>Anticipate roadblocks</li> 
                              <li>Recognize opportunities</li> 
                               <li>Progress to great heights</li>
                              
                          </ul>
                          <p>Expert advice goes a long way in plotting your career, conquering steep cliffs with relative ease and reaching the summit, your long-term target. <a [routerLink]="['/']">Register</a> if you are launching or shaping your career: Interact with experts real-time on Intercell's Virtual Mentor Network. Achieve your goals with the right guidance from the right professionals.</p>
                              
						</div>
                                   
					</div>
                </div>
                </div>	  
                </div>
                   <div class="col-lg-5 col-md-5 mentor-img no-left-padding">
				<div class="col-lg-12 no-padding about-right-image">
					<img src="../../assets/images/student-tab.jpg" class="img-responsive" >
					<img src="../../assets/images/mentor-tab.jpg" id="mainnav" class="img-responsive" style="display:block;position:absolute;left:50%;top:50%;transform:translate(-50%, -50%);-moz-transform:translate(-50%, -50%);-webkit-transform:translate(-50%, -50%);">
				</div>
			</div>
              </div>
              </div>
            </section><!--page artical mentor section end -->
            <!--------------------------------------------------------------------------------------------------------------------------------------->  
             
            <section class="grid-wrp margin blue-section"><!--page 3grid container section start -->
            <div class="padding-vertical-20">
              <div class="container">
              <div class="row">
                <div class="col-lg-12">
                <div class="col-sm-4 col-xs-12 grid-div dash-border">
                  <img src="../../assets/images/domain-icon.png"/> 
                  <div class="about-bx">
                  <h3 class="text-uppercase">Domain Expert</h3>
                  <p>Intercell connects you with domain experts from your field. Talk to industry experts today from the field of your interest. No matter in which field you wish to pursue your dreams, Intercell has a qualified mentor who can tell you where you are today, where you can be tomorrow and what you could do to get there fast. </p>
                  </div>
                  </div>
                <div class="col-sm-4 col-xs-12 grid-div dash-border">			
                  <img src="../../assets/images/appro-icon.png"/>
                  <div class="about-bx">
                  <h3 class="text-uppercase">Approachable</h3>
                  <p>Intercell mentors are warm, friendly and compassionate. We understand that the first couple of years in a job can be tough and that is why, precisely, Intercell was formed to help students and professionals like you achieve more and prepare better for the world that awaits you, through a step-by-step guided approach used by Intercell mentors.</p>
                  </div>
                </div>
                <div class="col-sm-4 col-xs-12 grid-div">			
                  <img src="../../assets/images/fuide-icon.png"/>
                  <div class="about-bx">
                  <h3 class="text-uppercase">Guide</h3>
                  <p>Intercell aims to provide clarity and assurance in your chosen career. Get quick assessment via real-time virtual mentoring. Each mentor adds value to your life in his or her own unique way so you can progress faster, towards a rewarding career.</p>
                    </div>
                  </div>
                </div>
              </div>
              </div>
              </div>
            </section><!--page 3grid container section end -->
            
            
            
            
           <!-- <app-mentopanelslider></app-mentopanelslider>-->
           <app-image-carousel></app-image-carousel>

            
         </div>
      </div>
  <!--<div class="container">
    <div class="row">
      <div class="col-xs-12" [ngClass]="{'no-padding': !isLogin}">

        <div *ngIf="userType == 3" class="about-section">
          <div class="row">
            <div class="col-xs-12 col-sm-12">

              <h2>  ABOUT US</h2>

              <p>Intercell has been incorporated to help students and young professionals’ kick-start their careers and eliminate futile efforts, made by them, over countless days and nights, spent over social networking sites such as LinkedIn. We all know that Indian education system lack in certain areas to fully equip the students to create a place for themselves in the corporate world, and this is where Intercell comes in, to help students prepare better for the world that awaits them, through a step by step guided approach used by Intercell mentors.</p>
              <p>Intercell is an initiative to help those in need, especially the students and young professionals who are at the start of their career. For this, right guidance is required from people like you, the experts, who have been there and done that. And what better satisfaction than empowering students to make decisions confidently?</p>
              <p>A trusted mentor in a student’s life acts as an immense support for him to make a place for himself in the corporate world. A mentor who can guide him at each step, help him choose the correct specialization which is best suited to his personality, or prepare him for that first job interview, all this and more is what Intercell mentors do. </p>
            </div>

          </div>


          <p>Come and be a part of this exciting journey! Intercell invites applications from prospective mentors. All you need to do is fill up a quick questionnaire for us and we’ll get back to you shortly. Here is the link:</p>

          <p>Why should you be an Intercell mentor? <br>
            1. It could be your way of contributing to the society and economy as you help students identify the best possible career avenues for themselves, empowering them to make confident decisions and make them more employable; sounds like you?<br>
            2. Do you believe that you don’t get enough respect for the knowledge and wisdom you’ve gained over the years? If yes, then this could be your reason to come on board as Intercell mentor <br>
            3. Earn a counselling fee;  for details, please send email to info@intercellworld.com and you will receive an email from us shortly</p>
          <p>So, what are you waiting for? You could be the next Intercell mentor. Visit our <a (click)="onFaq()">FAQ</a> section to know more.
            To read about Intercell founding team and investors, click here. </p>
        </div>

        <div *ngIf="userType == 2" class="about-section">
          <div class="row">
            <div class="col-xs-12 col-sm-12">

              <h2>  ABOUT US</h2>

              <p>Intercell has been incorporated with the idea of helping students like you achieve more, and save your valuable time by eliminating the step of futile efforts made over countless days and nights which you spend on social networking sites such as LinkedIn to get some inside knowledge, which can help you succeed ever faster.</p>
              <p>We all know that Indian education system does not fully equip us to create a place for ourselves in the corporate world. We put in so many efforts in studying hard, scoring great CGPAs but due to lack of either direction or knowledge, we may still end up struggling to get the right start. And even after getting the right start, we may still have questions on whether we’re on the right path or not. These early career doubts can be solved by a trusted mentor.</p>
              <p>A trusted mentor in life acts like a great support. Intercell gives you exactly that - a right mentor, the right support to help you make the crucial first career move. Hear straight from the people who have your dream jobs and become who you want to be, because a mentor who was always beyond reach, is now available to speak to you directly. Your mentor is taking out time especially for you, to speak to you one-to-one.</p>

            </div>
          </div>
          <p>
            What more? Thanks to Intercell, you can now book your sessions at a time of your convenience with a mentor of your choice and ask as many questions as you have. And not only that, Intercell mentors will patiently help you navigate through the rough seas of life, no matter which stage of career you are at. Intercell mentors will be your guide at each step, be it choosing a specialization or preparing for that first job interview. Intercell is an initiative for YOU, to help you achieve more through correct guidance.
          </p>

          <p>Don’t forget to check out the complete list of trusted Intercell mentors! <a [routerLink]="['/search-mentor']"> It’s right here. </a></p>

        </div>

        
    </div>
  </div>
  </div>-->
    </div>
  </div>
</div>

<section class="brand-posi">
    <div class="parallax-image" id="testimonial">
       <div class="container">
          <p class="brand-text">Virtual Mentor Network</p>
       </div>
    </div>
  </section>


  <!--about-us End-->
<!--Page Content End-->
<!--<span *ngIf="isLogin">
  <footer class="inner about-us-inner">
    <div class="footer-inner">
      <div class="pull-left">
        2017 &copy; Intercell Technologies Pvt. Ltd.
      </div>

      <div class="pull-right">
        <div class="bottom-top-btn">
          <a href="#" class="scrollToTop"><i class="fa fa-arrow-up" aria-hidden="true"></i></a>
        </div>
      </div>


    </div>
  </footer>
  

</span>-->
<app-footer></app-footer>
