<app-header></app-header>
<!-- start: PAGE -->
<div class="main-container inner payment_cancel">
	<!-- start: MAIN CONTAINER -->
	<div class="main-content" id="main">
		<div class="container">
		  <div class="row">
			<div class="tab-content">
				<div class="col-xs-12 text-center" >
					<div class="inner-box min-height-box">
					  <h2>OOPS! Your payment failed.</h2>
					</div>
				</div>
			</div>	
		  </div>
		</div>
		<footer class="inner">
		  <div class="footer-inner">
			<div class="pull-left">
			  2017 &copy; Intercell Technologies Pvt. Ltd.
			</div>
			<div class="pull-right">
			  <div class="bottom-top-btn">
				<a href="#" class="scrollToTop"><i class="fa fa-arrow-up" aria-hidden="true"></i></a>
			  </div>
			</div>
			<!-- <div class="pull-right">
				 <span class="go-top"><i class="fa fa-chevron-up"></i></span>
			   </div>-->
		  </div>
		</footer>
	</div>
</div>