<header class="topbar navbar navbar-inverse navbar-fixed-top inner">
         <!-- start: TOPBAR CONTAINER -->
         <div class="container">
             <div class="navbar-header">
                 <a class="sb-toggle-left hidden-md hidden-lg" (click)="openNav()" href="javascript:void(0)">
                     <i class="fa fa-bars"></i>
                 </a>
               <a href="javascript:void(0)" class="closebtn hide side-close-btn" (click)="closeNav()" href="javascript:void(0)">
                 <i class="fa fa-bars"></i>
               </a>
                 <!-- start: LOGO -->
                 <a class="navbar-brand" href="javascript:void(0);" [routerLink]="['/']">
                     <img src="assets/images/logo-intercell.png" class="img-responsive"  alt="Intercell Logo" />
					<!--<div class="beta">(Beta)</div> -->
				</a>
                 <!-- end: LOGO -->
             </div>
             <div class="menu-right">

                <div class="topbar-tools">
                    <ul>
                        <li class="dropdown current-user">
                             <a  class="dropdown-toggle" [routerLink]="['/message']">
                                <div *ngIf="unreadmessagecount>0" class="notification-top">{{unreadmessagecount}}</div>
                                 <i class="fa fa-bell-o "></i> 
                            </a>
                        </li>
                        <li class="dropdown current-user">
                             <a  class="dropdown-toggle" href="javascript:void(0);" (click)="aboutUs()">
                                <i class="fa fa-info-circle"></i> <span class="username hidden-xs">About Intercell</span>
                            </a>
                        </li>
                        
                        
                        
                    </ul>
                  </div>
            
            
            
                 <!-- start: TOP NAVIGATION MENU -->
                 <ul class="nav navbar-right">
                    <!-- start: USER DROPDOWN -->
                    <!--<li class="dropdown current-user">
                         <a class="dropdown-toggle" href="javascript:void(0);" (click)="downloadApp()">
                             <i class="fa fa-mobile"></i> <span class="username hidden-xs">Download App</span>
                         </a>
                    </li>-->
                  
                 
                    <li class="current-user hdr-user-pic">
                        <a (click)="onProfileClick()">
                            <img  onclick="openProfile()" id="header-right-pic" src="{{userPic}}" style="width:28px; height:28px;" class="img-circle" alt=""> <span class="username hidden-xs">{{userFullName| titlecase}}</span>
                        </a>
                        <!--<ul class="dropdown-menu dropdown-dark pdrp-dwn">
                            <li>
                                <a href="javascript:void(0);" (click)="onProfileClick()">
                             My Profile
                             </a>
                            </li>

                          <li>
                            <a href="javascript:void(0);" (click)="privacy()">
                             Settings
                            </a>
                          </li>

                          <li>
                                <a href="javascript:void(0);" (click)="showAppointments()">
                             Sessions
                             </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" (click)="messages()">
                                      Notifications
                             </a>
                            </li>

                            <li>
                                <a href="javascript:void(0);" (click)="logOut()">
                             Log Out
                             </a>
                            </li>
                        </ul> -->
                    </li>
                </ul>
                <!-- end: TOP NAVIGATION MENU -->


                </div>
			 
            
            
         </div>
         <!-- end: TOPBAR CONTAINER -->
     </header>
     <!-- end: TOPBAR -->
     <!-- start: PAGESLIDE LEFT -->

     <a class="closedbar inner hidden-sm hidden-xs" href="javascript:void(0);" >
     </a>
<div id="mySidenav" class="sidenav">
     <nav id="pageslide-left" class="pageslide inner">
         <div class="navbar-content">
             <!-- start: SIDEBAR -->
             <div class="main-navigation left-wrapper">
                
                 <!-- start: MAIN NAVIGATION MENU -->
                 <ul class="main-navigation-menu">
					
					 <li id="menuDashboard">
                         <a  [routerLink]="['/dashboard']">
                            <i class="fa fa-tachometer" aria-hidden="true"></i> <span class="title">Dashboard</span>
                                 </a>
                     </li>
                     <li [hidden]="!userTypementee" id="menuBook" >
                         <a [routerLink]="['/make-appointment']">
                          <i class="fa fa-group"></i> <span class="title">Book a Session</span> </a>
                     </li>
					 <!--li id="menuOverview">
						<a href="javascript:void(0);" [routerLink]="['/dashboard']">
						 <i class="fa fa-eye"></i>
						  <span class="intercell_tab_text_remove">Overview</span>
						</a>
					</li-->
					<li id="menuAppointment">
					<a  [routerLink]="['/appointments']">
					 <i class="fa fa-calendar"></i>
					  <span class="intercell_tab_text_remove">Upcoming Sessions</span>
					</a>
					</li>
				  <li *ngIf="userType==3" id="menuSetAvailability">
					<a [routerLink]="['/set-availability']">
					<i class="fa fa-clock-o"></i>
					  <span class="intercell_tab_text_remove">Set Availability</span>
					  
					</a>
				  </li>
				  <li id="menuMessage">
					<a href="javascript:void(0);" [routerLink]="['/message']">
            <i class="fa fa-bell"></i>
					  <span class="intercell_tab_text_remove">Notifications</span>
					 
					</a>
				  </li>
				  <li id="menuProfile">
					<a href="javascript:void(0);" (click)="onProfileClick()">
					 <i class="fa fa-user"></i>
					  <span class="intercell_tab_text_remove">My Profile</span>
					 
					</a>
				  </li>
				  <li id="menuAccount">
					<a href="javascript:void(0);" [routerLink]="['/account']">
					<i class="fa fa-history"></i>
					  <span class="intercell_tab_text_remove">Session History</span>
					 
					</a>
				  </li>
				  <li id="menuSetting">
					<a href="javascript:void(0);" [routerLink]="['/privacy']">
					  <i class="fa fa-cog"></i>
					  <span class="intercell_tab_text_remove">Settings</span>
					
					</a>
          </li>
          <li id="menuNeedHelp">
          <a href="javascript:void(0);" [routerLink]="['/need-help']">
            <i class="fa fa-question-circle"></i>
            <span class="intercell_tab_text_remove">Need Help?</span>

          </a>
          </li>
          <li id="menuLogOut">
            <a href="javascript:void(0);" (click)="logOutClick()">
              <i class="fa fa-power-off"></i>
              <span class="intercell_tab_text_remove">Log Out</span>
  
            </a>
            </li>
					
					
                    
                
                   <li>
                     <!--div class="search-montor-sections">
                       <div class="col-md-12">
                         <div class="form-group">
                           <input type="text" class="form-control" placeholder="Search Mentor">
                           <span class="fa fa-search"></span>
                         </div>
                       </div>
                     </div-->
                   </li>


                 </ul>
                 <!-- end: MAIN NAVIGATION MENU -->
             </div>
             <!-- end: SIDEBAR -->
         </div>
         <div class="slide-tools">
             <div class="col-xs-6 text-left no-padding">
                 <a class="btn btn-sm status" href="javascript:void(0);" >
                  Status <i class="fa fa-dot-circle-o text-green"></i> <span>Online</span>
                  </a>
             </div>
             <!--<div class="col-xs-6 text-right no-padding">
                 <a class="btn btn-sm log-out text-right" href="javascript:void(0);" (click)="logOut()">
                     <i class="fa fa-power-off"></i> Log Out
                 </a>
             </div>-->
         </div>
     </nav>

  <input type="hidden" id="openProfileUser" value={{userId}}/>
  <input type="hidden" id="openProfileToken" value={{token}}/>

</div>

<input type="hidden" id="showUserType" value={{userType}}/>


