<app-login-header></app-login-header>
<!--Page Content Start-->
<div class="container-fluid p-0 bg-white">

  <!--Download App Start-->
  <div class="container">

    <div class="row">
<div class="download-part" id="main">
  <div class="col-md-12 learn-mentee-part">
    <p class="learn-mentee-text">
      <p>
      InterCell is your answer to the mentor you always needed in your life, a mentor who will guide you at each step of your career. Be it choosing a specialization in college or preparing for that first job interview. Hear straight from the people who have your dream jobs and become who you want to be by getting the advice you always needed, and say good bye to the countless days and nights of hunting for the right people on social networking sites such as LinkedIn.
    </p>
    <p>
      Experience an evolution of not just quick responsiveness but a direct involvement of your chosen mentor in your career! Check out the complete list of InterCell mentors  <a (click)="onMain()"> It’s right here. </a> and select the counsellor of your choice to get started. You can also dial 1800 111 222 and begin your journey towards an informed future!
    </p>
</div>
</div>
    </div>

  </div>
</div>

<app-footer></app-footer>
