<section class="career-section" *ngIf="serviceDetails.length">
  
   <!--- Services Block Start-->
  <div class="container" >
     <h3 class="car-head">Select your career field to get started</h3>
  </div>
  <div id="stream-part" [ngClass]="{'stream-part' : true}">
      <div class="container">
    <div class="resCarousel" data-items="2-3-3-3" data-interval="2500" data-slide="1" data-animator="lazy">
        <div class="resCarousel-inner">
      <div class="item" *ngFor="let service of serviceDetails;let ind = index">
        <div class="col-xs-12 carous-card">
              <div class="card">
                <div >
                  <div class="default-color-dark"></div>
                  <!--Avatar-->
                  <div class="img-container" (click)="serviceDetail(service.id)">
                    <a href="javascript:void(0);" ><img src="{{service.image}}" [ngClass]="{'img-responsive' : true}" class="w100"  alt="image" /></a>
                      <div class="service-name">
                        <a href="javascript:void(0);" ><span> {{service.name}}  </span></a>
                      </div>
                    </div>
                </div>
              </div>
            </div>              
        </div>     
            
              
              
        </div>
        <button class='btn btn-default leftRs'><i class="fa fa-angle-left" aria-hidden="true"></i></button>
        <button class='btn btn-default rightRs'><i class="fa fa-angle-right" aria-hidden="true"></i></button>
       </div>
      </div>
    <div class="clearfix"></div>
  </div>
</section>