<section *ngIf="serviceDetails.length" id="service-slider" style="display: none" >
  <div class="container" >
    <h3 class="car-head">Select your career field to get started</h3>
 </div>

  <div class="mentee-part" >
  
  <div class="container">
 
      <ul id="content1-slider"  >
        <li *ngFor="let service of serviceDetails;let ind = index">
          <div class="carous-card">
            <div class="card">
              <div >
                <div class="default-color-dark"></div>
                <!--Avatar-->
                <div class="img-container" >
                  <a href="javascript:void(0);" (click)="serviceDetail(service.slug_url)" class="thumb-box">
                    <img src="https://d3213zi13us7f1.cloudfront.net/website/{{service.image}}" [ngClass]="{'img-responsive' : true}" class="w100 cat-image-thumb"  alt="image" />
                  </a>
                    <div class="service-name">
                      <a href="javascript:void(0);" (click)="serviceDetail(service.slug_url)"><span> {{service.name}}  </span></a>
                    </div>
                  </div>
              </div>
            </div>
          </div>
      
      </li>
        
      
      </ul>
    </div>
    <div class="clearfix"></div>
    </div>
    </section>


