<app-header></app-header>


<div class="main-wrapper Counsellor_dashboard">
  <!-- start: TOPBAR -->

 <div id="main">

  <div class="main-container inner">
    <!-- start: PAGE -->
    <div class="main-content">

      <!-- end: SPANEL CONFIGURATION MODAL FORM -->
      <div class="container">
        <!-- start: PAGE CONTENT -->
        <div class="row">
          <div class="col-sm-12">
            <div class="tabbable user_profile-table_tab table-scroll-part">
              <app-inner-header></app-inner-header>
              <div class="tab-content table-whaite">
                  <h2 class="col-md-12 title no-padding">Set Availability</h2>
                <div class="inner-box session_history">
                <div id="panel_availability" class="active">
                  <div class="panel-body">
                    <div class="col-md-12">
                      <div class="form-group row counsoller_dashboard_table">
                          <div class="panel-heading overview no-border">
                              <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12 provide-text">Please note that the time slots you provide in your calendar will appear as "Available" to Mentees (Students and Young professionals) for subsequent weeks to come. Kindly re-visit your availability when required.*</div>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="save-reset-btn">
                                    <a href="javascript:void(0);" (click)="updateTimeSlots()">
                                    <button class="btn  btn-green"> Save</button>
                                    </a>
                                    <a href="javascript:void(0);" (click)="resetTimeSlots()">
                                    <button class="btn  btn-green">Reset</button>
                                    </a>
                                </div>
                                </div>
                                </div>
                              </div>

                        <!--<div class="hours-part">
                          <div class="form-group">
                            <label>Display Time</label>
                            <select>
                              <option>Hourly </option>
                              <option>Half hourly</option>
                            </select>
                          </div>
                        </div>-->
                        <div class="col-md-12 col-sm-12 col-xs-12 standard_time">*India Standard Time</div>
                        <div class="col-xs-12 no-padding">
                            <div class="col-xs-12 " style="overflow-y: scroll;">
                                <table class="table days-name">
                              <thead>
                                  <tr>
                                    <th class="center">Timing</th>
                                    <th class="center">
                                      Mon </th>
                                    <th class="center">
                                      Tue</th>
                                    <th class="center">
                                      Wed</th>
                                    <th class="center">
                                      Thu</th>
                                    <th class="center">
                                      Fri</th>
                                    <th class="center">
                                      Sat</th>
                                    <th class="center">
                                      Sun</th>
                                  </tr>
                                  </thead>
                          </table>
                          </div>
                          <div class="table-responsive weekly-time-slot container">
                            <table class="table">
                             
                              <tbody class="preferred-time-solt">
                              <tr *ngFor="let tp of timePloter;">
                                <td>
                                  <div class="set-availability-chkbx">
                                    <label>
                                      <input type="checkbox" id="time_slot_{{tp.idx}}" value="{{tp.idx}}" class="cs_dasboard_td" (click)="setTimeSlotToggle(tp.idx)">
                                      <span>{{tp.st}} - {{tp.et}}</span> </label>
                                  </div>
                                </td>
                                <td class="center" (click)="setCellToggle('mon',tp.idx)" id="mon_{{tp.idx}}">
                                  <div class="checkbox-hover">
                                    <a href="javascript:void(0);"> <i class="fa fa-check" aria-hidden="true"></i> </a>
                                  </div>
                                </td>
                                <td class="center" (click)="setCellToggle('tue',tp.idx)" id="tue_{{tp.idx}}">
                                  <div class="checkbox-hover">
                                    <a href="javascript:void(0);"> <i class="fa fa-check" aria-hidden="true"></i> </a>
                                  </div>
                                </td>
                                <td class="center" (click)="setCellToggle('wed',tp.idx)" id="wed_{{tp.idx}}">
                                  <div class="checkbox-hover">
                                    <a href="javascript:void(0);"> <i class="fa fa-check" aria-hidden="true"></i> </a>
                                  </div>
                                </td>
                                <td class="center" (click)="setCellToggle('thu',tp.idx)" id="thu_{{tp.idx}}">
                                  <div class="checkbox-hover">
                                    <a href="javascript:void(0);"> <i class="fa fa-check" aria-hidden="true"></i> </a>
                                  </div>
                                </td>
                                <td class="center" (click)="setCellToggle('fri',tp.idx)" id="fri_{{tp.idx}}">
                                  <div class="checkbox-hover">
                                    <a href="javascript:void(0);"> <i class="fa fa-check" aria-hidden="true"></i> </a>
                                  </div>
                                </td>
                                <td class="center" (click)="setCellToggle('sat',tp.idx)" id="sat_{{tp.idx}}">
                                  <div class="checkbox-hover">
                                    <a href="javascript:void(0);"> <i class="fa fa-check" aria-hidden="true"></i> </a>
                                  </div>
                                </td>
                                <td class="center" (click)="setCellToggle('sun',tp.idx)" id="sun_{{tp.idx}}">
                                  <div class="checkbox-hover">
                                    <a href="javascript:void(0);"> <i class="fa fa-check" aria-hidden="true"></i> </a>
                                  </div>
                                </td>
                              </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- end: PAGE CONTENT-->
          </div>
        </div>
        <!-- end: PAGE -->
      </div>
      <!-- end: MAIN CONTAINER -->
      <!-- start: FOOTER -->
      <footer class="inner">
        <div class="footer-inner">
          <div class="pull-left"> 
              2017 &copy; Intercell Technologies Pvt. Ltd.  
          </div>

          <div class="pull-right">
            <div class="bottom-top-btn">
              <a href="#" class="scrollToTop"><i class="fa fa-arrow-up" aria-hidden="true"></i></a>
            </div>
          </div>

        </div>
      </footer>

      <!-- end: FOOTER -->
    </div>
  </div>
</div>
</div>
<!-- end: CORE JAVASCRIPTS  -->
