<div class="container-fluid">
  <div class="jumbotron text-center">
    <h1>
      <span translate>APP_NAME</span>
    </h1>
    <P>testing </P> 
    <p>
      <i class="fa fa-bookmark-o"></i> <span translate>Version</span> {{version}}
    </p>
  </div>
</div>
