<app-header></app-header>


<div class="main-wrapper Counsellor_dashboard" id="main">

  <div class="main-container inner" style="margin-top:0px;">
    <!-- start: PAGE -->
    <div class="main-content">
      <!-- end: SPANEL CONFIGURATION MODAL FORM -->
      <div class="container">
        <!-- start: PAGE CONTENT -->
        <div class="row">
          <div class="col-sm-12">
            <div class="tabbable user_profile-table_tab">

              <app-inner-header></app-inner-header>

              <div class="tab-content">
                  <h2 class="col-md-12 title no-padding">Upcoming Sessions</h2>
                  <div class="inner-box session_history">
                      <div id="panel_projects" class="active">
                        <div class="">
                            <div class="board">
                      <!--<div  *ngIf="isAppointmentsBox">-->
                      <div id="calend-view">
                        <div class="board-inner">
                          <div class="liner"></div>

                          <ul class="nav nav-tabs" id="myTab">
                            <li  class="" (click)="getAppointments()" id="list_view">
                              <a href="#profile" data-toggle="tab" title="List View" aria-expanded="false">
                                                                   <span class="round-tabs two">
                                                                      <i class="fa fa-list" aria-hidden="true"></i>
                                                                    </span>
                              </a>
                            </li>
                            <li class="" (click)="getAppointments()">
                              <a href="#picture" data-toggle="tab" title="Grid View" aria-expanded="false">
                                                                   <span class="round-tabs two">
                                                                     <i class="fa fa-th" aria-hidden="true"></i>
                                                                   </span>
                              </a>
                            </li>
                            <li id="calendar-tab" class="active" (click)="getAppointments()">
                              <a href="#caldesign" data-toggle="tab" title="Calendar View" aria-expanded="true">
                                                                   <span class="round-tabs three">
                                                                     <i class="fa fa-calendar" aria-hidden="true"></i>
                                                                   </span>
                              </a>
                            </li>
                          </ul>
                        </div>

                        <div class="tab-content list_grid_appoint"  id="listingBox">
                          <div class="tab-pane fade in" id="profile">
                            <h1 *ngIf="isError">{{errorMessage}}</h1>
                            <div class="center text-bold" [hidden]="appointments">No Session.</div>
                            <ul>

                              <li class="clearfix" *ngFor="let appoint of appointments;">
                                <section class="left">
                                  <span class="meta">{{appoint.appointment_status}}</span>
                                  &nbsp;&nbsp;
                                  {{appoint.first_name | titlecase}} {{appoint.last_name | titlecase}}
                                  &nbsp;&nbsp;&nbsp;&nbsp;
                                  <strong> Start:- </strong>{{appoint.session_start | date:'dd-MMM-yyyy hh:mm a'}}
                                 &nbsp;&nbsp;
                                <strong>End:-</strong> {{appoint.session_end | date:'dd-MMM-yyyy hh:mm a'}}
                                </section>
                                <section class="right">
                                  <button (click)="showAppointmentDetails(appoint)" class="btn btn-grid view_button">
                                    View More
                                  </button>
                                </section>
                              </li>

                            </ul>
                          </div>

                          <div class="tab-pane fade" id="picture">
                            <div class="row grid_view">
                              <h1 *ngIf="isError">{{errorMessage}}</h1>
                              <div class="center text-bold" [hidden]="appointments">No Session.</div>
                              <ul class="thumbnails" *ngIf="appointments">
                                <li class="span4" *ngFor="let appoint of appointments;">
                                  <div class="thumbnail">                                   
                                    <div class="caption">
                                      <h4 class="meta">{{appoint.appointment_status}}</h4>
                                      <h3>{{appoint.first_name | titlecase}} {{appoint.last_name | titlecase}} 
                                      </h3>                                     
                                      <p><strong> Start:- </strong>{{appoint.session_start | date:'dd-MMM-yyyy hh:mm a'}}</p>
                                      <p><strong>End:-</strong> {{appoint.session_end | date:'dd-MMM-yyyy hh:mm a'}}</p>
                                      <p align="center">
                                        <button  (click)="showAppointmentDetails(appoint)" class="btn btn-grid btn-block">
                                          View More
                                        </button>
                                      </p>
                                    </div>
                                  </div>
                                </li>

                              </ul>
                            </div>
                          </div>


                          <div class="tab-pane fade active in" id="caldesign" >
                            <angular2-fullcalendar [options]="calendarOptions" id="userCalendar"></angular2-fullcalendar>
                          </div>
                        </div>
                        <!--popup-->
                      </div>
                      
                      <div class="tab_view_btn" *ngIf="isAppointmentDetails" id="detailBox" style="display:none;">
                        <div class="appoint_view">
                          <div class="row">
                            <div class="col-md-3" onclick="openProfile(this.id)" id="{{showAppoint.buddy_id}}">
                              <img src="{{counsellorProfileUrl}}{{showAppoint.dp_image}}" class="img-responsive" />
                            </div>
                            <div class="col-md-5 appointment-right">
                              <h2>{{showAppoint.first_name | titlecase}} {{showAppoint.last_name | titlecase}}</h2>
                              <!--h4>Computer Technology</h4-->
                              <p><strong>Start:-</strong> {{showAppoint.session_start | date:'dd-MMM-yyyy hh:mm a'}}</p>
                              <p><strong>End:-</strong> {{showAppoint.session_end | date:'dd-MMM-yyyy hh:mm a'}}</p>
                              <h4><u>Session Expectation</u><br/></h4>
							                 <p>{{showAppoint.expectationMessages}}</p>
                              <p><strong>Status:-</strong> {{showAppoint.appointment_status}}</p>

                            </div>
                            <div class="col-sm-4">
                            </div>
                          </div>
                       

                          <div class="row appoint_view_action">
                           
                            <div class="col-sm-3" *ngIf="!isDirect">
                              <button (click)="hideAppointmentDetails()"  class="btn btn-grey btn-block">
                                <i class="fa fa-caret-left" aria-hidden="true"></i> Back
                              </button>
                            </div>

                            <!--div class="col-sm-3" *ngIf="showAppoint.appointment_status == 'Pending for Approval' && userType==3">
                              <button (click)="rejectAppointmentDetails(showAppoint.id)" class="btn btn-danger btn-block">
                                Reject <i class="fa fa-times" aria-hidden="true"></i>
                              </button> &nbsp;&nbsp;&nbsp;&nbsp;
                            </div-->
                            <div class="col-sm-3" *ngIf="showAppoint.appointment_status == 'Pending for Approval' && userType==3">
                              <button (click)="approveAppointmentDetails(showAppoint.id)"  class="btn btn-success btn-block btn-squared">
                                Approve <i class="fa fa-check" aria-hidden="true"></i>
                              </button>
                            </div>
                            <div class="col-sm-3" *ngIf="showAppoint.appointment_status == 'Request to reschedule' && userType==3">
                              <button (click)="approveAppointmentDetails(showAppoint.id)"  class="btn btn-success btn-block btn-squared">
                                Approve & Reschedule <i class="fa fa-check" aria-hidden="true"></i>
                              </button>
                            </div>
                            <!--
                            <div class="col-sm-3" *ngIf="showAppoint.appointment_status == 'Approved & Booked'">
                                  <button (click)="resheduleAppointmentDetails(showAppoint.id,showAppoint.budy_id)" class="btn btn-purple btn-block">
                                  Reschedule <i class="fa fa-refresh" aria-hidden="true"></i>
                                  </button>
                              </div>-->
                             
                            <div class="col-sm-3" *ngIf="showAppoint.session_start >= todaytime1">
                              <button (click)="cancelAppointmentDetails(showAppoint.id)"  class="btn btn-danger btn-block">
                                Cancel <i class="fa fa-trash" aria-hidden="true"></i>
                              </button>
                            </div>

                            <div class="col-sm-3" *ngIf="showAppoint.appointment_status == 'Payment Pending' && userType==2">
                              <button (click)="payNow(showAppoint)"  class="btn btn-success btn-block ">
                                Pay Now <i class="fa fa-credit-card" aria-hidden="true"></i>
                              </button>
                            </div>
                            <!-- payment form start -->
                            <form class="hide" action={{paymentUrl}} method="POST" id="payment_form">
                              <input name="userId" id="paymentUserId" value={{userId}}>
                              <input name="sessionId" id="sessionId">
                            </form>

   
                            <div class="col-sm-3">
                              <a target="_blank" href="/assets/scripts/pre_call_test.html">
                                <button class="btn btn-info btn-block">
                                  Test Now <i class="fa fa-check" aria-hidden="true"></i>
                                </button>
                              </a>
                            </div>
                            <div class="col-sm-3" *ngIf="showAppoint.appointment_status == 'Approved & Booked'">                             
                              <button class="btn btn-success btn-block" (click)="sessionstart(showAppoint)">
                                Start <i class="fa fa-play" aria-hidden="true"></i>
                              </button>
                            </div>


                          </div>
                        </div>
                      </div>
                      <!--popup-->



                    </div>
                  </div>
                </div>
                </div>
              </div>
            </div>

          </div>
        </div>
        <!-- end: PAGE -->
      </div>
      <!-- end: MAIN CONTAINER -->
      <footer class="inner">
        <div class="footer-inner">
          <div class="pull-left">
            2017 &copy; Intercell Technologies Pvt. Ltd.
          </div>

          <div class="pull-right">
            <div class="bottom-top-btn">
              <a href="#" class="scrollToTop"><i class="fa fa-arrow-up" aria-hidden="true"></i></a>
            </div>
          </div>


        </div>
      </footer>
    </div>

  </div>
</div>





