<div class="container-fluid p-0">
  <!--Banner Start-->
  <!--    <div class="hmpg-banner">
          <div class="hmpg-banner-bg"></div>
          <div class="text-center hmpg-banner-cntnt blk-center">
              <h1>Intercell</h1>
          </div>
      </div> -->
  <!--Banner End-->
  <div class="clearfix"></div>
</div>
<div class="container">
  <div id="panel_profile" class="consoller_w-profile">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div id="panel_profile" class="active">
          <div class="row">
            <div class="col-sm-12">
              <div class="card hovercard">
                <div class="cardheader">

                </div>

                <div class="avatar">
                  <img alt="" src="https://d3213zi13us7f1.cloudfront.net/website/assets/images/intercell-user-pic.png">
                  <!--  <h3 *ngFor="let use of userDetails">{{use.first_name}} {{use.last_name}}</h3>-->
                  <h4>
                    {{userDetails.first_name}}&nbsp;{{userDetails.last_name}} (@ICU00{{userId}})</h4>
                </div>


                <div class="panel-tools pr-tools">
                </div>
                <div class="text-center profile_summary">
                  <p>
                  </p>
                  <a href="#" class="text-center">{{userDetails.summary}}</a>
                  <h5 class="text-center">{{userDetails.gender}}</h5>
                  <p *ngIf="userDetails.city">{{userDetails.city}},{{userDetails.state}},{{userDetails.country}}</p>
                </div>
                <button *ngIf="!isLogin" class="btn btn-blue" (click)="myModel.open();setCounsellor(userDetails);">Book a Appointment</button>

              </div>
            </div>
          </div>


          <div class="panel panel-white panel_profile_progress panel_profile_counsellor panel-web">
            <div class="panel-heading">
              <h2>Experience</h2>
            </div>

            <div class="panel-body">
              <div class="exp-panel">
                <div *ngFor="let experience of counsellorExperienceDetails; let expId = index;" class="row">
                  <div class="row">

                    <div class="col-sm-2">
                      <img src="./assets/images/school.png">
                    </div>
                    <div class="col-sm-9">
                      <ul>
                        <li>
                          <h3>{{experience.title}}</h3>
                        </li>
                        <li>
                          {{experience.company}}&nbsp;{{experience.experience}}
                        </li>
                        <li>
                          {{experience.start_time_month}} {{experience.start_time_year }} to {{experience.end_time_month}} {{experience.end_time_year}}
                        </li>
                        <li>
                          {{experience.location}}
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>



          <div class="panel panel-white panel_profile_progress panel_profile_counsellor">
            <div class="panel-heading">
              <h2>Education</h2>
            </div>


            <div class="panel-body">
              <div class="exp-panel">

                <div *ngFor="let education of counsellorEducationDetails; let eduId = index; " class="row">

                <div class="col-sm-2">
                  <img src="assets/images/school2.png">
                </div>
                <div class="col-sm-9">
                  <ul>
                    <li>
                      <h3>{{education.school_name}}</h3>
                    </li>
                    <li>
                      {{education.degree}}
                    </li>
                    <li>
                      {{education.start_time}} to {{education.end_time}}
                    </li>
                    <li>
                      {{education.description}}
                    </li>
                  </ul>
                </div>

                </div>
              </div>
            </div>
          </div>



          <div class="panel panel-white panel_profile_progress panel_profile_counsellor">
            <div class="panel-heading">
              <h2>Honor- Awards</h2>
            </div>

            <div class="panel-body">
              <div class="exp-panel">

                <div *ngFor="let certificate of counsellorCertificateDetails; let certId = index;" class="row">
                  <div class="col-sm-2">
                    <img src="assets/images/trophies.png">
                  </div>
                  <div class="col-sm-9">
                    <ul>
                      <li>
                        <h3>{{certificate.certificate}}</h3>
                      </li>
                      <li>
                        {{certificate.institute}}
                      </li>
                      <li>
                        {{certificate.time}}
                      </li>
                    </ul>
                  </div>
                </div>

              </div>
            </div>

          </div>



        </div>
      </div>
    </div>
  </div>
</div>
<modal #myModel>
        <modal-header>
            <h5>Please login to book your session with <strong>{{popFullName|titlecase}}</strong></h5>
        </modal-header>
        <modal-content>


              <div class="lgn-bx login-forms-counsellor">
                <div class="row">
                  <div class="col-md-6">
                    <div class="counsellor-photo">
                      <img style="height:200px;" src="{{popUserPic}}">
                    </div>
                  </div>

                  <div class="col-md-6" style="margin-top:70px;">
                      <div class="form-group form-gro">
                        <label class="control-label">User Name</label>
                        <br>
                        <input type="text" id="username" required/>
                        <i class="bar"></i>
                      </div>

                      <div class="form-group form-gro">
                        <label class="control-label">Password </label>
                        <br>
                        <input type="password" id="password" required="required" required/>
                        <i class="bar"></i>
                      </div>
                    </div>
              </div>
            </div>

        </modal-content>
        <modal-footer>
          <span class="errorMsg"></span>
            <button class="btn btn-primary" (click)="doLogin()">Login!&rarr;</button>
        </modal-footer>
    </modal>
