<div class="main-wrapper Counsellor_dashboard">
  <!-- Top Navigation Start-->
  <!-- start: TOPBAR -->
  <header class="main-header" [ngClass]="{'only-forgot': ctMsg}">
      <div class="container">
		  <div class="row">
			<div class="main-top-header">
         <div class="col-xs-12 col-sm-4 col-md-4 logo top-logo">
            <a   [routerLink]="['/']">
             <img src="https://d3213zi13us7f1.cloudfront.net/website/assets/images/intercell-logo.png" alt="Intercell Logo"/>
			 <!--<div class="beta">(Beta)</div>-->
          </a>
		  
         </div>
		  
		  <div [hidden]="!userId" class="loging-dashbord" >
        
         <!-- start: TOP NAVIGATION MENU -->
         <div class="topbar-tools">
         <ul class="nav navbar-right">
            <!-- start: USER DROPDOWN -->
            <!-- <li class="dropdown current-user">
                 <a class="dropdown-toggle"  [routerLink]="['/download-app']">
                     <i class="fa fa-mobile"></i> <span class="username hidden-xs">Download App</span>
                 </a>
            </li> -->
            <li class="dropdown current-user">
                <a  class="dropdown-toggle" [routerLink]="['/about-us']">
                    <i class="fa fa-info-circle"></i> <span class="username">About Intercell</span>
                </a>
            </li>
            <li class="dropdown current-user">
                <a class="dropdown-toggle" [routerLink]="['/appointments']">
                    <i class="fa fa-tachometer" aria-hidden="true"></i>
                  <span class="username">My Dashboard</span>
                </a>
            </li>
            <li class="current-user hdr-user-pic">
                <a class="dropdown-toggle" href="javascript:void(0);" (click)="onProfileClick()">
                    <img   id="header-right-pic" src="{{userPic}}" class="img-circle w30" alt="" style="margin-right:5px;">
                     <span class="username hidden-xs">{{userFullName}}</span>
                </a>
                <!--<ul class="dropdown-menu dropdown-dark pdrp-dwn">
                    <li>
                        <a *ngIf="userType==3" [routerLink]="['/counsellor']">My Profile</a>
                        <a *ngIf="userType==2" [routerLink]="['/student']">My Profile</a>
                    </li>
                  <li>
                    <a [routerLink]="['/privacy']">Settings </a>
                  </li>
                  <li>
                        <a [routerLink]="['/appointments']">Upcoming Sessions</a>
                    </li>
                    <li>
                        <a [routerLink]="['/message']">Notifications</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" (click)="onLogOut()">Log Out</a>
                    </li>
                </ul>-->
            </li>
        </ul></div>
        <!-- end: TOP NAVIGATION MENU -->
		  
		  </div>
		  
					  
         <div class="col-xs-12 col-sm-8 col-md-8 pull-right text-right top-hdr-form" [hidden]="userId">
            
          <form class="form-inline" [formGroup] = "formLogin" (ngSubmit) = "onLogin(formLogin.value)" autocomplete="off">

            <div class="top-hdr-form-div">
                <div class="form-group">
				 <div class="header-email">       
						<input type="text" class="form-control intercell-input" autocomplete="false" placeholder="Please Enter Email ID" required="required" formControlName="emailid" (keyup)="onEmailOut()" required/>
						<span *ngIf="formLoginErrors.emailid" class="red-clr text-left full-pass">{{formLoginErrors.emailid}}</span>
						<!--<span *ngIf="!emailPresent" class="red-clr text-left">This email address has not been registered before</span>
						<span *ngIf="!emailRegistered" class="red-clr text-left">Intercell account doesn't exist with this Email ID. Enter a different account or create a <a (click)= "onJoin()">new</a> one.<br></span>
						<span *ngIf="!emailNotPresent" class="red-clr text-left">We are Unable to fecth your Mail ID </span>
						<span *ngIf="AllRequiredError" class="red-clr text-left">Please Enter Username/Password.</span>-->
				  </div>
                 </div>
                 <div class="form-group">
					<div class="header-pass">  
						<input type="password" required="required" autocomplete="false" formControlName="password" required class="form-control intercell-input" placeholder="Please Enter Password"/>
						<span *ngIf="formLoginErrors.password" class="red-clr text-left">{{formLoginErrors.password}}</span>
						<!--<span *ngIf="passwordError" class="red-clr text-left">Invalid password</span>-->
					</div>
                 </div>
                 <div class="form-group">
                    <button type="submit"  class="btn btn-squared intercell-btn counsellor-db-btn">Sign in</button>
                 
                 </div>
                 
                 <div  class="form-group forget-pass">
                    <a href="javascript:void(0);" (click) = "onForgot()" class="">Forgot Password ?</a>
					<a [hidden]="ctMsg" [routerLink]="['/login']" class="sign-up-header">Register</a>
                 </div>

            </div>
            </form>
         </div>
			
			
		</div>	  
	  </div>
    </div>
   </header>
   <!-- END Header -->


      
 
  <!-- Modal -->
  <div class="students_select">
    <div id="ordine" class="tabs_part modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header tabs_part">
            <button type="button" class="close" data-dismiss="modal">×</button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-12">
                <div class="tabbable-panel">

                  <div class="tab-pane" *ngIf="loginType == 1">
                    <div id="signup">
                      <h1>Welcome to Intercell</h1>
                      <button class="btn btn-danger button-block" data-dismiss="modal" (click) = "onSubmit(form.value)">Enter</button>
                    </div>
                  </div>

                  <div class="tab-pane" *ngIf=" loginType == 2">
                    <div id="login">
                      <h1>Welcome to Intercell</h1>
                      <p class="prices">Register Yourself</p>
                      <span class="prices">Students Rs. 500 /- </span><br><br>
                      <button class="btn btn-danger button-block" data-dismiss="modal" (click) = "onSubmit(form.value)">Proceed to pay</button>
                    </div>
                  </div>

                  <div class="tab-pane" *ngIf="loginType == 3">
                    <div id="login">
                      <h1>Welcome to Intercell</h1>
                      <p class="prices">Register Yourself</p>
                      <span class="prices">{{myConst.counsellor}} Rs. 500 /- </span><br><br>
                      <button class="btn btn-danger button-block" data-dismiss="modal" (click) = "onSubmit(form.value)">Proceed to pay</button>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div id="status"> 	</div>


