<app-login-header></app-login-header>
<div class="setup-content-bx" id="page-top">
  <div class="accnt-bg"></div>


  <div class="stepwizard hide">

    <div class="stepwizard-row setup-panel">
      <div class="stepwizard-step">
        <a href="#step-1" type="button" class="btn btn-primary btn-circle">1</a>
        <p>Step 1</p>
      </div>
      <div class="stepwizard-step">
        <a href="#step-2" type="button" class="btn btn-default btn-circle" disabled="disabled">2</a>
        <p>Step 2</p>
      </div>
      <div class="stepwizard-step">
        <a href="#step-3" type="button" class="btn btn-default btn-circle" disabled="disabled">3</a>
        <p>Step 3</p>
      </div>
      <div class="stepwizard-step">
        <a href="#step-4" type="button" class="btn btn-default btn-circle" disabled="disabled">4</a>
        <p>Step 4</p>
      </div>
      <div class="stepwizard-step">
        <a href="#step-5" type="button" class="btn btn-default btn-circle" disabled="disabled">5</a>
        <p>Step-5</p>
      </div>
      <div class="stepwizard-step">
        <a href="#step-6" type="button" class="btn btn-default btn-circle" disabled="disabled">6</a>
        <p>Step 6</p>
      </div>
      <div class="stepwizard-step">
        <a href="#step-7" type="button" class="btn btn-default btn-circle" disabled="disabled">7</a>
        <p>Step 7</p>
      </div>
    </div>
  </div>


  <!--Common Screen-->

  <div class="setup-content" id="step-1">
    <form  [formGroup] = "form">
    <div class="forms-heading">
        <h3>Create your account</h3>
      </div>
      <div class="col-xs-12">
        <div class="col-md-12">

          <div class="radio-bx">
            <h4 style="font-weight: bold;">Want to Join as <span class="asterisk">*</span></h4>
            <ul>
              <li>
                <input #hideDob type="radio" value="2" id="f-option" (change)="showDOB = hideDob.checked ; showBirth(showDOB)" formControlName="usertype">
                <label for="f-option">{{myConst.student}}</label>
                <div class="check"></div>
              </li>

              <li>
                <input #showDob type="radio" value="3" id="s-option" (change)="showDOB = !showDob.checked ; showBirth(showDOB)" formControlName="usertype">
                <label for="s-option">{{myConst.counsellor}}</label>
                <div class="check"><div class="inside"></div></div>
              </li>
            </ul>
          </div>


          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label>First Name <span class="asterisk">*</span></label>
                <input type="Text" class="form-control" formControlName="firstname" (click)="selectAllContent($event)">
                <span *ngIf="formErrors.firstname" class="red-clr">{{formErrors.firstname}}</span>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="form-group">
                <label>Last Name <span class="asterisk">*</span></label>
                <input type="Text" class="form-control" formControlName="lastname" (click)="selectAllContent($event)">
                <span *ngIf="formErrors.lastname" class="red-clr">{{formErrors.lastname}}</span>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label>Email Id<span class="asterisk">*</span>
                  <span *ngIf="emailMessage" class="blue-clr">This email address would be your login ID</span>
                </label>
                <input type="Text" class="form-control" (keyup)="onEmailOut()" (focus)="showEmailMessage()" (focusout)="removeEmailMessage()" formControlName="emailid" (click)="selectAllContent($event)">

                <span *ngIf="formErrors.emailid" class="blue-clr">{{formErrors.emailid}}</span>
                <span *ngIf="emailError" class="red-clr">This email address has been registered before</span>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label>Mobile No. <span class="asterisk">*</span></label>
<div class="" style="overflow: hidden;">
                <div class="col-md-1" style="padding:0px;">

                  <input type="text" class=" india-text form-control" value="+91" readonly>  </div>
<div class="col-md-11" style="padding: 0px;">
                <input type="text" class="form-control" (keyup)="onPhoneOut()" (click)="selectAllContent($event)" (keypress)="onlyNumberKey($event)" formControlName="mobile">
</div>
                <span *ngIf="formErrors.mobile" class="blue-clr">{{formErrors.mobile}}</span>
                <span *ngIf="phoneError" class="red-clr">This contact number has been registered before</span>

              </div>
              </div>
            </div>
          </div>

         <!--<div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label>Display Name <span class="asterisk">*</span></label>
                <input type="Text" class="form-control" (keyup)="onUserNameOut()" formControlName="userName">
                <span *ngIf="formErrors.userName" class="red-clr">{{formErrors.userName}}</span>
                <span *ngIf="userNameError" class="red-clr">This userName is registered Before</span>
              </div>
            </div>
          </div>-->


          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label>Password <span class="asterisk">*</span></label>
                <input type="password" class="form-control" (focus)="onPassword()" (focusout)="onPasswordOut()" (click)="selectAllContent($event)" [(ngModel)]="mypassword" formControlName="password">
                <ng2-password-strength-bar
                  [passwordToCheck]="mypassword"
                  [barLabel]="barLabel">
                </ng2-password-strength-bar>
                <span *ngIf="formErrors.password" class="blue-clr">{{formErrors.password}}</span>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label>Confirm Password <span class="asterisk">*</span></label>
                <input type="password" class="form-control" formControlName="cpassword" (click)="selectAllContent($event)">
                <span *ngIf="formErrors.cpassword" class="blue-clr">{{formErrors.cpassword}}</span>
                <span *ngIf="confirmPasswordError" class="red-clr">Incorrect password entered</span>
              </div>
            </div>
          </div>


          <div class="row" [style.visibility]="!showDOB ? 'hidden' : 'visible'">
            <label class="col-xs-12">
              Date Of Birth <span class="asterisk">*</span>
            </label>

            <div class="col-sm-12">
              <div class="form-group login-datepicker">

                    <div class="input-group input-append date" id="datePicker">
                      <input type="text" class="form-control" id="dateValue" />
                      <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
                    </div>

               <!--<ng2-datepicker id="datetimepicker_1" formControlName="dob"  [options]="options" [(ngModel)]="date"></ng2-datepicker>-->

              </div>
            </div>

            <input type="hidden" formControlName="dob" />

          </div>

          <div class="btn-last-part">
            <button class="btn btn-default btn-squared counsellor-db-btn nextBtn btn-lg back-btn btn-right" type="button" (click) = "onCancel()">Cancel</button>

            <button class="btn btn-primary btn-squared counsellor-db-btn nextBtn btn-lg back-btn btn-right" type="button" [disabled] = "!form.valid || userNameError || phoneError || emailError"  (click) = "onDone(form.value)">Next</button>
            <!------>

          </div>
        </div>
      </div>
      <div class="clearfix clear"></div>
    </form>
    <div class="clearfix clear"></div>
  </div>

  <div class="row setup-content"  id="step-2">
    <div class="forms-heading">
      <h3> Highest Eduction</h3>
    </div>
    <div class="col-xs-12">
      <div class="col-md-12">
        <form [formGroup] = "formEducation">

          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label>School/University <span class="asterisk">*</span></label>
                <input type="Text" class="form-control" formControlName="school" (click)="selectAllContent($event)">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label>Level Of Education<span class="asterisk">*</span></label>

                <select class="form-control"  formControlName="degree">
                  <option value="">Select Your Level Of Education</option>
                 <!-- <option value="0">Primary (Below 8th Standard)</option>
                  <option value="1">Secondary (8th-10th)</option>-->
                  <option value="2">Senior Secondary or Below</option>
                  <option value="3">Undergraduate</option>
                  <option value="4">Postgraduate</option>
                  <option value="5">Other</option>
                </select>

              </div>

              <!--<input type="Text" class="form-control" placeholder="AISEE , B.Tech etc." formControlName="degree">-->
              </div>
            </div>


          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label>Field of Study <span class="asterisk">*</span></label>
                <input type="Text" class="form-control"  placeholder="Science , Mechanical etc." formControlName="field" (click)="selectAllContent($event)">
              </div>
            </div>
          </div>

          <label>
            Time period <span class="asterisk">*</span>
          </label>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label>
                  From year
                </label>

               <!-- <select class="form-control"  formControlName="degree">
                  <option value="">Select Your Level Of Education</option>
                  &lt;!&ndash; <option value="0">Primary (Below 8th Standard)</option>
                   <option value="1">Secondary (8th-10th)</option>&ndash;&gt;
                  <option value="2">Senior Secondary or Below</option>
                  <option value="3">Undergraduate</option>
                  <option value="4">Postgraduate</option>
                  <option value="5">Other</option>
                </select>-->

                <select list="browsers" id="education_start_time" (change)='onInput()' formControlName="startTime" class="form-control datalisting education_time" >

                  <option value="">From Year</option>
                  <option value="1970">1970</option>
                  <option value="1971">1971</option>
                  <option value="1972">1972</option>
                  <option value="1973">1973</option>
                  <option value="1974">1974</option>
                  <option value="1975">1975</option>
                  <option value="1976">1976</option>
                  <option value="1977">1977</option>
                  <option value="1978">1978</option>
                  <option value="1979">1979</option>
                  <option value="1980">1980</option>
                  <option value="1981">1981</option>
                  <option value="1982">1982</option>
                  <option value="1983">1983</option>
                  <option value="1984">1984</option>
                  <option value="1985">1985</option>
                  <option value="1986">1986</option>
                  <option value="1987">1987</option>
                  <option value="1988">1989</option>
                  <option value="1989">1989</option>
                  <option value="1989">1990</option>
                  <option value="1990">1991</option>
                  <option value="1992">1992</option>
                  <option value="1993">1993</option>
                  <option value="1994">1994</option>
                  <option value="1995">1995</option>
                  <option value="1996">1996</option>
                  <option value="1997">1997</option>
                  <option value="1998">1998</option>
                  <option value="1999">1999</option>
                  <option value="2000">2000</option>
                  <option value="2001">2001</option>
                  <option value="2002">2002</option>
                  <option value="2003">2003</option>
                  <option value="2004">2004</option>
                  <option value="2005">2005</option>
                  <option value="2006">2006</option>
                  <option value="2007">2007</option>
                  <option value="2008">2008</option>
                  <option value="2009">2009</option>
                  <option value="2010">2010</option>
                  <option value="2011">2011</option>
                  <option value="2012">2012</option>
                  <option value="2013">2013</option>
                  <option value="2014">2014</option>
                  <option value="2015">2015</option>
                  <option value="2016">2016</option>
                  <option value="2017">2017</option>
                </select>

              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label>
                  To year
                </label>

                <select list="browsers" id="education_end_time"  (change)='onInput()' formControlName="endTime" class="form-control datalisting education_time">

                  <option value="">To Year</option>
                  <option value="1970">1970</option>
                  <option value="1971">1971</option>
                  <option value="1972">1972</option>
                  <option value="1973">1973</option>
                  <option value="1974">1974</option>
                  <option value="1975">1975</option>
                  <option value="1976">1976</option>
                  <option value="1977">1977</option>
                  <option value="1978">1978</option>
                  <option value="1979">1979</option>
                  <option value="1980">1980</option>
                  <option value="1981">1981</option>
                  <option value="1982">1982</option>
                  <option value="1983">1983</option>
                  <option value="1984">1984</option>
                  <option value="1985">1985</option>
                  <option value="1986">1986</option>
                  <option value="1987">1987</option>
                  <option value="1988">1989</option>
                  <option value="1989">1989</option>
                  <option value="1989">1990</option>
                  <option value="1990">1991</option>
                  <option value="1992">1992</option>
                  <option value="1993">1993</option>
                  <option value="1994">1994</option>
                  <option value="1995">1995</option>
                  <option value="1996">1996</option>
                  <option value="1997">1997</option>
                  <option value="1998">1998</option>
                  <option value="1999">1999</option>
                  <option value="2000">2000</option>
                  <option value="2001">2001</option>
                  <option value="2002">2002</option>
                  <option value="2003">2003</option>
                  <option value="2004">2004</option>
                  <option value="2005">2005</option>
                  <option value="2006">2006</option>
                  <option value="2007">2007</option>
                  <option value="2008">2008</option>
                  <option value="2009">2009</option>
                  <option value="2010">2010</option>
                  <option value="2011">2011</option>
                  <option value="2012">2012</option>
                  <option value="2013">2013</option>
                  <option value="2014">2014</option>
                  <option value="2015">2015</option>
                  <option value="2016">2016</option>
                  <option value="2017">2017</option>
                </select>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <span *ngIf="eduYearValidation" class="blue-clr">Year submitted by you is invalid</span>
                </div>
              </div>
            </div>

          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label>Description</label>
                <textarea placeholder="Description Text" formControlName="description" class="form-control" (click)="selectAllContent($event)"></textarea>
              </div>
            </div>
          </div>
        </form>
        <div class="btn-last-part">
          <button style=" margin-left: 15px;" class="btn btn-success counsellor-db-btn  btn-lg back-btn btn-left btn-squared" (click)="onEducationPrevious()" type="button">Previous</button>
          <button class="btn btn-default btn-squared counsellor-db-btn nextBtn btn-lg back-btn btn-right" type="button" (click) = "onCancel()">Cancel</button>
          <button class="btn btn-primary btn-squared counsellor-db-btn nextBtn btn-lg back-btn btn-right" [disabled] = "!formEducation.valid || eduYearValidation" (click)="onEducationSubmit(formEducation.value)" type="button">Next</button>

        </div>
      </div>
    </div>
  </div>

  <div class="row setup-content"  id="step-3" style="padding:50px;">
    <div class="forms-heading">
      <h3>Specialisation</h3>
    </div>

    <form [formGroup] = "formCounsellingCounsellor">

      <div class="col-sm-12">
        <div class="form-group">
          <label>
            My current career field are <span class="asterisk">*</span>
          </label>
          <select class="form-control"  formControlName="currentField" (change)="onServiceChange($event.target.value)">
            <option value="">Select your career field</option>
            <option *ngFor="let serv of services" [value]="serv.id">{{serv.name}}</option>
          </select>
        </div>
      </div>


      <div class="col-sm-12" *ngIf="showCounsellingSub">
        <div class="form-group drp-dwn">
          <label>
            Select Specialisations <span class="asterisk">*</span>
          </label>

          <angular2-multiselect  formControlName="currentSubField"
                                 [data]="subServiceList"
                                 [(ngModel)]="selectedSubServices"
                                 [settings]="dropdownSettings"
                                 (onSelect)="onSubServiceChange($event)"
                                 (onDeSelect)="onSubServiceChange($event)"
                                 (onSelectAll)="onSubServiceChange($event)"
                                 (onDeSelectAll)="onSubServiceChange($event)">
          </angular2-multiselect>

        </div>
      </div>

      <div class="col-sm-12">
        <div class="form-group">
          <label>LinkedIn Profile Link</label>
          <input type="Text" class="form-control" formControlName="linkedInLink" (click)="selectAllContent($event)">
          <span *ngIf="formCounsellingErrors.linkedInLink" class="blue-clr">{{formCounsellingErrors.linkedInLink}}</span>
        </div>
      </div>

      <div class="btn-last-part " style=" margin-right:15px;">
        <button style=" margin-left: 15px;" class="btn btn-success counsellor-db-btn  btn-lg back-btn btn-left btn-squared" type="button" (click)="onCounsPrevious()">Previous</button>

        <button class="btn btn-default btn-squared counsellor-db-btn nextBtn btn-lg back-btn btn-right" type="button" (click) = "onCancel()">Cancel</button>

        <button class="btn btn-primary btn-squared counsellor-db-btn nextBtn btn-lg back-btn btn-right" [disabled] = "!formCounsellingCounsellor.valid" type="button" (click)="onCounsellingCounsellor(formCounsellingCounsellor.value)">Next</button>
      </div>

    </form>
  </div>


  <div class="row setup-content" id="step-4">
    <div class="forms-heading">
      <h3>Mentoring Details</h3>
    </div>
    <div class="col-xs-12">
      <div class="col-md-12">
        <form [formGroup] = "formCounsellingStudent">

          <div class="row" >
            <div class="col-sm-12">
              <div class="form-group">
                <label>
                  I need mentoring in this Field <span class="asterisk">*</span>
                </label>

                <select class="form-control"  formControlName="requireField" (change)="onRequireServiceChange($event.target.value)" (click)="selectAllContent($event)">
                  <option value="">select your field</option>
                  <option *ngFor="let serv of services" [value]="serv.id">{{serv.name}}</option>
                  <option value="none">None</option>
                </select>
              </div>
            </div>
          </div>

          <div class="row" *ngIf="noneNeedSubField">
            <div class="col-sm-12">
              <div class="form-group">
                <label>Enter Your Required Field</label>
                <input type="Text" class="form-control" (click)="selectAllContent($event)">
              </div>
            </div>
          </div>

          <div class="row" *ngIf="!noneNeedSubField && showStudReq">
            <div class="col-sm-12">
              <div class="form-group drp-dwn">
                <label>
                  I need mentoring in this specialisation <span class="asterisk">*</span>
                </label>

                <angular2-multiselect formControlName="requireSubField"
                                      [data]="subRequireCounselling"
                                      [(ngModel)]="selectedSubRequire"
                                      [settings]="dropdownSettings"
                                      (onSelect)="onSubServiceChange($event)"
                                      (onDeSelect)="onSubServiceChange($event)"
                                      (onSelectAll)="onSubServiceChange($event)"
                                      (onDeSelectAll)="onSubServiceChange($event)">
                </angular2-multiselect>

              </div>
            </div>
          </div>
        </form>

        <div class="btn-last-part">
          <button style="" class="btn btn-success counsellor-db-btn  btn-lg back-btn btn-left btn-squared" type="button"  (click)="onStudCounsPrevious()">Previous</button>
          <button class="btn btn-default btn-squared counsellor-db-btn nextBtn btn-lg back-btn btn-right" type="button" (click) = "onCancel()">Cancel</button>
          <button class="btn btn-primary btn-squared counsellor-db-btn nextBtn btn-lg back-btn btn-right" type="button" [disabled] = "!formCounsellingStudent.valid" (click)="onCounsellingStudent(formCounsellingStudent.value)">Next</button>
        </div>
      </div>
    </div>
  </div>


  <div class="row setup-content" id="step-5">
    <div class="forms-heading">
      <h3>Current/Last Company Details </h3>
    </div>
    <div class="col-xs-12">
      <div class="col-md-12">
        <form [formGroup] = "formExperience" class="ng-pristine ng-invalid ng-touched">

          <div  class="row">
            <div  class="col-sm-12">
              <div  class="form-group">
                <label >Title <span class="asterisk">*</span></label>
                <input  class="form-control ng-pristine ng-invalid ng-touched" formControlName="title" placeholder="Title" type="Text">
              </div>
            </div>
          </div>
          <div  class="row">
            <div  class="col-sm-12">
              <div  class="form-group">
                <label>Company <span class="asterisk">*</span></label>
                <input  class="form-control ng-untouched ng-pristine ng-invalid" formControlName= "company" placeholder="Company" type="Text" (click)="selectAllContent($event)">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label>Location <span class="asterisk">*</span></label>
                <input  class="form-control ng-untouched ng-pristine ng-invalid" formControlName = "location" placeholder="Location" type="Text" (click)="selectAllContent($event)">
              </div>
            </div>
          </div>

          <div class="row">
            <div  class="col-sm-6">
              <div class="form-group">
                <label>
                  From <span class="asterisk">*</span>
                </label>

                <div  class="col-xs-12 p-0">
                  <div  class="col-xs-6 p-0">

                    <select id="expStartMonth" (change)='onExpInput()' formControlName="startTimeMonth" placeholder="Month" class="form-control">
                      <option id="0" value="">Month</option>
                      <option id="1" value="January">January</option>
                      <option id="2" value="February">February</option>
                      <option id="3" value="March">March</option>
                      <option id="4" value="April">April</option>
                      <option id="5" value="May">May</option>
                      <option id="6" value="June">June</option>
                      <option id="7" value="July">July</option>
                      <option id="8" value="August">August</option>
                      <option id="9" value="September">September</option>
                      <option id="10" value="October">October</option>
                      <option id="11" value="November">November</option>
                      <option id="12" value="December">December</option>
                    </select>
                  </div>

                  <div class="col-xs-6">
                    <select id="expStartYear" (change)='onExpInput()' formControlName="startTimeYear" placeholder="Year" class="form-control">

                      <option  value="">Year</option>
                      <option  value="1970">1970</option>
                      <option  value="1971">1971</option>
                      <option  value="1972">1972</option>
                      <option  value="1973">1973</option>
                      <option  value="1974">1974</option>
                      <option  value="1975">1975</option>
                      <option  value="1976">1976</option>
                      <option  value="1977">1977</option>
                      <option  value="1978">1978</option>
                      <option  value="1979">1979</option>
                      <option  value="1980">1980</option>
                      <option  value="1981">1981</option>
                      <option  value="1982">1982</option>
                      <option  value="1983">1983</option>
                      <option  value="1984">1984</option>
                      <option  value="1985">1985</option>
                      <option  value="1986">1986</option>
                      <option  value="1987">1987</option>
                      <option  value="1988">1988</option>
                      <option  value="1989">1989</option>
                      <option  value="1990">1990</option>
                      <option  value="1991">1991</option>
                      <option  value="1992">1992</option>
                      <option  value="1993">1993</option>
                      <option  value="1994">1994</option>
                      <option  value="1995">1995</option>
                      <option  value="1996">1996</option>
                      <option  value="1997">1997</option>
                      <option  value="1998">1998</option>
                      <option  value="1999">1999</option>
                      <option  value="2000">2000</option>
                      <option  value="2001">2001</option>
                      <option  value="2002">2002</option>
                      <option  value="2003">2003</option>
                      <option  value="2004">2004</option>
                      <option  value="2005">2005</option>
                      <option  value="2006">2006</option>
                      <option  value="2007">2007</option>
                      <option  value="2008">2008</option>
                      <option  value="2009">2009</option>
                      <option  value="2010">2010</option>
                      <option  value="2011">2011</option>
                      <option  value="2012">2012</option>
                      <option  value="2013">2013</option>
                      <option  value="2014">2014</option>
                      <option  value="2015">2015</option>
                      <option  value="2016">2016</option>
                      <option  value="2017">2017</option>

                    </select>
                  </div>
                </div>
              </div>
            </div>

            <div  class="col-sm-6">
              <div  class="form-group">
                <label >To <span class="asterisk">*</span></label>
                <div class="col-xs-12 p-0">
                  <div class="col-xs-6 p-0">

                    <select id="expEndMonth" (change)='onExpInput()' formControlName="endTimeMonth"  placeholder="Month" class="form-control" >
                      <option id="0" value="">Month</option>
                      <option id="1" value="January">January</option>
                      <option id="2" value="February">February</option>
                      <option id="3" value="March">March</option>
                      <option id="4" value="April">April</option>
                      <option id="5" value="May">May</option>
                      <option id="6" value="June">June</option>
                      <option id="7" value="July">July</option>
                      <option id="8" value="August">August</option>
                      <option id="9" value="September">September</option>
                      <option id="10" value="October">October</option>
                      <option id="11" value="November">November</option>
                      <option id="12" value="December">December</option>
                    </select>
                  </div>

                  <div  class="col-xs-6">
                    <select formControlName="endTimeYear" id="expEndYear" (change)='onExpInput()'  placeholder="Year" class="form-control" >

                      <option  value="">Year</option>
                      <option  value="1970">1970</option>
                      <option  value="1971">1971</option>
                      <option  value="1972">1972</option>
                      <option  value="1973">1973</option>
                      <option  value="1974">1974</option>
                      <option  value="1975">1975</option>
                      <option  value="1976">1976</option>
                      <option  value="1977">1977</option>
                      <option  value="1978">1978</option>
                      <option  value="1979">1979</option>
                      <option  value="1980">1980</option>
                      <option  value="1981">1981</option>
                      <option  value="1982">1982</option>
                      <option  value="1983">1983</option>
                      <option  value="1984">1984</option>
                      <option  value="1985">1985</option>
                      <option  value="1986">1986</option>
                      <option  value="1987">1987</option>
                      <option  value="1988">1988</option>
                      <option  value="1989">1989</option>
                      <option  value="1990">1990</option>
                      <option  value="1991">1991</option>
                      <option  value="1992">1992</option>
                      <option  value="1993">1993</option>
                      <option  value="1994">1994</option>
                      <option  value="1995">1995</option>
                      <option  value="1996">1996</option>
                      <option  value="1997">1997</option>
                      <option  value="1998">1998</option>
                      <option  value="1999">1999</option>
                      <option  value="2000">2000</option>
                      <option  value="2001">2001</option>
                      <option  value="2002">2002</option>
                      <option  value="2003">2003</option>
                      <option  value="2004">2004</option>
                      <option  value="2005">2005</option>
                      <option  value="2006">2006</option>
                      <option  value="2007">2007</option>
                      <option  value="2008">2008</option>
                      <option  value="2009">2009</option>
                      <option  value="2010">2010</option>
                      <option  value="2011">2011</option>
                      <option  value="2012">2012</option>
                      <option  value="2013">2013</option>
                      <option  value="2014">2014</option>
                      <option  value="2015">2015</option>
                      <option  value="2016">2016</option>
                      <option  value="2017">2017</option>

                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <span *ngIf="expYearValidation" class="blue-clr">End Time Should Be Greater then Starting Time</span>
              </div>
            </div>
          </div>

          <label class="checkbox-inline" style=" color:gray !important;">
            <input #myId class="grey ng-untouched ng-pristine ng-valid" (change)="showOfficial = myId.checked ; showOffic(showOfficial)" type="checkbox">
            Currently Working
          </label>

          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label>Description</label>
                <textarea  class="form-control ng-untouched ng-pristine ng-invalid" formControlName="description" placeholder="Description Text" (click)="selectAllContent($event)"></textarea>
              </div>

            </div>
          </div>
          <input  class="form-control ng-untouched ng-pristine ng-valid" formControlName="experienceId" type="hidden">
        </form>
        <div class="btn-last-part">
          <!--<button class="btn btn-danger counsellor-db-btn  btn-lg back-btn btn-left" type="button" >Preview</button>-->
          <button style="" class="btn btn-success counsellor-db-btn  btn-lg back-btn btn-left btn-squared" type="button"  (click)="onExpPrevious()">Previous</button>

          <button class="btn btn-default btn-squared counsellor-db-btn nextBtn btn-lg back-btn btn-right" type="button" (click) = "onCancel()">Cancel</button>

          <button class="btn btn-primary btn-squared counsellor-db-btn nextBtn btn-lg back-btn btn-right" [disabled] = "!formExperience.valid || expYearValidation" (click)="onExperience()" type="button" >Next</button>

        </div>
      </div>
    </div>
  </div>


  <div class="row setup-content" id="step-6">
    <div class="forms-heading">
      <h3 class="text-center">Upload Profile Picture</h3>
    </div>
    <div class="col-xs-12">
      <div class="col-md-12">
        <div class="form-group">

          <div class="fileupload fileupload-new" data-provides="fileupload">

            <img id="image_user" class="img-rounded profile-picture"  src="https://d3213zi13us7f1.cloudfront.net/website/assets/images/intercell-user-pic.png" alt="">

            <!--<div class="fileupload-preview fileupload-exists thumbnail"></div>-->
          </div>

          <div class="user-edit-image-buttons upld-btn">
           <span class="btn btn-primary btn-file"><span class="fileupload-new"><i class="fa fa-picture"></i>Upload</span>
             <span class="fileupload-exists"><i class="fa fa-picture"></i>Image</span>

             <input type="file" id="file-chooser-aws" type="file" onChange="uploadS3()" data-max-size="2" accept="image/*" />
             <input type="hidden" id="awsfileName" />
           </span>
            <a href="#" class="btn fileupload-exists btn-red hide" data-dismiss="fileupload">
              <i class="fa fa-times"></i> Remove
            </a>
          </div>

          <span class="red-clr" style="display: none" id="maxSize">Your file size must be equal to or less than 2MB</span>
        </div>

        <div class="btn-last-part"><br><br>
          <button style=" margin-left: 15px;" class="btn btn-success counsellor-db-btn  btn-lg back-btn btn-left btn-squared" type="button"  (click)="onPicPrevious()">Previous</button>

          <button class="btn btn-default btn-squared counsellor-db-btn nextBtn btn-lg back-btn btn-right" type="button" (click) = "onCancel()">Cancel</button>

          <button class="btn btn-primary btn-squared counsellor-db-btn  btn-lg nextBtn back-btn btn-right" (click)="onPicture()" type="button">Next</button>

        </div>
      </div>
    </div>
  </div>


  <div class="row setup-content" id="step-7">
    <div class="forms-heading">
      <h3>Verify Your Email Address and Phone Number </h3>
    </div>
    <div class="col-xs-12">
      <div class="col-md-12">

        <div class="row">
          <div class="col-sm-12">
            <div class="form-group last-screen">
              <label> Enter the OTP Sent At Phone Number ({{form.controls.mobile.value}}) <span class="asterisk">*</span> <span class="pull-right pl-35"><svg class="checkmarkPhone checkmark"  viewBox="0 0 52 52">
            <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/><path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/>
           </svg></span></label>

              <input [(ngModel)] ="phoneCode"  (focusout)="verifyPhone()" type="Text" class="form-control verify-button" (click)="selectAllContent($event)">
              <!--button [disabled]="!phoneCode || phoneVerified" class="btn btn-primary verify-btn" (click)="verifyPhone()">Verify</button-->
              <button [disabled]="phoneVerified" class="btn btn-primary verify-btn" style="float:left!important"  (click)="resendPhone()">Resend</button>

            </div>

          </div>
        </div>
        <span *ngIf="resPhone" class="red-clr">OTP Resent on your Phone</span>


        <span *ngIf="phoneVerified" class="green-clr">
      </span>

        <span *ngIf="phoneInvalid" class="red-clr"></span>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group last-screen">
              <label> Enter the OTP Sent At Email address ({{form.controls.emailid.value}}) <span class="asterisk">*</span>
                <span class="pull-right pl-35"><svg class="checkmarkMail checkmark"  viewBox="0 0 52 52">
            <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/><path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/>
           </svg></span>
              </label>
              <input [(ngModel)] ="mailCode" (focusout)="verifyMail()" type="Text" class="form-control verify-button" (click)="selectAllContent($event)">
              <!--button [disabled]="!mailCode || emailVerified" class="btn btn-primary verify-btn" (click)="verifyMail()">Verify</button-->
              <button  [disabled]="emailVerified" class="btn btn-primary verify-btn" style="float:left !important" (click)="resendMail()">Resend</button>
            </div>
          </div>
        </div>


        <span *ngIf="resMail" class="red-clr">OTP Resent on your Mail</span>
        <!--<span *ngIf="emailVerified" class="green-clr">Email Address Verified</span>-->
        <span *ngIf="emailInvalid" class="red-clr"></span>

        <div class="input-group check pd-tp10">
          <input #myTerm class="check" type="checkbox" class="pull-left" (change)="condtionsAgree = myTerm.checked" id="remember_me"/>
          <label for="remember_me"></label><span class="agree-btn" (click) = "onTerm()"  style="color: cornflowerblue;">I Agree to Terms and Conditions <span class="asterisk">*</span></span>
        </div>

        <div class="btn-last-part">

          <button style=" margin-left: 15px;" class="btn btn-success counsellor-db-btn btn-squared
 btn-lg back-btn btn-left btn-squared" type="button" (click)="onValidPrevious()">Previous</button>

          <button class="btn btn-success counsellor-db-btn  btn-lg back-btn btn-right btn-squared" (click) = "onFinish()"  [disabled] = "!emailVerified || !phoneVerified || !condtionsAgree" type="submit">Submit</button>

        </div>
      </div>
    </div>
  </div>

  <div class="row setup-content" id="step-8">
    <div class="forms-heading">
      <h3>Cancel Registration</h3>
    </div>
    <div class="col-xs-12">
      <div class="col-md-12">
        <div class="form-group">
          <label> Do you want to exit Registration Process ? </label>
        </div>

        <div class="btn-last-part"><br><br>

          <a href="">
            <button style=" margin-left: 15px;" class="btn btn-success counsellor-db-btn  btn-lg back-btn btn-left btn-squared" type="button"  (click)="onCancelled()">Yes</button>
          </a>

          <button class="btn btn-default btn-squared counsellor-db-btn  btn-lg nextBtn back-btn btn-right" (click)="onReturn()" type="button">Cancel</button>

        </div>
      </div>
    </div>
  </div>


</div>
