body.layout-boxed{background:url("../../images/bg_2.png") #F7F8FA;}
.main-container,
#pageslide-left,
#pageslide-right{background-color:#F7F8FA !important;}
.label-default,
.badge-default{background:#EC874B !important;}
.topbar{background:#fff;}
.topbar>.container .navbar-brand,
.topbar .logo{color:#ffffff;}
.topbar .topbar-tools>ul>li>a{color:#ffffff;}
.topbar .topbar-tools>ul>li.right-menu-toggle>a{border-left-width:1px;border-left-style:solid;border-left-color:#B6B6B6;}
.topbar .nav li.dropdown.open>.dropdown-toggle,
.topbar .nav li.dropdown.active>.dropdown-toggle,
.topbar .nav li.dropdown.open.active>.dropdown-toggle{background:none;color:#ffffff;}
.topbar .nav>li:hover>a,
.topbar .nav>li:active>a,
.topbar .nav>li>a:focus{color:#ffffff;background:none;}
ul.main-navigation-menu>li a{border-bottom:none;border-top-color:#e7eaf0;color:#181d27;}
ul.main-navigation-menu>li a i{color:#b3b7be;font-weight:normal;}
ul.main-navigation-menu li>ul.sub-menu>li>a:hover{background:#e5e8ed;}
ul.main-navigation-menu li>ul.sub-menu>li.open>a,
ul.main-navigation-menu li>ul.sub-menu>li.active>a,
ul.main-navigation-menu li>ul.sub-menu>li.open>a:hover,
ul.main-navigation-menu li>ul.sub-menu>li.active>a:hover{background:#f1f3f6;}
ul.main-navigation-menu>li>a:hover,
ul.main-navigation-menu>li:hover>a{background-color:#f1f3f6;}
ul.main-navigation-menu li.divider{background-color:#e7eaf0 !important;}
ul.main-navigation-menu li.dropdown-header,
ul.main-navigation-menu .mega-menu-sub-title{color:#a1a8b7 !important;}
ul.main-navigation-menu li.dropdown-header,
ul.main-navigation-menu .mega-menu-sub-title{color:#a1a8b7 !important;}
ul.main-navigation-menu .mega-menu .mega-menu-content ul.mega-sub-menu a{color:#181d27 !important;}
ul.main-navigation-menu .mega-menu .mega-menu-content ul.mega-sub-menu a:hover{background:none !important;}
ul.main-navigation-menu .mega-menu .mega-menu-content ul.mega-sub-menu li.active a,
ul.main-navigation-menu .mega-menu .mega-menu-content ul.mega-sub-menu li.active a:hover,
ul.main-navigation-menu .mega-menu .mega-menu-content ul.mega-sub-menu li.active a:focus{background-color:#e5e8ed !important;text-decoration:none;}
ul.main-navigation-menu .mega-menu .mega-menu-content ul.mega-sub-menu li a:hover{background-color:#e5e8ed !important;text-decoration:none;}
#horizontal-menu .container{background:#F7F8FA;border-bottom:1px solid #e7eaf0;}
#horizontal-menu .navbar-collapse .navbar-nav>li>a{color:#6a7ca2;}
#horizontal-menu .navbar-collapse .navbar-nav>li>a:hover{color:#181d27;background:#e7eaf0;}
#horizontal-menu .navbar-collapse .navbar-nav>li>a:active,
#horizontal-menu .navbar-collapse .navbar-nav>li>a:focus{background:#d8dde6;}
#horizontal-menu .navbar-collapse .navbar-nav>li.active>a{color:white;background:#EC874B;}
#horizontal-menu .navbar-collapse .navbar-nav>li.active>a:after{border-top-color:#EC874B;}
.main-content{background:#DDDDDD;}
.go-top{color:#6a7ca2;}
.footer-inner{color:#6a7ca2;}
#pageslide-left .navigation-toggler .sb-toggle-left{background:url(../../images/dark_dots.png) no-repeat center center;}
#pageslide-left .slide-tools{background-color:#e7eaf0;}
#pageslide-left .btn{color:rgba(44, 47, 59, 0.3);}
#pageslide-left .btn:hover{color:#2C2F3B;}
#pageslide-left .user-profile{border-color:#e7eaf0;position:relative;}
#pageslide-left .user-profile h5{color:#a1a8b7;}
#pageslide-left .user-profile h4{color:#2C2F3B;}
.closedbar{background:#e7eaf0 url(../../images/dark_dots.png) no-repeat center 5px !important;}
.closedbar:hover{background-color:#F7F8FA !important;}
#pageslide-right .pageslide-title{color:rgba(44, 47, 59, 0.4);}
#pageslide-right .notifications a{color:rgba(44, 47, 59, 0.4);background:#eef0f4;}
#pageslide-right .notifications a:hover{background:#e7eaf0;}
#pageslide-right .notifications a .time{color:#acacac;}
#pageslide-right .right-wrapper .nav-tabs li a{background:#F7F8FA;border-bottom-color:#d8dde6;}
#pageslide-right .right-wrapper .nav-tabs li.active a{border-right-color:#d8dde6;border-left-color:#d8dde6;color:rgba(44, 47, 59, 0.9);}
#pageslide-right .media-list .media{border-bottom:1px solid #d8dde6;margin:0;}
#pageslide-right .media-list .media .media-heading{color:#374c57 !important;}
#pageslide-right .media-list .media a:hover{background:#d8dde6;}
#pageslide-right .media-list .media .status-online{color:#1FBBA6;}
#pageslide-right .media-list .media .media-body span{color:#364156;}
#pageslide-right .media-list .media label{color:#495876;}
#pageslide-right .sidebar-title{color:rgba(44, 47, 59, 0.4);}
#pageslide-right .sidebar-back{color:rgba(44, 47, 59, 0.4);}
#pageslide-right .sidebar-back:hover{color:rgba(44, 47, 59, 0.6);}
#style_selector_container .box-title{color:rgba(44, 47, 59, 0.8) !important;}
#style_selector_container .images{border-bottom:1px solid #e7eaf0;}
#style_selector_container .images img.active{border:2px solid #404c66;}
footer{background-color:#F7F8FA;}