<!--<div id="main">

<ul class="nav nav-tabs tab-padding tab-space-3 tab-blue" id="myTab4">
  <li id="menuOverview">
    <a href="javascript:void(0);" [routerLink]="['/overview']">
      <span class="intercell_tab_text_remove">Overview</span>
      <i class="fa fa-eye"></i>
    </a>
  </li>
  <li id="menuAppointment">
    <a href="javascript:void(0);" [routerLink]="['/appointments']">
      <span class="intercell_tab_text_remove">Sessions</span>
      <i class="fa fa-calendar"></i>
    </a>
  </li>
  <li *ngIf="userType==3" id="menuSetAvailability">
    <a href="javascript:void(0);" (click)="setAvailability()">
      <span class="intercell_tab_text_remove">Set Availability</span>
      <i class="fa fa-clock-o"></i>
    </a>
  </li>
  <li *ngIf="userType==3" ng-class="{active: 'isMenuGetPayment == true'}">
    <a href="javascript:void(0);" (click)="getPayment()">
      <span class="intercell_tab_text_remove">Get Payment</span>
      <i class="fa fa-money" aria-hidden="true"></i>
    </a>
  </li>
  <li id="menuMessage">
    <a href="javascript:void(0);" [routerLink]="['/message']">
      <span class="intercell_tab_text_remove">Notifications</span>
      <i class="fa fa-envelope-o"></i>
    </a>
  </li>
  <li id="menuProfile">
    <a href="javascript:void(0);" (click)="onProfileClick()">
      <span class="intercell_tab_text_remove">My Profile</span>
      <i class="fa fa-users"></i>
    </a>
  </li>
  <li id="menuAccount">
    <a href="javascript:void(0);" [routerLink]="['/account']">
      <span class="intercell_tab_text_remove">Session History</span>
      <i class="fa fa-user"></i>
    </a>
  </li>
  <li id="menuSetting">
    <a href="javascript:void(0);" [routerLink]="['/privacy']">
      <span class="intercell_tab_text_remove">Settings</span>
      <i class="fa fa-cog"></i>
    </a>
  </li>
</ul>



</div>
-->
