<app-login-header [ctMsg]="activediv" ></app-login-header>

<div class="intercell-slider">
<!--Page Content Start-->
<div class="container-fluid p-0" >


  <!-- Banner Container -->
  <section class="banner-section" [ngClass]="{'after-banner-section': userId}">
      <span class="banner-overlay"></span>
      <div class="container" >
          <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6" >
          <div class="banner-div" [ngClass]="{'after-log': userId}">
               <h1>Progress needs a Mentor</h1>
              <div>
                Interact with experts real-time on Intercell's Virtual Mentor Network.
                Get the right direction from the bright minds.  </div>
                <a routerLink="/about-us" class="btn intercell-btn counsellor-db-btn">How does it work?</a>
       
            </div> 
             </div>
        <div  class="col-lg-6 col-md-6 col-sm-6">
          <div *ngIf="!userId">
            <app-signuphome></app-signuphome>
          </div>                              
        </div>
        </div>       
      </div>
   </section>
   <!-- END Banner Section -->

   
     <!-- Find a Mentor Section -->
     <div class="findMentor-sec">
        <div class="container">
           <form class="form-inline mentor-form" [formGroup] = "formSearch" (ngSubmit) = "mentorSearch(formSearch.value)">
              <div class="form-group mentor-text">
                 <span class="">Find a Mentor</span>
				 <div class="browse-text">or<a (click) = "streamView()" href="javascript:void(0);"> Select your career field</a> </div>
              </div>
              <div class="form-group">
                 <input type="text" class="form-control" placeholder="First name" formControlName="first_name">
              </div>
              <div class="form-group">
                 <input type="text" class="form-control" placeholder="Last name" formControlName="last_name">
              </div>
              <div class="form-group">
                 <input type="submit" class="btn btn-search" value="Search">
              </div>
           </form>
        </div>
        
     </div>
     <!-- END Find a Mentor Section -->
  

     <!-- <app-mentopanelslider></app-mentopanelslider>-->
     <app-image-carousel></app-image-carousel>
    <!--Intercell Mentors section end -->
			
			
			
    

</div>


<section class="brand-posi">
  <div class="parallax-image" id="testimonial">
     <div class="container">
        <p class="brand-text">Virtual Mentor Network</p>
     </div>
  </div>
</section>

<!--<app-serviceslider></app-serviceslider>-->
<app-services-carousel></app-services-carousel>




<section class="mentorDirec-section" style="background:url(https://d3213zi13us7f1.cloudfront.net/website/assets/images/footer-top-banner.jpg?v=1.0) center center;background-size:cover;">
  <div class="container text-center">
        <div class="mentor-text-footer">
            Progress needs a Mentor
        </div>
  </div>
</section>

  <div id="mentor-scroll"></div>


  <!--- Services Block End-->


  <modal #myModel>
    <modal-header>
      <h5>Login in to Intercell<br/>

        <small>to make an session with <strong>{{popFullName}}</strong></small></h5>
    </modal-header>
    <modal-content>


      <div class="lgn-bx login-forms-counsellor">
        <div class="row">
          <div class="col-md-6">
            <div class="counsellor-photo">
              <img  src="{{popUserPic}}">
            </div>
          </div>

          <div class="col-md-6 mt70">
            <div class="form-group form-gro">
              <label class="control-label">User Name</label>
              <br>
              <input type="text" id="username" required/>
              <i class="bar"></i>
            </div>

            <div class="form-group form-gro">
              <label class="control-label">Password </label>
              <br>
              <input type="password" id="password" required="required" required/>
              <i class="bar"></i>
            </div>

            <span *ngIf="incorrectDetails" class="red-clr">  Incorrect Email Id and Password</span>

          </div>
        </div>
      </div>
    </modal-content>
    <modal-footer>

      <button class="btn btn-primary" (click)="doLogin()">Login</button>
    </modal-footer>
  </modal>

</div>
  <!--Page Content End-->
  <app-footer></app-footer>
