<app-header></app-header>
<!--Page Content Start-->
<div class="main-container inner">
	<div class="main-content" id="main">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="tab-content">
					  <h2 class="col-md-12 title no-padding">Need Help?</h2>
						<div class="inner-box need-help">
							<div class="col-xs-12 col-sm-12 col-md-12">
								<p>Please write to us at <a href="mailto:info@intercellworld.com">info@intercellworld.com</a> for any queries or submit your query in the form below.</p>
								  <form [formGroup] = "formContact" class="form">
									<textarea formControlName="message" placeholder="Please enter your query here" class="col-xs-12 col-sm-12 " style="min-height:200px;"> </textarea>
									<button class="btn btn-primary btn-squared counsellor-db-btn nextBtn btn-lg back-btn pull-right submit-btn" (click) = "onDone(formContact.value)">Submit</button>
								  </form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
					
   <!-- start: FOOTER -->
   <footer class="inner">
        <div class="footer-inner">
          <div class="pull-left">
            2017 &copy; Intercell Technologies Pvt. Ltd.
          </div>
          <div class="pull-right">
            <div class="bottom-top-btn">
              <a href="#" class="scrollToTop"><i class="fa fa-arrow-up" aria-hidden="true"></i></a>
            </div>
          </div>
        </div>
      </footer>
    <!-- End: FOOTER -->
	</div>	
</div> 

 
