<app-header></app-header>
<div class="main-wrapper Counsellor_dashboard">
  <!-- start: MAIN CONTAINER -->
  <div class="main-container inner">
    <!-- start: PAGE -->
    <div class="main-content">
      <div class="container">
        <!-- start: PAGE CONTENT -->
        <div class="row">
          <div class="col-sm-12">
            <div class="tabbable user_profile-table_tab" id="main">
              <app-inner-header></app-inner-header>
              <div class="tab-content table-whaite">
                <div id="panel_edit_setting" class="active">

                  <div class="panel-group accordion_setting" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default panel-setting">
                      <div class="panel-heading setting-edit_heading" role="tab">
                        <h4 class="panel-title">
                          <p> E-mail Frequency</p>

                          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne"> <i class="fa fa-plus-circle pull-left"> <span class="text-align: right"> Details</span></i> </a>
                        </h4>
                        <h5 class=" panel-full-right">
                          <!--<input type="checkbox" class="make-switch"  checked>-->
                          <input type="radio" name="email-freq" value="">Weekly <input type="radio" name="email-freq" value="">Monthly
                        </h5>
                      </div>
                      <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel justo vitae turpis tempus euismod. Duis hendrerit eleifend lacus, nec vestibulum risus feugiat eu. In feugiat nunc placerat
                            finibus laoreet. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel justo vitae turpis tempus euismod. Duis hendrerit eleifend lacus, nec vestibulum risus feugiat eu. In
                            feugiat nunc placerat finibus laoreet. </p>
                          <hr>
                        </div>
                      </div>
                    </div>

                    <div class="panel panel-default panel-setting">
                      <div class="panel-heading setting-edit_heading" role="tab">
                        <h4 class="panel-title">
                          <p> SMS Frequency </p>

                          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"> <i class="fa fa-plus-circle pull-left"> <span class="text-align: right"> Details</span></i> </a>
                        </h4>
                        <h5 class=" panel-full-right">
                          <!--<input type="checkbox" class="make-switch"  checked>-->
                          <input type="radio" name="email-freq" value="">Weekly <input type="radio" name="email-freq" value="">Monthly
                        </h5>
                      </div>
                      <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="panel-body">
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel justo vitae turpis tempus euismod. Duis hendrerit eleifend lacus, nec vestibulum risus feugiat eu. In feugiat nunc placerat
                            finibus laoreet. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel justo vitae turpis tempus euismod. Duis hendrerit eleifend lacus, nec vestibulum risus feugiat eu. In
                            feugiat nunc placerat finibus laoreet. </p>
                          <hr>
                        </div>
                      </div>
                    </div>


                    <div class="panel panel-default panel-setting">
                      <div class="panel-heading setting-edit_heading" role="tab">
                        <h4 class="panel-title">
                          <p> Newsletter Frequency </p>

                          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree"> <i class="fa fa-plus-circle pull-left"> <span class="text-align: right"> Details</span></i> </a>
                        </h4>
                        <h5 class=" panel-full-right">
                          <!--<input type="checkbox" class="make-switch" checked>-->
                          <input type="radio" name="email-freq" value="">Weekly <input type="radio" name="email-freq" value="">Monthly
                        </h5>
                      </div>
                      <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                        <div class="panel-body">
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel justo vitae turpis tempus euismod. Duis hendrerit eleifend lacus, nec vestibulum risus feugiat eu. In feugiat nunc placerat
                            finibus laoreet. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel justo vitae turpis tempus euismod. Duis hendrerit eleifend lacus, nec vestibulum risus feugiat eu. In
                            feugiat nunc placerat finibus laoreet. </p>
                          <hr>
                        </div>
                      </div>
                    </div>
                  </div>

                  <br>

                </div>
                <div style="display:none">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="control-label"> Twitter </label>
                      <span class="input-icon">
                      <input class="form-control" placeholder="Text Field" type="text">
                      <i class="fa fa-twitter"></i>
                      <form action="#" method="post" class="demoForm" id="demoForm">
                        <fieldset>
                        <p>
                          <input type="checkbox" name="active" id="active" value="1" />
                          allow intercell to access your account. </p>
                        <div id="active_sub">
                          <div class="form-group col-sm-6">
                            <label class="control-label"> User Name </label>
                            <input class="form-control " placeholder="User Name" type="text">
                          </div>
                          <div class="form-group col-sm-6">
                            <label class="control-label"> Password </label>
                            <input class="form-control " placeholder="Password" type="text">
                          </div>
                          <button class="btn btn-primary" type="submit"> Login </button>
                        </div>
                        </fieldset>
                      </form>
                      </span> </div>
                  </div>
                </div>
                <div id="readNote">
                  <div class="noteWrap col-md-8 col-md-offset-2">
                    <div class="panel panel-note">
                      <div class="e-slider owl-carousel owl-theme">
                        <div class="item"> </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- end: PAGE CONTENT-->
          </div>
        </div>
        <!-- end: PAGE -->
      </div>
      <!-- end: MAIN CONTAINER -->
      <!-- start: FOOTER -->
      <footer class="inner">
        <div class="footer-inner">
          <div class="pull-left"> 2017 &copy; Intercell Technologies Pvt. Ltd. </div>

          <div class="pull-right">
            <div class="bottom-top-btn">
              <a href="#" class="scrollToTop"><i class="fa fa-arrow-up" aria-hidden="true"></i></a>
            </div>
          </div>
        </div>

      </footer>
      <!-- end: FOOTER -->
    </div>
  </div>
</div>
