<app-login-header></app-login-header>
<div class="pos-rel" style="height:70vh">
  <!--Page Content Start-->
  <div class="forgot-bg"></div>
  <div class="container-fluid">
    <div class="forgot-bx blk-center">

      <div class="forgot-blk1">
        <h3 class="text-center">Forgot Password</h3>
        <div class="forgot-bx-cntnt">
          <h5>Enter the Verification Code</h5>
          <div class="form-group box">
            <input type="text" [(ngModel)] ="validKey" class="form-control" placeholder="Verification Code">
            <span *ngIf="keyError" class="red-clr">Invalid OTP. Please check and enter valid OTP</span>
          </div>
          
          <div class="text-center">
            <input type="submit" class="btn btn-blue text-center fgt-blk-btn"  (click) = "onCheck()" value="Submit">
          </div>

        </div>
      </div>

      <div class="forgot-blk2" style="display:none;">
        <h3 class="text-center">Forgot Password</h3>
        <form class="forgot-bx-cntnt"  [formGroup] = "formPassword">
          <h5>Set Your new Password</h5>
          <div class="form-group box">
            <input type="text" [(ngModel)] ="password" class="form-control" formControlName="password" placeholder="New Password" required>
            <input type="password" [(ngModel)] ="cpassword" class="form-control" formControlName="cpassword" placeholder="Confirm Password" required>
            <span *ngIf="formPasswordErrors.password" class="red-clr">{{formPasswordErrors.password}}</span>

          </div>
         <div class="text-center"><input type="submit" (click) = "onReset()" class="btn btn-blue text-center blk2-btn" value="Submit"> </div>
        </form>
      </div>


      <div class="forgot-blk3" style="display:none;">
        <div class="forgot-bx-cntnt">
          <h5>Your Password Has been successfully updated</h5>
          
          <!--div class="text-center">
            <a href="" class="btn btn-blue text-center blk3-btn" >GO TO THE MAIN WEBSITE</a>
          </div-->
        </div>
      </div>

    </div>
  </div>
  <!--Page Content End-->

</div>
<app-footer></app-footer>
