<app-login-header></app-login-header>
<!--Page Content Start-->
<div class="container-fluid p-0">
  <div class="white-bg section-padding">
    <div class="container">
     <h1 class="headline col-xs-12 " ><span>Career Fields</span></h1>
      <div class="row">
        <div class="margin col-md-12"><p>
            Please choose your field from the list below to get started. 
            We are in the process of expanding the list of career fields. 
            If you don’t find your career fields here, we request you to come back at a later stage. 
            You may also choose to let us know which career fields you’re looking for, in a tiny feedback form <a  [routerLink]="['/contact-us']">here</a>. 
            Thank you
            </p>
        </div>
		<div class="stream-box">
			<div *ngFor="let service of serviceDetails;let ind = index" class="col-md-3 col-xs-12 col-sm-6 services-sections">
			  <div class="services-img" (click)="serviceDetail(service.slug_url)">
				<a href="javascript:void(0);" > <img src="{{service.image}}" class="img-responsive"/>
				   <p> {{service.name}} </p> </a>
			  </div>
			</div>
		</div>	
      </div>



 <!--<div   class="row text-center services-row"><br>
          <div  *ngFor="let service of serviceDetails;let ind = index" class="col-md-3 col-xs-12 col-sm-6 services-section">

            <div class="services_cat gmd gmd-2">
              <div class="services-img-hover">
                <a href="#">
                  <img src="assets/images/service{{ind+1}}.jpg" alt="" class="img-circle img-thumbnail servicrs-img"></a></div>
              <div class="cuadro_intro_hover ">
                <a href="javascript:void(0);" (click)="serviceDetail(service.id)" class="intercell_ser">


                  <h3>{{service.name}}</h3>
                  <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                    Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p></a>

                <div class="caption">
                  <div class="blur"></div>
                  <div class="caption-text">
                    <h3 style="border-top:2px solid white; border-bottom:2px solid white; padding:10px;">Tracks</h3>
                    <ul class="service-list">
                      <li *ngFor="let patch of patchDetails[ind+1];let pat = index;"><span *ngIf="pat < 3"><a href="javascript:void(0);" (click)="goTrack(patch.id)">{{patch.name}}</a></span></li>
                    </ul>
                  &lt;!&ndash; <a class="btn btn-default btn-squared services-right-btn" href="javascript:void(0);" (click)="serviceDetail(service.id)"><span class="fa fa-arrow-right"> MORE</span></a>&ndash;&gt;
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>-->

  </div>
</div>

<span *ngIf="!isLogin"><app-footer></app-footer></span>
