.Counsellor_dashboard {}


/*-----------------------profile_section start-------------------*/

.tabbable.user_profile-table_tab .tab-content {
    background: #fff!important;
}

.tab-content {background: #fff!important;padding:10px;}

.tabbable .nav-tabs>li.active a,
.tabbable .nav-tabs>li.active a:hover,
.tabbable .nav-tabs>li.active a:focus {
    border-width: 1px;
    background: #0a82ba!important;
	color: #fff;
}


.card {
    padding-top: 20px;
    margin: 10px 0 20px 0;
   /* background-color: rgba(214, 224, 226, 0.2);*/
    border-top-width: 0;
    border-bottom-width: 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card .card-heading {
    padding: 0 20px;
    margin: 0;
}

.card .card-heading.simple {
    font-size: 20px;
    font-weight: 300;
    color: #777;
    border-bottom: 1px solid #e5e5e5;
}

.card .card-heading.image img {
    display: inline-block;
    width: 46px;
    height: 46px;
    margin-right: 15px;
    vertical-align: top;
    border: 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.card .card-heading.image .card-heading-header {
    display: inline-block;
    vertical-align: top;
}

.card .card-heading.image .card-heading-header h3 {
    margin: 0;
    font-size: 14px;
    line-height: 16px;
    color: #262626;
}

.card .card-heading.image .card-heading-header span {
    font-size: 12px;
    color: #999999;
}

.card .card-body {
    padding: 0 20px;
    margin-top: 20px;
}

.card .card-media {
    padding: 0 20px;
    margin: 0 -14px;
}

.card .card-media img {
    max-width: 100%;
    max-height: 100%;
}

.card .card-actions {
    min-height: 30px;
    padding: 0 20px 20px 20px;
    margin: 20px 0 0 0;
}

.card .card-comments {
    padding: 20px;
    margin: 0;
    background-color: #f8f8f8;
}

.card .card-comments .comments-collapse-toggle {
    padding: 0;
    margin: 0 20px 12px 20px;
}

.card .card-comments .comments-collapse-toggle a,
.card .card-comments .comments-collapse-toggle span {
    padding-right: 5px;
    overflow: hidden;
    font-size: 12px;
    color: #999;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card-comments .media-heading {
    font-size: 13px;
    font-weight: bold;
}

.card.people {
    position: relative;
    display: inline-block;
    width: 170px;
    height: 300px;
    padding-top: 0;
    margin-left: 20px;
    overflow: hidden;
    vertical-align: top;
}

.card.people:first-child {
    margin-left: 0;
}

.card.people .card-top {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 170px;
    height: 150px;
    background-color: #ffffff;
}

.card.people .card-top.green {
    background-color: #53a93f;
}

.card.people .card-top.blue {
    background-color: #427fed;
}

.card.people .card-info {
    position: absolute;
    top: 150px;
    display: inline-block;
    width: 100%;
    height: 101px;
    overflow: hidden;
    background: #ffffff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card.people .card-info .title {
    display: block;
    margin: 8px 14px 0 14px;
    overflow: hidden;
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
    color: #404040;
}

.card.people .card-info .desc {
    display: block;
    margin: 8px 14px 0 14px;
    overflow: hidden;
    font-size: 12px;
    line-height: 16px;
    color: #737373;
    text-overflow: ellipsis;
}

.card.hovercard {
    position: relative;
    padding-top: 0;
    overflow: hidden;
    text-align: center;
    border: 1px solid #ece6e6;
    margin: 10px auto;
    width: 90%;
    box-shadow: 1px 2px 2px #F3F1F1 !important;
    background: #fefefe;
    padding-bottom: 10px;
    margin-bottom: 0px;
}

.card.hovercard .cardheader {
    /*background: url("../images/service_in.jpg");*/
    background-size: cover;
    height: 170px;
    text-align: right;
    padding-top: 8px;
    color: #fff;
    font-size: 15px;
    padding-right: 10px;
}

.card.hovercard .cardheader a {
    color: #fff;
    font-weight: bold;
}

.card.hovercard .avatar {
    position: relative;
    top: -85px;
    margin-bottom: -85px;
}

.card.hovercard .avatar img {
    width: 150px;
    height: 150px;
    max-width: 150px;
    max-height: 150px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 0.5);
    box-shadow: 1px 2px 2px #ccc;
    margin-bottom: 8px;
}

.profile_summary {
    width: 80%;
    margin: 0 auto;
}

.profile_summary p {
    color: rgb(141, 143, 146);
    font-size: 14px;
}

.card.hovercard .avatar h3 {
    margin-top: 0px;
    font-weight: 300;
    color: #727278;
}

.card.hovercard .info {
    padding: 4px 8px 10px;
}

.card.hovercard .info .title {
    margin-bottom: 4px;
    font-size: 24px;
    line-height: 1;
    color: #262626;
    vertical-align: middle;
}

.card.hovercard .info .desc {
    overflow: hidden;
    font-size: 12px;
    line-height: 20px;
    color: #737373;
    text-overflow: ellipsis;
}

.card.hovercard .bottom {
    padding: 0 20px;
    margin-bottom: 17px;
}

.panel_profile_counsellor .counsoller_pr {
    width: 100%;
    margin: 0px;
    padding: 20px;
}

.panel_profile_counsellor .counsoller_pr ul {
    margin: 0px;
    padding: 0px;
}

.panel_profile_counsellor .counsoller_pr ul li {
    float: left;
    list-style: none;
    width: 48%;
}

.panel_profile_counsellor .counsoller_pr ul li:first-child {
    border-right: 1px solid #ccc;
}

.panel_profile_counsellor .counsoller_pr ul li:last-child {
    margin-left: 20px;
}

.panel_profile_counsellor .counsoller_pr ul li p {
    font-size: 16px;
}

.panel_profile_counsellor .exp-panel {
    padding: 0px!important;
}

.panel_profile_counsellor .exp-panel img {
    float: right;
    margin-top: 0px;
}

.panel_profile_counsellor .edu-panel {
    border-top: 2px solid #ccc;
}

.panel-title-edu {
    margin-top: 10px;
    margin-left: 10px;
}

.panel_profile_counsellor .panel-body {
    padding: 0px;
}

.panel_profile_progress .panel-body .exp-panel h1 {
    float: right;
    margin: 0px;
}

.modal-custom_mo .modal-dialog {
    width: 60%!important;
    margin: 30px auto;
    height: 30%;
}

.modal-custom_mo .modal-content {
    border-radius: 0px!important;
    padding: 0 10px;
}

.modal-custom_mo .modal-content .modal-body {
    max-height: 400px;
    overflow: hidden;
    overflow-y: auto;
}

.fileupload .thumbnail>img {
    border-radius: 50%;
}

.fileupload-new.thumbnail {
    width: 100px!important;
    height: 100px!important;
    border-radius: 50%!important;
}

.fileupload {
    text-align: center;
}

.user-edit-image-buttons {
    margin-top: 10px;
    text-align: center;
    display: block!important;
}

.panel-tools-pr {
    position: absolute;
    right: 10px;
    top: 13px!important;
}

.panel_profile_counsellor .Recommendations img {
    float: right;
    margin-top: 0px;
    border-radius: 50%;
}

.panel_profile_progress .panel-body .Recommendations ul li {
    list-style: none;
    text-decoration: none;
    list-style: none;
    text-decoration: none;
    line-height: 20px;
}

.panel_profile_progress .panel-body .Recommendations ul li h3 {
    margin: 0px;
}

.panel_profile_progress .panel-body .Recommendations ul {
    margin: 0px;
    padding: 10px 0px 8px 20px;
    float: left;
}

.panel_profile_progress .panel-body .Recommendations ul li p {
    text-align: left !important;
    margin: 5px 0px;
    font-size: 13px;
    display: inline-block;
    border-bottom: 1px solid #eceaea;
    padding-bottom: 10px;
}

.panel_profile_progress .panel-body .Featured h3 {
    margin: 0px;
    background: #ccd1d4;
    padding: 6px 15px;
    border-radius: 30px;
    color: #fff;
    font-size: 17px;
    text-align: center;
    margin-left: 20px;
    margin-top: 10px;
}


/*-----------------------profile_section end-------------------*/


/*-----
.btn {
    border-radius: 50%;
    width: 32px;
    height: 32px;
    line-height: 18px;
}
--*/

.tabbable.user_profile-table_tab {
    margin-top: 30px;
}

.Counsellor_dashboard .topbar .container .navbar-header .navbar-brand {
    left: 20px!important;
}

.Counsellor_dashboard .topbar {
    margin: 0 !important;
    padding: 0 !important;
    min-height: 50px !important;
    border-bottom: 1px solid #ccc;
    box-shadow: 1px -2px 6px #a29b9b;
	text-align: center;

}

.topbar .nav>li:hover>a,
.topbar .nav>li:active>a,
.topbar .nav>li>a:focus {
    color: darkred !important;
}

.topbar .topbar-tools>ul>li>a {
    color: #7b7575!important;
}

.topbar .container .topbar-tools>ul>li.current-user .dropdown-toggle {
    line-height: 0px!important;
}

.Counsellor_dashboard .topbar .container .topbar-tools>ul>li.current-user .dropdown-toggle {
    padding-right: 20px;
    height: 49px;
}

#pageslide-left {
    width: 260px;
    z-index: 1021;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 50px!important;
    min-height: 100%;
    box-shadow: 1px 1px 6px #888888!important;
}

.Counsellor_dashboard .panel {
    background-color: #FFFFFF;
    -webkit-box-shadow: 0 1px 2px #C3C3C3;
    -moz-box-shadow: 0 1px 2px #C3C3C3;
    box-shadow: 0px 1px 6px #C3C3C3;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    color: #8B91A0;
    border: none;
    position: relative;
}

.Counsellor_dashboard .toolbar {
    border-bottom: none;
    height: 16px;
    position: relative;
    max-height: 80px;
    z-index: 10;
}



.fc-event-container a {
    text-align: center;
}

.preferred-time-solt {
    height: 400px;
    overflow-y: scroll;
}

.counsoller_dashboard_table .table>tbody>tr:hover {
    vertical-align: middle;
    transition: .2s ease;
    content: 'Select all'
}

.counsoller_dashboard_table .table>thead>tr>th>input[type=checkbox] {
    margin: 0px 3px 0px;
}

.cs_dasboard_td {
    margin-left: 10px !important;
}

.counsoller_dashboard_table .table>tbody>tr :hover {
    transition: .2s ease all;
    -moz-transition: .2s ease all;
    -webkit-transition: .2s ease all;
    -o-transition: .2s ease all;
    -ms-transition: .2s ease all;
}

.counsoller_dashboard_table .table>tbody>tr>td {
    border: 1px solid #ccc;
    text-align: right;
}

.counsoller_dashboard_table .table>tbody>tr>td.active {
    background: #2FAC4F;
	position:inherit;
	border:1px soild #fff;
}

.panel.panel-orange {
    background: #bbd124;
}

#panel_profile .panel {
    border: 1px solid #ece6e6;
    margin: 20px auto;
    width: 90%;
    box-shadow: 1px 2px 2px #F3F1F1 !important;
    background: #fef7f7;
}

.panel_profile_img h4 {
    text-align: center!important;
}

.panel_profile_img h3 {
    text-align: center!important;
    margin: 5px 0px;
    font-size: 15px;
}

.panel_profile_img img {
    border-radius: 50%;
    margin: 0 auto;
}

.panel_profile_img .panel-body p {
    text-align: center!important;
    margin: 5px 0px;
    font-size: 15px;
}

.panel_profile_progress .progress-bar {
    margin: 10px;
    margin-left: 0px;
}

.panel_profile_progress .panel-body p {
    text-align: left !important;
    margin: 5px 0px;
    font-size: 13px;
    display: inline-block;
}

.inter_panel-title {
    padding: 0px 3.5%;
}

.panel-title-2 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit;
    display: inline-block;
    margin-right: 20px;
}

.text-profile {
    color: #fff;
    background: #7b7575;
    border-radius: 50%;
    font-weight: bold;
    margin-left: 10px;
}

.counsoller_dashboard_table .table>tbody>tr>td>i {
    margin: 3px 1px 5px 5px;
    display: block;
    float: right;
}

.counsoller_dashboard_table .table>tbody>tr>td:first-child:hover {
    background: none;
}

.counsoller_dashboard_table .table {
    width: 95%;
    margin: 0 auto;
}

.panel_profile_progress .panel-body .exp-panel ul {
    margin: 0px;
    padding: 0px 0px 8px 10px;
    float: left;
    /*border-bottom: 1px solid #e4dede;*/
    width: 100%;
}

.panel_profile_progress .panel-body .exp-panel ul li {
    list-style: none;
    text-decoration: none;
    list-style: none;
    text-decoration: none;
    line-height: 20px;
}

.panel_profile_progress .panel-body .exp-panel ul li {
    list-style: none;
    text-decoration: none;
    list-style: none;
    text-decoration: none;
    line-height: 20px;
}

.panel_profile_progress .panel-body .exp-panel ul li h3 {
    font-size: 22px;
    color: #727278;
    margin: 3px 0px;
}

.panel_profile_progress .panel-body .exp-panel ul li span {
    text-align: right;
    font-weight: 600;
}

#profile-edit {
    display: none;
    margin-left: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
}

.edit_account_top ul {
    margin: 0px;
    padding: 0px 0px 0px 10px;
    float: left;
    width: 100%;
}

.edit_account_top ul+ul {
    margin: 0px 0px 0px 10px;
    padding: 0px 0px 0px 10px;
    float: left;
    width: 100%;
}

.edit_account_top ul li {
    list-style: none;
    text-decoration: none;
    list-style: none;
    text-decoration: none;
    line-height: 32px;
}

.edit_account_top ul li span {
    text-align: right;
    font-weight: 600;
}

.counsoller_dashboard_table .table>tbody>tr>td .checkbox-hover {
    text-align: center;
}

.counsoller_dashboard_table .table>tbody>tr>td .checkbox-hover>a>i {
    color: #fff;
    text-align: center
}

.counsoller_dashboard_table .table>tbody>tr>td .checkbox-table {
    display: none;
}

.counsoller_dashboard_table .table>tbody>tr>td.active .checkbox-hover>a>i {
    color: #fff;
    text-align: center
}

#active_sub {
    display: none;
    border: 1px solid #e4e2e2;
    padding: 10px 0px 10px 15px;
    box-shadow: 1px 1px 1px #ccc;
}

.input-icon p {
    margin-top: 5px;
}

.input-icon input[type=checkbox] {
    margin-right: 3px;
    margin-top: 3px;
}

#active_sub .col-sm-6 {
    margin-left: 0px;
    padding-left: 0px;
}

.Account-tab .panel-tabs .panel-heading {
    background: #f6f7f7!important;
}

.Account-tab .tabbable {
    background-color: #E6E8E8;
}

.Account-tab>.panel {
    border: 1px solid #ece6e6;
    margin: 20px auto;
    width: 100%!important;
    box-shadow: 1px 2px 2px #F3F1F1 !important;
    background: #fef7f7;
}

.Account-tab .tab-content {
    background-color: #fef7f7;
    position: relative;
}

#myModal_mo .modal-body .modal_account_tab {
    width: 90%;
    margin: 0 auto;
}

.setting_tab_list {
    padding: 20px 0px 50px 0px;
}

.setting_tab_list ul {}

.setting_tab_list ul li {
    float: left;
    list-style: none;
    width: 100%;
    border-bottom: 1px solid #f2eaea;
}

.setting_tab_list ul li .setting_tab_list-left {
    float: left;
    width: 100%;
}

.setting_tab_list ul li .setting_tab_list-left p {}

.setting_tab_list ul li .setting_tab_list-left h2 {
    margin-top: 5px;
    font-size: 23px;
}

.setting_tab_list ul li .setting_tab_list-right {
    float: right;
    width: 100%;
    text-align: right;
    padding-top: 20px;
}

.setting_tab_list ul li .setting_tab_list-right h3 {
    font-size: 14px;
    margin-top: 10px;
}

#setting-edit {
    display: none;
}

#setting-edit .setting-edit_heading {}

#setting-edit .setting-edit_heading a {
    font-size: 20px;
}

#setting-edit .setting-edit_heading i {
    font-size: 18px;
    margin-top: 17px;
}

#setting-edit .setting-edit_heading p {
    font-size: 15px;
    margin-top: 10px;
}

#setting-edit .panel-default>.panel-heading {
    background: #fff;
}

#setting-edit .panel-setting {
    border: 1px solid #ccc;
    box-shadow: none;
}

#setting-edit .panel-default>.panel-heading+.panel-collapse>.panel-body {
    border-top-color: #ddd;
    background: #fefcfc;
}

.btn-message {
    margin: 10px 0px;
}

.list_grid_appoint ul {
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.list_grid_appoint ul li {
    float: left;
    width: 100%;
    border-bottom: 1px solid #e8dfdf;
    padding: 10px 0px;
}

.list_grid_appoint ul li .left {
    float: left;
  
}

.list_grid_appoint ul li .left h3 {
    font-size: 24px;
    margin-top: 0px;
}

.list_grid_appoint ul li .left span.meta {
    font-size: 15px;
    margin-left: 10px;
    font-weight: 600;
}

.list_grid_appoint ul li .left p {}

.list_grid_appoint ul li .right {
    float: right;

    text-align: right;

}

.list_grid_appoint .thumbnails {
    float: left;
    padding: 20px;
    border: 1px solid #ccc;
    width: 100%;
}

.list_grid_appoint ul.thumbnails li {
    float: left;
    list-style: none;
    width: 30%;
    margin: 0px 19px;
}

.list_grid_appoint ul.thumbnails li .caption h3 {
    font-size: 16px;
}

.list_grid_appoint ul.thumbnails li .caption span {
    font-size: 14px;
}

.list_grid_appoint ul.thumbnails li:nth-child(3) {
    margin-right: 0px;
    float: right;
}

.list_grid_appoint ul.thumbnails li:nth-child(6) {
    margin-right: 0px;
    float: right;
}

.modal_otp_tab {
    display: none;
}

.tab_view_btn {
    display: none;
}

.tab_view_btn .appoint_view {
    width: 80%;
    margin: 0 auto;
}

.tab_view_btn .appoint_view img {
    float: right;
    margin: 20px 10px 10px;
}

.tab_view_btn .appoint_view .appoint_view_fields {
    margin: 10px;
}

.tab_view_btn .appoint_view .appoint_view_fields .appoint_view_action {
    margin: 10px auto;
}

.tab_view_btn .appoint_view .appoint_view_fields .appoint_view_action p {}


/*=== pravesh=========*/

.weekly-time-slot td {
    padding: 2px !important;
    position: relative;
	
}

.weekly-time-slot tbody tr:nth-child(even) td {
    border-top: 1px dotted #ddd !important;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.weekly-time-slot tbody tr:nth-child(odd) td {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.weekly-time-slot .cs_dasboard_td {
    opacity: 0;
    width: 100%;
    position: absolute;
    left: 0;
    width: 100%;
    height: 18px;
    cursor: pointer;
    top: 0;
}

.weekly-time-slot .fa.fa-arrow-right {
    display: none;
}


/*.weekly-time-slot thead, .weekly-time-slot tbody{display: block;}*/

.weekly-time-slot tbody.preferred-time-solt {
    height: 400px;
    overflow-y: scroll;
}

.set-availability-chkbx {
    background-color: #EFEFEF;
    overflow: auto;
    /*text-align:center;  background: linear-gradient(to left, #EFEFEF 50%, #0e8b2e 50%);  background-size: 200% 100%;  background-position:right bottom;  transition:all 0.5s ease;*/
}

.set-availability-chkbx:hover {
    background-color: #0581BD;
    overflow: auto;
    /*background-position:left bottom;*/
}


/* .set-availability-chkbx { background-color:#EFEFEF; overflow:auto; text-align:center;  background: linear-gradient(to top, #EFEFEF 50%, #0e8b2e 50%);  background-size: 200% 200%;    transition:all 0.5s ease;}
.set-availability-chkbx:hover { background-color:#0e8b2e; overflow:auto;  background-position:bottom right;}*/

.set-availability-chkbx:hover label {
    color: #fff;
    transition: all 2s ease;
}

.set-availability-chkbx label {
    float: left;
    width: 100%;
    margin-bottom: 0;
}

.set-availability-chkbx label span {
    text-align: center;
    padding: 3px 0px;
    display: block;
}

.set-availability-chkbx label input {
    position: absolute;
    top: -20px;
}

.set-availability-chkbx input:checked+span {
    background-color: #0e8b2e;
    color: #fff;
}

.btn-file>input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    transform: translate(-300px, 0) scale(4);
    font-size: 23px;
    direction: ltr;
    cursor: pointer;
}


/*------- profile thumbnails (profile page)--------------*/

input[type="file"] {
    display: block;
}

.fileupload {
    margin-bottom: 9px;
}

.fileupload-new.thumbnail {
    width: 200px;
    height: 150px;
}

.fileupload .thumbnail {
    overflow: hidden;
    display: inline-block;
    margin-bottom: 5px;
    vertical-align: middle;
    text-align: center;
}

.fileupload .thumbnail>img {
    display: inline-block;
    vertical-align: middle;
    max-height: 100%;
}

.thumbnail a>img,
.thumbnail>img {
    margin-right: auto;
    margin-left: auto;
}

.dropbtn_mo {
    background-color: none;
    color: #181d27;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn_mo:hover,
.dropbtn_mo:focus {
    background-color: none;
}

.main-navigation .ul.main-navigation-menu>li.dropdown-nav .dropdown {
    position: relative;
    display: inline-block;
    width: 100%!important;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: none;
    min-width: 100%;
    overflow: auto;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: none;
}

.show_mo {
    display: block;
}


/*------------------------student dashboard css ---------------------------------*/

#panel_profile .panel {
    border: 1px solid #ece6e6;
    margin: 20px auto;
    width: 90%;
    box-shadow: 1px 2px 2px #F3F1F1 !important;
    background: #fefefe;
    padding-bottom: 20px;
}

.student-dashboard_container {
    margin-top: 51px !important;
}

.student_edu_fields {
    width: 100%;
}

.student_edu_fields ul {
    margin: 0px;
    padding: 0px;
}

.student_edu_fields ul li {
    list-style: none;
    float: left;
    margin-left: 10px;
    width: 18%;
}

.appointment_table {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 20px;
}

.appointment_table .table thead tr th {
    color: #707070;
    font-weight: normal;
    color: #fff;
}

.appointment_table .table thead tr th.col_1 {
    background: #2e99f1;
}

.appointment_table .table thead tr th.col_2 {
    background: #f1572e;
}

.appointment_table .table thead tr th.col_3 {
    background: #2e99f1;
}

.appointment_table .table thead tr th.col_4 {
    background: #7e35ab;
}

.appointment_table .table thead tr th.col_5 {
    background: #e05e3c;
}

.appointment_table .table thead tr th.col_6 {
    background: #0d728f;
}

.appointment_table .table thead tr th.col_7 {
    background: #f1572e;
}

.appointment_table .table thead tr th span {
    display: block;
}

.appointment_table .right_icon i {
    font-size: 30px;
    top: 30px;
    position: absolute;
    right: 3%;
    cursor: pointer;
}

.appointment_table .left_icon i {
    font-size: 30px;
    top: 30px;
    position: absolute;
    left: 3%;
    cursor: pointer;
}

.appointment_table .table tbody>tr>td {
    color: #000;
    background: #f5f1f1;
}

.appointment_table .table tbody>tr>td:hover {
    background: #ecebeb;
}

.appointment_table .table tbody>tr>td.disabled-time {
    background: #fff;
}

.appointment_table .table tbody>tr>td:hover.disabled-time {
    background: #fff;
}

.appointment_table .table tbody>tr>td.selected-time {
    background: #f5f1f1;
}

.appointment_table .table tbody>tr>td:hover.selected-time {
    background: #ecebeb;
}

.main_content-counsellor {
    margin-top: 30px;
}

.row.appoint_view_action h4 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}

.topbar .container .navbar-header h4 {
    font-size: 18px;
    margin: 0px;
    color: #393939;
}

.topbar .container .navbar-header {
    margin: 5px auto 0;
    float: none;
    width: 200px;
}

.topbar .container .topbar-tools>ul>li {
    float: left;
}

.post-content-mo {
    padding: 70px 50px 50px 50px!important;
}


/*--make appointment-css-pintu--*/

.expectation-section {
    margin: 10px 0px;
}

.expectation-section button {
    margin: 10px 0px;
    float: right;
}

.multiple-select-section dropdown {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.multiple-select-section a {
    color: #333;
}

.multiple-select-section .dropdown dd,
.multiple-select-section .dropdown dt {
    margin: 0px;
    padding: 0px;
}

.multiple-select-section .dropdown ul {
    margin: -1px 0 0 0;
    z-index: 999999;
}

.multiple-select-section .dropdown dd {
    position: relative;
}

.multiple-select-section .dropdown a,
.multiple-select-section .dropdown a:visited {
    color: #333;
    text-decoration: none;
    outline: none;
    font-size: 12px;
}

.multiple-select-section .dropdown dt a {
    background-color: #fff;
    display: block;
    padding: 8px 20px 5px 10px;
    min-height: 25px;
    line-height: 24px;
    overflow: hidden;
    border: 0;
    width: 272px;
    border: 1px solid #ddd !important;
}

.multiple-select-section .dropdown dt a span,
.multiple-select-section .multiSel span {
    cursor: pointer;
    display: inline-block;
    padding: 0 3px 2px 0;
}

.multiple-select-section .dropdown dd ul {
    background-color: #fff;
    border: 0;
    color: #333;
    display: none;
    left: 0px;
    padding: 2px 15px 2px 5px;
    position: absolute;
    top: 2px;
    width: 272px;
    list-style: none;
    height: 100px;
    overflow: auto;
    border: 1px solid #ddd;
}

.multiple-select-section .dropdown span.value {
    display: none;
}

.multiple-select-section .dropdown dd ul li a {
    padding: 5px;
    display: block;
}

.multiple-select-section .dropdown dd ul li a:hover {
    background-color: #fff;
}

.multiple-select-section .mutliSelect input {
    margin: 4px 8px 0 !important;
}
.accordion_setting .panel-default>.panel-heading{ background:#fff !important;}
.preferred-time-solt tr {
    height: 20px !important;
}
.panel.panel-default.panel-setting p{ color:#333 !important;}
.counsoller_dashboard_table .table>tbody>tr>td.active:hover, .weekly-time-slot td:hover{background:#0e8b2e; /*box-shadow: inset 0px 0px 19px #212121;*/}
