.btn-green{border:1px solid #34740e; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:12px; padding: 10px 10px 10px 10px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;background-color: #4ba614; background-image: -webkit-gradient(linear, left top, left bottom, from(#4ba614), to(#008c00));background-image: -webkit-linear-gradient(top, #4ba614, #008c00);background-image: -moz-linear-gradient(top, #4ba614, #008c00);background-image: -ms-linear-gradient(top, #4ba614, #008c00);background-image: -o-linear-gradient(top, #4ba614, #008c00);background-image: linear-gradient(to bottom, #4ba614, #008c00);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#4ba614, endColorstr=#008c00);}
.btn-green:hover{border:1px solid #224b09;background-color: #36780f; background-image: -webkit-gradient(linear, left top, left bottom, from(#36780f), to(#005900));background-image: -webkit-linear-gradient(top, #36780f, #005900);background-image: -moz-linear-gradient(top, #36780f, #005900);background-image: -ms-linear-gradient(top, #36780f, #005900);background-image: -o-linear-gradient(top, #36780f, #005900);background-image: linear-gradient(to bottom, #36780f, #005900);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#36780f, endColorstr=#005900);}
.btn-red{background: #E7413A; color: #fff;padding:6px 15px;border-radius:1px !important;}
.btn-blue{background: #017FB8; color: #fff; padding:8px 18px;border-radius:1px !important;}
.blck-bg{background: #000;}
.block{display:block;}
.w-100{width:100%;}
.blk-center{position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); -moz-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); -o-transform: translate(-50%, -50%);}
.blk-center2{max-width:1170px; text-align:left; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); -moz-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); -o-transform: translate(-50%, -50%);}
/*==Padding==*/
.p-0{padding:0;}
.pad-10{padding: 10px;}
.pd-lt-0{padding-left:0;}
.pd-lt10{padding-left: 10px;}
.pd-tp10{padding-top: 10px;}
.pl-35{padding-left: 35px;}

.pos-rel{position: relative;}
.pos-ab{position: absolute;}
.white-clr{color:#fff;}
.bb{border-bottom:1px solid; }
.bb2{border-bottom:2px solid;}
.bdr-clr-blk{border-color: #000;}
.red-clr{color: #E72909;position: absolute;z-index: 1;width:100%;right:0;bottom:-18px;font-size:11px;}
.main-header .red-clr{bottom:-19px;}



.blue-clr{color:#549bc1;}

.mtp-10{margin-top: 10px;}
.mtp-20{margin-top: 20px;}
.mrgn0{margin:0 !important;}
.bx-rtbtshad{box-shadow: 2px 4px 8px 0px #bbb;}
.bdr-bx{border:1px solid #dcdcdc; background: #E7413A; color: #fff;}

.br-0{border-radius:0;}
.top-fxd-div{padding-top: 51px;}
.clear{clear:both;}
/*===Rating star====*/

/****** Style Star Rating Widget *****/
.rating { border: none; float: left;}
.rating > input { display: none; }
.rating > label:before { margin: 5px; font-size: 1.25em; font-family: FontAwesome; display: inline-block; content: "\f005";}
.rating > .half:before { content: "\f089";  position: absolute;}
.rating > label { color: #ddd; float: right;}

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  }
.rt-blk img{height: 18px !important;}

/*== Make Appointment Page==*/

/*==Make Appointment Wizard start== */
.wizard { margin: 20px auto; background: #fff;}
.wizard .nav-tabs { position: relative; margin: 40px auto;  margin-bottom: 0; border-bottom-color: #e0e0e0; }
.wizard > div.wizard-inner { position: relative;}
.connecting-line { height: 2px; background: #e0e0e0; position: absolute; width: 80%;  margin: 0 auto; left: 0; right: 0; top: 50%; z-index: 1;}
.wizard .nav-tabs > li.active > a, .wizard .nav-tabs > li.active > a:hover, .wizard .nav-tabs > li.active > a:focus {color: #555555; cursor: default; border: 0; border-bottom-color: transparent;}
span.round-tab { width: 70px; height: 70px; line-height: 70px; display: inline-block; border-radius: 100px; background: #fff; border: 2px solid #e0e0e0; z-index: 2; position: absolute; left: 0; text-align: center; font-size: 25px;}
span.round-tab i{ color:#555555;}
.wizard li.active span.round-tab { background: #fff; border: 2px solid #5bc0de;}
.wizard li.active span.round-tab i{color: #5bc0de;}

span.round-tab:hover {color: #333; border: 2px solid #333;}
.wizard .nav-tabs > li { width: 20%;}
.wizard li:after { content: " "; position: absolute; left: 46%; opacity: 0; margin: 0 auto; bottom: 0px; border: 5px solid transparent; border-bottom-color: #5bc0de; transition: 0.1s ease-in-out;}

.wizard li.active:after { content: " "; position: absolute; left: 46%; opacity: 1; margin: 0 auto; bottom: 0px; border: 10px solid transparent; border-bottom-color: #5bc0de;}

.wizard .nav-tabs > li a { width: 70px; height: 70px; margin: 20px auto; border-radius: 100%; padding: 0;}.wizard .nav-tabs > li a:hover {background: transparent; }

.wizard .tab-pane { position: relative; padding-top: 50px;}

.wizard h3 { margin-top: 0;}

@media( max-width : 585px ) {.wizard {width: 90%; height: auto !important; }span.round-tab {font-size: 16px; width: 50px; height: 50px; line-height: 50px; }.wizard .nav-tabs > li a {width: 50px;  height: 50px; line-height: 50px; }.wizard li.active:after {content: " "; position: absolute; left: 35%; }
}
.mo_stepwizard_counsoller ul li { display:inline-block; list-style: none; text-align: center; padding: 0px 5px; margin-top: 10px; max-width: 25%; margin: 10px 20px;}


.mo_stepwizard_counsoller ul li img { width: 90%; margin: 0 auto;}
.mo_stepwizard_counsoller ul li h4 { font-size: 14px; font-weight: 600;}
.mo_stepwizard_counsoller ul li p { font-size: 13px;}
.mo_stepwizard_counsoller ul li a { font-size: 12px; padding: 5px 10px;}
.mo_stepwizard_counsoller ul li a:hover { color: #fff;}
.mo_stepwizard_counsoller input[type="checkbox"] { margin: 0px 5px 0px;}


/*== Video Session Page==*/
.video-bx-bg{background:#212121; }

.video-bx{background: #212121 url("../images/user-live-session.jpg") no-repeat; background-size: cover; height: 100vh; width: 100%; padding: 0 15px 0 15px;}
.video-icon-list{position: absolute; right:0; width: 300px;  height: 150px; z-index: 3; }
.video-icon-list ul{position: absolute; right:15px;}
.video-icon-list li{padding-top: 5px;}
.video-icon-list i{font-size: 22px; color: #fff; background: #0E2231; border-radius:5px; padding: 8px; width: 40px; height: 40px; text-align: center; cursor: pointer;}
.video-icon-list a{color: #fff; font-size: 16px; font-weight: bold; opacity: 0; padding: 5px 15px; background: #0E2231; text-align: center; height: 40px; border-radius: 5px; margin-right: 5px; position: relative; }
.video-icon-list li:hover a{opacity: 1;}

.video-icon-list a::after { border-color: transparent transparent transparent #0E2231;  border-style: solid;  border-width: 5px;content: ""; left: 100%; position: absolute; top: 10px;}
.chat-msg.chat-lt span{box-shadow: 0 0 2px 0px #E7413A; float: left; clear: both; padding: 3px; margin-bottom: 8px; border-radius:3px;}
.chat-msg.chat-rt span{box-shadow: 0 0 2px 0px #017FB8; float: right; clear: both; padding: 3px; margin-bottom: 8px; border-radius:3px;}
.chat-btn{background: #F03F36;}
.chat-btn a{color: #fff;}

.navbar-default{background: transparent; margin-bottom: 0; text-align:center;}
.join-frm{left: -307px; min-width: 396px; width: 100%;}

.create-text { color: #333;}
.footer-col-inner h3 { color: #fff;}
.checkbox, .radio{ margin:0px;}

/*===Counsellor profile update===*/
.select-bx .btn{border-radius: 0; border-color:#e6e8e8; }
.counsellor-updt-profile .panel{padding-top:30px;}
.counsellor-updt-profile .panel-heading{background:#ccc; color: #fff;}
.counsellor-updt-profile .panel-body{border: 1px solid #ccc; margin-bottom: 40px;}


/*== Home page==*/
.hmpg-banner{position: relative;}
.hmpg-banner-bg{background: url('../images/banner2.jpg') no-repeat left top; background-size: cover; width:100%; height:100vh; filter:blur(3px);}
.hmpg-banner-cntnt{position: absolute;}

/*-- carousel--*/
#hmpg-carousel h2{font-size:48px;}
#hmpg-carousel p{font-size: 28px;}
#hmpg-carousel .carousel-caption{width:100%;padding: 20px;}

#hmpg-carousel.carousel-fade .carousel-inner .item {-webkit-transition-property: opacity; transition-property: opacity;}
#hmpg-carousel.carousel-fade .carousel-inner .item, #hmpg-carousel.carousel-fade .carousel-inner .active.left, #hmpg-carousel.carousel-fade .carousel-inner .active.right {opacity: 0;}
#hmpg-carousel.carousel-fade .carousel-inner .active, #hmpg-carousel.carousel-fade .carousel-inner .next.left, #hmpg-carousel.carousel-fade .carousel-inner .prev.right {opacity: 1;}
#hmpg-carousel.carousel-fade .carousel-inner .next, #hmpg-carousel.carousel-fade .carousel-inner .prev, #hmpg-carousel.carousel-fade .carousel-inner .active.left,
#hmpg-carousel.carousel-fade .carousel-inner .active.right { left: 0; -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0);}
#hmpg-carousel.carousel-fade .carousel-control { z-index: 2;}


/*--Header--*/
header .navbar-inverse{background: transparent;}
header .navbar-brand{padding:6px 15px;}
header .navbar{border:0;}
header .dropdown-menu{background: rgba(255,255,255,1);background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,0.96) 47%, rgba(237,237,237,0.90) 100%);background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,0.96)), color-stop(100%, rgba(237,237,237,0.90)));background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,0.96) 47%, rgba(237,237,237,0.90) 100%);background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,0.96) 47%, rgba(237,237,237,0.90) 100%);background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,0.96) 47%, rgba(237,237,237,0.90) 100%);background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,0.96) 47%, rgba(237,237,237,0.90) 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );}

   
header.navbar-inverse .navbar-nav > li > a{color:#fff; font-weight: 600; font-size: 16px; padding:20px 18px;}    
.nav.navbar-nav.intercell-menu li a {    padding: 20px 14px;}
header.navbar-inverse .navbar-nav > li:hover > a, header.navbar-inverse .navbar-nav > li:active > a, .topbar .nav li.dropdown.open > .dropdown-toggle, .topbar .nav li.dropdown.active > .dropdown-toggle, .topbar .nav li.dropdown.open.active > .dropdown-toggle{color:#F13D34;}
.signin-drpdwn{min-width: 400px; left:-205px;}
.signin-drpdwn h3{padding-bottom: 20px; color: #333;}
.register-frm{min-width:650px; width:100%; left:-500px;}

.dropdown-menu.register-frm.mat-frm form h3{ color:#212121;}
.reg-fee h3{ color:#212121;}
.login-with a i{ color: #396c79; border: 1px solid #396c79; border-radius: 50px;color: #396c79; font-size: 18px; height: 40px; padding: 10px; width: 40px;}
.form-forgot_text{ text-align:center; margin:10px 0;}
.lgn-bx h4{ color:#333;}
.form-forgot_text span{ color:#333;}
.lgn-bx .form-group .control-label {pointer-events: none; z-index: 1; color: #212121;  -webkit-transition: all 0.28s ease; transition: all 0.28s ease;}
#counsellor, #student { top: 8px;}
.radio.col-xs-6.radio-btn > span { margin-top: -10px; position: absolute; color:#333;}
.radio.col-xs-4 > span { margin-top: -10px; position: absolute; color:#333;}
.dropdown-menu.register-frm.mat-frm { padding-bottom: 18px;}
.dropdown-menu.register-frm.mat-frm label{ color:#333;}
.login-with .fb i:hover{ background:#3B5998; color:#fff; border:1px solid #3B5998; transition:all 2s; -webkit-transition:all 2s; -moz-transition:all 2s; -ms-transition:all 2s; -o-transition:all 2s;}
.login-with .tw i:hover{ background:#0084b4; color:#fff; border:1px solid #0084b4; transition:all 2s; -webkit-transition:all 2s; -moz-transition:all 2s; -ms-transition:all 2s; -o-transition:all 2s;}
.login-with .lin i:hover{ background:#0077B5; color:#fff; border:1px solid #0077B5; transition:all 2s; -webkit-transition:all 2s; -moz-transition:all 2s; -ms-transition:all 2s; -o-transition:all 2s;}
.login-with .goo i:hover{ background:#d34836; color:#fff; border:1px solid #d34836; transition:all 2s;  -webkit-transition:all 2s; -moz-transition:all 2s; -ms-transition:all 2s; -o-transition:all 2s;}

.pad-10 h4, .pad-10 h3{ color:#333;}
.btn_login{ margin-top:15px;}
.dropdown-menu.register-frm.mat-frm h4{ color:#212121;}
.mat-frm .form-group select:focus{ background:none !important;}
.form-control.select-options { border-bottom: 1px solid #999 !important;}
.reg-fee h5 {color: #333;}
.icheckbox_minimal-aero{ border: 1px solid #999 !important;}


.mat-frm .form-group textarea { resize: none;}
.mat-frm .form-group select { width: 100%;  background: none; border: none; box-shadow: none;}
.mat-frm .form-group .control-label { position: absolute; top: 0.25rem; pointer-events: none; z-index: 1; color: #212121; -webkit-transition: all 0.28s ease; transition: all 0.28s ease;}
.mat-frm .form-group .bar { position: relative; border-bottom: 1px solid #999; display: block;}
.mat-frm .form-group .bar::before { content: ''; height: 0.125rem; width: 0; left: 50%; bottom: -0.0625rem; position: absolute;  background: #337ab7;-webkit-transition: left 0.28s ease, width 0.28s ease; transition: left 0.28s ease, width 0.28s ease; z-index: 2;}
.mat-frm .form-group input[type='text'], .mat-frm .form-group input[type='password'],.mat-frm .form-group textarea{width:100%;}
.mat-frm .form-group input, .mat-frm .form-group textarea { display: block; background: none !important;  border-width: 0; border-color: transparent; color: transparent; -webkit-transition: all 0.28s ease;transition: all 0.28s ease;  box-shadow: none; position: relative; top:5px; left:-3px;}
.mat-frm .form-group input[type="file"] { line-height: 1;}
.mat-frm .form-group input[type="file"] ~ .bar { display: none;}
.mat-frm .form-group select,
.mat-frm .form-group input:focus,
.mat-frm .form-group input:valid,
.mat-frm .form-group input.form-file,
.mat-frm .form-group input.has-value,
.mat-frm .form-group textarea:focus,
.mat-frm .form-group textarea:valid,
.mat-frm .form-group textarea.form-file,
.mat-frm .form-group textarea.has-value { color: #333; /*-moz-appearance: none;*/}
.mat-frm .form-group select ~ .control-label,
.mat-frm .form-group input:focus ~ .control-label,
.mat-frm .form-group input:valid ~ .control-label,
.mat-frm .form-group input.form-file ~ .control-label,
.mat-frm .form-group input.has-value ~ .control-label,
.mat-frm .form-group textarea:focus ~ .control-label,
.mat-frm .form-group textarea:valid ~ .control-label,
.mat-frm .form-group textarea.form-file ~ .control-label,
.mat-frm .form-group textarea.has-value ~ .control-label { top: -12px; left: 0;}

.mat-frm .form-group select:focus, .form-group input:focus, .form-group textarea:focus { outline: none;}
.mat-frm .form-group select:focus ~ .control-label, .form-group input:focus ~ .control-label, .form-group textarea:focus ~ .control-label {color: #337ab7;
}
.mat-frm .form-group select:focus ~ .bar::before, .mat-frm .form-group input:focus ~ .bar::before, .mat-frm .form-group textarea:focus ~ .bar::before {width: 100%;  left: 0;}

.mat-frm .checkbox label, .mat-frm .form-radio label { position: relative; cursor: pointer; text-align: left; color: #333; display: block;}
.mat-frm .checkbox input, .mat-frm .form-radio input { width: auto;  opacity: 0.00000001; position: absolute; left: 0;}
.mat-frm .radio { margin-bottom: 1rem;}
.mat-frm .radio .helper { position: absolute; top: -0.25rem; left: -0.25rem; cursor: pointer; display: block; font-size: 1rem; -webkit-user-select: none;-moz-user-select: none; -ms-user-select: none; user-select: none; color: #999;}
.mat-frm .radio .helper::before, .radio .helper::after { content: ''; position: absolute; left: 0; top: 0; margin: 2px; width: 15px;height: 15px; -webkit-transition: -webkit-transform 0.28s ease; transition: -webkit-transform 0.28s ease; transition: transform 0.28s ease;transition: transform 0.28s ease, -webkit-transform 0.28s ease; border-radius: 50%; border: 0.125rem solid currentColor;}
.mat-frm .radio .helper::after {-webkit-transform: scale(0); transform: scale(0); background-color: #337ab7; border-color: #337ab7;}
.mat-frm .radio label:hover .helper {color: #337ab7;}
.mat-frm .radio input:checked ~ .helper::after {-webkit-transform: scale(0.5); transform: scale(0.5);}
.mat-frm .radio input:checked ~ .helper::before {color: #337ab7;}

.mat-frm .checkbox { margin-top: 3rem; margin-bottom: 1rem;}
.mat-frm .checkbox .helper {color: #999; position: absolute; top: 0; left: 0; width: 15px; height: 15px; z-index: 0; border: 1px solid currentColor;border-radius: 0.0625rem; -webkit-transition: border-color 0.28s ease; transition: border-color 0.28s ease;}
.mat-frm .checkbox .helper::before, .mat-frm .checkbox .helper::after {position: absolute; height: 0; width: 3px; background-color: #337ab7; display: block;-webkit-transform-origin: left top; transform-origin: left top; border-radius: 0.25rem; content: '';  -webkit-transition: opacity 0.28s ease, height 0s linear 0.28s;transition: opacity 0.28s ease, height 0s linear 0.28s; opacity: 0;}
.mat-frm .checkbox .helper::before {top: 12px; left: 7px; -webkit-transform: rotate(-135deg); transform: rotate(-135deg);box-shadow: 0 0 0 0.0625rem #fff;}
.mat-frm .checkbox .helper::after {top: 5px; left: 0; -webkit-transform: rotate(-45deg); transform: rotate(-45deg);}
.mat-frm .checkbox label:hover .helper {color: #337ab7;}
.mat-frm .checkbox input:checked ~ .helper {color: #337ab7;}
.mat-frm .checkbox input:checked ~ .helper::after, .mat-frm .checkbox input:checked ~ .helper::before {opacity: 1;-webkit-transition: height 0.28s ease;transition: height 0.28s ease;
}
.mat-frm .checkbox input:checked ~ .helper::after {height: 9px;
}
.mat-frm .checkbox input:checked ~ .helper::before {height: 17px; -webkit-transition-delay: 0.28s;  transition-delay: 0.28s;}

.mat-frm .radio + .radio, .mat-frm .checkbox + .checkbox { margin-top: 0;}

.mat-frm .has-error .legend.legend, .mat-frm .has-error.form-group .control-label.control-label { color: #d9534f;}
.mat-frm .has-error.form-group .form-help,
.mat-frm .has-error.form-group .helper, .mat-frm .has-error.checkbox .form-help,
.mat-frm .has-error.checkbox .helper, .mat-frm .has-error.radio .form-help,
.mat-frm .has-error.radio .helper, .mat-frm .has-error.form-radio .form-help,
.mat-frm .has-error.form-radio .helper {color: #d9534f;
}
.mat-frm .has-error .bar::before { background: #d9534f; left: 0; width: 100%;}

.mat-frm .button { position: relative; background: currentColor;  border: 1px solid currentColor; font-size: 1.1rem; color: #4f93ce; margin: 3rem 0;padding: 0.75rem 3rem; cursor: pointer; -webkit-transition: background-color 0.28s ease, color 0.28s ease, box-shadow 0.28s ease;transition: background-color 0.28s ease, color 0.28s ease, box-shadow 0.28s ease; overflow: hidden; box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.mat-frm .button span {color: #fff; position: relative; z-index: 1;}
.mat-frm .button::before { content: ''; position: absolute; background: #071017; border: 50vh solid #1d4567; width: 30vh; height: 30vh;border-radius: 50%;  display: block; top: 50%; left: 50%; z-index: 0; opacity: 1; -webkit-transform: translate(-50%, -50%) scale(0);
transform: translate(-50%, -50%) scale(0);}
.mat-frm .button:hover { color: #337ab7; box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
}
.mat-frm .button:active::before, .mat-frm .button:focus::before { -webkit-transition: opacity 0.28s ease 0.364s, -webkit-transform 1.12s ease;transition: opacity 0.28s ease 0.364s, -moz-transform 1.12s ease;  transition: transform 1.12s ease, opacity 0.28s ease 0.364s;transition: transform 1.12s ease, opacity 0.28s ease 0.364s, -webkit-transform 1.12s ease;  -webkit-transform: translate(-50%, -50%) scale(1);  transform: translate(-50%, -50%) scale(1);  opacity: 0;}
.mat-frm .button:focus {outline: none;}

/*--login with---*/
.login-with.text-center > a{color:#396c79;}

.white-bg{background:#fff; padding:50px 30px 80px 30px;}
.gray-bg{background:#f5f5f5; padding:50px 30px 80px 30px;}
.white-bg h3,  .gray-bg h3{color:#152f71; font-size: 35px; text-align: center; padding:30px 0px; text-transform: uppercase; font-weight: 500;}
.fxd-bx{height: 300px; background-size: cover;}
.ih-item.square{width:100%; margin-bottom: 15px;}

/*==Footer==*/
footer{height:auto;}
footer .footer{ padding: 30px 0; color:#fff; font-size:14px;}
footer h3.title{margin-top: 0; font-size:20px; font-weight:700; margin-bottom:20px;}
.footer .footer-col.connect .social li a .fa {     color: #fff;font-size: 22px; padding: 9px;   border-radius: 50px;height: 35px;  width: 35px;}
.footer .contact .fa { margin-right: 10px; font-size: 20px;}
.footer .download .download-list li .btn-ghost { color: #fff; padding:0px; width: 230px; margin-right: 10px;
font-size: 15px; text-align: left; border-radius:0px;}
a.btn-ghost, .btn-ghost {  background: none;  color: #6d8dab; padding:0px; vertical-align: middle; font-weight: bold;}
.footer .download .download-list li{margin-bottom: 15px;}
a.btn-ghost .fa, .btn-ghost .fa {margin-right: 10px; font-size: 22px; }
a.btn-ghost:hover, .btn-ghost:hover { color: #fff !important; }
.footer .footer-col .navbar-form{padding: 10px 0; border-radius: 5px;}
.footer .footer-col .navbar-form .form-control {opacity: 0.9;}
footer .navbar-form .form-control {width: 280px; padding: 6px 15px; border-radius: 4px !important; height:40px;}

.footer .footer-col.connect .btn-cta-primary { background: #5d80a1; border-color: #5d80a1;}
.footer .btn-cta, .footer a.btn-cta { padding: 9px 10px;}
.footer .footer-col a {color: #6d8dab;}

.footer .has-divider { border-top: 1px solid #dedede; padding-top: 30px; margin-top: 30px;}


/*==Student Speak==*/
.card{/* box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);*/ position: relative; margin-bottom: 15px;}
.student-speak-section{}
.multi-carousel .avatar{position: relative; margin-top: -60px;}
.multi-carousel p{padding:0 15px;}
.testimonial-card .avatar { -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%;border-radius: 50%; width: 120px; margin: -65px auto 0; border: 5px solid #fff; background: #FFF; height: 120px;}
.card-block{padding-bottom:20px; height:175px;}/*==Dark Gray==*/

.dark-gray{background: #555555; padding: 50px 0;}

.dark-gray h5{text-transform: uppercase; color: #fff; font-weight: 700; font-size: 30px; margin-top:20px;}
.dark-gray p{color:#fff; font-size: 15px; font-weight: 600;}


/*    #owl-demo .item{margin: 3px;}#owl-demo .item img{display: block;width: 100%;height: auto;}*/

#counsellor-carousel{text-align: center;}
#counsellor-carousel img{width:100px; height: 100px;}
#counsellor-carousel .carousel-control{background:none;}

#counsellor-carousel .lt-blk{position: absolute; left: 10px; top:10px;}
#counsellor-carousel .rt-blk{position: absolute; right: 10px; top:10px;}

#counsellor-carousel .card{margin-bottom:5px;}


/*===Feedback Dialog===*/
.feedback-bx{ max-width: 600px; width: 100%; box-shadow: 0px 0px 6px 0px #ccc; margin:120px auto 80px; padding: 0 15px 30px 15px; border-radius:3px;}
.feedback-bx .title{background: #0081BD; padding: 10px 20px; color:#fff; font-weight: bold; margin-bottom: 30px; border-top-left-radius: 3px; border-top-right-radius: 3px;}
.carousel-inner > .item > a > img, .carousel-inner > .item > img{ width:100%;}



@media only screen and (min-width:1px) and (max-width:768px){
	footer .navbar-form{margin-left:0;}
	.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{background: rgba(255,255,255,0.6);}
	header .nav.navbar-nav{margin:0; width: 100%;}
	header .nav.navbar-nav li{text-align: center;}
	header .nav.navbar-nav li a{color: #212121; padding:10px; font-size:14px;}
	header .nav.navbar-nav li:hover {color: #fff; text-align: center;}
	.register-frm{max-width:100%; min-width: 1px; position: absolute; left: 0; top:0; z-index: 9; padding:10px 0; background: #fff; overflow-y: scroll;}
	.mat-frm .form-group .control-label{left: 0;}
	.navbar-inverse .navbar-toggle{background:#333;}
	#hmpg-carousel .carousel-inner p{display: none;}
/*    #bs-example-navbar-collapse-1{position: absolute; top: 0; right:10px; background: transparent; border: 0; padding: 4px 0; height: 100vh;}#bs-example-navbar-collapse-1 li{float: left;}.navbar-nav .open .dropdown-menu{position: absolute;}*/

/*    .mobile-menu{position:absolute; top:10px; right: 10px;}.mobile-menu li{padding: 0 7px;}.mobile-menu i{color: #515356; font-size: 26px;}.mobile-menu img{height: 22px; position: relative; top:-6px;}*/

.footer .navbar-form{box-shadow:none; border:0;}
.footer .navbar-form .form-group{float:left;}

#hmpg-carousel h2 {font-size: 28px;}
.white-bg h3, .gray-bg h3{ font-size:22px;}
.white-bg{ padding:20px 0px;}.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse{max-height: 100%; height: auto;}.signin-drpdwn, .join-frm{min-width:285px; width: 100%;}

  .navbar-inverse .navbar-toggle{background:#0581BD none repeat scroll 0 0 !important}
  .navbar-inverse .navbar-toggle{border-color:#0581BD !important}

}

/*input[type=text], textarea {-webkit-transition: all 0.30s ease-in-out;-moz-transition: all 0.30s ease-in-out;-ms-transition: all 0.30s ease-in-out;-o-transition: all 0.30s ease-in-out;outline: none;padding: 3px 0px 3px 3px;margin: 5px 1px 3px 0px;
}

input[type=text]:focus, textarea:focus {box-shadow: 0 0 5px rgba(81, 203, 238, 1);padding: 3px 0px 3px 3px;margin: 5px 1px 3px 0px;
}*/

/*--Home Page Carousel--*/
.multi-carousel .carousel-control { width:  30px; }
.multi-carousel .carousel-control.left, .multi-carousel .carousel-control.right {background-image:none;}
@media (max-width: 767px) {
	.multi-carousel .carousel-inner .active.left { left: -100%; }
	.multi-carousel .carousel-inner .next        { left:  100%; }
	.multi-carousel .carousel-inner .prev		 { left: -100%; }
	.multi-carousel .active > div { display:none; }
	.multi-carousel .active > div:first-child { display:block; }
}
@media (min-width: 767px) and (max-width: 992px ) {
	.multi-carousel .carousel-inner .active.left { left: -50%; }
	.multi-carousel .carousel-inner .next        { left:  50%; }
	.multi-carousel .carousel-inner .prev		 { left: -50%; }
	.multi-carousel .active > div { display:none; }
	.multi-carousel .active > div:first-child { display:block; }
	.multi-carousel .active > div:first-child + div { display:block; }

}
@media (min-width: 800px) and (max-width: 1200px ) {
.student-speak-section{ }

}
@media (min-width: 992px ) {
	.multi-carousel .carousel-inner .active.left { left: -16.7%; }
	.multi-carousel .carousel-inner .next        { left:  16.7%; }
	.multi-carousel .carousel-inner .prev		 { left: -16.7%; }
}


.panel-tools.pr-tools{top:175px;}



/*-----------------------------------------------------------------------*/
.dropdown-menu.dropdown-dark.pdrp-dwn li a{color:#212121; border: 0;}
.dropdown-menu.dropdown-dark.pdrp-dwn li:hover a{color:#000;}
.dropdown-menu.dropdown-dark.pdrp-dwn li:last-child a{border-radius:0;}
.dropdown-menu.dropdown-dark.pdrp-dwn{background:#f5f5f5; border: 0; box-shadow: 1px 2px 3px 1px #bbb;border-radius: 3px; }
.dropdown-menu.dropdown-dark.pdrp-dwn:after{border-bottom-color: #f5f5f5;}

.topbar .container .navbar-header{margin:0 auto;}
.topbar .container .topbar-tools{padding-top: 18px;}
.hdr-user-pic{position: relative; top:-6px;}
ul li.day-hdr{background: #b2b2b2 !important;}

.multi-carousel .card{padding-top: 0;}
.main-container{margin-top:50px !important;}

.trans-history .form-group{margin-bottom: 45px; clear: both;}
.trans-history .fs{font-size:18px;}

.messagetab-content:not(.active){display: none;
}





#strength{position: absolute; right:0; top:7px; display: none;}
span.agree-btn {position: relative; top: 7px; left: 3px; cursor: pointer;}


.hide{display: none !important;}

.checkmark__circle { stroke-dasharray: 166;stroke-dashoffset: 166;stroke-width: 5;stroke-miterlimit: 10;stroke: #7ac142;fill: none;animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;}

.checkmark {width: 20px;height: 20px;border-radius: 50%;display: block;stroke-width: 5;stroke: #fff;stroke-miterlimit: 10;margin: 10% auto;margin: 0px 0px 0px 0px;box-shadow: inset 0px 0px 0px #7ac142;animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;}


.checkmark__check {transform-origin: 50% 50%;stroke-dasharray: 48;stroke-dashoffset: 48;animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;}

@keyframes stroke {100% {stroke-dashoffset: 0;}}
@keyframes scale {0%, 100% {transform: none;}50% {transform: scale3d(1.1, 1.1, 1);}}
@keyframes fill {100% {box-shadow: inset 0px 0px 0px 30px #7ac142;}}
/*-------------------------------------*/

.asterisk{color: #ff0000;}
#remember_me{position:relative; top:7px;}
.upld-btn{position: relative;}
.drp-dwn .dropdown-list{position: relative !important;}

.radio-bx{display: block;position: relative;margin-bottom:20px;}


.radio-bx ul{margin: 0;padding: 0;overflow: auto;}

.radio-bx ul li{display: block;position: relative;float: left;}
.radio-bx ul li input[type=radio]{position: absolute;visibility: hidden;}

.radio-bx ul li label{display: block;position: relative;font-weight: 300;font-size: 1.35em;padding:10px 20px 25px 25px;height: 30px;z-index: 9;cursor: pointer;-webkit-transition: all 0.25s linear;}

.radio-bx ul li .check{display: block;position: absolute;border: 2px solid #AAAAAA;border-radius: 100%;height: 15px;width: 15px;top: 15px;left: 0px;z-index: 5;transition: border .25s linear;-webkit-transition: border .25s linear;}

.radio-bx ul li .check::before {display: block;position: absolute;content: '';border-radius: 100%;height: 5px;width: 5px;top: 3px;left:3px;margin: auto;transition: background 0.25s linear;-webkit-transition: background 0.25s linear;}


.radio-bx input[type=radio]:checked ~ .check {border: 2px solid #0078bc;}

.radio-bx input[type=radio]:checked ~ .check::before{background: #0078bc;}

.radio-bx input[type=radio]:checked ~ label{color: #0078bc;}

h4.card-title {color:#444444;font-weight:400;font-size:16px;margin-top: 22px;float:left;width:100%;}
.multi-carousel p{color:#333 !important;}


.slide-bx{position:fixed; left:0; top:180px; z-index:999; overflow:hidden;}
.slide-bx li {background:#2f2e2e; color:#fff; margin:8px 0; position:relative; left:0px; padding:0 7px 0 0w; }
.slide-bx li a{text-decoration:none; display:block;}
.slide-bx li a i{background:#0581BD; color:#fff; padding:5px; width:50px; position:relative; left:0; text-align:center;}
.slide-bx li:hover{ transition: 1.9s ease all;}
.slide-bx li span{color:#fff; font-size:14px; font-weight:bold; text-transform:uppercase; position:relative; top:-5px; display:inline-block; text-align:center; padding:0 10px; width:117px;}
.footer-bottom {    background:#0473D6;     overflow: hidden;    width: 100%;}

.footer-last-sections {    color: #fff;    padding: 15px 0;    text-align: center;}
footer .footer{margin-bottom:0px;}

#hmpg-carousel p.login-para {
  font-weight: 300 !important;
  font-size: 22px !important;
  margin-top:20px;

}


.login-datepicker .datepicker-calendar{top:-370px !important;}

/*.join-btn{position: absolute; left: 50%; transform: translateX(-50%);  -webkit-transform: translateX:-50%; -moz-transform: translateX:-50%; -ms-transform: translateX:-50%; -o-transform: translateX:-50%; background: rgba(255,255,255,0.5); color: #212121; font-weight: bold; font-size: 22px; padding: 5px 30px; border: 2px solid #fff; bottom: -40px; }*/


  /*Corousel Css*/
  #studentCarousel, #counsellorCarousel{display: block;}
  #studentCarousel p, #counsellorCarousel p{padding:0 10px;}
  #studentCarousel .owl-pagination, #counsellorCarousel .owl-pagination{display:none;}
  #studentCarousel .owl-buttons .owl-prev, #counsellorCarousel .owl-buttons .owl-prev{position:absolute; left:0; top:50%;  width: 35px; height: 35px; margin-top: -15px; font-size: 20px; border: 2px solid red; border-radius: 50px;
    padding: 4px;   color: red;}
  #studentCarousel .owl-buttons .owl-next, #counsellorCarousel .owl-buttons .owl-next{position:absolute; right:0; top:50%;
    width: 35px; height: 35px; margin-top: -15px; font-size: 20px; border: 2px solid red; border-radius: 50px;
    padding: 4px;   color: red; }



.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover{background-color:#0581BD !important;}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{border-color:none !important;}


.resCarousel-inner .item {
  /*border: 4px solid #eee;*/
  /*vertical-align: top;*/
  text-align:left;
}

.resCarousel-inner .item .tile div,
.banner .item div {
  display: table;
  width: 100%;
  min-height: 250px !important;
  text-align: center;
  /*box-shadow: 0 1px 1px rgba(0, 0, 0, .1);*/
}

.resCarousel-inner .item h1 {
  display: table-cell;
  vertical-align: middle;
  color: white;
}

.banner .item div {
  background: url('../images/banner2.jpg') center top no-repeat;
  background-size: cover;
  min-height: 550px !important;
}

.item .tile div {
  background: url('../images/banner2.jpg') center center no-repeat;
  background-size: cover;
  height: 200px !important;
  color: white;
}

.item div h1 {
  background: rgba(0, 0, 0, .4);
}


.p8 {  padding:40px; }
.p8 h3{font-size: 25px; font-weight: 600; color: #333; text-align: center; padding:25px 0; text-transform: uppercase;}
.carous-card .avatar{  position: relative; z-index: 1; }
.carous-card .card{margin-top: 0px; padding-top: 0px;}

.meettor-img img{ width:100% !important; height: 190px;}    
.avatar.landing_image img{width:100%; height: 190px;}

.default-color-dark.bag-color-light{background: #f1f1f1;}
.user-text{ color:#938584; font-size:15px; line-height:26px; text-align: left;
 }

#textchat #history {
    height: 500px ;
}
@media only screen and (min-width:1px) and (max-width: 480px){
  .ResSlid0 .item {
    width: 100% !important;
  }
  .ResSlid1 .item{width:100% !important;}
}
