@-ms-viewport{width:auto !important;}
@media only screen and (max-width:1500px){
.check-border ul{padding:0px 3px;}			
}
@media only screen and (max-width:1280px){.layout-boxed > .main-wrapper, .layout-boxed .navbar, .layout-boxed footer, .layout-boxed .newton, .layout-boxed #horizontal-menu{max-width:1470px !important;}
.layout-boxed .main-wrapper > .topbar, .layout-boxed .main-wrapper > footer, .layout-boxed #horizontal-menu{left:50% !important;margin-left:-734px !important;}
.layout-boxed.right-sidebar-open .main-wrapper > .topbar, .layout-boxed.right-sidebar-open .main-wrapper > footer{margin-left:-994px !important;}
.layout-boxed > .main-wrapper, .layout-boxed .navbar, .layout-boxed footer, .layout-boxed .newton, .layout-boxed #horizontal-menu{max-width:1170px !important;}
.layout-boxed .main-wrapper > .topbar, .layout-boxed .main-wrapper > footer, .layout-boxed #horizontal-menu{left:50% !important;margin-left:-584px !important;}
.layout-boxed.right-sidebar-open .main-wrapper > .topbar, .layout-boxed.right-sidebar-open .main-wrapper > footerfooter{margin-left:-844px !important;}
.inner-banner-div img{width:100%;}
.grid-wrp{background:#3d3c6e;}
.grid-div{padding:20px 10px;color:#fff;text-align:center;}
.grid-div p{text-align:left;}
.dash-border{border-right:1px dashed #78779a;}
.dash-border1{padding:10px;}
.footer-banner-div img{width:100%;height:150px;}
.footer-banner-div p{font-weight:normal;line-height:20px;font-size:20px;position:absolute;left:5px;bottom:10px;}
.core-box .title{font-size:16px;line-height:16px;font-size:1.2vw;line-height:1.2vw;}
#hmpg-carousel{height:100% !important;}
.cht-msg-bx.clearfix{width:100% !important;bottom:-53px !important;}
#videoScreen{height:100% !important;}
.cht-msg-bx.clearfix{position:absolute !important;}
.video-screens .chat-bx{width:32% !important;}
#hmpg-carousel{height:100% !important;}
.download-app-page img{width:80% !important;float:right;}
.leftRs{left:-18px;}
.rightRs{right:-18px;}
.teamscss{padding:4px 0px 0 12px;}
.mail-texts p{width:96%;}
.banner-div div{max-width:406px;}
.banner-div h1{font-size:31px;}
.messages-list .messages-item .messages-item-time{position:relative;top:0;right:0;}
.mo_stepwizard_counsoller ul li{width:32%;margin:0px 2% 2% 0;}
.mo_stepwizard_counsoller ul li:nth-child(5n){margin:0px 2% 2% 0;}
.mo_stepwizard_counsoller ul li:nth-child(3n){margin-right:0px;}	
.beta{top:0;}
.total-amount-part{margin-top:10px;width:100%;background:#f1f3f6;margin-bottom:10px;}
}
@media only screen and (max-width:1170px){.text-area{padding:0;}
}
@media only screen and (max-width:1024px){.mo_services_box h4{font-size:14px !important;}
.btn.btn-blue.checkbox-inline.next-step{font-size:12px;}
.appoinment_list-part[_ngcontent-c1] li[_ngcontent-c1]{font-size:13px !important;}
.cht-msg-bx.clearfix{width:100% !important;bottom:-53px !important;}
#videoScreen{height:100% !important;}
.cht-msg-bx.clearfix{position:absolute !important;}
.video-screens .chat-bx{width:42% !important;}
.phone-part span{font-size:24px;}
.numbers{font-size:13px !important;}
.phone-part p{font-size:13px;}
.address-part span{font-size:24px;}
.address{font-size:13px !important;}
.address-part p{font-size:13px;}
.header-top-part .col-md-3{padding:0px;}
.search-part span{top:11px;right:18px;}
.search-part input{margin-top:0px;font-size:15px;margin-right:10px;}
header.navbar-inverse .navbar-nav > li > a{padding:15px;font-size:14px;margin-right:0;}
.header-fixed-part{width:100%;}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{background:none;padding:0px;}
header .nav.navbar-nav li a{color:#fff;}
.header-section.sticky .header-fixed-part{width:100%;}
.header-section.sticky header.navbar-inverse .navbar-nav > li > a{padding:10px;}
.header-section.sticky header .nav.navbar-nav{margin-left:18px !important;margin-right:10px !important;margin-top:7px !important;}
.mentee-part h3{font-size:24px;}
.mentee-part{padding-top:15px;}
.caption h4{font-size:16px;}
.carousel-caption.blk-center2.slider-text{font-size:18px;}
.form_top_area{padding:0 5px;}
.verify-button{width:73%;}
.form-inline .form-group.find-margin{margin-bottom:15px;}
.intercell-track{background-position:center center !important;}
.mentor_area{padding-left:20px;}

.inner-banner-box{position:absolute;left:0;right:0;margin:0 auto;text-align:center;bottom:15px;}


}
@media only screen and (max-width:992px){header .nav.navbar-nav{width:auto !important;}
.main-header input.intercell-input{width:180px;}
.join-frm{left:-223px;}
.form_top_area{padding:0 0;}
.signin-drpdwn{left:120px;}
ul.social-icons3 li{padding:5px 0px;}
.app-icons{font-size:14px;}
.card{margin:0;}
.footer .btn-cta, .footer a.btn-cta{margin-left:10px;}
.current-user .dropdown-menu{right:auto !important;left:-30px !important;}
#hmpg-carousel{height:100%;}
.panel_profile_progress{padding:20px;}
#hmpg-carousel{height:100% !important;}
.closebtn.side-close-btn{position:absolute;left:0;top:0;height:36px;width:36px;text-align:center;background:none;color:#0a82ba;font-size:25px;line-height:36px;padding:0;height:68px !important;line-height:68px !important;}
.Counsellor_dashboard .topbarz .container .navbar-header .navbar-brand{left:80px !important;}
.main-container.inner{margin-top:0px !important;}
.mo_services_box{width:25%;float:left;}
.mo_services_box h4{font-size:16px;}
.mo_stepwizard_counsoller .col-xs-6.col-md-8{width:100%;padding:0;margin-bottom:10px;}
.mo_stepwizard_counsoller .col-xs-6.col-md-4{width:100%;}
.download-forms img{width:120px !important;height:30px !important;}
.download-app-page img{width:80% !important;float:right;}
.video-session-blk{padding-top:0px !important;}
.mo_services_box h4{font-size:14px;}
.horizontal-menu-fixed .main-container{margin-top:36px !important;}
.main-container{margin-left:0 !important;}
.sidebar-mobile-open .main-container{left:260px !important;}
.main-content .container > .row, #ajax-content > .row{padding:0;}
.sidebar-mobile-open .topbar{left:260px !important;right:-260px !important;}
.topbar{min-height:50px !important;position:relative !important;}
.topbar .container .navbar-header .sb-toggle-left{height:68px !important;line-height:68px !important;}
.topbar .container .navbar-header .navbar-brand{line-height:68px !important;}
.topbar .container .topbar-tools > ul > li.current-user .dropdown-toggle{line-height:50px !important;height:50px !important;}
.topbar .container .topbar-tools > ul > li.right-menu-toggle a{line-height:40px;height:40px;}
.topbar .container .topbar-tools{padding-top:0px;}
li.dropdown.current-user .dropdown-toggle > i{margin-left:0;}
.dropdown-subview{right:auto !important;left:-15px !important;}
.dropdown-subview:before{right:auto !important;left:49px !important;}
.dropdown-subview:after{right:auto !important;left:50px !important;}
.dropdown-messages{right:auto !important;left:-110px !important;}
.dropdown-messages:before{right:auto !important;left:144px !important;}
.dropdown-messages:after{right:auto !important;left:145px !important;}
.main-content .row{padding:0;}
#pageslide-left{top:0;margin-left:0 !important;width:0px;}
.sidebar-mobile-open #pageslide-left{left:0 !important;}
.right-sidebar-open #pageslide-left{left:-520px !important;}
#pageslide-left .navbar-content{top:0;}
.sidebar-mobile-open #pageslide-right{right:-520px;}
.flot-small-container{height:200px;}
.main-content, footer .footer-inner{position:relative;margin-left:0px;}
.sidebar-mobile-open footer{left:260px !important;}
div.timeline{margin:0;}
div.timeline .columns li{float:none !important;width:100% !important;}
.timeline_element{margin:20px auto !important;}
.timeline_element:after{display:none;}
.timeline_element:before{display:none;}
.timeline-scrubber{display:none;}
.faq .nav-tabs{float:none;}
.page-header h1{font-size:24px;margin-top:15px !important;}
.topbar .container .topbar-tools > ul > li{border-right:0;}
.topbar .container > ul > li{border-left:0;}
.topbar .container .navbar-header{float:left;}
.Counsellor_dashboard .topbar .container .navbar-header .navbar-brand{left:50px!important;position:relative;}
.main-ls{height:auto;left:0;margin:0 auto !important;position:relative;top:0;width:85%;}
.main-ls .logo, .main-ls .copyright{text-align:center;}
body.lock-screen .box-ls{display:inline-block;text-align:center;width:100% !important;}
body.lock-screen .user-info{float:none !important;width:auto !important;}
.mini-stats li{border-right:1px solid #30ddc6;}
.mini-stats li:last-child{border-right:0 none;}
#sidebar-tab.nav-justified > li{display:table-cell;width:1%;}
#sidebar-tab.nav-justified > li a{border:1px solid transparent;}
.multi-carousel .carousel-inner .active.left{left:-16.7%;}
.multi-carousel .carousel-inner .next{left:16.7%;}
.multi-carousel .carousel-inner .prev{left:-16.7%;}
.multi-carousel .carousel-inner .active.left{left:-50%;}
.multi-carousel .carousel-inner .next{left:50%;}
.multi-carousel .carousel-inner .prev{left:-50%;}
.multi-carousel .active > div{display:none;}
.multi-carousel .active > div:first-child{display:block;}
.multi-carousel .active > div:first-child + div{display:block;}
.phone-part span{font-size:24px;}
.numbers{font-size:13px !important;}
.phone-part p{font-size:13px;}
.address-part span{font-size:24px;}
.address{font-size:13px !important;}
.address-part p{font-size:13px;}
.header-top-part .col-md-3{padding:0px;}
.search-part span{top:11px;right:18px;}
.search-part input{margin-top:0px;font-size:15px;margin-right:10px;}
header.navbar-inverse .navbar-nav > li > a{padding:15px;font-size:14px;}
.header-fixed-part{width:100%;}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{background:none;padding:0px;}
header .nav.navbar-nav li a{color:#fff;}
.header-section.sticky .header-fixed-part{width:100%;}
.header-section.sticky header.navbar-inverse .navbar-nav > li > a{padding:10px;}
.header-section.sticky header .nav.navbar-nav{margin-left:18px !important;margin-right:10px !important;margin-top:7px !important;}
.mentee-part h3{font-size:24px;}
h4.card-title{font-size:16px;}
.user-text{font-size:15px;}
p.profile-detelis a{font-size:15px;}
.dark-gray h5{font-size:24px;}
.col-sm-4.timer-section span{left:32%;}
.services-heading h3{font-size:24px;}
.services-img p{font-size:16px;}
.profile-detelis:hover span{width:53%;}
.profile-detelis span{bottom:-9px;}
.profile-detelis span{display:none;}
.header-fixed-part .nav{position:relative;left:118px;}
.header-section.sticky .header-fixed-part .nav{left:25px;}
.thumbnail .caption h4{font-size:16px;}
.caption h4{font-size:16px;}
.inner-banner-div img{width:100%;}
.inner-banner-div img{width:100%;}
.footer-banner-div img{width:100%;height:150px;}
.footer-banner-div p{font-weight:normal;line-height:24px;font-size:20px;position:absolute;left:5px;bottom:10px;}
.layout-boxed #pageslide-left{left:auto !important;margin-left:0 !important;}
.layout-boxed .closedbar{left:auto !important;display:none;}
.layout-boxed.right-sidebar-open #pageslide-left{margin-left:-260px !important;}
.layout-boxed.sidebar-close #pageslide-left{display:none;}
.layout-boxed.sidebar-close .main-container{margin-left:0 !important;}
.layout-boxed.sidebar-close .closedbar{display:block;}
.layout-boxed.right-sidebar-open .closedbar{margin-left:-260px !important;}
input[type="text"].india-text{width:31px;float:left;overflow:visible;z-index:9999;position:relative;padding:0;}
.contac_box .innr_box ul li{width:100%;}
.stream-box{text-align:center;max-width:700px;margin:0 auto;}
.stream-box .services-sections{max-width:290px;float:none;display:inline-block;margin:0 auto 20px;}
.tab-content{min-height:100%;}
.about-right-image{text-align:center;padding:0;margin-top:15px;}
.about-right-image img{float:none !important;display:inline-block;}
#panel_overview .messages-list .messagetab-menu.list-unstyled{margin:0;padding-top:20px;}
.feedback-bx{max-width:100% !important;margin:0 auto 25px;}
.panel_privacy input[type="text"].india-text{width:34px;}
section.banner-section.after-banner-section{height:380px;}
.mentor-img.no-left-padding{padding-left:15px;float:left;width:100%;}
.about-right-image{display:inline-block;margin:15px auto 0;height:auto;}
.menu-right{float:right;display:flex;}
.notification-area .over-couns{text-align:center;float:none;margin:0 auto;}
.dashboard-address ul li{min-height:90px;}
.messages-content{border-top:15px solid #f5f3f3;}
.messages-list.search-results{height:380px;}
#panel_edit_account .session_history .panel-body{max-height:456px;}
.notification-top{top:-17px;}
.messages-list .messages-item .messages-item-preview{font-size:14px;}
.messages-list .messages-item .messages-item-subject{font-size:13px;}
.dropdown-menu.dropdown-dark li p, .dropdown-menu.dropdown-dark li a, .dropdown-menu.dropdown-dark .drop-down-wrapper li p, .dropdown-menu.dropdown-dark .drop-down-wrapper li a{font-size:15px;padding:7px 20px;}
.counsellor-section .panel{width:100%;min-height:100%;margin-right:0;}
.tab-content .panel-heading h2{text-align:center;}
.modal-backdrop{z-index:9 !important;}
.session-right{float:left;width:100%;}
.logo-start-session{text-align:center !important;float:left;width:100%;}
.session-right li{float: none !important;list-style-type:none;display:inline-block;}
.session-right{float:left;width:100%;margin:0;}
.left-icons-list{top:-25px;}
.right-icons-list{top:-25px;}
.login-forms-counsellor .counsellor-photo{margin-bottom:20px;float:left;width:100%;text-align:center;}
.inner .beta{top:-16px;}
.about-section1 .tab-content{min-height:auto;}
.form-group.box .red-clr.password{font-size:9px;}
.feedback-bx{width:90% !important;}
.inner-banner-box.finance{text-align:center;}
.inner-banner-box.medicine{margin-top:50px;position:absolute;bottom:30px;text-align:center;left:0;right:0;}
.body-space-height{min-height:428px !important;}
.list_grid_appoint ul li .left{width:70%;}
.popup-content{margin:10px 0 0;}
.messages-list .messages-item .messages-item-preview p{padding:0 !important;}
.m-bottom-md-30{margin-bottom:30px;}
.story-box{margin:50px 0 !important;}
.intercell-bg{height:auto !important;}
}
@media only screen and (max-width:767px){
 /* !important is needed sometimes */
 ::-webkit-scrollbar {
    width: 12px !important;
	background:#f1f1f1;
 }
 /* Handle */
 ::-webkit-scrollbar-thumb {
   background: #c1c1c1 !important; 
 }
 ::-webkit-scrollbar-thumb:window-inactive {
   background: #c1c1c1 !important; 
 }	
body{font-size:14px;}
p{font-size:14px;}
.mentor-text{font-size:20px;}
.forget-pass a{font-size:16px;}
.service-name span{font-size:22px;}
p.testi-title{font-size:14px;}
.testi-descri{font-size:15px;}
.forgot-bx .forgot-bx-cntnt{padding:20px 20px;}
.logo.top-logo{text-align:center;margin:0 0 8px;}
.main-top-header .form-inline{max-width:300px;display:table;margin:0 auto;float:none;}
.main-top-header .top-hdr-form-div{float:left;width:100%;}
.main-top-header .top-hdr-form-div .form-group{float:left;width:100%;}
.main-top-header .top-hdr-form-div .header-pass{width:100%;float:left;}
.main-top-header .top-hdr-form-div .header-email{width:100%;float:left;}
.main-header input.intercell-input{width:100%;}
.top-hdr-form-div .form-group{margin-bottom:15px;}
.top-logo img{max-width:180px;}
.top-hdr-form-div .form-group.forget-pass{margin:0;}
.form_top_area{padding:0 5px;}
.loging-dashbord{float:none;display:table;margin:0 auto;}
section.banner-section{height:798px !important; }
section.banner-section.after-banner-section{height:300px;}
.banner-form{float:none;margin:0 auto;}
.banner-div{max-width:400px;margin:0 auto;}
.banner-div.after-log{text-align:left;}
.banner-div.after-log p{font-size:22px;line-height:25px;}
.banner-div.after-log div{line-height:22px;font-size:16px;}
.inner-banner-box.sales{text-align:center;}
footer.main-footer{padding:20px 0;}
.ftr-head{padding:0;margin:0 0 5px;font-weight:400;}
.ftr-sections{margin-bottom:18px;}
.ftr-sections ul{margin-bottom:0;}
.ftr-sections3{padding-bottom:0px !important;}
.ftr-sections3 ul{margin-bottom:0;}
.cht-msg-bx.clearfix{bottom:none}
.cht-msg-bx.clearfix{margin-top:11px;}
.video_part2{width:110px;height:110px;}
.ResSlid0 .item{width:50% !important;}
.ResSlid1 .item{width:50% !important;}
.mentee-part .resCarousel .resCarousel-inner .item {width:50% !important;}
.services-section{margin-bottom:30px;}
.mo_services_box h4{font-size:14px !important;}
.btn.btn-blue.checkbox-inline.next-step{font-size:12px;}
.video-session-blk{padding-top:0px !important;}
.cht-msg-bx.clearfix{width:98% !important;}
.video-bx-bg{width:100% !important;float:left;}
#videoScreen .chat-bx{width:100% !important;float:left;}
.cht-msg-bx.clearfix{position:absolute;bottom:-36px;}
#textchat{margin:40px 0px;}
footer .navbar-form{margin-left:0;}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{background:rgba(255,255,255,0.6);}
header .nav.navbar-nav{margin:0;width:100%;}
header .nav.navbar-nav li{text-align:center;}
header .nav.navbar-nav li a{color:#212121;padding:10px;font-size:14px;}
header .nav.navbar-nav li:hover{color:#fff;text-align:center;}
.register-frm{max-width:100%;min-width:1px;position:absolute;left:0;top:0;z-index:9;padding:10px 0;background:#fff;overflow-y:scroll;}
.mat-frm .form-group .control-label{left:0;}
.navbar-inverse .navbar-toggle{background:#333;}
#hmpg-carousel .carousel-inner p{display:none;}
.footer .navbar-form{box-shadow:none;border:0;}
.footer .navbar-form .form-group{float:left;}
#hmpg-carousel h2{font-size:28px;}
.white-bg h3, .gray-bg h3{font-size:22px;}
.white-bg{padding:20px 0px;}.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse{max-height:100%;height:auto;}.signin-drpdwn, .join-frm{min-width:285px;width:100%;}
.navbar-inverse .navbar-toggle{background:#0581BD none repeat scroll 0 0 !important}
.navbar-inverse .navbar-toggle{border-color:#0581BD !important}
.download-forms form button{padding:10px;font-size:11px;}
.faq-pages{margin:0px}
#step3 .mo_stepwizard_counsoller ul li{max-width:32% !important;min-width:32%;}
.mo_services_box{width:50% !important;float:left;}
.mentor-form{margin-top:10px;}
.current-user .dropdown-menu{right:auto !important;left:-100px !important;}
.toolbar .tooltip-notification{right:auto;}
.tooltip-notification .tooltip-notification-arrow{left:40%;}
.navbar-brand > img{width:90px;}
.fc button{padding:0 6px;}
.tab-content > .active, .pill-content > .active{display:block;}
#panel_availability panel-body{padding:0px !important;}
.messages-content .message-header .message-actions{margin-left:-0px;}
.modal-custom_mo .modal-dialog{width:95% !important}
.about-section h2{font-size:25px;}
.about-section{margin-top:0px;}
.download-sections h2{font-size:25px;}
.nav-tabs > li > a{min-width:auto !important;}
.download-sections h2{font-size:20px !important;}
.about-section h2{font-size:25px !important;}
ul#myTab{margin-top:0px;}
.panel-heading h2{font-size:20px !important;margin:0;}
.panel_profile_counsellor .exp-panel{padding:29px;margin:15px;}
.btn-group-xs > .btn, .btn-xs{float:right;}
.panel_profile_counsellor .exp-panel img{float:left;}
.fc-center h2{display:inline-block;font-size:12px;margin-top:13px;overflow:visible;position:relative;}
ul#myTab{margin-top:-3px;padding-left:0px;}
.trans-history .fs{font-size:13px;}
.row.edit_account_top h3{font-size:16px;}
.counsoller_dashboard_table{padding:0px !important;}
.list_grid_appoint ul.thumbnails li{width:100%;margin:0px;}
.caption h3{font-size:16px;}
.list_grid_appoint ul{margin:9px 0;padding:0;width:100%;}
.tab_view_btn .appoint_view img{margin:0 auto;text-align:center;float:none;}
.tab_view_btn .appoint_view{width:100%;padding:20px;}
.appoint_view_action .btn-block{margin:5px 0px;}
.about-section{margin-top:0px;padding-top:0px !important;}
.download-right-part{margin-top:50px !important;}
#formSlide{display:none}
#hmpg-carousel{height:100% !important;}
.services-row{margin-top:0px;}
.services-section{margin:40px 0;}
ul#myTab{margin-top:0px !important;}
.video_part2{width:100px!important;height:100px!important;}
#videoScreen .chat-bx{width:100% !important;float:left;}
.video-bx-bg{width:100% !important;float:left;}
.video-img{width:auto !important;}
#subscriber{height:285px !important;}
#history {padding-top:0 !important;}
.subscriber-banner-text {font-size:24px !important;padding:0 20px;width:100%;}
.chat-historys{max-height:122px;}
.cht-frm .cht-msg-bx.clearfix{width:100% !important;}
.cht-msg-bx.clearfix {right: 0;}
.main-container{margin-top:0px !important}
.mo_service_section .drop_box_tracks{width:100% !important;}
.main-container{margin-top:0px !important;}
.download-part{margin-top:-16px !important;position:relative;z-index:1;}
.post-content-mo{margin-top:0px !important;padding:0px !important;}
.inner-services-page > h3 strong{font-size:20px;}
.mo_service_section h4{font-size:16px;margin-bottom:14px;}
.panel_profile_progress .panel-body .exp-panel ul li h2{font-size:16px;margin-top:5px;}
#panel_favourite{padding:0px;}
.space20{padding:0px;}
.about-section{padding:0px;}
.main-container.inner{margin:0px !important;}
.mo_services_box{margin-bottom:20px;}
.video-session-blk{margin-top:0px !important;padding-top:0px !important;}
#textchat{margin-top:0px !important;}
.header-top-part .header-section.sticky .header-fixed-part .intercell-main-header-part ul{width:100%!important;}
.header-section.sticky .header-fixed-part{width:100% !important;}
.header-section.sticky{width:100% !important;}
.header-section.sticky .intercell-main-header-part ul{width:100% !important;padding-bottom:15px;}
.weekly-time-slot tbody tr td:hover{background:none;}
.form-inline .form-control{display:inline-block;width:400px;vertical-align:middle;height:39px;}
.mentor-form input{margin:0;}
h3.car-head{font-size:22px;line-height:25px;}
.teamscss{padding:0;}
.mentor_area{padding-left:15px;}
.mentor-icon{text-align:left;}
.time-period .form-group.box .red-clr{bottom:-2px;}
.btn-last-part{margin:0;float:left;width:100%;}
#step-2 .btn-last-part .btn-left, #step-3 .btn-last-part .btn-left, #step-4 .btn-last-part .btn-left, #step-6 .btn-last-part .btn-left{float:left;width:100%;margin-bottom:10px;}
#step-2 .btn-last-part .btn-right, #step-3 .btn-last-part .btn-right, #step-4 .btn-last-part .btn-right, #step-6 .btn-last-part .btn-right{float:left;width:100%;}
.professional::after{content:normal;}
.student::after{content:normal;}
.browse-text a::after{right:-58px;width:50px;}
.contac_box .innr_box ul li{font-size:15px;}
.contac_box .innr_box ul li span{font-size:15px;}
.faq-pages .panel-heading{padding:15px 12px;}
h1{font-size:20px;line-height:28px;}
.about-right img{margin-bottom:20px;}
.find-margin{margin-left:0 !important;}
.right-image{text-align:center;padding:0;}
.right-image img{float:none !important;}
.intercell-track{height:235px !important;}
.intercell-track h2 .sales{max-width:100%;float:left;text-align:center;width:100%;}
.intercell-track h2 .entrepreneurship{font-size:16px;line-height:21px;padding:0 15px;}
.blk-center{width:90%;}
.forgot-bx .forgot-blk{min-width:100%;}
.forgot-bx h3{font-size:27px;}
.forgot-bx .forgot-blk1{min-width:100%;}
.forgot-bx .forgot-blk2{min-width:100%;}
.forgot-bx .forgot-blk3{min-width:100%;}
.dash-border{border-right:none;}
.banner-box{top:auto;width:100%;text-align:center;left:0;padding:0 10px;bottom:13px;}
.inner-banner-div p{max-width:100%;font-size:20px;line-height:24px;color:#fff;}
.inner-banner-div span{max-width:100%;width:100%;}
.mail-changes-sections{float:left;width:100%;}
.mail-texts.change-pass .btn-link.button{margin:-12px 0 0;}
.mail-texts p{width:90%;}
.form-group.mail-boxs{width:100%;float:left;max-width:400px;}
.panel_privacy{float:left;width:100%;}
.activities li a{padding:10px 10px 10px 10px !important;}
.tab-content{padding:10px;}
.fc .fc-toolbar > * > *{margin-left:0;}
.messages-list .messages-item{}
.appointment-right{float:left;width:100%;}
.list_grid_appoint .thumbnails{margin:9px 0;}
.all-check-section .total-last ul li{padding:10px;}
.contac_box .innr_box ul{}
.contac_box .innr_box h3{font-size:20px;font-weight:400;}
input[type=checkbox], input[type=radio]{margin:1px 0 0;}
.footer-about .footer-about-content{max-width:100%;text-align:left;}
.professional{margin:0 0 10px 0;}
.student{margin-bottom:10px;}
.banner-form .form_top_area .radio{font-size:18px;}
header.main-header{padding:15px 0;}
.contact-left-image{margin-bottom:15px;}
.search-image{display:table;margin:0 auto;}
.about-section1 .tab-mentor li{width:100%;}
.right-image .row{margin:0;}
.loging-dashbord .topbar-tools > ul > li.current-user .dropdown-toggle{height:auto;}
.dashboard-address ul li{float:left;width:100%;min-height:100%;padding:10px 0 0;font-size:14px;border-right:none;border-bottom:1px solid #d2d2d2;}
.dashboard-address ul li:last-child{border-bottom:0;}
.inner-box-icons ul li{width:49.5%;margin:0 1% 1% 0;float:left;}
.inner-box-icons ul li:nth-child(2n){margin-right:0;}
.main-container.inner .tab-content{padding:0;margin:25px 0 10px;}
.trans-history .form-group{margin-bottom:0;}
.inner-box.session_history .board .tab-content{margin:0;}
.dashboard-address .extra-email{padding:0;}
.notification-area .over-couns{margin-bottom:20px;}
.loging-dashbord .topbar-tools > ul > li.hdr-user-pic .dropdown-toggle{padding-right:0px;}
.payment_cancel .inner-box.min-height-box{height:400px;}
.meettor-img-height{height:275px;}
.mail-changes-sections .form-group.mail-boxs .submit-btn button{margin:15px 0 0 0;}
.save-reset-btn{text-align:center;}
.provide-text{text-align:center;margin-bottom:10px;}
#step-2.mentee-margin{margin-top:-5px;padding-top:22px;}
.plz-note-text{padding:10px 0;}
.appointment-right h2{margin-top:10px;}
.table-responsive{border:none;}
.counsoller_dashboard_table .table-responsive.weekly-time-slot.container{height:260px;overflow: auto;}
table.table tr > th{font-size:11px;padding:10px 5px;}
table.table tr > th.timing{min-width:74px;}
.set-availability-chkbx label span{font-size:11px;}
.inner-banner-box {margin-top:168px;}
.main-header .red-clr.full-pass{top:36px;}

}
@media only screen and (max-width:667px){.intercell-services .col-md-4{width:33%;float:left;}
.intercell-main-header-part .nav > li{display:block;}
.mentee-part h3{font-size:20px;text-align:center;}
.header-top-part{display:none;}
.intercell-slider{margin-top:0px;}
.header-section{position:relative!important;}
.header-fixed-part{width:100%;}
.header-section .container{margin:0px;padding:0px;width:100%;}
.header-fixed-part{background:#fff;}
.mobile-logo{width:50%;float:left;margin-top:5px;}
.ftr-sections.footer-about p:last-child{margin-bottom:0;}
.intercell-logo{display:none;}
p.brand-text{width:100%;padding:0 15px;font-size:30px;line-height:35px;font-weight:400;}
.parallax-image{min-height:150px;}
#hmpg-carousel .carousel-caption{padding:0px 20px;}
.contact-btn{margin-top:0px;}
.contact-btn button{padding:5px 10px;font-size:12px;}
.mobile-logo{display:block;}
h4.card-title{font-size:18px;}
.user-text{font-size:12px;}
.profile-detelis span{bottom:24px;}
p.profile-detelis a{font-size:14px;}
.profile-detelis:hover .mentee{width:28% !important;}
.timer-part{background-size:auto;}
.dark-gray h5{font-size:20px;}
.profile-detelis:hover span{width:57%;}
.services-heading h3{font-size:20px;}
.services-img p{font-size:16px;}
footer h3.title{font-size:18px;}
.footer .footer-col a{font-size:14px !important;}
.footer-col-inner p{font-size:14px !important;}
.mentee{display:none;}
.profile-detelis span{display:none;}
.col-sm-4.timer-section span{left:36%;}
.about-section{padding:0px;}
.services-part h3{font-size:20px;}
.drop_box_tracks .cuppa-dropdown{width:100% !important;}
ul.intercell-menu.nav.navbar-nav li a{padding:10px 14px !important;font-size:14px !important;}
.forms-heading{width:100%;}
.fc-day-grid-event > .fc-content{width:100px;text-align:left;font-size:10px;}
.fc-event-container a{width:100px;}
.edit_account_top h3{margin-left:20px;}
.edu-img img{margin-left:0px;margin-bottom:10px;}
.exp-img img{margin-left:0px;margin-bottom:10px;}
.cer-img img{margin-left:0px;margin-bottom:10px;}
.edu-img img{margin-left:0px;margin-bottom:10px;}
.inte-img img{margin-left:0px;margin-bottom:10px;}
.edu-button{text-align:right;margin-right:10px;}
.cer-button{text-align:right;margin-right:10px;}
.exp-button{text-align:right;margin-right:10px;}
.edu-button{text-align:right;margin-right:10px;}
.cer-button{text-align:right;margin-right:10px;}
.form h3{font-size:20px;}
.tab_view_btn .appoint_view{text-align:left;}
.mo_service_section .drop_box_tracks .cuppa-dropdown{width:100% !important;}
div#step-1{padding:0px !important;}
.wizard h3{font-size:19px;}
.int-button{margin-right:0px;}
.eduu-button{margin-right:0px;}
.panel_privacy{padding:10px;}
.white-bg.stream-custom{margin-top:0px;padding:0px !important;}
.white-bg h3, .gray-bg h3{padding:0px !important;}
.navbar-collapse.in{overflow:hidden;}
.modal-title{font-size:16px;}
.row.edit_account_top{overflow-x:scroll;}
.wizard{height:auto !important;}
span.round-tab{font-size:16px;width:50px;height:50px;line-height:50px;}
.wizard .nav-tabs > li a{width:50px;height:50px;line-height:50px;}
.multi-carousel .carousel-inner .active.left{left:-100%;}
.multi-carousel .carousel-inner .next{left:100%;}
.multi-carousel .carousel-inner .prev{left:-100%;}
.multi-carousel .active > div{display:none;}
.multi-carousel .active > div:first-child{display:block;}
.leftRs, .rightRs{}
.refer-friends-part{margin-top:2px;}
.download-sections{width:100%;}
.download-forms form button{font-size:11px !important;}
.img-resp > a{display:inline;float:left;width:50%;}
.download-forms img{height:70px;margin:30px 0;width:100%;}
.news-img{width:100%;}
.news-content{width:100%;}
.inner-banner-div img{width:100%;}
.footer-banner-div img{width:100%;height:150px;}
.footer-banner-div p{font-weight:normal;line-height:20px;font-size:18px;position:absolute;left:5px;bottom:10px;}
.main-header .red-clr{bottom:-18px;}
.topbar .container .navbar-header{width:auto;}
.list_grid_appoint ul li .left span.meta{margin-left:0;}
.mentor-text-footer{font-size:28px;}
#step-3 .textareacss {height:56px;}
.subscriber-banner-text{top:60% !important;}
}
@media only screen and (max-width:600px){span.round-tab{font-size:16px;width:50px;height:50px;line-height:50px;}
.wizard .nav-tabs > li a{width:50px;height:50px;line-height:50px;}
.setup-content, .setup-content2{width:100% !important;}
.wizard .wizard-inner .nav li{width:33% !important;}
.list-inline > li{margin-bottom:5px;}
.mo_stepwizard_counsoller .col-xs-6.col-md-4{width:100%;}
.mo_stepwizard_counsoller .col-xs-6.col-md-8{width:100%;}
#step3 .mo_stepwizard_counsoller ul li{max-width:100% !important;width:100%;min-width:100%;}
.mo_stepwizard_counsoller ul{padding:0px !important;margin:0px;}
.setup-content-bx{margin-top:30%;}
.li.day-hdr{font-size:11px !important;}
.main-container .main-content{padding:0px;}
.appoinment_list-part[_ngcontent-c1] li[_ngcontent-c1]:first-child{font-size:11px;}
#panel_availability{padding:0px;}
.row.grid_view h1{font-size:15px;}
#profile h1{font-size:15px;}
.forms-heading h3{font-size:18px !important;}
.carousel-indicators{display:none;}
.btn.btn-default.join-btn{padding:5px 20px;font-size:14px;}

.video-session-blk h1{font-size:40px !important; line-height:40px !important;}
.video-session-blk h1 small{font-size:40px !important;line-height:40px !important;}
.list_grid_appoint ul.thumbnails li:nth-child(6){float:left !important;}
.list_grid_appoint ul.thumbnails li:nth-child(3){float:left !important;}
.panel_profile_counsellor .exp-panel{margin:0px !important;}
.right-icons-list{}
.left-icons-list{left:3px;}
.appoinment_list-part li{font-size:13px;}
.carousel-caption.blk-center2.slider-text{display:none;}
.findMentor-sec{text-align:center;}
.banner-div p{font-size:20px;font-weight:300;}
.inner_slide_bnr{background-image:url('../images/inner_slide_bnr.jpg');}
.mentor-headding{background:#e8eced;color:#0a82ba;font-size:20px;font-weight:400;padding:18px 120px;}
.agree-text{font-size:12px;}
.messages-content .message-header{padding:10px 0px;}
.messages-content .message-header .message-from{font-size:13px;}
.wizard li.active:after{content:normal;}
#phoneValue{padding:15px;}
.banner-div h1{font-size:25px;}
.intercell-track h2 .human{max-width:300px;}
.mo_stepwizard_counsoller ul li img{max-height:100%;}
.mo_stepwizard_counsoller ul li .image-mentor{height:auto;}
.payment_cancel .inner-box.min-height-box h2{font-size:18px;}
.meettor-img-height{height:196px;}
.about-section1 .inner-banner-div{height:180px !important;}
.messages-list.search-results{height:235px;}
.messages-content .message-header .message-time{position:relative;right:0;top:0;}
.banner-div.after-log{margin:108px auto 0;}
.login-forms-counsellor{padding:8px 0;}
.check-border ul{float:left;width:100%;background:#f1f3f6;padding:0px 10px;}
.check-border ul h3{margin-bottom:0;}
.total-amount-part ul li{padding:7px 0;}
.mo_stepwizard_counsoller .card-block {height:auto;}
.vision_section .line1:after{width:80px !important;}
.vision_section .line1:before{width:80px !important;}

}

@media only screen and (min-width:480px){
#content-slider.lightSlider{height:100% !important;}		
}

@media only screen and (max-width:480px){.ResSlid0 .item{width:100% !important;}
.ResSlid1 .item{width:100% !important;}
.mentee-part .resCarousel .resCarousel-inner .item{width:100% !important;}
.avatar.landing_image img{height:260px;}
.sidenav{padding-top:15px;}
.sidenav a{font-size:18px;}
.download-forms img{height:auto;}
.tab-mentor{color:#fff;font-weight:300;font-size:16px;}
.tab-mentor li{width:100%;}
.inner-banner-div img{width:100%;}
.dash-border{border-right:none;}
.footer-banner-div img{width:100%;height:150px;}
.footer-banner-div p{font-weight:normal;line-height:20px;font-size:18px;position:absolute;left:5px;bottom:10px;}
.ftr-sections1 .social-icons1{text-align:center;}
.ftr-sections{display:inline-block;color:#fff;float:right;}
.form-inline .form-control{width:100%;}
.verify-button{width:68%;}
.mentor-area .search-div{width:100%;}
.mentor-area .search-div .student-speak-section{float:none;max-width:100%;margin:0 auto;}
.meettor-img-height{height:350px;}
.mo_services_box{width:100% !important;}
.mo_service_section .card-header{text-align:center;}
.mo_service_section .card-header img{display:inline-block;}
.mo_service_section .mo_services_box{margin-bottom:4%;}
section.banner-section{height:869px;}
.mentor-area .card-block {height:100%;}
}
@media only screen and (max-width:375px){
.meettor-img-height{height:252px;}
.inner .beta{top:-26px;right:-19px;}
.list_grid_appoint ul li .left{width:62%;}
table.table tr > th{font-size:10px;}
table.table tr > th.timing{min-width:67px;}
.set-availability-chkbx label span{font-size:10px;}
table.table tr > th{padding:10px 4px;}

}
@media only screen and (max-width:320px){}