@import url('https://fonts.googleapis.com/css?family=Abel');
/*{
	padding:0;
	margin:0;
	vertical-align:top;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;	
}
@font-face {
	font-family: 'Conv_Myriad Web Pro';
	src: url('../fonts/Myriad Web Pro.eot');
	src: local('☺'), url('../fonts/Myriad Web Pro.woff') format('woff'), url('../fonts/Myriad Web Pro.ttf') format('truetype'), url('../vfonts/Myriad Web Pro.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
body{
	font-family: 'Conv_Myriad Web Pro';
}

.container{
	width:1100px !important;
}
.main-container{
	width:100%;
	display:inline-block;
}*/
header.main-header{
	width:100%;
	display:inline-block;
	background:#fff;
}
.logo{
	margin-top:10px;
}
.top-form {
    padding-top: 28px;
}
.brand-text h1{
	text-align:center;
	font-size:28px;
	color:#4d2828;
	font-family: 'Conv_Myriad Web Pro';
	letter-spacing: .5px;
}

section.banner-section{
	width:100%;
	display:inline-block;
	position:relative;
	background:url(../images/banner-bg.jpg) no-repeat;
	background-size:cover;
	height:650px;
}
section.banner-section .banner-overlay{
	width:100%;
	height:100%;
	display:inline-block;
	background:rgba(0,0,0,0.2);
	position:absolute;
	top:0;
	left:0;
}

p.form-head{
	font-size:20px;
	font-weight:bold;
	text-align:center;
	margin-bottom:20px;
	display:inline-block;
	width:100%;
}
p.form-decl{
	color:#b17777;
	font-size:15px;
	padding:10px 0; 
	text-align:center;
}
.findMentor-sec{
	background:#0082b9;
	height:68px;
	text-align:center;
}
.btn-search{
	background:#8781bd;
	border:1px solid #fff !important;
	color:#fff;
	padding:6px 30px !important;
}
.mentor-text{
	font-size:14px;
	color:#fff;
}
.main-header input.intercell-input{
	border-radius:1px !important;
	border:1px solid #000 !important;
    box-shadow: none !important;
    width: 260px;
	height:37px !important;
	margin:0 10px;
}
.intercell-btn{
    border-radius: 1px !important;
    padding: 8px 18px !important;
    background: #0082b9;
    color: #fff;
    transition: all 0.4s ease;
}
.intercell-btn:hover{
	border:1px solid #000;
	background: none;
	transition: all 0.4s ease;
}

a.forget-pass{
	font-size:14px;
	color:#8e8080;
	text-decoration:none;
	transition:all 0.4s ease;
	padding-left:10px;
}
a.forget-pass:hover{
	color:#000;
	transition:all 0.4s ease;
	text-decoration:none;
}
.mentor-form{
	margin-top:20px;
}
.mentor-form input{
	margin:0 5px;
	height:37px !important;
}

/********Testimonial Section*************/
section.testimonial-section{
	width:100%;
	display:inline-block;
	padding:3% 0;
}
h2.test-head{
	width:100%;
	display:inline-block;
	font-size:25px;
	text-transform:uppercase;
	font-weight:bold;
	color:#4d2828;
	margin-bottom: 20px;
}
.testi-item{
	width:100%;
	display:inline-block;
}/*
.testi-item ul.testimonial-slider{
	list-style:none;
	display:inline-block;
}
.testi-item ul.testimonial-slider li{
	width:242px;
}*/
.testi-dp{
	width:100%;
	display:inline-block;
	text-align:left;
}
p.testi-name{
	font-size:24px;
	font-weight:bold;
	color:#4d2828;
	padding:12px 0;
	margin:0;
}
p.testi-title{
	font-size:18px;
	color:#968989;
	font-style:italic;
}
p.testi-descri{
	font-size:18px;
	color:#4d2828;
}
.testimonial-section a{
	color:#0082b9;
	font-size:18px;
}
.testimonial-section a:hover{
	text-decoration:none;
}
.parallax-image{
    min-height: 200px; 
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
	background-image:url(../images/brand-bg.jpg);
}
p.brand-text{
	font-size: 28px;
	font-weight: bold;
	color: #fff;
	text-align: center;
	padding-top: 9%;
}
section.career-section{
		width:100%;
	display:inline-block;
	padding:3% 0;
}
h3.car-head{
	width:100%;
	display:inline-block;
	font-size:25px;
	text-transform:uppercase;
	font-weight:bold;
	color:#4d2828;
	margin-bottom: 20px;
	text-align: center;
}

.img-caption{
	width: 100%;
    display: inline-block;
    background: #0082b9;
    text-align: center;
    padding: 10px 0;
    color: #fff;
	position: absolute;
    bottom: 0px;
    left: 0;
}
a.caption-txt{
	font-size:20px;
	color:#fff;
}
a.caption-txt:hover{
	text-decoration:none;
	color:#fff;	 
}
.img-container{
	position:relative;
}


section.mentorDirec-section{
		width:100%;
	display:inline-block;
	padding:2% 0;
	background:#000;
}

section.footercopyright-section{
	width:100%;
	display:inline-block;
	padding:0.5% 0;
	background:rgb(3, 2, 63);
}

.mentor-directory{
	width:100%;
	display: inline-block;
	text-align: center;
}
span.mentor-label{
	color:#fff;
	font-size:16px;
	display: inline-block;
}
span.alphabets{
	display: inline-block;
}
span.alphabets a{
	float: left;
	text-decoration: none;
	color:#0082b9;
	font-size:16px;
	padding:0 3px;
}
span.browse{
	color:#fff;
	font-size:16px;
	font-style: italic;
	padding:10px 0;
	display: inline-block;
}

footer.main-footer{
	width:100%;
	display:inline-block;
	background:#0082b9;
	padding:30px 0;
	
}
footer.main-footer .ftr-sections:last-child{
	padding-bottom:0px;
}
.ftr-sections{
	width:100%;
	display:inline-block;
	color:#fff;
	padding-bottom:20px;
}
.ftr-head{
	font-size:20px;
}
.ftr-sections ul{
	list-style:none;	
}
.ftr-sections ul li{
	display:inline-block;
	margin:0;
	padding: 0 10px;
    border-right: 1px solid #fff;
}
.ftr-sections ul li a{
	display:inline-block;
	color:#fff;	 
	transition: all 0.4s ease;
}
.ftr-sections ul li a:hover{
	color:#000;
	transition: all 0.4s ease;
}
.ftr-sections ul li:last-child{	
	border-right:none;
}
.rm-padding{
	padding-bottom:0px;
}

.ftr-sections ul li a:hover{
	text-decoration:none;
}
.app-icons{
	font-size: 16px;
	}
.add-margin{
	margin-top: 6px !important;
}
ul.social-icons li{
	border-right:none !important;
}	
ul li.ftr-head{
	border-right:none;
}

/*carousel slider*/
.carousel-control.left {
	background-image:none !important;
}
.carousel-control.right {
	background-image:none !important;
}
.carousel-control-left{
	position: absolute !important;
    top: 0 !important;
    bottom: 0 !important;
    left: -104px !important;
    color: #000 !important;
}
.carousel-control-right{
	position: absolute !important;
    top: 0 !important;
    bottom: 0 !important;
    right: -104px !important;
    color: #000 !important;
}
 .carousel-showmanymoveone .carousel-control {
  width: 4%;
  background-image: none;
}
.carousel-showmanymoveone .carousel-control.left {
  margin-left: 15px;
}
.carousel-showmanymoveone .carousel-control.right {
  margin-right: 15px;
}
.carousel-showmanymoveone .cloneditem-1,
.carousel-showmanymoveone .cloneditem-2,
.carousel-showmanymoveone .cloneditem-3 {
  display: none;
}
@media all and (min-width: 768px) {
  .carousel-showmanymoveone .carousel-inner > .active.left,
  .carousel-showmanymoveone .carousel-inner > .prev {
    left: -50%;
  }
  .carousel-showmanymoveone .carousel-inner > .active.right,
  .carousel-showmanymoveone .carousel-inner > .next {
    left: 50%;
  }
  .carousel-showmanymoveone .carousel-inner > .left,
  .carousel-showmanymoveone .carousel-inner > .prev.right,
  .carousel-showmanymoveone .carousel-inner > .active {
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner .cloneditem-1 {
    display: block;
  }
}
@media all and (min-width: 768px) and (transform-3d), all and (min-width: 768px) and (-webkit-transform-3d) {
  .carousel-showmanymoveone .carousel-inner > .item.active.right,
  .carousel-showmanymoveone .carousel-inner > .item.next {
    -webkit-transform: translate3d(50%, 0, 0);
            transform: translate3d(50%, 0, 0);
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner > .item.active.left,
  .carousel-showmanymoveone .carousel-inner > .item.prev {
    -webkit-transform: translate3d(-50%, 0, 0);
            transform: translate3d(-50%, 0, 0);
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner > .item.left,
  .carousel-showmanymoveone .carousel-inner > .item.prev.right,
  .carousel-showmanymoveone .carousel-inner > .item.active {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    left: 0;
  }
}
@media all and (min-width: 992px) {
  .carousel-showmanymoveone .carousel-inner > .active.left,
  .carousel-showmanymoveone .carousel-inner > .prev {
    left: -25%;
  }
  .carousel-showmanymoveone .carousel-inner > .active.right,
  .carousel-showmanymoveone .carousel-inner > .next {
    left: 25%;
  }
  .carousel-showmanymoveone .carousel-inner > .left,
  .carousel-showmanymoveone .carousel-inner > .prev.right,
  .carousel-showmanymoveone .carousel-inner > .active {
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner .cloneditem-2,
  .carousel-showmanymoveone .carousel-inner .cloneditem-3 {
    display: block;
  }
}
@media all and (min-width: 992px) and (transform-3d), all and (min-width: 992px) and (-webkit-transform-3d) {
  .carousel-showmanymoveone .carousel-inner > .item.active.right,
  .carousel-showmanymoveone .carousel-inner > .item.next {
    -webkit-transform: translate3d(25%, 0, 0);
            transform: translate3d(25%, 0, 0);
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner > .item.active.left,
  .carousel-showmanymoveone .carousel-inner > .item.prev {
    -webkit-transform: translate3d(-25%, 0, 0);
            transform: translate3d(-25%, 0, 0);
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner > .item.left,
  .carousel-showmanymoveone .carousel-inner > .item.prev.right,
  .carousel-showmanymoveone .carousel-inner > .item.active {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    left: 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px){
	.container{
		width:100% !important;
	}
	.carousel-control-right{
		     right: 0 !important; 
	}
	.main-header input.intercell-input{
		    width: 184px ;
	}
}

@media screen and (max-width: 767px){
	.container{
		width:100% !important;
	}
	.carousel-control-right{
		     right: 0 !important; 
	}
	.main-header input.intercell-input{
		    width: 100% ;
	}
	.logo{
		text-align: center;
	}
	.top-form{
		text-align: center !important;
	}
	.brand-text h1{
		    font-size: 23px;
	}
	.banner-form{
		width: 100%;
	}
	section.banner-section{
		height: 680px;
	}
	.findMentor-sec{
		height: 210px;
	}
	/*.findMentor-sec{
		text-align: left;
	}*/
footer.main-footer{
	text-align: center;
}
.ftr-sections ul li{
	display: initial;
	border:none;
	    padding: 4px 0px;
}
.ftr-sections ul li a{
	display: block;
}
.ftr-sections{
	     padding-bottom: 0; 
      border-bottom: 1px dashed #02b4ff;
    margin-bottom: 10px;
}
.ftr-sections:last-child{
	border:none;
}
ul.social-icons li{
	    display: inline-block;
    padding: 0 16px;
} 
}
