.counsellor-photo span {
    text-align: center;
    display: inherit;
    margin-top: 10px;
}
.counsellor-photo {
    text-align: center;
}
.counsellor-photo img {
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    text-align: right;
}
