<app-login-header></app-login-header>

<section class="post-content-section">
      <div *ngIf="serviceDetails" class="col-md-12 inner-services-page no-padding">   
          <div class="intercell-track" [ngStyle]="{'background-image': 'url(' + serviceDetails.stream_banner_image + ')', 'background-repeat': 'no-repeat', 'height':'335px','background-size':'cover','background-position':'' + serviceDetails.banner_text_css + ''} ">
			   <div class="container">
            <div class="inner-banner-box {{serviceDetails.stream_css}}">
                <h1 class="inner-heading">{{serviceDetails.name}}</h1>
                
                </div>
            </div>
            </div>
    <!--	    <div class="col-md-12 text-area">
		<div class="container">
                <div class="paragraphs" style="text-align: justify;">
					            <div class="content-area" [innerHTML]="serviceDetails.detail | safeHtml ">
                </div>
				
				</div>
			</div> 
    </div>-->
    
    <section class="stream_section">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-12">
            <ul class="nav nav-tabs">
              <li class="active"><a data-toggle="tab" href="#home"><i class="fa fa-spinner" aria-hidden="true"></i>
              Overview</a></li>
              <li><a data-toggle="tab" href="#menu1"><i class="fa fa-file-text-o" aria-hidden="true"></i>
                Read More</a></li>
              <!--<li><a data-toggle="tab" href="#menu2"><i class="fa fa-book" aria-hidden="true"></i>Points Covered </a></li>-->
              <li><a data-toggle="tab" [routerLink]="['/career-counsellors']"><i class="fa fa-shield" aria-hidden="true"></i>
                Explore other fields</a></li>
            </ul>
          </div>
          
          <div class="col-md-9 col-sm-12">
            <div class="box">
            <div class="tab-content">
              <div id="home" class="tab-pane fade in active">
                <div [innerHTML]="serviceDetails.stream_banner_text" class="quotes"></div>
               <div  [innerHTML]="serviceDetails.detail | safeHtml ">
                </div>
              </div>
              <div id="menu1" class="tab-pane fade">
                  <div  [innerHTML]="serviceDetails.topic_details"></div>
                  <!--<div class="book-btn"><a href="#" class="button">Book Your Session</a></div>-->
                </div>
                
                <div id="menu2" class="tab-pane fade">
                  <h1>Tomorrows Humen Resources Managers or Leaders2</h1>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                  <!--<img src="../assets/images/hr-inner1.jpg">-->
                  <h2>Build your Career with Intercell</h2>
                  <p>Would you rather play a role in identifying talent for an organization? Do you love to interact with people and help resolve their concerns? Are you compassionate towards others? If you answer, “yes” to any of these questions, then, 'Human Resources' is meant for you!
                    People are the most valuable asset to an organization.
                  Being a part of Human resources team can mean getting a chance to build an organization from 0 to 100. Know more on how to get to a respectable position in the Human Resources function of an organisation, commonly referred to as the HR function. Intercell mentors follow a step by step guided approach to steer your career in the best possible direction.</p>
                  <ul class="color-icon">
                    <li><i class="fa fa-globe" aria-hidden="true"></i> Intercational Focus</li>
                    <li><i class="fa fa-smile-o"></i> Focus On People</li>
                    <li><i class="fa fa-heart-o"></i> Student Dedication</li>
                  </ul>
                  <p>Intercell is an initiative to help those in need, especially the students and young professionals like you who are full of queries on which direction is best suited to their personality, knowledge and expertise. For this, the right guidance is required from the right professionals who have been there and done that.</p>
                  <p>Speak real-time with the mentor of your choice, the one who is working in your dream company or at your dream position and get started. Experience an evolution of not just quick responsiveness but a direct involvement of your mentor in your career! Check out the list of Intercell mentors </p>
                  <!--<div class="book-btn"><a href="#" class="button">Book Your Session</a></div>-->
                </div>
              
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


    <!--app-relatedmentor [sId]="ServiceIdslider"></app-relatedmentor-->

    <app-related-mentor-carousel [sId]="ServiceIdslider"></app-related-mentor-carousel>
    
    <!--Counsellor carousel End-->
  </div>
  <!-- /container -->
</section>


<app-footer></app-footer>
