<div class="track-area" style="padding:0px !important;" *ngIf="counsellorDetails.length" id="related-slider">
<div class="container">
<h3 class="car-head">Related Mentor</h3>

<ul id="content2-slider">
  <li *ngFor="let counsellor of counsellorDetails;let indCounsellor = index">
    <div class="carous-card">
        <div class="card">
          <div class="student-speak-section">
            <div class="default-color-dark bag-color-light"></div>
            <!--Avatar-->
            <div class="image-box" [ngClass]="{'after-login-background': userId}">
            <div class="avatar meettor-img meettor-img-height" *ngIf="counsellor.dp_image" [ngStyle]="{'background-image': 'url('+cdnPath+counsellor.dp_image+ ')'}" [style.backgroundSize]="'cover'"></div>
            <div class="avatar meettor-img meettor-img-height"  *ngIf="!counsellor.dp_image" [ngStyle]="{'background-image': 'url('+cdnPath+'intercell-user-pic.png'+ ')'}" [style.backgroundSize]="'cover'"></div>
           </div>
            <span class="card-block ">
            <h4 class="card-title">{{ counsellor.first_name | titlecase }} {{ counsellor.last_name | titlecase }}</h4>
              <p class="testi-title-home"><span>Total Experience:</span>  {{counsellor.totalexperience | titlecase}} years</p>
              <p class="testi-title-home"><span>Expertise:</span> {{counsellor.name | titlecase}} </p>
              <p class="testi-title-home" *ngIf="counsellor.brand_worked_for"><span>Brand Portfolio:</span> <em [innerHTML]="counsellor.brand_worked_for| safeHtml ">   </em> </p>
          </span>
         <div class="book-session">
			<div  *ngIf="!userId">
				<a class="btn intercell-btn btn-squared" href="javascript:void(0);" (click)="myModel.open();setCounsellor(counsellor,indCounsellor,counsellor.dp_image);">Book a Session</a>
				<div class="read-more-icon pull-right"><a href="javascript:void();"  (click)="summaryModel.open();setCounsellor(counsellor,indCounsellor,counsellor.dp_image,counsellor.summary);"><img src="../../assets/images/read_more.png" style="max-width:38px;"></a></div>
			</div>
          <div  *ngIf="userId">
            <div  *ngIf="userType!=3">
				<a class="btn intercell-btn btn-squared" href="javascript:void(0);" (click)="directAppointment(counsellor);">Book a Session</a>
				<div class="read-more-icon pull-right"><a href="javascript:void();"  (click)="summaryModel.open();setCounsellor(counsellor,indCounsellor,counsellor.dp_image,counsellor.summary);"><img src="../../assets/images/read_more.png" style="max-width:38px;"></a></div>
			</div>
		  </div> 
         

          </div>
		   </div>
      </div>
      </div>

</li>
  

</ul>


<div class="clearfix"></div>
</div>
</div>
<!--Counsellor carousel End-->

<modal #summaryModel>
    <modal-header>
        <h5 class="popup-title">{{popFullName}}</h5>
    </modal-header>
      
    <modal-content>
        <div class="row">
           <div class="col-md-12">
           <div class="col-md-4">
               <img src="{{popUserPic}}" class="img-responsive">
             </div>
         <div class="popup-content col-md-8">
            
           <p>{{summary}}<p>
          </div>
       </div>
         </div>
       </modal-content>
    
  </modal>


<modal #myModel>
<modal-header>
    <h5 class="popup-title">Please login to book your session with <strong>{{popFullName|titlecase}}</strong></h5>
</modal-header>

<modal-content>

      <div class="lgn-bx login-forms-counsellor">
        <div class="row">
          <div class="col-md-6">
            <div class="counsellor-photo">
              <img src="{{popUserPic}}">
            </div>
          </div>
          <div class="col-md-6 popup-form">
  <div class="popup-error box">
   <span *ngIf="incorrectDetails" class="red-clr popup-msg">  Incorrect Email Id and Password</span>  
 </div>					
<div class="form-group form-gro">
                <label class="control-label">User Name</label>
                <br>
                <input type="text" placeholder="Please Enter Email ID" id="username_pop" maxlength="50" required/>
                <i class="bar"></i>
              </div>

              <div class="form-group form-gro">
                <label class="control-label">Password </label>
                <br>
                <input type="password" placeholder="Please Enter Password" id="password_pop" required="required" required/>
                <i class="bar"></i>
              </div>
    
    <div class="form-group form-gro forgot-link">
        
         <div class="form-group forget-pass">
            <a [routerLink]="['/reset-password']" class="">Forgot Password ?</a>
            <a [routerLink]="['/login']" class="sign-up-popup">Register</a>
         </div>
              </div> 
            </div>
        </div>
    </div>

</modal-content>
<modal-footer>
  <div class="col-md-12">
    <button class="btn btn-primary" (click)="doLogin()">Login</button>
    </div>
</modal-footer>
</modal>

