<app-header></app-header>
<div class="main-container inner">
  <!-- start: PAGE -->
  <div class="main-content">
    <!-- start: PANEL CONFIGURATION MODAL FORM -->

    <!-- /.modal -->
    <!-- end: SPANEL CONFIGURATION MODAL FORM -->
    <div class="container">
      <!-- start: PAGE CONTENT -->
      <div class="row">
        <div class="col-xs-12 text-center">
          <app-inner-header></app-inner-header>
          <h2>Total Payable Amount : 50 </h2>
          <a class="btn btn-green" href="javascript:void(0);">Get Payment</a>
        </div>
      </div>
    </div>
  </div>
</div>
