<app-header></app-header>
<div class="main-wrapper Counsellor_dashboard">
  <!-- end: PAGESLIDE LEFT -->
  <!-- start: MAIN CONTAINER -->
  <div class="main-container inner">
    <!-- start: PAGE -->
    <div class="main-content">
      <!-- end: SPANEL CONFIGURATION MODAL FORM -->
      <div class="container">
        <!-- start: PAGE CONTENT -->
        <div class="row">
          <div class="col-sm-12">
            <div class="tabbable user_profile-table_tab" id="main">
              <app-inner-header></app-inner-header>
              <div class="tab-content">
                <div id="panel_overview" class="active">
                  <div class="row">
                    <div class="col-sm-12 col-md-12">
                      <h2 class="margin col-md-12">Welcome to Intercell!</h2>
					<div class="col-md-6">
					 <div class="inner-box notification-area padding-15">
                      <div class="over-couns">
                        <span *ngIf="userType ==2">
                          <p>Interact with experts real-time on Intercell's Virtual Mentor Network. Achieve your goals with the right guidance from the right professionals. Clear all doubts, delve deep into subjects of your interest and propel forward. You can book your sessions by clicking, ‘Book a Session’ from the left contextual navigation. Also access your calendar under the next tab, 'Sessions' to view your upcoming sessions at any time.</p>
						</span>
                        <span *ngIf="userType ==3">
                        <p>As a domain expert, you can help countless students and rookies launch and shape their careers. Nothing can be more satisfying than to play a role in developing skills of youngsters starting out. <a [routerLink]="['/set-availability']">Set your availability now</a> if you can steer young talent to their ultimate career goal.<br/>
                        Simply devote an hour or two each weekend or post-working hours in mentoring one student at a time over a video call. Do it at your pace and convenience. When you help rookies find their feet, you meet a vital social obligation. You also become a brand in your own right.<br />
                        Get started by clicking on tab three, ‘Set Availability’ to set your availability for the week. You will be receiving notifications as soon as a student/ professional reaches out to you for a real-time call.</p>
						</span>
                      </div>
                      <div class="col-md-12 no-padding">
						<div class="row">
                        <div class="col-sm-6">
                          <div class="panel panel-blue">
                            <div class="panel-body padding-20 text-center">
                              <div class="space10">
                                <h5 class="text-white semi-bold no-margin p-b-5">Upcoming Sessions</h5>
                                <br/>
                                <h3 class="text-white no-margin"><span class="text-small"></span>{{totalSession}}</h3>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="panel panel-green">
                            <div class="panel-body padding-20 text-center">
                              <div class="space10">
                                <h5 class="text-white semi-bold no-margin p-b-5">Notifications</h5>
                                <br/>
                                <h2 class="text-white no-margin"><span class="text-small"></span>{{totalMessages}}</h2>
                              </div>
                            </div>
                          </div>
                        </div>
						</div>
                      </div>
					  </div>
					 </div> 


                      <div class="col-md-6" *ngIf="totalSession">
					  <div class="inner-box">
                        <div class="panel-heading overview">
                        <h3 class="text-uppercase">Upcoming Sessions</h3>
						</div>
                        <div class="panel-body panel-scroll">
                          <ul class="activities">
                            <li *ngFor="let appoint of appointments;let i=index;">
                              <a class="activity" href="javascript:void(0)" (click)="showAppointmentDetails(appoint)">
                             
                                <div class="row">
                                  <div class="col-sm-4">                                    
                                      <div class="panel panel-grey">
                                          <div class="panel-body padding-5 text-center">
                                            <div class="space10">
                                              <div class="text-white" style="font-size: 3.17689rem !important;">{{appoint.session_start | date:'dd'}}</div>
                                             <div class="text-white" style="font-size: 1.77689rem !important;">{{appoint.session_start | date:'MMM'}}&nbsp; {{appoint.session_start | date:'yyyy'}}</div>
                                            </div>
                                          </div>
                                        </div>                                    
                                    </div>
                                  <div class="col-sm-8"><span style="font-size:20px">{{appoint.first_name | titlecase}} {{appoint.last_name | titlecase}}</span>
                                  <br><b>{{appoint.session_start | date : 'shortTime'}}-{{appoint.session_end | date : 'shortTime'}}</b> , {{appoint.appointment_status}}</div>
                                </div>
                            </a>
                            </li>
                          </ul>
                        </div>
						</div>
                      </div>


                      <div class="col-md-12 recent_email-nt" *ngIf="totalMessages">
					   <div class="inner-box">
                        <div class="panel-heading overview">
						  <h3 class="text-uppercase">Recent  Notifications</h3></div>
                          <div class="messages-list col-md-12 search-results" >
						   <ul class="messagetab-menu list-unstyled">
							 <li *ngFor="let message of messages; let indMessage = index" [ngClass]="(indMessage != 0)? 'messages-item':'messages-item'" (click)="onMessageClick()">
							   <span title="Mark as starred" class="messages-item-star"><i class="fa fa-star"></i></span> <img alt="" src="assets/images/avatar-1.jpg" class="messages-item-avatar"> <span class="messages-item-from">Intercell Services</span>
							   <div class="messages-item-time"><span class="text">{{message.created_date}} {{message.created_time}}</span>
							   </div>
							   <span class="messages-item-subject">{{ (message.subject.length>50)? (message.subject | slice:0:50)+'..':(message.subject)}}</span>
							   <!--<span class="messages-item-preview">   {{ (message.text.length>80)? (message.text | slice:0:80)+'..':(message.text)}}</span>-->
							   <span style="max-height:45px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 250px;" class="messages-item-preview" [innerHTML]="message.text | safeHtml ">   </span>
							 </li>
						   </ul>
							</div>
						</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- end: PAGE CONTENT-->
          </div>
        </div>
        <!-- end: PAGE -->
      </div>
      <!-- end: MAIN CONTAINER -->
      <!-- start: FOOTER -->
      <footer class="inner">
        <div class="footer-inner">
          <div class="pull-left">
            2017 &copy; Intercell Technologies Pvt. Ltd. 
          </div>

          <div class="pull-right">
            <div class="bottom-top-btn">
              <a href="#" class="scrollToTop"><i class="fa fa-arrow-up" aria-hidden="true"></i></a>
            </div>
          </div>
        </div>
      </footer>

      <!-- end: FOOTER -->
    </div>
  </div>
</div>
<!-- end: CORE JAVASCRIPTS  -->

