<app-header></app-header>

        <!-- start: PAGE -->
        <div class="main-container inner">
            <!-- start: MAIN CONTAINER -->
             <div class="main-content">
				<div class="container">
                   <!-- start: PAGE CONTENT -->
                   <div class="row">
                        <div class="col-sm-12">        
                         <!-- start :- forms -->
                            <div class="tab-content">
								<div class="inner-box">
                    <div class="wizard">
									<div class="tab-pane active" role="tabpanel" id="step4"  *ngIf="isCalendar">
                                                    <div class="row">
                                                        <div class="col-sm-12">
                    <!-- start: FULL CALENDAR PANEL -->
                    <div class="panel panel-white">
                        <div class="col-md-12">

                        <div class="appointment_table" *ngIf="appointmentTable">


																	<div class="appoinment_sections" >
                                    <i *ngIf="prevousArraow" class="fa fa-chevron-circle-left left-icons-list" style="font-size:32px;" aria-hidden="true" (click)="getPreviousWeek();"></i>
                                    <i *ngIf="nextArraow" class="fa fa-chevron-circle-right right-icons-list" style="font-size:32px;" aria-hidden="true" (click)="getNextWeek();"></i>
																	<div class="appoinment_list-part" >
                                      <div class="col-md-12 no-padding" style="overflow-y:scroll;">
                                          <span *ngFor="let cals of calendaring; let index = index">
                                            <ul [ngClass]="getClassName(index)">
                                              <li class="day-hdr">{{cals.day}}, <b>{{ cals.date | date:'MMM dd'}}</b><br>
                                              </li>
                                            </ul>
                                            
                                          </span>
                                        </div>	
                                        <div class="col-md-12 no-padding direct-time-list">

                                    <span *ngFor="let cals of calendaring; let index = index">

                                      <ul [ngClass]="getClassName(index)">
																	      <!-- <li class="day-hdr">{{cals.day}}, <b>{{ cals.date | date:'MMM dd'}}</b><br>

																	       </li>-->
																	      <span *ngFor="let time of generateArray(cals.time); let i = index">


                                          <li *ngIf="i > 15 && time.status == 'Available'" style="background-color:#61A344;color:#fff;margin:3%;">
                                            <a href="javascript:void(0);" style="color:#fff;">
                                              <span (click)="setDateTime(cals.date,time.start)">
                                                {{time.start}}
                                              </span>
                                            </a>
                                          </li>
                                          <li *ngIf="i > 15 && time.status == 'Not Available'" style="background-color:#f7f8fa;color:#333;margin:3%;">
                                              <del>{{time.start}}</del>
                                          </li>
                                          <li *ngIf="i > 15 && time.status == 'Pending for Approval'" style="background-color:#ffda94;color:#ffa500;margin:3%;">
                                              <span>Pending</span>
                                          </li>
                                          <li *ngIf="i > 15 && time.status == 'Approved & Booked'" style="background-color:#FFC7CE;color:#9C0006;margin:3%;">
                                              <span>Booked</span>
                                          </li>
                                        </span>

                                        <span *ngFor="let time of generateArray(cals.time); let i = index">


                                          <li *ngIf="i <= 15 && time.status == 'Available'" style="background-color:#C6EFCE;color:#006100;margin:3%;">
                                            <a href="javascript:void(0);">
                                              <span (click)="setDateTime(cals.date,time.start)">
                                                {{time.start}}
                                              </span>
                                            </a>
                                          </li>
                                          <li *ngIf="i <= 15 && time.status == 'Not Available'" style="background-color:#f7f8fa;color:#333;margin:3%;">
                                              <del>{{time.start}}</del>
                                          </li>
                                          <li *ngIf="i <= 15 && time.status == 'Pending for Approval'" style="background-color:#ffda94;color:#ffa500;margin:3%;">
                                              <span>Pending</span>
                                          </li>
                                          <li *ngIf="i <= 15 && time.status == 'Approved & Booked'" style="background-color:#FFC7CE;color:#9C0006;margin:3%;">
                                              <span>Booked</span>
                                          </li>
                                        </span>
								    </ul>
                                </span>
                                          </div>
                            </div>
						</div>
                    </div>
                  </div>
                    </div>
                  <!-- end: FULL CALENDAR PANEL -->
                      </div>
                    </div>
                  </div>
                  
					<div class="tab-pane active" role="tabpanel" id="complete" *ngIf="isCheckout">
						<div class="checkouts-part">
							<div class="col-md-12"><h2>Confirm Order</h2></div>
              <div class=" col-sm-4  col-md-4">
                <div class="check-img">
                  <img class="img-responsive" src="assets/images/computer.jpg"/>
                </div>
                  
              </div>
							<div class="col-sm-8 col-md-8">
                <div class="check-order-part">
                  
                  <div class="all-check-section">
                    <div class="check-border">
                <ul class="check-two">
                  <li><h3>Description</h3></li>
                  <li>30 mins. session with <strong>{{request.counsellorName}}</strong></li>
                  <li><strong>Career Field:-</strong> {{request.serviceName}}</li>
                  <li><i class="glyphicon glyphicon-globe"></i><strong>Session Date:</strong> {{request.date | date:'dd MMM yyyy'}} </li>
                  <li><i class="glyphicon glyphicon-gift"></i><strong>Start:</strong> {{request.time}}  (Duration: {{request.duration}} mins.)</li>
                  

                </ul>
                </div></div></div>
								
							</div>
							<div class="col-md-4 col-sm-4"></div>
                       
                        <div class="clearfix"></div>
                        <div class="col-md-12 col-sm-12">
                            <a href="javascript:void(0);" class="btn btn-primary nextBtn pull-right" (click)="checkOut();">Confirm!</a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    </div>
						</div>
                    </div>
                       <div class="clearfix"></div>
                                   <!-- end :- forms -->
							</div>
						</div>
					</div>

				</div>

            <!-- end: MAIN CONTAINER -->
            <div class="subviews">
                <div class="subviews-container"></div>
            </div>
			<!-- start: FOOTER -->
			  <footer class="inner">
				<div class="footer-inner">
				  <div class="pull-left">
					2017 &copy; Intercell Technologies Pvt. Ltd. 
				  </div>

				  <div class="pull-right">
					<div class="bottom-top-btn">
					  <a href="#" class="scrollToTop"><i class="fa fa-arrow-up" aria-hidden="true"></i></a>
					</div>
				  </div>
				</div>
			  </footer>

			  <!-- end: FOOTER -->
        </div>
        <!-- end: PAGE -->