<span *ngIf="isLogin"><app-header></app-header></span>
<span *ngIf="!isLogin"><app-login-header></app-login-header></span>
<!--Page Content Start-->
<div class="container-fluid p-0 bg-white">
  <!--Term Start-->
  <div class="container">
    <div class="row">
	<h1 class="headline1 col-xs-12 " ><span>News</span></h1>
      <div class="col-xs-12">
          <div class="news-pages">
	      <h3 class="news">Alex Braunton Shortlisted for Rising Star Award</h3>
	      <h5>Added: Thursday 27th April 2017</h5>
            <div class="news-img">
              <span> <img src="assets/images/logo.png"/>	</span>
            </div>
            <div class="news-content">
              <p>Alex Braunton, one of our web developers has been shortlisted for the 'Rising Star' award at the 2017 Lincolnshire Digital & Tech Awards. There are four other finalists Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus consequat hendrerit tellus non fermentum. Nulla tellus elit, ullamcorper at ligula rhoncus, pulvinar sodales orci. Donec et quam eget diam porta eleifend. i...<br />
               <button class="news-btns">Read more..</button>
              </p>
            </div>
          </div>
		  <hr>
		  <div class="news-pages">
	      <h3 class="news">Alex Braunton Shortlisted for Rising Star Award</h3>
	      <h5>Added: Thursday 27th April 2017</h5>
            <div class="news-img">
              <span> <img src="assets/images/logo.png"/>	</span>
            </div>
            <div class="news-content">
              <p>Alex Braunton, one of our web developers has been shortlisted for the 'Rising Star' award at the 2017 Lincolnshire Digital & Tech Awards. There are four other finalists Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus consequat hendrerit tellus non fermentum. Nulla tellus elit, ullamcorper at ligula rhoncus, pulvinar sodales orci. Donec et quam eget diam porta eleifend. i...<br />
               <button class="news-btns">Read more..</button>
              </p>
            </div>
          </div>
        </div>
    </div>

  </div>

  <!--Term End-->
</div>
<!--Page Content End-->
<app-footer *ngIf="!isLogin"></app-footer>