/* ---------------------------------------------------------------------- */


/*  Theme Default
/* ---------------------------------------------------------------------- */


/* line 10, ../../sass/themes/theme-style8.scss */

body {
/*    background-color: #F7F8FA !important;*/
}


/* line 12, ../../sass/themes/theme-style8.scss */

body.layout-boxed {
    background: url("../../images/bg_2.png") #F7F8FA;
}


/* line 16, ../../sass/themes/theme-style8.scss */

.main-container,
#pageslide-left,
#pageslide-right {
    background-color: #F7F8FA !important;
}


/* line 19, ../../sass/themes/theme-style8.scss */

.label-default,
.badge-default {
    background: #EC874B !important;
}


/* line 22, ../../sass/themes/theme-style8.scss */

.topbar {
    background: #fff;
    background-color: #fff 0px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ECEAEA 0px), to(#fff 100%));
    background-image: -webkit-linear-gradient(top, #d0d0d0 0px, #fff B6B6B6 100%);
    background-image: -moz-linear-gradient(top, #fff 0px, #ECEAEA 100%);
    background-image: -ms-linear-gradient(top, #d0d0d0 0px, #fff 100%);
    background-image: -o-linear-gradient(top, #d0d0d0 0px, #fff 100%);
    background-image: linear-gradient(top, #d0d0d0 0px, #fff 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorStr='#d0d0d0 0px', endColorStr='#ECEAEA  100%');
}


/* line 25, ../../sass/themes/theme-style8.scss */

.topbar>.container .navbar-brand,
.topbar .logo {
    color: #ffffff;
}


/* line 29, ../../sass/themes/theme-style8.scss */

.topbar .topbar-tools>ul>li>a {
    color: #ffffff;
}


/* line 32, ../../sass/themes/theme-style8.scss */

.topbar .topbar-tools>ul>li.right-menu-toggle>a {
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: #B6B6B6;
}


/* line 38, ../../sass/themes/theme-style8.scss */

.topbar .nav li.dropdown.open>.dropdown-toggle,
.topbar .nav li.dropdown.active>.dropdown-toggle,
.topbar .nav li.dropdown.open.active>.dropdown-toggle {
    background: none;
    color: #ffffff;
}


/* line 42, ../../sass/themes/theme-style8.scss */

.topbar .nav>li:hover>a,
.topbar .nav>li:active>a,
.topbar .nav>li>a:focus {
    color: #ffffff;
    background: none;
}


/* line 52, ../../sass/themes/theme-style8.scss */

ul.main-navigation-menu>li a {
    border-bottom: none;
    border-top-color: #e7eaf0;
    color: #181d27;
}


/* line 56, ../../sass/themes/theme-style8.scss */

ul.main-navigation-menu>li a i {
    color: #b3b7be;
    font-weight: normal;
}


/* line 61, ../../sass/themes/theme-style8.scss */

ul.main-navigation-menu>li.active>a {
    background: none !important;
    border-top: none !important;
}


/* line 65, ../../sass/themes/theme-style8.scss */

ul.main-navigation-menu>li.active>a i {}


/* line 70, ../../sass/themes/theme-style8.scss */

ul.main-navigation-menu li>ul.sub-menu>li>a:hover {
    background: #e5e8ed;
}


/* line 73, ../../sass/themes/theme-style8.scss */

ul.main-navigation-menu li>ul.sub-menu>li.open>a,
ul.main-navigation-menu li>ul.sub-menu>li.active>a,
ul.main-navigation-menu li>ul.sub-menu>li.open>a:hover,
ul.main-navigation-menu li>ul.sub-menu>li.active>a:hover {
    background: #f1f3f6;
}


/* line 76, ../../sass/themes/theme-style8.scss */

ul.main-navigation-menu>li.open>a,
ul.main-navigation-menu>li>a:hover,
ul.main-navigation-menu>li:hover>a {
    background-color: #f1f3f6;
}


/* line 79, ../../sass/themes/theme-style8.scss */

ul.main-navigation-menu li.divider {
    background-color: #e7eaf0 !important;
}


/* line 83, ../../sass/themes/theme-style8.scss */

ul.main-navigation-menu>li.open>a,
ul.main-navigation-menu>li>a:hover,
ul.main-navigation-menu>li:hover>a {
    background-color: #f1f3f6;
}


/* line 87, ../../sass/themes/theme-style8.scss */

ul.main-navigation-menu li.dropdown-header,
ul.main-navigation-menu .mega-menu-sub-title {
    color: #a1a8b7 !important;
}


/* line 90, ../../sass/themes/theme-style8.scss */

ul.main-navigation-menu li.dropdown-header,
ul.main-navigation-menu .mega-menu-sub-title {
    color: #a1a8b7 !important;
}


/* line 93, ../../sass/themes/theme-style8.scss */

ul.main-navigation-menu .mega-menu .mega-menu-content ul.mega-sub-menu a {
    color: #181d27 !important;
}


/* line 95, ../../sass/themes/theme-style8.scss */

ul.main-navigation-menu .mega-menu .mega-menu-content ul.mega-sub-menu a:hover {
    background: none !important;
}


/* line 99, ../../sass/themes/theme-style8.scss */

ul.main-navigation-menu .mega-menu .mega-menu-content ul.mega-sub-menu li.active a,
ul.main-navigation-menu .mega-menu .mega-menu-content ul.mega-sub-menu li.active a:hover,
ul.main-navigation-menu .mega-menu .mega-menu-content ul.mega-sub-menu li.active a:focus {
    background-color: #e5e8ed !important;
    text-decoration: none;
}


/* line 103, ../../sass/themes/theme-style8.scss */

ul.main-navigation-menu .mega-menu .mega-menu-content ul.mega-sub-menu li a:hover {
    background-color: #e5e8ed !important;
    text-decoration: none;
}


/* line 109, ../../sass/themes/theme-style8.scss */

#horizontal-menu .container {
    background: #F7F8FA;
    border-bottom: 1px solid #e7eaf0;
}


/* line 116, ../../sass/themes/theme-style8.scss */

#horizontal-menu .navbar-collapse .navbar-nav>li>a {
    color: #6a7ca2;
}


/* line 118, ../../sass/themes/theme-style8.scss */

#horizontal-menu .navbar-collapse .navbar-nav>li>a:hover {
    color: #181d27;
    background: #e7eaf0;
}


/* line 122, ../../sass/themes/theme-style8.scss */

#horizontal-menu .navbar-collapse .navbar-nav>li>a:active,
#horizontal-menu .navbar-collapse .navbar-nav>li>a:focus {
    background: #d8dde6;
}


/* line 127, ../../sass/themes/theme-style8.scss */

#horizontal-menu .navbar-collapse .navbar-nav>li.active>a {
    color: white;
    background: #EC874B;
}


/* line 130, ../../sass/themes/theme-style8.scss */

#horizontal-menu .navbar-collapse .navbar-nav>li.active>a:after {
    border-top-color: #EC874B;
}


/* line 140, ../../sass/themes/theme-style8.scss */

.main-content {
    background: #DDDDDD;
}


/* line 143, ../../sass/themes/theme-style8.scss */

.go-top {
    color: #6a7ca2;
}


/* line 146, ../../sass/themes/theme-style8.scss */

.footer-inner {
    color: #6a7ca2;
}


/* line 151, ../../sass/themes/theme-style8.scss */

#pageslide-left .navigation-toggler .sb-toggle-left {
    background: url(../../images/dark_dots.png) no-repeat center center;
}


/* line 155, ../../sass/themes/theme-style8.scss */

#pageslide-left .slide-tools {
    background-color: #e7eaf0;
}


/* line 158, ../../sass/themes/theme-style8.scss */

#pageslide-left .btn {
    color: rgba(44, 47, 59, 0.3);
}


/* line 160, ../../sass/themes/theme-style8.scss */

#pageslide-left .btn:hover {
    color: #2C2F3B;
    background-color: rgba(209, 215, 226, 0.4);
}


/* line 165, ../../sass/themes/theme-style8.scss */

#pageslide-left .user-profile {
    border-color: #e7eaf0;
    position: relative;
}


/* line 168, ../../sass/themes/theme-style8.scss */

#pageslide-left .user-profile h5 {
    color: #a1a8b7;
}


/* line 171, ../../sass/themes/theme-style8.scss */

#pageslide-left .user-profile h4 {
    color: #2C2F3B;
}


/* line 176, ../../sass/themes/theme-style8.scss */

.closedbar {
    background: #e7eaf0 url(../../images/dark_dots.png) no-repeat center 5px !important;
}


/* line 178, ../../sass/themes/theme-style8.scss */

.closedbar:hover {
    background-color: #F7F8FA !important;
}


/* line 183, ../../sass/themes/theme-style8.scss */

#pageslide-right .pageslide-title {
    color: rgba(44, 47, 59, 0.4);
}


/* line 187, ../../sass/themes/theme-style8.scss */

#pageslide-right .notifications a {
    color: rgba(44, 47, 59, 0.4);
    background: #eef0f4;
}


/* line 190, ../../sass/themes/theme-style8.scss */

#pageslide-right .notifications a:hover {
    background: #e7eaf0;
}


/* line 193, ../../sass/themes/theme-style8.scss */

#pageslide-right .notifications a .time {
    color: #acacac;
}


/* line 199, ../../sass/themes/theme-style8.scss */

#pageslide-right .right-wrapper .nav-tabs li a {
    background: #F7F8FA;
    border-bottom-color: #d8dde6;
}


/* line 203, ../../sass/themes/theme-style8.scss */

#pageslide-right .right-wrapper .nav-tabs li.active a {
    border-right-color: #d8dde6;
    border-left-color: #d8dde6;
    color: rgba(44, 47, 59, 0.9);
}


/* line 209, ../../sass/themes/theme-style8.scss */

#pageslide-right .media-list .media {
    border-bottom: 1px solid #d8dde6;
    margin: 0;
}


/* line 212, ../../sass/themes/theme-style8.scss */

#pageslide-right .media-list .media .media-heading {
    color: #374c57 !important;
}


/* line 215, ../../sass/themes/theme-style8.scss */

#pageslide-right .media-list .media a:hover {
    background: #d8dde6;
}


/* line 218, ../../sass/themes/theme-style8.scss */

#pageslide-right .media-list .media .status-online {
    color: #1FBBA6;
}


/* line 221, ../../sass/themes/theme-style8.scss */

#pageslide-right .media-list .media .media-body span {
    color: #364156;
}


/* line 224, ../../sass/themes/theme-style8.scss */

#pageslide-right .media-list .media label {
    color: #495876;
}


/* line 228, ../../sass/themes/theme-style8.scss */

#pageslide-right .sidebar-title {
    color: rgba(44, 47, 59, 0.4);
}


/* line 231, ../../sass/themes/theme-style8.scss */

#pageslide-right .sidebar-back {
    color: rgba(44, 47, 59, 0.4);
}


/* line 233, ../../sass/themes/theme-style8.scss */

#pageslide-right .sidebar-back:hover {
    color: rgba(44, 47, 59, 0.6);
}


/* line 239, ../../sass/themes/theme-style8.scss */

#style_selector_container .box-title {
    color: rgba(44, 47, 59, 0.8) !important;
}


/* line 242, ../../sass/themes/theme-style8.scss */

#style_selector_container .images {
    border-bottom: 1px solid #e7eaf0;
}


/* line 244, ../../sass/themes/theme-style8.scss */

#style_selector_container .images img.active {
    border: 2px solid #404c66;
}


/* line 249, ../../sass/themes/theme-style8.scss */

footer {
    background-color: #F7F8FA;
}
