     
    <div class="stepwizard hide">
        <div class="stepwizard-row setup-panel">
        <div class="stepwizard-step">
          <a href="#step-1" type="button" class="btn btn-primary btn-circle">1</a>
          <p>Step 1</p>
        </div>
        <div class="stepwizard-step">
          <a href="#step-2" type="button" class="btn btn-default btn-circle" disabled="disabled">2</a>
          <p>Step 2</p>
        </div>
        <div class="stepwizard-step">
          <a href="#step-3" type="button" class="btn btn-default btn-circle" disabled="disabled">3</a>
          <p>Step 3</p>
        </div>
        <div class="stepwizard-step">
          <a href="#step-4" type="button" class="btn btn-default btn-circle" disabled="disabled">4</a>
          <p>Step 4</p>
        </div>
        <div class="stepwizard-step">
          <a href="#step-5" type="button" class="btn btn-default btn-circle" disabled="disabled">5</a>
          <p>Step-5</p>
        </div>
        <div class="stepwizard-step">
          <a href="#step-6" type="button" class="btn btn-default btn-circle" disabled="disabled">6</a>
          <p>Step 6</p>
        </div>
        <div class="stepwizard-step">
          <a href="#step-7" type="button" class="btn btn-default btn-circle" disabled="disabled">7</a>
          <p>Step 7</p>
        </div>
      </div>
    </div>
   
    <!--Common Screen-->
  <div class="banner-form" id="step-1">
      <form  [formGroup] = "form">     
        <div class="col-md-12" >
            <div class="form-group">
                <div class="container-fluid">

                  <div class="row">
                      <div class="form_top_area box">
                          <div class="col-sm-12 no-padding" style="padding:20px 0 10px 3px;">
                              <div class="col-sm-5 professional">
                                  <div class="radio" >
                                      <input #hideDob1 type="radio" [attr.disabled]="disabledusertype == true || null" value="4" id="p-option" (click)="selectuserType($event)" (change)="showDOB = hideDob1.checked ;removeErrorMessage('usertype');" formControlName="usertype">
                                          Are you a <b>Professional?</b>
                                       <div class="check"></div>
                                   </div>  
                              </div>
                              <div class="col-sm-4 student">
                                  <div class="radio">
                                      <input #hideDob type="radio" [attr.disabled]="disabledusertype == true || null" value="2" id="f-option" (click)="selectuserType($event)" (change)="showDOB = hideDob.checked ;removeErrorMessage('usertype');" formControlName="usertype">
                                      Are you a <b>Student?</b>
                                      <div class="check"></div>
                                   </div>                                         
                              </div>
							  <div class="col-sm-3 radio1 mentor_area" >   
							  <div class="radio" >
									  <input  #showDob type="radio" checked="true" value="3" id="s-option" (click)="selectuserType($event)" (change)="showDOB = !showDob.checked ;removeErrorMessage('usertype');" formControlName="usertype">
								  <div class="mentor-icon">
									<span> Become a <b class="text-blue">Mentor</b></span>
									</div>
								  <div class="check"><div class="inside"></div></div>
							   </div>
						     </div>  
                          </div> 
						<span *ngIf="formErrors.usertype" class="red-clr">{{formErrors.usertype}}</span>
					   </div>
                    </div>
                  </div>
                </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group box">
                  <input type="Text" placeholder="First Name *" class="form-control" formControlName="firstname" (focusout)="removeErrorMessage('firstname')" (click)="selectAllContent($event)">
                  <span *ngIf="formErrors.firstname" class="red-clr">{{formErrors.firstname}}</span>
                </div>
              </div>
  
              <div class="col-sm-6">
                <div class="form-group box">
                  <input type="Text" placeholder="Last Name *" class="form-control" formControlName="lastname" (focusout)="removeErrorMessage('lastname')" (click)="selectAllContent($event)">
                  <span *ngIf="formErrors.lastname" class="red-clr">{{formErrors.lastname}}</span>
                </div>
              </div>
            </div>
  
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group box">
                    
                  <input type="Text" placeholder="Email Id *" class="form-control"  (focusout)="onEmailOut()" formControlName="emailid" (click)="selectAllContent($event)">
                  <!--<span *ngIf="emailMessage" class="red-clr">This email address would be your login ID</span>-->
                  <span *ngIf="formErrors.emailid" class="red-clr">{{formErrors.emailid}}</span>
                  <!--<span *ngIf="emailError" class="red-clr">This email address has been registered before</span>-->
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group box"  style="float:left;width:100%;">
                    <div class="">

                  <div class="col-xs-4" style="padding:0px;">
                    <div class="custom-select" id="country-codesdiv">              
                    <select class="" (change)="countryCodechange($event.target.value)">
                    <option value="">Select Code</option>
                    <option *ngFor="let country of countryList" [value]="country.isd_code">
                    {{country.name}} (+{{country.isd_code}})
                    </option>                         
                    </select>
                </div>
        </div>
				  <div class="col-xs-8" style="padding: 0px;">
					<input type="text" maxlength="15" placeholder="Mobile No *" class="form-control" (keyup)="onPhoneOut()" (click)="selectAllContent($event)" (keypress)="onlyNumberKey($event)" formControlName="mobile">
				  </div>
        </div>    
          <span *ngIf="formErrors.mobile" class="red-clr">{{formErrors.mobile}}</span>
                 <!-- <span *ngIf="phoneError" class="red-clr">This contact number has been registered before</span>-->
  
               
                </div>
              </div>
            </div>
  
           <div class="row">
              <div class="col-sm-12">
                <div class="form-group box">
                  <select class="form-control"  formControlName="gender" (change)="onGenderOut()">
                    <option value="">Select Gender <span class="red-text">*</span> </option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                    </select>
                    <span *ngIf="formErrors.gender" class="red-clr">{{formErrors.gender}}</span>
                </div>
                
              </div>
            </div>
  
  
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group box">
                  <input type="password" maxlength="20" placeholder="Password *" class="form-control" (focus)="onPassword()" (focusout)="onPasswordOut()" (click)="selectAllContent($event)" [(ngModel)]="mypassword" formControlName="password">
                  <ng2-password-strength-bar
                    [passwordToCheck]="mypassword"
                    [barLabel]="barLabel">
                  </ng2-password-strength-bar>
                  <span *ngIf="formErrors.password" class="red-clr password">{{formErrors.password}}</span>
                </div>
              </div>
            </div>
  
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group box">
                  <input type="password" maxlength="20" placeholder="Confirm Password *" class="form-control" formControlName="cpassword" (focusout)="removeErrorMessage('cpassword')" (click)="selectAllContent($event)">
                  <span *ngIf="formErrors.cpassword" class="red-clr">{{formErrors.cpassword}}</span>
                 <!-- <span *ngIf="confirmPasswordError" class="red-clr">Incorrect password entered</span>-->
                  <!--<span *ngIf="AllRequiredError" class="red-clr">Please fill in required details</span>-->
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12" style="">
                <div class="form-group agree-text box">
                  <input #myTerm1 class="check" type="checkbox" style="margin-top:5px;margin-bottom:20px;margin-right:5px;" class="pull-left" formControlName="termscond" (change)="condtionsTerms = myTerm1.checked" id="remember_me1"/>
                   By registering yourself, you agree to 
                  <!-- <a href="#" class="teamscss" *ngIf="termsmsg==0">Intercell's user agreement, privacy policy and cookie policy.</a>-->
                  <a [routerLink]="['#']" class="teamscss" *ngIf="termsmsg==0">Intercell's user agreement, privacy policy and cookie policy.</a>
                   <a [routerLink]="['/term/mentor-terms']" class="teamscss" *ngIf="termsmsg==3">Intercell's user agreement, privacy policy and cookie policy.</a>
                   <a [routerLink]="['/term/mentee-terms']" class="teamscss" *ngIf="termsmsg==2 || termsmsg==4">Intercell's user agreement, privacy policy and cookie policy.</a>
                   <span *ngIf="formErrors.condtionsTerms" class="red-clr">{{formErrors.condtionsTerms}}</span>
                </div>
                
              </div>
              
            </div>
            <div class="btn-main-part text-center">
             <!-- <button class="btn btn-default btn-squared counsellor-db-btn nextBtn btn-lg back-btn btn-right" type="button" (click) = "onCancel()">Cancel</button>-->
              <button class="btn btn-primary counsellor-db-btn nextBtn btn-lg back-btn btn-center" type="button" (click) = "onDone(form.value)">Register</button>
            </div>
        </div>
        <div class="clear"></div>
      </form>  
    </div>

    <div [ngClass]="(termsmsg==3)? 'row banner-form hide':'row banner-form hide mentee-margin'"  id="step-2">
      
      <div class="col-xs-12 no-padding">
        <div class="col-md-12 form_top_area">
          <form [formGroup] = "formEducation">
  
            <div class="row">
              <div class="col-sm-12">
                <div class="input-group input-append date box form-group" id="datePickers">
                  <input type="text" class="form-control" id="dateValue" placeholder="Date of birth * (DD/MM/YYYY)" (focusout)="removeErrorMessage('dob')"/>
                  <input type="hidden" formControlName="dob" />
                  <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
                  <span *ngIf="formErrors.dob" class="red-clr">{{formErrors.dob}}</span>
                </div>
                
                
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12">
                <div class="form-group box">
                  <select formControlName="countryid" class="form-control" (change)="onCountryChange($event.target.value)">
                    <option value="">Select Country <span class="red-text">*</span></option>
                    <option *ngFor="let country of countryList" [value]="country.id">{{country.name}}</option>
                  </select>
                  <span *ngIf="formErrors.country" class="red-clr">{{formErrors.country}}</span>
                </div>
                
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group box">
                  <select formControlName="stateid" class="form-control" (change)="onStateChange($event.target.value)">
                    <option value="">Select State <span class="red-text">*</span></option>
                    <option *ngFor="let state of stateList" [value]="state.id">{{state.name}}</option>
                  </select>
                  <span *ngIf="formErrors.state" class="red-clr">{{formErrors.state}}</span>
                </div>
                
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group box">
                  <select formControlName="cityid" class="form-control" (change)="removeErrorMessage('city')">
                    <option value="">Select City <span class="red-text"></span></option>
                    <option *ngFor="let city of cityList" [value]="city.id">{{city.name}}</option>
                  </select>
                  <span *ngIf="formErrors.city" class="red-clr">{{formErrors.city}}</span>
                </div>
                
              </div>
            </div>

            <div class="forms-headingeducation">
              <h3> Highest Education</h3>
            </div>

            <div class="row">
              <div class="col-sm-12">
                <div class="form-group box">
                  <select class="form-control"  formControlName="degree" (change)="removeErrorMessage('degree')">
                    <option value="">Select Your Level Of Education <span class="red-text">*</span></option>
                    <option value="2">School</option>
                    <option value="3">Graduate</option>
                    <option value="4">Postgraduate</option>
                    <option value="5">Others</option>
                  </select>
                  <span *ngIf="formErrors.degree" class="red-clr">{{formErrors.degree}}</span>
                </div>
  
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group box">
                    <input type="Text" placeholder="School/College/University *" class="form-control" formControlName="school" (focusout)="removeErrorMessage('school')" (click)="selectAllContent($event)">
                     <span *ngIf="formErrors.school" class="red-clr">{{formErrors.school}}</span>
                  </div>
                </div>
              </div>
  
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group box">
                  <input type="Text" class="form-control"  placeholder="Name of Degree ( B.Tech., MBA, MBBS .... )*" formControlName="field" (focusout)="removeErrorMessage('field')" (click)="selectAllContent($event)">
                  <span *ngIf="formErrors.field" class="red-clr">{{formErrors.field}}</span>
                </div>
              </div>
            </div>
  
          <div [style.display]="!showDiv ? 'none' : 'block'">
            <label class="no-margin">Time period <span class="asterisk">*</span></label>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group box">
                
  
                <select list="browsers" id="education_start_time" (change)='onInput()' formControlName="startTime" class="form-control datalisting education_time" >
                    <option value="">From Year</option>
                    <option  *ngFor="let y of years">{{y}}</option>
                   
                  </select>
				
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group box">
                  
  
                  <select list="browsers" id="education_end_time"  (change)='onInput()' formControlName="endTime" class="form-control datalisting education_time">
  
                    <option value="">To Year</option>
                    <option  *ngFor="let y of years">{{y}}</option>
                    
                  </select>
                </div>
              </div>
  
              <div class="row">
                <div class="col-sm-12 time-period">
                  <div class="form-group box no-margin">
                    <span *ngIf="formErrors.timeperiod" class="red-clr">{{formErrors.timeperiod}}</span>
                    </div>
                </div>
              </div>
  
            </div>

            <!--<div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <textarea placeholder="Description Text" formControlName="description" class="form-control" (click)="selectAllContent($event)" style="min-height:100px;"></textarea>
                </div>
              </div>
            </div>-->

          </div>
          
            
           
          </form>
          <div class="btn-last-part">
            <button class="btn btn-success counsellor-db-btn  btn-lg back-btn btn-left btn-squared" (click)="onEducationPrevious()" type="button">Previous</button>
            <button class="btn btn-default btn-squared counsellor-db-btn nextBtn btn-lg back-btn btn-left" type="button" (click) = "onCancel()">Cancel</button>
            <button class="btn btn-primary btn-squared counsellor-db-btn nextBtn btn-lg back-btn btn-right"  (click)="onEducationSubmit(formEducation.value)" type="button">Next</button>
  
          </div>
        </div>
      </div>
    </div>
  
      <div class="row banner-form hide"  id="step-3">
      <div class="forms-headingeducation">
        <!--<h3>Specialisation</h3>-->
      </div>
      <div class="col-xs-12 no-padding">
          <div class="col-md-12 form_top_area">
          <form [formGroup] = "formCounsellingCounsellor">
              
                    
					<div class="row">
                    <div class="col-sm-12">
                      <div class="form-group box">
                          <label>
                              Total Experience <span class="asterisk">*</span>
                            </label>
                          <select (change)="removeErrorMessage('totalexperience')" formControlName="totalexperience" placeholder="Total Experience *" class="form-control">
                          <option  value="">Years</option>
                          <option  *ngFor="let p of expyears">{{p}}</option>
                          </select>
                       
                        <span *ngIf="formErrors.totalexp" class="red-clr">{{formErrors.totalexp}}</span>
                      </div>
                    </div>
                    
                    <div class="col-sm-12">
                      <div class="form-group box">
                          <label>
                              Brand Portfolio <span class="asterisk">*</span>
                            </label>
                        <input type="text"  placeholder="e.g. BMW, Audi etc." class="form-control" formControlName="brandworkedfor" (focusout)="removeErrorMessage('brandworkedfor')" (click)="selectAllContent($event)">
                        <span *ngIf="formErrors.brandworkedfor" class="red-clr">{{formErrors.brandworkedfor}}</span>
                      </div>
                    </div>
            
                    <div class="col-sm-12">
                      <div class="form-group box">
                        <label>
                          Select Career Fields <span class="asterisk">*</span>
                        </label>
                        <!--select class="form-control"  formControlName="currentField" (change)="onServiceChange($event.target.value)">
                          <option value="">Select Your Field</option>
                          <option *ngFor="let serv of services" [value]="serv.id">{{serv.name}}</option>
                        </select-->

                        <angular2-multiselect formControlName="currentField"
                        [data]="serviceList"
                        [(ngModel)]="selectedServices"
                        [settings]="dropdownServices"
                        (onSelect)="onServiceChange($event)"
                        (onDeSelect)="onServiceChange($event)"
                        (onSelectAll)="onServiceChange($event)"
                        (onDeSelectAll)="onServiceChange($event)">
                        </angular2-multiselect>


                        <span *ngIf="formErrors.cstream" class="red-clr">{{formErrors.cstream}}</span>
                      </div>
                    </div>
              
              
                    <div class="col-sm-12" *ngIf="showCounsellingSub">
                      <div class="form-group drp-dwn box">
                        <label>
                          Select Specialisations <span class="asterisk">*</span>
                        </label>
                        <div id="subService">
                        <angular2-multiselect  formControlName="currentSubField"
                                               [data]="subServiceList"
                                               [(ngModel)]="selectedSubServices"
                                               [settings]="dropdownSettings"
                                               (onSelect)="onSubServiceChange($event)"
                                               (onDeSelect)="onSubServiceChange($event)"
                                               (onSelectAll)="onSubServiceChange($event)"
                                               (onDeSelectAll)="onSubServiceChange($event)">
                        </angular2-multiselect>
                      </div>
                        <span *ngIf="formErrors.substream" class="red-clr">{{formErrors.substream}}</span>
                      </div>
                    </div>
              
                    <div class="col-sm-12">
                      <div class="form-group box">
                        <input type="Text" placeholder="Linkedin URL" class="form-control" formControlName="linkedInLink" (click)="selectAllContent($event)">
                        <span *ngIf="formCounsellingErrors.linkedInLink" class="red-clr">{{formCounsellingErrors.linkedInLink}}</span>
                      </div>
                    </div>
              
            
                    
                      <div class="col-sm-12">
                        <div class="form-group box">
                            <label>
                                Short Bio <span class="asterisk">*</span>
                              </label>
                          <textarea placeholder="Write short bio about yourself. (Limit: 150 words) Hint:  I am a Marketing expert with hands-on experience in all areas of Marketing. My specialisation lies in launching new products and brands in the market." formControlName="aboutusdesc" class="form-control textareacss" ></textarea>
                          <span *ngIf="formErrors.shortbio" class="red-clr">{{formErrors.shortbio}}</span>
                        </div>
                      </div>
                   
            
            
				<div class="col-sm-12">
                    <div class="btn-last-part " >
                      <button  class="btn btn-success counsellor-db-btn  btn-lg back-btn btn-left btn-squared" type="button" (click)="onCounsPrevious()">Previous</button>
              
                      <button class="btn btn-default btn-squared counsellor-db-btn nextBtn btn-lg back-btn btn-left" type="button" (click) = "onCancel()">Cancel</button>
              
                      <button class="btn btn-primary btn-squared counsellor-db-btn nextBtn btn-lg back-btn btn-right"  type="button" (click)="onCounsellingCounsellor(formCounsellingCounsellor.value)">Next</button>
                    </div>
				</div>
					
					</div>
                  </form>
                  </div>
      </div>
      
    </div>
  
  
    <div class="row banner-form hide" id="step-4">
      <div class="forms-headingeducation">
        <h3>Mentoring Details</h3>
      </div>
      <div class="col-xs-12 no-padding">
        <div class="col-md-12">
          <form [formGroup] = "formCounsellingStudent">
  
            <div class="row" >
              <div class="col-sm-12">
                <div class="form-group box">
                  <label>
                    I need mentoring in this Field <span class="asterisk">*</span>
                  </label>
  
                <angular2-multiselect formControlName="requireField"
                  [data]="serviceList"
                  [(ngModel)]="selectedServices"
                  [settings]="dropdownServices"
                  (onSelect)="onServiceChangementee($event)"
                  (onDeSelect)="onServiceChangementee($event)"
                  (onSelectAll)="onServiceChangementee($event)"
                  (onDeSelectAll)="onServiceChangementee($event)">
                  </angular2-multiselect>

                  <span *ngIf="formErrors.stream" class="red-clr">{{formErrors.stream}}</span>
                </div>
              </div>
            </div>


            <div class="row" >
              <div class="col-sm-12">
                <div class="form-group drp-dwn">
                  <label>
                    I need mentoring in this specialisation <span class="asterisk"></span>
                  </label>  
                  <angular2-multiselect formControlName="requireSubField"
                                        [data]="subRequireCounselling"
                                        [(ngModel)]="selectedSubRequire"
                                        [settings]="dropdownSettings"
                                        (onSelect)="onSubServiceChange($event)"
                                        (onDeSelect)="onSubServiceChange($event)"
                                        (onSelectAll)="onSubServiceChange($event)"
                                        (onDeSelectAll)="onSubServiceChange($event)">
                  </angular2-multiselect>
  
                </div>
              </div>
            </div>
          </form>
  
          <div class="btn-last-part">
            <button style="" class="btn btn-success counsellor-db-btn  btn-lg back-btn btn-left btn-squared" type="button"  (click)="onStudCounsPrevious()">Previous</button>
            <button class="btn btn-default btn-squared counsellor-db-btn nextBtn btn-lg back-btn btn-left" type="button" (click) = "onCancel()">Cancel</button>
            <button class="btn btn-primary btn-squared counsellor-db-btn nextBtn btn-lg back-btn btn-right" type="button" (click)="onCounsellingStudent(formCounsellingStudent.value)">Next</button>
          </div>
        </div>
      </div>
    </div>
  
  
    <div class="row banner-form hide" id="step-5">
      <div class="forms-headingeducation">
        <h3>Current/Last Company Details </h3>
      </div>
      <div class="col-xs-12">
        <div class="col-md-12">
          <form [formGroup] = "formExperience" class="ng-pristine ng-invalid ng-touched">
  
            <div  class="row">
              <div  class="col-sm-12">
                <div  class="form-group">
                  <label >Title <span class="asterisk">*</span></label>
                  <input  class="form-control ng-pristine ng-invalid ng-touched" formControlName="title" placeholder="Title" type="Text">
                </div>
              </div>
            </div>
            <div  class="row">
              <div  class="col-sm-12">
                <div  class="form-group">
                  <label>Company <span class="asterisk">*</span></label>
                  <input  class="form-control ng-untouched ng-pristine ng-invalid" formControlName= "company" placeholder="Company" type="Text" (click)="selectAllContent($event)">
                </div>
              </div>
            </div>
  
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label>Location <span class="asterisk">*</span></label>
                  <input  class="form-control ng-untouched ng-pristine ng-invalid" formControlName = "location" placeholder="Location" type="Text" (click)="selectAllContent($event)">
                </div>
              </div>
            </div>
  
            <div class="row">
              <div  class="col-sm-6">
                <div class="form-group">
                  <label>
                    From <span class="asterisk">*</span>
                  </label>
  
                  <div  class="col-xs-12 p-0">
                    <div  class="col-xs-6 p-0">
  
                      <select id="expStartMonth" (change)='onExpInput()' formControlName="startTimeMonth" placeholder="Month" class="form-control">
                        <option id="0" value="">Month</option>
                        <option id="1" value="January">January</option>
                        <option id="2" value="February">February</option>
                        <option id="3" value="March">March</option>
                        <option id="4" value="April">April</option>
                        <option id="5" value="May">May</option>
                        <option id="6" value="June">June</option>
                        <option id="7" value="July">July</option>
                        <option id="8" value="August">August</option>
                        <option id="9" value="September">September</option>
                        <option id="10" value="October">October</option>
                        <option id="11" value="November">November</option>
                        <option id="12" value="December">December</option>
                      </select>
                    </div>
  
                    <div class="col-xs-6">
                      <select id="expStartYear" (change)='onExpInput()' formControlName="startTimeYear" placeholder="Year" class="form-control">
  
                        <option  value="">Year</option>
                        <option  *ngFor="let y of years">{{y}}</option>
                        
  
                      </select>
                    </div>
                  </div>
                </div>
              </div>
  
              <div  class="col-sm-6">
                <div  class="form-group">
                  <label >To <span class="asterisk">*</span></label>
                  <div class="col-xs-12 p-0">
                    <div class="col-xs-6 p-0">
  
                      <select id="expEndMonth" (change)='onExpInput()' formControlName="endTimeMonth"  placeholder="Month" class="form-control" >
                        <option id="0" value="">Month</option>
                        <option id="1" value="January">January</option>
                        <option id="2" value="February">February</option>
                        <option id="3" value="March">March</option>
                        <option id="4" value="April">April</option>
                        <option id="5" value="May">May</option>
                        <option id="6" value="June">June</option>
                        <option id="7" value="July">July</option>
                        <option id="8" value="August">August</option>
                        <option id="9" value="September">September</option>
                        <option id="10" value="October">October</option>
                        <option id="11" value="November">November</option>
                        <option id="12" value="December">December</option>
                      </select>
                    </div>
  
                    <div  class="col-xs-6">
                      <select formControlName="endTimeYear" id="expEndYear" (change)='onExpInput()'  placeholder="Year" class="form-control" >
                        <option  value="">Year</option>
                        <option  *ngFor="let y of years">{{y}}</option>  
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <span *ngIf="expYearValidation" class="red-clr">End Time Should Be Greater then Starting Time</span>
                </div>
              </div>
            </div>
  
            <label class="checkbox-inline" style=" color:gray !important;">
              <input #myId class="grey ng-untouched ng-pristine ng-valid" (change)="showOfficial = myId.checked ; showOffic(showOfficial)" type="checkbox">
              Currently Working
            </label>
  
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label>Description</label>
                  <textarea  class="form-control ng-untouched ng-pristine ng-invalid" formControlName="description" placeholder="Description Text" (click)="selectAllContent($event)"></textarea>
                </div>
  
              </div>
            </div>
            <input  class="form-control ng-untouched ng-pristine ng-valid" formControlName="experienceId" type="hidden">
          </form>
          <div class="btn-last-part">
            <!--<button class="btn btn-danger counsellor-db-btn  btn-lg back-btn btn-left" type="button" >Preview</button>-->
            <button style=" margin-left: 15px;" class="btn btn-success counsellor-db-btn  btn-lg back-btn btn-left btn-squared" type="button"  (click)="onExpPrevious()">Previous</button>
  
            <button class="btn btn-default btn-squared counsellor-db-btn nextBtn btn-lg back-btn btn-left" type="button" (click) = "onCancel()">Cancel</button>
  
            <button class="btn btn-primary btn-squared counsellor-db-btn nextBtn btn-lg back-btn btn-right" [disabled] = "!formExperience.valid || expYearValidation" (click)="onExperience()" type="button" >Next</button>
  
          </div>
        </div>
      </div>
    </div>
  
  
    <div class="row banner-form hide" id="step-6">
      <div class="forms-headingeducation">
        <h3 class="text-center">Upload Profile Picture</h3>
      </div>
      <div class="col-xs-12 no-padding">
        <div class="col-md-12">
          <div class="form-group">
  
            <div class="fileupload fileupload-new" data-provides="fileupload">
  
              <img id="image_user" class="img-rounded profile-picture"  src="assets/images/{{bydefaultimg}}" alt="">
              
              <!--<div class="fileupload-preview fileupload-exists thumbnail"></div>-->
            </div>
  
            <div class="user-edit-image-buttons upld-btn box">
             <span class="btn btn-primary btn-file"><span class="fileupload-new"><i class="fa fa-picture"></i>Upload</span>
               <span class="fileupload-exists"><i class="fa fa-picture"></i>Image</span>
  
               <input type="file" id="file-chooser-aws" type="file" onChange="uploadS3()" data-max-size="2" accept="image/*" />
               <input type="hidden" id="awsfileName" />
             </span>
              <a href="#" class="btn fileupload-exists btn-red hide" data-dismiss="fileupload">
                <i class="fa fa-times"></i> Remove
              </a>
               <span *ngIf="profileimageerror" class="red-clr">{{profileimageerror}}</span>
               <span class="red-clr" style="display: none" id="maxSize">Your file size must be equal to or less than 5MB</span>
           
            </div>
  
            
            
          </div>
  
          <div class="btn-last-part"><br>
            <button class="btn btn-success counsellor-db-btn  btn-lg back-btn btn-left btn-squared" type="button"  (click)="onPicPrevious()">Previous</button>
  
            <button class="btn btn-default btn-squared counsellor-db-btn nextBtn btn-lg back-btn btn-left" type="button" (click) = "onCancel()">Cancel</button>
  
            <button class="btn btn-primary btn-squared counsellor-db-btn  btn-lg nextBtn back-btn btn-right" (click)="onPicture()" type="button">Next</button>
  
          </div>
        </div>
      </div>
    </div>
  
  
    <div class="row banner-form hide" id="step-7">
      <div class="forms-headingeducation">
        <h3>Verify your account </h3>
      </div>
      <div class="col-xs-12 no-padding">
        <div class="col-md-12">
            <div class="row">
            <div class="col-sm-12">
              <div class="form-group box" style="float:left;">
                <label> Enter the OTP you have received on your mobile <span class="asterisk">*</span> <span class="pull-right pl-35"><svg class="checkmarkPhone checkmark"  viewBox="0 0 52 52">
              <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/><path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/>
             </svg></span></label>
               <input [(ngModel)] ="phoneCode"  type="Text" class="form-control verify-button" (click)="selectAllContent($event)">
                <button class="btn btn-primary verify-btn" style="float:left!important" (click)="resendPhone()">Resend</button>
              <span *ngIf="formErrors.phonecodeerror" class="red-clr">{{formErrors.phonecodeerror}}</span>
			 </div>
             
                        
            
            </div>
          </div>
         
            <div class="btn-last-part">
              <button style="" class="btn btn-success counsellor-db-btn btn-squared
   btn-lg back-btn btn-left btn-squared" type="button" (click)="onValidPrevious()">Previous</button>
              <button class="btn btn-success counsellor-db-btn  btn-lg back-btn btn-right btn-squared" (click) = "onFinish()"  type="submit">Submit</button>
            </div>
        </div>
      </div>
    </div>
  
    <div class="row banner-form hide" id="step-8">
      <div class="forms-headingeducation">
        <h3>Cancel Registration</h3>
      </div>
      <div class="col-xs-12">
        <div class="col-md-12">
          <div class="form-group text-center">
            <label> Do you want to exit Registration Process ? </label>
          </div>
  
          <div class="btn-main-part text-center">
           <button class="btn btn-success counsellor-db-btn  btn-lg back-btn btn-squared btn-center" type="button"  (click)="onCancelled()">Yes</button>
           <button class="btn btn-default btn-squared counsellor-db-btn btn-lg nextBtn back-btn btn-center" (click)="onReturn()" type="button">Cancel</button>
  
          </div>
        </div>
      </div>
    </div>
  