.intercell-bg{float:left;width:100%;}

.story-box{background:rgba(0,128,184,0.5);padding:40px 50px 60px 50px;color:#fff;
width:100%;margin-top:115px;-webkit-box-shadow: 1px 1px 8px -3px rgba(0,0,0,0.75);
-moz-box-shadow: 1px 1px 8px -3px rgba(0,0,0,0.75);box-shadow: 1px 1px 8px -3px rgba(0,0,0,0.75);border-radius:3px;}
.story-box h1{margin-bottom:20px;font-weight:400;}
.vision_section{float:left;width:100%;background:#f9f9fa;padding:30px 0;}
.brand-posi{float:left;width:100%;}
.vision_section .line1{position:relative;font-size:30px;line-height:48px;color:#0082b9;font-weight:400;
width:auto;margin:0 auto;display:table;float:none;padding:0;}
.vision_section .line1:after{content:"";top:50%;position:absolute;width:200px;border-bottom:1px solid #0082b9;
left:103px;}
.vision_section .line1:before{content:"";top:50%;position:absolute;width:200px;border-bottom:1px solid #0082b9;
right:103px;}
.vision_section .line2{margin:10px;font-size:22px;line-height:25px;color:#333;font-weight:300;}