<span *ngIf="isLogin"><app-header></app-header></span>
<span *ngIf="!isLogin"><app-login-header></app-login-header></span>
<!--Page Content Start-->


<section class="intercell-bg" style="background:url(../assets/images/intercell-story_bg.jpg)no-repeat;background-position:center center;background-size:cover;height:700px;">
	<div class="container">
		<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
		<div class="story-box">
			<h1 class="text-center">INTERCELL STORY</h1>
			<p style="text-align:justify;">You no longer have to run aimlessly to seek help from seniors to tell you how they did it. You no longer have to search Google to find answers for growth and success in your career fields.</p> 
			<p style="text-align:justify;">2018! Time has evolved.</p> 
			<p style="text-align:justify;">With the help of technology and networking, we have managed to build a platform that will empower you to take better decisions in your career. We have finally launched a solution as an attempt to bridge the gap between education and progress. Intercell - Virtual Mentor Network: This is where you can reach out to leading professionals who have experienced tough times in the past and conquered them to success.  You can actually interact with them in a one to one 'Virtual Session' right on your computer or mobile screens.</p> 
			<p style="text-align:justify;">This is the time for you to get the right direction from the bright minds!</p> 
			<p style="text-align:justify;">All the best with your careers!</p> 
			
		</div>
		</div>
		</div>
	</div>
</section>

<section class="vision_section">
        <div class="container">
			<div class="row">
				<div class="col-sm-12 line1 text-center">Vision</div>
				<div class="col-sm-12 line2 text-center">Empowering people globally to progress though virtual mentoring</div>
			</div>
		</div>
</section> 

<section class="brand-posi">
    <div class="parallax-image" id="testimonial">
        <div class="container">
            <p class="brand-text">Virtual Mentor Network</p>
        </div>
    </div>
</section> 
		  


<!--Page Content End-->
<app-footer *ngIf="!isLogin"></app-footer>