<app-header></app-header>
<div class="main-wrapper Counsellor_dashboard">
  <!-- start: TOPBAR -->
  <!-- end: TOPBAR -->
  <!-- start: PAGESLIDE LEFT -->
  <a class="closedbar inner hidden-sm hidden-xs" href="#"> </a>

  <!-- end: PAGESLIDE LEFT -->
  <!-- start: MAIN CONTAINER -->
  <div class="main-container inner">
    <!-- start: PAGE -->
    <div class="main-content" id="main">
      <!-- end: SPANEL CONFIGURATION MODAL FORM -->
      <div class="container">
        <!-- start: PAGE CONTENT -->
        <div class="row">
          <div class="col-sm-12">
            <div class="tabbable user_profile-table_tab">
              <app-inner-header></app-inner-header>
              <div class="tab-content">
                  <h2 class="col-md-12 title no-padding">Notifications</h2>
                  <div class="inner-box session_history">
                <div id="panel_message" class="active">
                    <div class="text-center text-bold padding-vertical-20" [hidden]="messagecount">There is no Notification!</div>
                  <div class="panel-body messages" [hidden]="!messagecount">

                    <div class="messages-list col-md-4 search-results">
                      <ul class="messagetab-menu list-unstyled">

                        <li *ngFor="let message of messages; let indMessage = index" id="msg_{{indMessage}}"  [ngClass]="(message.is_actived != 0)? 'messages-item read':'messages-item unread'" (click)="onMessageClick(message.id)">
                          <span title="Mark as starred" class="mail-icon" ><i id="envelope_{{indMessage}}" [ngClass]="(message.is_actived != 0)? 'fa fa-envelope-open-o':'fa fa-envelope-o'"></i></span> <!--<img alt="" src="assets/images/avatar-1.jpg" class="messages-item-avatar">--> <span class="messages-item-from">Intercell Services</span>
                          <div class="messages-item-time"><span class="text">{{message.created_date}}, {{message.created_time}} </span>
                          </div>
                          <span class="messages-item-subject">{{ (message.subject.length>50)? (message.subject | slice:0:50)+'..':(message.subject)}}</span>
                          <!-- <span class="messages-item-preview">   {{ (message.text.length>80)? (message.text | slice:0:80)+'..':(message.text)}}</span>-->
                          <span style="max-height:35px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 250px;" class="messages-item-preview" [innerHTML]="message.text | safeHtml ">   </span>
                        
                        </li>

                      </ul>
                    </div>


                    <div class="messages-content col-md-8 ptab" >

                       <span *ngFor="let message of messages;let indMessage = index">
                      <div [ngClass]="(indMessage != 0)? 'messagetab-content':'messagetab-content active'">
                        <div class="message-header">
                          <div class="message-time"> {{message.created_date}}, {{message.created_time}} </div>
                          <!--<div class="message-from"> Service &lt;info@intercellworld.com&gt; </div> -->
                          <div class="message-to"><strong> To: {{userFullName}} </strong></div>
                          <div class="message-subject"> {{message.subject}} </div>
                        </div>

                        <div class="message-content">
                          <div [innerHTML]="message.text | safeHtml "></div>
                        </div>
                      </div>
                       </span>

                    </div>

                  </div>
                </div>
              </div>
            </div>
            <!-- end: PAGE CONTENT-->
          </div>
        </div>
        <!-- end: PAGE -->
      </div>
	  </div>
      <!-- end: MAIN CONTAINER -->

      <footer class="inner">
        <div class="footer-inner">
          <div class="pull-left">
            2017 &copy; Intercell Technologies Pvt. Ltd.
          </div>

          <div class="pull-right">
            <div class="bottom-top-btn">
              <a href="#" class="scrollToTop"><i class="fa fa-arrow-up" aria-hidden="true"></i></a>
            </div>
          </div>


        </div>
      </footer>
      <!-- start: FOOTER -->
      <!--<app-footer></app-footer>-->
      <!-- end: FOOTER -->
    </div>
  </div>
</div>

