<app-login-header></app-login-header>
<!--Page Content Start-->
<div class="container-fluid p-0 bg-white">
  <!--Download App Start-->
  <div class="container">

    <div class="row">
	
      <div class="download-part" id="main">
        <div class="col-md-12 learn-mentor-part">

        <p class="learn-mentee-text">
          InterCell has been incorporated to help students and young professionals kick-start their careers and eliminate the futile efforts, made by them, over countless days and nights spent over social networking sites such as LinkedIn to hunt for the right people in order to get inside scoop which can help them succeed faster. InterCell is an initiative to help those in need, especially the students.

          InterCell brings to you a wonderful opportunity, all for a cause, and with definite returns. A professional platform to provide students with personalized Mentoring on what to do and what not to do, in their careers. ! InterCell seeks professionals like you to join hands and enroll in our counsellor panel. All you need to do is fill up a quick form below and we’ll contact you shortly.
        </p>
      </div>
    </div>
  </div>
</div>
</div>
<app-footer></app-footer>
