<section *ngIf="meetCounsellorDetails.length" id="mentor-slider" style="display: none" >
  <div class="mentee-part" >
  
  <div class="container">
  <h3>A glimpse of the Mentor Panel</h3>
      <ul id="content-slider"  >
        <li *ngFor="let counsellor of meetCounsellorDetails;let indCounsellor = index">
          <div class="student-speak-section">
            <div class="default-color-dark bag-color-light"></div>
                      
              <div class="image-box" [ngClass]="{'after-login-background': userId}">
                <div class="avatar meettor-img meettor-img-height" *ngIf="counsellor.dp_image" [ngStyle]="{'background-image': 'url('+cdnPath+counsellor.dp_image+ ')'}" [style.backgroundSize]="'cover'"></div>
                <div class="avatar meettor-img meettor-img-height"  *ngIf="!counsellor.dp_image" [ngStyle]="{'background-image': 'url('+cdnPath+'intercell-user-pic.png'+ ')'}" [style.backgroundSize]="'cover'"></div>
                <p  *ngIf="!userId" class="profile-detelis"><a href="javascript:void(0);" class="btn counsellor-db-btn" (click)="summaryModel.open();setCounsellor(counsellor,indCounsellor,counsellor.dp_image,counsellor.summary);">Read More</a></p>
             </div>

            <span class="card-block ">
            <h4 class="card-title">{{counsellor.first_name | titlecase }} {{counsellor.last_name | titlecase}}<br>
            </h4>
            <p class="testi-title-home"><span>Total Experience:</span>  {{counsellor.totalexperience | titlecase}} years</p>
<p class="testi-title-home"><span>Expertise:</span> {{counsellor.name | titlecase}} </p>
<p class="testi-title-home" *ngIf="counsellor.brand_worked_for"><span>Brand Portfolio:</span> <em [innerHTML]="counsellor.brand_worked_for| safeHtml ">   </em> </p>
          <!-- <p class="testi-descri" *ngIf="counsellor.summary_intercell">{{counsellor.summary_intercell|slice:0:200}}</p>-->           
          </span>
          </div>
      
      </li>
        
      
      </ul>
    </div>
    <div class="clearfix"></div>
    </div>
    </section>


    <modal #summaryModel>
      <modal-header>
          <h5 class="popup-title">{{popFullName}}</h5>
      </modal-header>
        
      <modal-content>
          <div class="row">
             <div class="col-md-12">
             <div class="col-md-4">
                 <img src="{{popUserPic}}" class="img-responsive">
               </div>
           <div class="popup-content col-md-8">
              
             <p>{{summary}}<p>
            </div>
         </div>
           </div>
         </modal-content>
      
    </modal>