<span *ngIf="isLogin"><app-header></app-header></span>
<span *ngIf="!isLogin"><app-login-header></app-login-header></span>
<!--Page Content Start-->
<div class="container-fluid p-0 bg-white">
  <!--Download App Start-->
  <div class="container">

    <div class="row">
      <div class="download-part" id="main">
        <div class="col-xs-2 hidden-xs hidden-sm"></div>
        <div class="col-xs-4 col-sm-5 hidden-xs col-md-4">
          <div class="download-app-page">
            <img src="assets/images/phone.png"/>

          </div>

        </div>
        <div class="col-xs-12 col-sm-7 col-md-6">
          <div class="download-right-part">
            <div class="download-sections">
              <h2>Get the Intercell app</h2>
              <h4>Virtual mentoring is now trending!</h4>
              <p>Interact with experts real-time on Intercell's Virtual Mentor Network. Achieve your goals with the right guidance from the right professionals.</p>

            </div>
            <div class="download-forms">
              <p>Enter your mobile number or email address below to get started. You will receive a link to download the Intercell app</p>
              <form>
                <input type="text" placeholder="+91" class=" col-xs-2 col-sm-1"/>
                <input type="text" placeholder="Enter phone number" class="col-xs-6 col-sm-8"/>
                <button class="col-xs-4 col-sm-3">Text App Link</button>
              </form>


            </div>
            <div class="col-xs-12 mt5 mb5">
              <div class="row">
                <div class="ui horizontal divider">Or</div>
                <div class="border-left"></div>
                <div class="border-right"></div>
              </div>
            </div>
            <div class="download-forms">

              <form>

                <input type="text" placeholder="Enter your email id" class="col-xs-7 col-sm-9"/>
                <button class="col-xs-5 col-sm-3">Email App Link</button>
              </form>
              <div class="img-resp">
                <div class="ios-part col-xs-6 col-sm-4 col-md-4 col-lg-4">
                  <a href="#"> <img class="" src="assets/images/ios.png"/></a></div>
                <div class="play-store-part  col-xs-6 col-sm-4 col-md-4 col-lg-4">
                  <a href="#">  <img class="" src="assets/images/play-store-image.png"/></a>
                </div>

              </div>
            </div>

          </div>
        </div>



       <!-- <div class="renewal-part"><button data-toggle="modal" data-target="#squarespaceModal" class="btn btn-primary center-block renewal-btn">Registration Renewal</button></div>-->
      </div>

      <!--Download App End-->
    </div>



    <!-- line modal -->
    <div class="modal fade" id="squarespaceModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
<!--<h3 class="modal-title modal-heading" id="lineModalLabel">Registration Renewal</h3>-->
          </div>
          <div class="modal-body">

            <!-- content goes here -->
            <form>

              <div class="checkbox">

                <label class="radio-inline" for="car-0">
                  <input type="radio" name="car" id="car-0" value="Yes" checked="checked">
                  Rs 500 for one year.
                </label>
                <label class="radio-inline" for="car-1">
                  <input type="radio" name="car" id="car-1" value="No">
                  Rs 1000 for Two year.
                </label>

              </div>

              <button type="submit" class="btn btn-default right-btn-renewal">Submit</button>
            </form>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<span *ngIf="!isLogin"><app-footer></app-footer></span>
