<app-login-header></app-login-header>

<app-serviceslider></app-serviceslider>

<app-mentopanelslider></app-mentopanelslider>
<section><!--slider section start -->
<div class="container">

<div class="row">
        <div class="col-lg-12">
          <div class="inner-banner-div">
			  <img src="../../assets/images/inner_slide_bnr.jpg"/>
			  
			  <div class="col-lg-6">
			 <p>Where students and professionals meet specialist business mentors</p>
              <span>Experts from the industry who perform the role of a coach </span>
			  </div>
            </div> 
        </div>
		</div>
      
        
	
</div>
</section><!--slider section end -->
                        

<section><!--for heading start-->
	<div class="container">
<div class="row for-heading">
<div class="col-lg-12">
	<h1>For Heading</h1>
	</div>
	</div>
	</div>
</section> <!--for heading eand-->

<div class="container">
<div class="col-xs-12">
    <div class="carousel slide" id="myCarousel">
        <div class="carousel-inner">
            <div class="item active">
                    <ul class="thumbnails">
                        <li class="col-sm-4">
    						<div class="casing">
								<div class="thumbnail">
									<a href="#"><img src="http://placehold.it/360x240" alt=""></a>
								</div>
								<div class="caption">
									<h4>Item Title first</h4>
									<p>Hello world, something nice to develop</p>
									<a class="btn btn-mini" href="#">» Read More</a>
								</div>
                            </div>
                        </li>
                        <li class="col-sm-4">
							<div class="casing">
								<div class="thumbnail">
									<a href="#"><img src="http://placehold.it/360x240" alt=""></a>
								</div>
								<div class="caption">
									<h4>Item Title</h4>
									<p>Hello world, something nice to develop</p>
									<a class="btn btn-mini" href="#">» Read More</a>
								</div>
                            </div>
                        </li>
                        <li class="col-sm-4">
							<div class="casing">
								<div class="thumbnail">
									<a href="#"><img src="http://placehold.it/360x240" alt=""></a>
								</div>
								<div class="caption">
									<h4>Item Title</h4>
									<p>Hello world, something nice to develop</p>
									<a class="btn btn-mini" href="#">» Read More</a>
								</div>
                            </div>
                        </li>
                       
                    </ul>
              </div><!-- /Slide1 --> 
            <div class="item">
                    <ul class="thumbnails">
							<li class="col-sm-4">
								<div class="casing">
									<div class="thumbnail">
										<a href="#"><img src="http://placehold.it/360x240" alt=""></a>
									</div>
									<div class="caption">
										<h4>Item Title first</h4>
										<p>Hello world, something nice to develop</p>
										<a class="btn btn-mini" href="#">» Read More</a>
									</div>
								</div>
							</li>
							<li class="col-sm-4">
								<div class="casing">
									<div class="thumbnail">
										<a href="#"><img src="http://placehold.it/360x240" alt=""></a>
									</div>
									<div class="caption">
										<h4>Item Title</h4>
										<p>Hello world, something nice to develop</p>
										<a class="btn btn-mini" href="#">» Read More</a>
									</div>
								</div>
							</li>
							<li class="col-sm-4">
								<div class="casing">
									<div class="thumbnail">
										<a href="#"><img src="http://placehold.it/360x240" alt=""></a>
									</div>
									<div class="caption">
										<h4>Item Title</h4>
										<p>Hello world, something nice to develop</p>
										<a class="btn btn-mini" href="#">» Read More</a>
									</div>
								</div>
							</li>
						   
						</ul>
              </div><!-- /Slide2 --> 
            <div class="item">
                    <ul class="thumbnails">
							<li class="col-sm-4">
								<div class="casing">
									<div class="thumbnail">
										<a href="#"><img src="http://placehold.it/360x240" alt=""></a>
									</div>
									<div class="caption">
										<h4>Item Title first</h4>
										<p>Hello world, something nice to develop</p>
										<a class="btn btn-mini" href="#">» Read More</a>
									</div>
								</div>
							</li>
							<li class="col-sm-4">
								<div class="casing">
									<div class="thumbnail">
										<a href="#"><img src="http://placehold.it/360x240" alt=""></a>
									</div>
									<div class="caption">
										<h4>Item Title</h4>
										<p>Hello world, something nice to develop</p>
										<a class="btn btn-mini" href="#">» Read More</a>
									</div>
								</div>
							</li>
							<li class="col-sm-4">
								<div class="casing">
									<div class="thumbnail">
										<a href="#"><img src="http://placehold.it/360x240" alt=""></a>
									</div>
									<div class="caption">
										<h4>Item Title last</h4>
										<p>Hello world, something nice to develop</p>
										<a class="btn btn-mini" href="#">» Read More</a>
									</div>
								</div>
							</li>
						   
						</ul>
              </div><!-- /Slide3 --> 
        </div>
 	   <!-- /.control-box -->   
                              
    </div><!-- /#myCarousel -->
        
</div><!-- /.col-xs-12 -->          

</div><!-- /.container -->

<!--------------------------------------------------------------------------------------------------------------------------------------->

<section><!--page artical mentor section start -->
<div class="container">
	<div class="row mentor-div"> 
	<div class="col-lg-7">
		
		
		<div class="tabbable">
									<ul class="nav nav-tabs tab-padding tab-space-3 tab-blue tab-mentor">
										<li class="active">
											<a data-toggle="tab" href="#panel_overview" aria-expanded="true">
												Mentor
											</a>
										</li>
										<li class="">
											<a data-toggle="tab" href="#panel_edit_account" aria-expanded="false">
												Students and Professionals
											</a>
										</li>
										
									</ul>
									<div class="tab-content">
										<div id="panel_overview" class="tab-pane fade active in">
											<div class="row">											
												<div class="mentor-txt">
		<p>How quickly you learn the ropes of your stream and business will determine how far you will go. <br/>
		The mentor you choose can help you in many ways:</p>
		
		<ul>
		<li><img src="../../assets/images/mentor-arrow.png"/> Anticipate roadblocks</li>
		<li><img src="../../assets/images/mentor-arrow.png"/> Recognize opportunities as and when they come your way</li>
		<li><img src="../../assets/images/mentor-arrow.png"/> Scale the Mount Everest of your profession</li>
		
		</ul>
		<p>Expert advice goes a long way in plotting your career, conquering steep cliffs with relative ease and reaching the summit, your long-term target. Register if you’re launching or shaping your career: Interact with experts real-time on Intercell's Virtual Mentor Network. Achieve your goals with the right guidance from the right professionals.<br>
			Clear all doubts, delve deep into subjects of your interest and propel forward.
</p>
		
		</div>					
											</div>
										</div>
										<div id="panel_edit_account" class="tab-pane fade">
										
												<div class="row">
													<div class="col-md-12">
														<p>
														Maecenas convallis porta purus, pulvinar mattis nulla tempus ut. Curabitur quis dui orci. Ut nisi dolor, dignissim a aliquet quis, vulputate id dui. Proin ultrices ultrices ligula, dictum varius turpis faucibus non. Curabitur faucibus ultrices nunc, nec aliquet leo tempor cursus.
													</p>
													
													</div>
													
													
												</div>
				
										</div>
										
									</div>
								</div>
		
	
		</div>
		
		<div class="col-lg-5  mentor-img">
		<img src="../../assets/images/mentor-img.jpg" class="img-responsive"/>
		</div>
	
	</div>
	
	</div>
</section><!--page artical mentor section end -->







<!--------------------------------------------------------------------------------------------------------------------------------------->  
 
<section><!--page 3grid container section start -->
<div class="ngcontent-pd">
	<div class="container">
	<div class="row grid-wrp">
		
		<div class="col-lg-12">
		
		<div class="col-sm-4 col-xs-12 grid-div">
			<img src="../../assets/images/domain-icon.png"/>
			
			<div class="dash-border">
			<h3>Domain Expert</h3>
			<p>Intercell connects you with domain experts from your field. Talk to industry experts today from the stream of your interest. No matter in which field you wish to pursue your dreams, Intercell has a qualified mentor who can tell you where you are today, where you can be tomorrow and what you could do to get there fast. </p>
			</div>
			</div>
			
			
		<div class="col-sm-4 col-xs-12 grid-div">			
			<img src="../../assets/images/appro-icon.png"/>
			<div class="dash-border">
			<h3>Approachable</h3>
			<p>Intercell mentors are warm, friendly and compassionate. We understand that the first couple of years in a job can be tough and that is why, precisely, Intercell was formed to help students and professionals like you achieve more and prepare better for the world that awaits you, through a step-by-step guided approach used by Intercell mentors.</p>
			</div>
			
			</div>
			
			
		<div class="col-sm-4 col-xs-12 grid-div">			
			<img src="../../assets/images/fuide-icon.png"/>
			<div class="dash-border1">
			<h3>Guide</h3>
			<p>Intercell aims to provide clarity and assurance in your chosen career. Get quick assessment via real-time virtual mentoring. Each mentor adds value to your life in his or her own unique way so you can progress faster, towards a rewarding career.</p>
				</div>
			</div>
		
		</div>
	</div>
	
	
	</div>
	</div>
</section><!--page 3grid container section end -->




<section><!--Intercell Mentors section start -->

<div class="container">
	
	<div class="row inter-mentor-div">
	<h2 class="inter_heading">Intercell Mentor</h2>
	
	<div id="mentor-part" [ngClass]="{'mentee-part' : true}" *ngIf="meetCounsellorDetails.length">
		<div class="resCarousel" data-items="2-4-4-4" data-interval="2000" data-slide="1" data-animator="lazy">
			<div class="resCarousel-inner">
	
			  <div class="item" *ngFor="let counsellor of meetCounsellorDetails;let indCounsellor = index">
			   
				<div class="col-xs-12  carous-card">
				  <div class="card">
	
					<div class="student-speak-section">
					  <div class="default-color-dark bag-color-light"></div>
					  
					   <div class="avatar meettor-img meettor-img-height" *ngIf="counsellor.dp_image" [ngStyle]="{'background-image': 'url('+cdnPath+counsellor.dp_image+ ')'}" [style.backgroundSize]="'cover'" ></div>
					  <div class="avatar meettor-img" *ngIf="!counsellor.dp_image"><img src="assets/images/intercell-user-pic.png" class="img-responsive"></div>
					  <span class="card-block ">
					  <h4 class="card-title">{{counsellor.first_name | titlecase }} {{counsellor.last_name | titlecase}}<br>
					<p class="testi-title">{{counsellor.name | titlecase}} </p>  </h4>
					<p class="testi-descri">{{counsellor.summary|slice:0:70}}...</p>            
					</span>
					</div>
				  </div>
				</div>
			  </div>
			</div>
			<button class='btn btn-default leftRs'><</button>
			<button class='btn btn-default rightRs'>></button>
		   </div>
	
	</div>


	   

		<!--<div class="col-md-3 col-sm-6 col-xs-12">
	<img src="../../assets/images/inter-img.png"/>
		<h4>Rajat Sharma <br><span>Marketing, Gurgaon</span></h4>
		
		<p>I have total 5 years of experience in iPhone application development. ...</p>
		</div>
		<div class="col-md-3 col-sm-6 col-xs-12">
			<img src="../../assets/images/inter-img.png"/>
			<h4>Rajat Sharma<br><span>Marketing, Gurgaon</span></h4>
		
		<p>I have total 5 years of experience in iPhone application development. ...</p>
		</div>
		<div class="col-md-3 col-sm-6 col-xs-12">
			<img src="../../assets/images/inter-img.png"/>
			<h4>Rajat Sharma <br><span>Marketing, Gurgaon</span></h4>
		<p>I have total 5 years of experience in iPhone application development. ...</p>
		</div>
		<div class="col-md-3 col-sm-6 col-xs-12">
			<img src="../../assets/images/inter-img.png"/>
			<h4>Rajat Sharma <br><span>Marketing, Gurgaon</span></h4>
		<p>I have total 5 years of experience in iPhone application development. ...</p>
		</div>-->
		
	
	</div>
	</div>
</section><!--Intercell Mentors section end -->





<section><!--page footer banner section start -->
	
	<div class="container ngcontent-pd">
<div class="row footer-banner" >
        <div class="col-lg-12">
          <div class="footer-banner-div">
			  <img src="../../assets/images/footer-bnr.jpg"/>
			  
			 <div class="col-lg-6">
               <p>Place holder  for user testimonials for beta, we can place virtual mentor network here - centrally aligned</p>
              </div>
			  
            </div> 
        </div>
       
        </div>	
	
</div>
</section><!--page footer banner section end -->




<app-footer></app-footer>