<app-login-header></app-login-header>

<div class="pos-rel" style="height:100vh">

  <!--Page Content Start-->
  <div class="forgot-bg"></div>
  <div class="container-fluid">
    <div class="forgot-bx blk-center">


      <div class="forgot-blk">
        <h3 class="text-center">Verify MailID</h3>
        <div class="forgot-bx-cntnt">
          <h5>Verification code has been sent to your email id.</h5>
          <div class="form-group">
            <input type="text" [(ngModel)] ="validKey" class="form-control" placeholder="Verification Code">
          </div>
          <span *ngIf="keyError" class="red-clr">Wrong Key</span>
          <div class="text-center"><input type="submit" (click) = "onCheck()" class="btn btn-blue text-center blk1-btn" value="Verify"> </div>
        </div>

      </div>

    </div>
  </div>
  <!--Page Content End-->

</div>
<script>

</script>
