<app-header></app-header>
<!-- start: MAIN CONTAINER -->
<div class="main-container inner">
  <!-- start: PAGE -->
  <div class="main-content student-section" id="main">
    <!-- start: PANEL CONFIGURATION MODAL FORM -->

    <!-- /.modal -->
    <!-- end: SPANEL CONFIGURATION MODAL FORM -->
    <div class="container">
      <!-- start: PAGE CONTENT -->
      <div class="row">
        <div class="col-sm-12">
          <div class="tabbable user_profile-table_tab">
            <app-inner-header></app-inner-header>
            <div class="tab-content">
				<h2 class="col-md-12 title no-padding">Profile</h2>
              <div id="panel_profile" class="active">
                <div class="panel panel-white panel_profile_progress panel_profile_counsellor col-md-12 inner-box">
				
					
						<div class="card hovercard">
						  <div class="cardheader">
						   <!--<a href="#"><i class="fa fa-picture-o" aria-hidden="true"></i> Update Background Picture</a>
							<p>Last-Update: 20/05/2017</p>-->
						  
						  <div class="avatar">
							<img id="student_dpImage" *ngIf="userDetails.dp_image" alt="" src={{userDetails.dp_image}}>
							<img id="student_dpImage_null" *ngIf="!userDetails.dp_image" alt="" src="assets/images/intercell-user-pic.png">
						  </div>
              <div class="delete panel-tools pr-tools">
                <a class="btn btn-xs btn-link" (click)="deleteProfileImage()">
                    <i class="fa fa-trash"></i>
                  </a>
    
                  </div>
              </div>
						  <div class="panel-tools pr-tools">

							<a class="btn btn-xs btn-link" href="#" data-toggle="modal" data-target="#squarespaceModal">
							  <i class="fa fa-pencil"></i>
              </a>
              </div>
						  <div class="text-center profile_summary mt10">
                <h4>{{userDetails.first_name|titlecase}}&ensp;{{userDetails.last_name|titlecase}}</h4>
                
							<p>{{userDetails.profile_summary}}</p>
							<p *ngIf="userDetails.city">{{userDetails.city}} , {{userDetails.state}} , {{userDetails.country}}</p>
            
            </div>
						</div>
					</div>
               	
                <div class="panel panel-white panel_profile_progress panel_profile_counsellor col-md-12 inner-box">
				
                  <div class="panel-heading">
                    <h2>Education</h2>
                  </div>
                  <div class="panel-tools panel-tools-pr">
                    <div class="dropdown">

                      <ul class="dropdown-menu dropdown-light pull-right" role="menu">
                        <li>
                          <a class="panel-collapse collapses" href="#"><i class="fa fa-angle-up"></i> <span>Collapse</span> </a>
                        </li>
                        <li>
                          <a class="panel-refresh" href="#">
                            <i class="fa fa-refresh"></i> <span>Refresh</span>
                          </a>
                        </li>
                        <li>
                          <a class="panel-config" href="#panel-config" data-toggle="modal">
                            <i class="fa fa-wrench"></i> <span>Configurations</span>
                          </a>
                        </li>
                      </ul>
                    </div>

                    <a class="btn btn-xs dropdown-toggle" data-toggle="modal" data-target="#squarespaceModal1">
                      <i class="fa fa-plus"></i>
                    </a>
                  </div>

                  <div class="form-group">
                    <div class="panel-body" *ngFor="let qualification of qualification_data; let quaId =index;">
                      <div class="exp-panel" >
                        <div class="row">

                          <div class="col-sm-12 educ-border">
                          <div class="col-sm-12 edu-img ">
                            <img src="assets/images/school2.png">
                          </div>

                          <div class="eduu-button">

                            <a class="btn btn-xs btn-link" data-toggle="modal" [attr.data-target]="'#qualification' + qualification.qua_id">
                              <i class="fa fa-pencil"></i>
                            </a>

                            <a class="btn btn-xs btn-link" (click)="deleteQualification(qualification.qua_id)">
                              <i class="fa fa-trash"></i>
                            </a>
                          </div>

                          <div class="col-sm-12">
                                <h4> {{qualification.school_name}}</h4>
                                <div class="">{{qualification.marks}}</div>
                                <div class="">{{qualification.enrollment_date}}  to {{qualification.complation_date}}</div>
                                <div class="student-content"><p>{{qualification.profile_summary}}</p></div>
                          </div>
                          <div class="modal fade" [attr.id]="'qualification' + qualification.qua_id" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
                            <div class="modal-custom_mo">
                              <div class="modal-dialog">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                                    <h3 class="modal-title">Edit Education</h3>
                                  </div>
                                  <div class="modal-body">

                                    <!-- content goes here -->
                                    <form [formGroup] = "formCollection[quaId]" >
                                     
                                      <div class="row">
                                        <div class="col-sm-12">
                                          <div class="form-group">
                                            <label>School/Institute  <span class="asterisk">*</span></label>
                                            <input type="Text" maxlength="150" class="form-control" [(ngModel)]="qualification.school_name" value="{{qualification.school_name}}" formControlName="university" placeholder="School">
                                            </div>
                                        </div>
                                      </div>
                                      <div class="row">
                                        <div class="col-sm-12">
                                          <div class="form-group">
                                            <label>Level Of Education<span class="asterisk">*</span></label>

                                            <select class="form-control" [(ngModel)]="qualification.qualification"  formControlName="class">
                                              <option value="">Select Your Level Of Education</option>
                                              <!-- <option value="0">Primary (Below 8th Standard)</option>
                                               <option value="1">Secondary (8th-10th)</option>-->
                                              <option value="2">Senior Secondary or Below</option>
                                              <option value="3">Undergraduate</option>
                                              <option value="4">Postgraduate</option>
                                              <option value="5">Other</option>
                                            </select>

                                          </div>
                                        </div>
                                      </div>

                                      <div class="row">
                                        <div class="col-sm-12">
                                          <div class="form-group">
                                            <label>Field of Study  <span class="asterisk">*</span></label>
                                            <input type="Text" maxlength="50" class="form-control" [(ngModel)]="qualification.field" formControlName="field" placeholder="Science , Mechanical etc.">
                                          </div>
                                        </div>
                                      </div>

                                      <label>
                                        Time period  <span class="asterisk">*</span>
                                      </label>
                                      <div class="row">
                                        <div class="col-sm-6">
                                          <div class="form-group">
                                            <label>
                                              From year
                                            </label>

                                            <select id="education_start_time_{{qualification.qua_id}}"  (change)='onInput_(qualification.qua_id)' formControlName="startDate" class="form-control">

                                              <option value="">From Year</option>
                                              <option value="1970">1970</option>
                                              <option value="1971">1971</option>
                                              <option value="1972">1972</option>
                                              <option value="1973">1973</option>
                                              <option value="1974">1974</option>
                                              <option value="1975">1975</option>
                                              <option value="1976">1976</option>
                                              <option value="1977">1977</option>
                                              <option value="1978">1978</option>
                                              <option value="1979">1979</option>
                                              <option value="1980">1980</option>
                                              <option value="1981">1981</option>
                                              <option value="1982">1982</option>
                                              <option value="1983">1983</option>
                                              <option value="1984">1984</option>
                                              <option value="1985">1985</option>
                                              <option value="1986">1986</option>
                                              <option value="1987">1987</option>
                                              <option value="1988">1989</option>
                                              <option value="1989">1989</option>
                                              <option value="1989">1990</option>
                                              <option value="1990">1991</option>
                                              <option value="1992">1992</option>
                                              <option value="1993">1993</option>
                                              <option value="1994">1994</option>
                                              <option value="1995">1995</option>
                                              <option value="1996">1996</option>
                                              <option value="1997">1997</option>
                                              <option value="1998">1998</option>
                                              <option value="1999">1999</option>
                                              <option value="2000">2000</option>
                                              <option value="2001">2001</option>
                                              <option value="2002">2002</option>
                                              <option value="2003">2003</option>
                                              <option value="2004">2004</option>
                                              <option value="2005">2005</option>
                                              <option value="2006">2006</option>
                                              <option value="2007">2007</option>
                                              <option value="2008">2008</option>
                                              <option value="2009">2009</option>
                                              <option value="2010">2010</option>
                                              <option value="2011">2011</option>
                                              <option value="2012">2012</option>
                                              <option value="2013">2013</option>
                                              <option value="2014">2014</option>
                                              <option value="2015">2015</option>
                                              <option value="2016">2016</option>
                                              <option value="2017">2017</option>
                                              <option value="2018">2018</option>
                                            </select>

                                          </div>
                                        </div>
                                        <div class="col-sm-6">
                                          <div class="form-group">
                                            <label>
                                              To year
                                            </label>
                                            <select id="education_end_time_{{qualification.qua_id}}"  (change)='onInput_(qualification.qua_id)' formControlName="endDate" class="form-control">

                                              <option value="">To Year</option>
                                              <option value="1970">1970</option>
                                              <option value="1971">1971</option>
                                              <option value="1972">1972</option>
                                              <option value="1973">1973</option>
                                              <option value="1974">1974</option>
                                              <option value="1975">1975</option>
                                              <option value="1976">1976</option>
                                              <option value="1977">1977</option>
                                              <option value="1978">1978</option>
                                              <option value="1979">1979</option>
                                              <option value="1980">1980</option>
                                              <option value="1981">1981</option>
                                              <option value="1982">1982</option>
                                              <option value="1983">1983</option>
                                              <option value="1984">1984</option>
                                              <option value="1985">1985</option>
                                              <option value="1986">1986</option>
                                              <option value="1987">1987</option>
                                              <option value="1988">1989</option>
                                              <option value="1989">1989</option>
                                              <option value="1989">1990</option>
                                              <option value="1990">1991</option>
                                              <option value="1992">1992</option>
                                              <option value="1993">1993</option>
                                              <option value="1994">1994</option>
                                              <option value="1995">1995</option>
                                              <option value="1996">1996</option>
                                              <option value="1997">1997</option>
                                              <option value="1998">1998</option>
                                              <option value="1999">1999</option>
                                              <option value="2000">2000</option>
                                              <option value="2001">2001</option>
                                              <option value="2002">2002</option>
                                              <option value="2003">2003</option>
                                              <option value="2004">2004</option>
                                              <option value="2005">2005</option>
                                              <option value="2006">2006</option>
                                              <option value="2007">2007</option>
                                              <option value="2008">2008</option>
                                              <option value="2009">2009</option>
                                              <option value="2010">2010</option>
                                              <option value="2011">2011</option>
                                              <option value="2012">2012</option>
                                              <option value="2013">2013</option>
                                              <option value="2014">2014</option>
                                              <option value="2015">2015</option>
                                              <option value="2016">2016</option>
                                              <option value="2017">2017</option>
                                              <option value="2018">2018</option>
                                            </select>
                                          </div>
                                        </div>
                                      </div>

                                      <div class="row">
                                        <div class="col-sm-12">
                                          <div class="form-group">
                                            <span *ngIf="eduYearArrayValidation[qualification.qua_id]" class="blue-clr">Year submitted by you is invalid</span>
                                          </div>
                                        </div>
                                      </div>


                                      <div class="row">
                                        <div class="col-sm-12">
                                          <div class="form-group">
                                            <label>Description</label>
                                            <textarea maxlength="1000" type="Text" class="form-control" [(ngModel)]="qualification.profile_summary"  formControlName="profile_summary" placeholder="Description">
                                          </textarea>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="row">
                                          <div class="col-sm-12">
                                            <div class="form-group box">
                                             <span *ngIf="ErrorMessageEducation" class="red-clr">{{ErrorMessageEducation}}</span>
                                              </div>
                                          </div>
                                        </div>
                                      <input class="form-control" type="hidden" [(ngModel)]="qualification.qua_id" formControlName="qualificationId">

                                      <div class="modal-footer">
                                        <button type="button" data-dismiss="modal" role="button" class="btn btn-default btn-squared">
                                          Cancel
                                        </button>

                                        <button type="submit"  data-action="save"  (click) = "onStudentSubmit_edit(formCollection[quaId].value,quaId,qualification.qua_id)"  class="btn btn-primary btn-squared">
                                          Update
                                        </button>
                                      </div>
                                    </form>
                                  </div>

                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    </div>
                  </div>
                </div>

                <div class="panel panel-white panel_profile_progress panel_profile_counsellor col-md-12 inner-box">
                    
                  <div class="panel-heading">
                    <h2>Field of Interest</h2>
                  </div>

                  <div class="panel-tools panel-tools-pr">
                      <div class="dropdown">
                          <a class="btn btn-xs btn-link" href="#" data-toggle="modal" data-target="#squarespaceModal">
                              <i class="fa fa-pencil"></i>
                            </a>
                   
                      </div>
                    </div>

                    <div class="panel-body">
                        <div class="exp-panel">
                            <div class="row">
                                <div class="col-sm-12 inter-border">
                            <div class="col-sm-2 inte-img">
                                <img src="./assets/images/school.png">
                              </div>
                              <div class="col-sm-9">
                                <ul>
                                  <li>
                                    <h2>{{userDetails.field}}</h2>
                                  </li>
                                </ul>
                              </div>
                              </div>
                              </div>
                          </div>
                          </div>

                  </div>                    

                <!--div class="panel panel-white panel_profile_progress panel_profile_counsellor col-md-12">

                  <div class="panel-heading">
                    <h2>Field of Interest</h2>
                  </div>

                 

                  <div class="panel-tools panel-tools-pr">
                    <div class="dropdown">
                      <a class="btn btn-xs dropdown-toggle" data-toggle="modal" data-target="#interest">
                        <i class="fa fa-plus"></i>
                      </a>
                      <ul class="dropdown-menu dropdown-light pull-right" role="menu">
                        <li>
                          <a class="panel-collapse collapses" href="#"><i class="fa fa-angle-up"></i> <span>Collapse</span> </a>
                        </li>
                        <li>
                          <a class="panel-refresh" href="#">
                            <i class="fa fa-refresh"></i> <span>Refresh</span>
                          </a>
                        </li>
                        <li>
                          <a class="panel-config" href="#panel-config" data-toggle="modal">
                            <i class="fa fa-wrench"></i> <span>Configurations</span>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>

                  <div class="panel-body">
                    <div class="exp-panel">
                      <div *ngFor="let interest of interest_data;let intoId=index;" class="row">

                        <div class="col-sm-12 inter-border">
                        <div class="int-button">

                          <a class="btn btn-xs btn-link" data-toggle="modal" [attr.data-target]="'#interestedit' + interest.id">
                            <i class="fa fa-pencil"></i>
                          </a>

                          <a class="btn btn-xs btn-link" (click)="deleteInterest(interest.id)">
                            <i class="fa fa-trash"></i>
                          </a>
                        </div>

                        <div class="col-sm-2 inte-img">
                          <img src="./assets/images/school.png">
                        </div>
                        <div class="col-sm-9">
                          <ul>
                            <li>
                              <h2>{{interest.field_name}}</h2>
                            </li>
                          </ul>
                        </div>


                        <div class="modal fade" [attr.id]="'interestedit'+ interest.id" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
                          <div class="modal-custom_mo">
                            <div class="modal-dialog">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                                  <h3 class="modal-title">Edit Field Of Interest</h3>
                                </div>
                                <div class="modal-body">
                                  <label>Field <span class="asterisk">*</span></label>

                               
                                  <form [formGroup] = "formInterestCollection[intoId]" >
                                    <div class="row">
                                      <div class="col-sm-12">
                                        <div class="form-group">
                                          <input class="form-control" maxlength="50" placeholder="Enter Interest" [(ngModel)]="interest.field_name" formControlName="field">

                                          
                                        </div>
                                      </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                          <div class="form-group box">
                                            <span *ngIf="ErrorMessageInterest" class="red-clr">{{ErrorMessageInterest}}</span>
                                            </div>
                                        </div>
                                      </div>
                                    <input type="hidden" [(ngModel)] ="interest.id" formControlName="fieldId">
                                    <div class="modal-footer">
                                      <button type="button" data-dismiss="modal" role="button" class="btn btn-default btn-squared">
                                        Cancel
                                      </button>
                                      <button type="submit" (click)="onStudentFieldSubmit_edit(formInterestCollection[intoId].value,intoId,interest.id)" class="btn btn-primary btn-squared">
                                        Update
                                      </button>
                                    </div>
                                  </form>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        </div>
                      </div>
                    </div>
                  </div>


                </div-->


					 </div>	
				
                <div class="modal fade" id ="interest" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
                  <div class="modal-custom_mo">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                          <h3 class="modal-title">Add Field Of Interest</h3>
                        </div>
                        <div class="modal-body">

                          <!-- content goes here -->
                          <form [formGroup] = "formStudentInterest" >
                            <div class="row">
                              <div class="col-sm-12">
                                <div class="form-group">
                                  <label>Field <span class="asterisk">*</span></label>
                                  <input class="form-control" maxlength="50" placeholder="Enter Interest" formControlName="field">

                                  <!--   <select formControlName="field" class="form-control">
                                       <option value="">Select Interest</option>
                                       <option value="1">Sports</option>
                                       <option value="2">Reading</option>
                                       <option value="3">Travelling</option>
                                     </select>-->
                                </div>
                              </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                  <div class="form-group box">
                                    <span *ngIf="ErrorMessageAddInterest" class="red-clr">{{ErrorMessageAddInterest}}</span>
                                    </div>
                                </div>
                              </div>
                            <div class="modal-footer">
                              <button type="button" data-dismiss="modal" role="button" class="btn btn-default btn-squared">
                                Cancel
                              </button>
                              <button type="submit" (click)="onStudentFieldSubmit(formStudentInterest.value)" class="btn btn-primary btn-squared">
                                Save
                              </button>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
				
                <!-- end: PAGE -->
              </div>
              <!-- end: MAIN CONTAINER -->
             </div>
          <div class="modal fade" id="squarespaceModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
            <div class="modal-custom_mo">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                    <h3 class="modal-title" id="lineModalLabel">Profile</h3>
                  </div>
                  <div class="modal-body">

                    <!-- content goes here -->
                    <form [formGroup] = "form" >
                      <div class="form-group">

                        <div class="fileupload">
                          <div class="fileupload-new thumbnail" id="stud_dp_image" *ngIf="userDetails.dp_image"  [ngStyle]="{'background-image': 'url('+userDetails.dp_image +')'}" style="background-size:100px 100px; height:100%;">
                          </div>
                          <div class="fileupload-new thumbnail" id="stud_dp_image_null" *ngIf="!userDetails.dp_image" style="background: url('assets/images/intercell-user-pic.png'); background-size:cover; height:100%;"></div>
                        </div>

                        <div class="user-edit-image-buttons fileupload  fileupload-new" data-provides="fileupload">
                          <!--<div class="fileupload-preview fileupload-exists thumbnail"></div>-->
                          <span class="pos-rel">
                  <span class="btn btn-primary btn-file"><span class="fileupload-new"><i class="fa fa-picture"></i> Change Image</span><span class="fileupload-exists"><i class="fa fa-picture"></i> </span>
                    <!--<input type="file">-->
                    <input type="file" id="file-student-aws-profile" (change)="updateImage()" onChange="uploadS3Student();" accept=".png,.jpg" />
                      <input type="hidden" id="awsfileNameStudent" value={{imageUrl}}/>

                  </span>
                          </span>
                        </div>

                      </div>
                      <div class="row">
                        <div class="col-sm-6">
                          <div class="form-group box">
                            <label>First Name <span class="asterisk">*</span></label>
                            <input class="form-control"  placeholder="Enter First Name"  formControlName="firstname" maxlength="50">
                            <span *ngIf="formErrors.firstname" class="red-clr">{{formErrors.firstname}}</span>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="form-group box">
                            <label>Last Name <span class="asterisk">*</span></label>
                            <input class="form-control"  placeholder="Enter Last Name" formControlName="lastname" maxlength="50">
                            <span *ngIf="formErrors.lastname" class="red-clr">{{formErrors.lastname}}</span>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-12">
                          <div class="form-group box">
                            <label>
                              Gender <span class="asterisk">*</span>
                            </label>
                            <select class="form-control"  formControlName="gender">
                              <option value="">Select Gender</option>
                              <option value="Male">Male</option>
                              <option value="Female">Female</option>
                            </select>
                            <span *ngIf="formErrors.gender" class="red-clr">{{formErrors.gender}}</span>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-12">
                          <div class="form-group box">
                            <label>
                              Field <span class="asterisk">*</span>
                            </label>
                            <!--select class="form-control"  formControlName="category" (ngModelChange)="onServiceChange($event)">
                              <option value="">Select Your Field</option>
                              <option *ngFor="let serv of services" [value]="serv.id">{{serv.name}}</option>
                              </select-->

                              <angular2-multiselect formControlName="category"
                              [data]="serviceList"
                              [(ngModel)]="selectedServices"
                              [settings]="dropdownServices"
                              (onSelect)="onServiceChange($event)"
                              (onDeSelect)="onServiceChange($event)"
                              (onSelectAll)="onServiceChange($event)"
                              (onDeSelectAll)="onServiceChange($event)">
                              </angular2-multiselect>

                          </div>
                        </div>
                      </div>
                      <!--div class="row">
                        <div class="col-sm-12">
                          <div class="form-group box">
                            <label>
                              Sub Field <span class="asterisk"></span>
                            </label>
                            <angular2-multiselect formControlName="subcategory"
                            [data]="subServiceList"
                            [(ngModel)]="selectedSubServices"
                            [settings]="dropdownSettings"
                            (onSelect)="onSubServiceChange($event)"
                            (onDeSelect)="onSubServiceChange($event)"
                            (onSelectAll)="onSubServiceChange($event)"
                            (onDeSelectAll)="onSubServiceChange($event)">
                          </angular2-multiselect>
                          </div>
                        </div>
                      </div-->

                      <div class="row">
                        <div class="col-sm-6">
                          <div class="form-group">
                            <label>
                              Country
                            </label>
                            <select formControlName="countryid" class="form-control" (change)="onCountryChange($event.target.value)">
                              <option value="">Select Country</option>
                              <option *ngFor="let country of countryList" [value]="country.id">{{country.name}}</option>
                            </select>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="form-group">
                            <label>
                              Province/State
                            </label>
                            <select formControlName="stateid" class="form-control" (change)="onStateChange($event.target.value)">
                              <option value="">Select State</option>
                              <option *ngFor="let state of stateList" [value]="state.id">{{state.name}}</option>
                            </select>
                            <span *ngIf="formErrors.state" class="red-clr">{{formErrors.state}}</span>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-12">
                          <div class="form-group">
                            <label>
                              City/District
                            </label>
                            
                            <select formControlName="cityid" class="form-control">
                              <option value="">Select City</option>
                              <option *ngFor="let city of cityList" [value]="city.id">{{city.name}}</option>
                            </select>
                            <span *ngIf="formErrors.city" class="red-clr">{{formErrors.city}}</span>
                          </div>
                        </div>
                      </div>



                      <div class="row">
                        <label class="col-xs-12">
                          Date Of Birth <span class="asterisk">*</span>
                        </label>

                        <div class="col-sm-12">
                          <div class="input-group input-append date  form-group" id="datePicker">
                            <input type="text" class="form-control" id="dateValue" />
                            <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
                          </div>
                        </div>
                      </div>

                      <input type="hidden" formControlName="dob" />

                      <!--div class="row">
                          <div class="col-sm-12">
                            <div class="form-group">
                              <label>
                                Field
                              </label>
                              
                              <select formControlName="cityid" class="form-control">
                                <option value="">Select City</option>
                                <option *ngFor="let city of cityList" [value]="city.id">{{city.name}}</option>
                              </select>
                              <span *ngIf="formErrors.city" class="red-clr">{{formErrors.city}}</span>
                            </div>
                          </div>
                        </div-->

                      <div class="row">
                        <div class="col-sm-12">
                          <div class="form-group box">
                            <span *ngIf="ErrorMessage" class="red-clr">{{ErrorMessage}}</span>
                            </div>
                        </div>
                      </div>

                      <div class="modal-footer">
                        <button type="button" data-dismiss="modal" role="button" class="btn btn-default btn-squared">Cancel</button>
                        <button type="submit"  data-action="save" (click) = "onSubmit(form.value)" class="btn btn-primary btn-squared">
                          Save
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="modal fade" id="squarespaceModal1" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
            <div class="modal-custom_mo">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                    <h3 class="modal-title">Add Education</h3>
                  </div>
                  <div class="modal-body">

                    <!-- content goes here -->
                    <form [formGroup] = "formStudent" >
                        
                      <div class="row">
                        <div class="col-sm-12">
                          <div class="form-group">
                            <label>School/Institute <span class="asterisk">*</span></label>
                            <input type="Text" class="form-control" formControlName="university"  placeholder="School Name">
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-12">
                          <div class="form-group">
                            <label>Level Of Education<span class="asterisk">*</span></label>

                            <select class="form-control" formControlName="class">
                              <option value="">Select Your Level Of Education</option>
                              <option value="2">Senior Secondary or Below</option>
                              <option value="3">Undergraduate</option>
                              <option value="4">Postgraduate</option>
                              <option value="5">Other</option>
                            </select>
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-sm-12">
                          <div class="form-group">
                            <label>Field of Study <span class="asterisk">*</span></label>
                            <input type="Text" class="form-control"  formControlName="field" placeholder="Science , Mechanical etc.">
                          </div>
                        </div>
                      </div>

                      <label>
                        Time period <span class="asterisk">*</span>
                      </label>


                      <div class="row">
                        <div class="col-sm-6">
                          <div class="form-group">
                            <label>
                              From year
                            </label>

                            <select id="education_start_time" (change)='onInput()' formControlName="startDate" class="form-control">
                              <option value="">From Year</option>
                              <option value="1970">1970</option>
                              <option value="1971">1971</option>
                              <option value="1972">1972</option>
                              <option value="1973">1973</option>
                              <option value="1974">1974</option>
                              <option value="1975">1975</option>
                              <option value="1976">1976</option>
                              <option value="1977">1977</option>
                              <option value="1978">1978</option>
                              <option value="1979">1979</option>
                              <option value="1980">1980</option>
                              <option value="1981">1981</option>
                              <option value="1982">1982</option>
                              <option value="1983">1983</option>
                              <option value="1984">1984</option>
                              <option value="1985">1985</option>
                              <option value="1986">1986</option>
                              <option value="1987">1987</option>
                              <option value="1988">1989</option>
                              <option value="1989">1989</option>
                              <option value="1989">1990</option>
                              <option value="1990">1991</option>
                              <option value="1992">1992</option>
                              <option value="1993">1993</option>
                              <option value="1994">1994</option>
                              <option value="1995">1995</option>
                              <option value="1996">1996</option>
                              <option value="1997">1997</option>
                              <option value="1998">1998</option>
                              <option value="1999">1999</option>
                              <option value="2000">2000</option>
                              <option value="2001">2001</option>
                              <option value="2002">2002</option>
                              <option value="2003">2003</option>
                              <option value="2004">2004</option>
                              <option value="2005">2005</option>
                              <option value="2006">2006</option>
                              <option value="2007">2007</option>
                              <option value="2008">2008</option>
                              <option value="2009">2009</option>
                              <option value="2010">2010</option>
                              <option value="2011">2011</option>
                              <option value="2012">2012</option>
                              <option value="2013">2013</option>
                              <option value="2014">2014</option>
                              <option value="2015">2015</option>
                              <option value="2016">2016</option>
                              <option value="2017">2017</option>

                            </select>

                          </div>
                        </div>


                        <div class="col-sm-6">
                          <div class="form-group">
                            <label>
                              To year
                            </label>

                            <select id="education_end_time"  (change)='onInput()' formControlName="endDate" class="form-control">

                              <option value="">To Year</option>
                              <option value="1970">1970</option>
                              <option value="1971">1971</option>
                              <option value="1972">1972</option>
                              <option value="1973">1973</option>
                              <option value="1974">1974</option>
                              <option value="1975">1975</option>
                              <option value="1976">1976</option>
                              <option value="1977">1977</option>
                              <option value="1978">1978</option>
                              <option value="1979">1979</option>
                              <option value="1980">1980</option>
                              <option value="1981">1981</option>
                              <option value="1982">1982</option>
                              <option value="1983">1983</option>
                              <option value="1984">1984</option>
                              <option value="1985">1985</option>
                              <option value="1986">1986</option>
                              <option value="1987">1987</option>
                              <option value="1988">1989</option>
                              <option value="1989">1989</option>
                              <option value="1989">1990</option>
                              <option value="1990">1991</option>
                              <option value="1992">1992</option>
                              <option value="1993">1993</option>
                              <option value="1994">1994</option>
                              <option value="1995">1995</option>
                              <option value="1996">1996</option>
                              <option value="1997">1997</option>
                              <option value="1998">1998</option>
                              <option value="1999">1999</option>
                              <option value="2000">2000</option>
                              <option value="2001">2001</option>
                              <option value="2002">2002</option>
                              <option value="2003">2003</option>
                              <option value="2004">2004</option>
                              <option value="2005">2005</option>
                              <option value="2006">2006</option>
                              <option value="2007">2007</option>
                              <option value="2008">2008</option>
                              <option value="2009">2009</option>
                              <option value="2010">2010</option>
                              <option value="2011">2011</option>
                              <option value="2012">2012</option>
                              <option value="2013">2013</option>
                              <option value="2014">2014</option>
                              <option value="2015">2015</option>
                              <option value="2016">2016</option>
                              <option value="2017">2017</option>
                            </select>

                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-sm-12">
                          <div class="form-group">
                            <span *ngIf="eduYearValidation" class="blue-clr">Year submitted by you is invalid</span>
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-sm-12">
                          <div class="form-group">
                            <label>Description</label>
                            <textarea placeholder="Description Text"  formControlName="profile_summary" class="form-control"></textarea>
                          </div>
                        </div>
                      </div>

                      <input class="form-control" type="hidden" formControlName="qualificationId">
                      <div class="row">
                          <div class="col-sm-12">
                            <div class="form-group box">
                              <span *ngIf="ErrorMessageAddEducation" class="red-clr">{{ErrorMessageAddEducation}}</span>
                              </div>
                          </div>
                        </div>

                      <div class="modal-footer">
                        <button type="button" data-dismiss="modal" role="button" class="btn btn-default btn-squared">
                          Cancel
                        </button>
                        <button type="submit"  data-action="save" (click) = "onStudentSubmit(formStudent.value)" class="btn btn-primary btn-squared">
                          Save
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
		
	   </div>
	   </div>
	</div>
	  



<!-- start: FOOTER -->
<footer class="inner">
    <div class="footer-inner">
        <div class="pull-left">
            2017 &copy; Intercell Technologies Pvt. Ltd.
        </div>
        <div class="pull-right">
          <div class="bottom-top-btn">
            <a href="#" class="scrollToTop"><i class="fa fa-arrow-up" aria-hidden="true"></i></a>
          </div>
        </div>
    </div>
</footer>
<!-- end: FOOTER -->
  </div>
</div>
