   <!--Counsellor carousel Start-->
   <section><!--Intercell Mentors section start -->
    
      <div id="mentor-part" [ngClass]="{'mentee-part' : true}" *ngIf="meetCounsellorDetails.length">
        <div class="container">
  
            <h3>A glimpse of the Mentor Panel</h3>
  
        <div class="resCarousel" data-items="2-4-4-4" data-interval="2500" data-slide="1" data-animator="lazy">
          <div class="resCarousel-inner">
  
            <div class="item" *ngFor="let counsellor of meetCounsellorDetails;let indCounsellor = index">
             
              <div class="col-xs-12  carous-card">
                <div class="card">
  
                  <div class="student-speak-section">
                    <div class="default-color-dark bag-color-light"></div>
                    
                     <div class="avatar meettor-img meettor-img-height" *ngIf="counsellor.dp_image" [ngStyle]="{'background-image': 'url('+cdnPath+counsellor.dp_image+ ')'}" [style.backgroundSize]="'cover'" ></div>
                    <div class="avatar meettor-img" *ngIf="!counsellor.dp_image"><img src="https://d3213zi13us7f1.cloudfront.net/website/assets/images/intercell-user-pic.png" class="img-responsive"></div>
                    <span class="card-block ">
                    <h4 class="card-title">{{counsellor.first_name | titlecase }} {{counsellor.last_name | titlecase}}<br>
                    </h4>
                    <p class="testi-title-home"><span>Total Experience:</span>  {{counsellor.totalexperience | titlecase}} years</p>
<p class="testi-title-home"><span>Expertise:</span> {{counsellor.name | titlecase}} </p>
<p class="testi-title-home" *ngIf="counsellor.brand_worked_for"><span>Brand Portfolio:</span> <em [innerHTML]="counsellor.brand_worked_for| safeHtml ">   </em> </p>
                  <!-- <p class="testi-descri" *ngIf="counsellor.summary_intercell">{{counsellor.summary_intercell|slice:0:200}}</p>-->           
                  </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <button class='btn btn-default leftRs'><i aria-hidden="true" class="fa fa-angle-left"></i></button>
          <button class='btn btn-default rightRs'><i aria-hidden="true" class="fa fa-angle-right"></i></button>
         </div>
  
        </div>
  
      <div class="clearfix"></div>
    </div>
    </section><!--Intercell Mentors section end -->