<app-header></app-header>
  <!-- start: MAIN CONTAINER -->
  <div class="main-container inner">
    <!-- start: PAGE -->
    <div class="main-content" id="main">
      <!-- start: PANEL CONFIGURATION MODAL FORM -->

      <!-- /.modal -->
      <!-- end: SPANEL CONFIGURATION MODAL FORM -->
      <div class="container">
        <!-- start: PAGE CONTENT -->
        <div class="row">
          <div class="col-sm-12">
            <div class="tabbable user_profile-table_tab" id="main1">
              <!--<app-inner-header></app-inner-header>-->
		<div class="tab-content">
		  <h2 class="col-md-12 title no-padding">Refer A Friend</h2>
        <div class="inner-box refer-friends-sections">
          <div class="col-xs-12 col-sm-6">
            <p>Design & Construct are offering all of our candidates the opportunity to earn $500 by referring a friend for one of our current vacancies in building, construction, engineering and architecture.
              To qualify for this referral scheme please ensure that you have contacted your referral and that they are genuinely interested in considering a new position.   </p>
            <p>
              Please fill in our application form below and Design & Construct will respond to you with a confirmation email.

              If Design & Construct successfully place your referral, we will inform you once he/ she has passed the specified probationary period outlined in our terms and conditions below.
              Please note that Design & Construct treat all information provided with the strictest of confidence and we will not divulge any third parties information without prior consent.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin maximus odio quam, ut porta nunc fermentum in. Quisque ultricies, nulla vel hendrerit facilisis, orci velit gravida lacus, vitae faucibus sapien nisi sit amet sapien. Cras commodo faucibus tortor non tincidunt. Proin faucibus libero nisi, vel porta risus fringilla vitae. Integer vehicula erat tempor, feugiat sapien vel, auctor mauris. Phasellus nec nisi in dolor ultrices pulvinar. Pellentesque ac lectus finibus, posuere tellus venenatis, molestie nunc. Donec egestas laoreet metus non sodales. Vivamus ultrices ut nunc in elementum. Suspendisse dictum mollis nisi a ultrices.

              Mauris dapibus nibh eget elementum viverra. Donec eget libero at tortor blandit auctor in sagittis nulla. Suspendisse suscipit lorem eget purus viverra dignissim. Nullam maximus fringilla efficitur. Vivamus augue ligula, condimentum vel eleifend eget, sagittis vitae nulla. Fusce volutpat finibus enim, laoreet imperdiet risus malesuada at. Nullam elit urna, vestibulum id dui sed, blandit rhoncus sapien. Mauris sagittis nisi in rhoncus consequat. Integer nibh erat, placerat in lacus sit amet, bibendum aliquam magna. Mauris vel tempus dolor, in cursus nisi. Quisque ipsum dolor, vulputate in lacus quis, tincidunt tristique arcu. Sed nunc turpis, blandit at orci eget, auctor vestibulum dui. Integer mattis leo et ante ultrices blandit.</p>
          </div>
          <div class="col-xs-12 col-sm-6">
            <form class="refer-form" [formGroup] ="form">
                <div class="col-sm-12">
                    <span *ngIf="AllRequiredError" class="blue-clr">{{AllRequiredError}}</span>
                    </div>

              <div class="form-group refer-form box">
                <label>Name: <span class="text-red">*</span></label>
                <input type="text"  class="span3 form-control" formControlName="name" (click)="selectAllContent($event)">
                <span *ngIf="formErrors.name" class="red-clr">{{formErrors.name}}</span>
              </div>
              <div class="form-group  refer-form box">
                <label>Email ID:</label>
                <input type="text" class="span3 form-control" formControlName="email" (click)="selectAllContent($event)">
                <span *ngIf="formErrors.email" class="red-clr">{{formErrors.email}}</span>
              </div>
              <div class="form-group refer-form box">
                <label>Phone number: <span class="text-red">*</span></label>
                <input type="text"  class="span3 form-control" formControlName="phone" (keypress)="onlyNumberKey($event)" (click)="selectAllContent($event)">
                <span *ngIf="formErrors.phone" class="red-clr">{{formErrors.phone}}</span>
              </div>
              

              <div class="form-group refer-form box">
                <label>Referral type: <span class="text-red">*</span></label>
                <input type="radio"  formControlName="usertype" class="" value="2" > Mentee
                <input type="radio"  formControlName="usertype" class="" value="3" > Mentor
                <span *ngIf="formErrors.usertype" class="red-clr">{{formErrors.usertype}}</span>
               </div>

               <div class="form-group refer-form box">
                <label>Career field: <span class="text-red">*</span></label>
                <select  formControlName="careerfield" class="form-control">
                  <option value="">Select career field </option>
                  <option *ngFor="let serv of services" [value]="serv.id">{{serv.name}}</option>
            </select>
            <span *ngIf="formErrors.careerfield" class="red-clr">{{formErrors.careerfield}}</span>
               </div>

               <div class="form-group refer-form box">
                <label>Any other details</label>
                <textarea type="text"  formControlName="message" style="min-height:130px;"  class="span3 form-control" (click)="selectAllContent($event)"></textarea>
              </div>

              <button class="btn btn-primary btn-squared counsellor-db-btn nextBtn btn-lg back-btn btn-right"  (click)="PostSend()">Submit</button>
            </form>
          </div>

        </div>
		</div>
      </div>
    </div>
  </div>
</div>
<footer class="inner">
        <div class="footer-inner">
          <div class="pull-left">
            2017 &copy; Intercell Technologies Pvt. Ltd.
          </div>
      
          <div class="pull-right">
            <div class="bottom-top-btn">
              <a href="#" class="scrollToTop"><i class="fa fa-arrow-up" aria-hidden="true"></i></a>
            </div>
          </div>
      
        
        </div>
</footer>
</div>
  <!--Refer-friend End-->
</div>
<!--Page Content End-->

<div id="enquirypopup" class="modal fade in" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content row">
      <div class="modal-header custom-modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h4 class="modal-title">Request For registering</h4>
      </div>
      <div class="modal-body">
        <form name="info_form" class="form-inline" action="#" method="post">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
          <div class="form-group col-sm-12">
            <button type="submit" class="btn btn-default pull-right">Submit</button>
          </div>
        </form>
      </div>

    </div>

  </div>
</div>

