<app-header></app-header>
<!-- start: MAIN CONTAINER -->
<div class="main-container inner">
  <!-- start: PAGE -->
  <div class="main-content" id="main">
    <!-- start: PANEL CONFIGURATION MODAL FORM -->

    <!-- /.modal -->
    <!-- end: SPANEL CONFIGURATION MODAL FORM -->
    <div class="container">
 
      <div class="row">
       <div class="col-sm-12">
         
          <div class="tabbable user_profile-table_tab">
            <app-inner-header></app-inner-header>
          </div>
       
     
      <div class="tab-content" >
          <h2 class="col-md-12 title no-padding">Settings</h2>
					<div class="inner-box session_history">
              <div class="col-md-12">
      <div class="mail-changes-sections">
        <div class="mail-texts">
          <h3 class="margin">Email Address</h3>
          <p class="sub-heading">Your registered email address is {{emailAddress}}</p>
          <span>
            <a class="btn btn-xs btn-link button">
              <i id="flip_1" class="fa fa-pencil"></i>
            </a>
          </span>

        </div>

        <div class="forgot-blk3" id="email_success" style="display:none;">
          <div class="forgot-bx-cntnt">
            <h5 class="sucessmsg">Your Email has been successfully updated</h5>
            
          </div>
        </div>
        <div id="panel_1" class="panel_privacy">
          <div   class="mail-add">
            <form>
              <div class="form-group mail-boxs">
                <div class="row">
                  <div class="col-sm-8 box">
                    <label>Enter the new email address</label>
                    <input type="text" maxlength="50" class="form-control" id="mailValue" placeholder="Enter the new email address" (keyup)= "mailChange=true">
                    <span *ngIf="sameMail" class="red-clr">The new e-mail address you have provided is the same as your current e-mail address</span>
                    <span *ngIf="invalidMail" class="red-clr" style="right:auto;">Invalid email address entered</span>
                    <span *ngIf="blankmail" class="red-clr" style="right:auto;">Email ID is mandatory</span>
                    <span *ngIf="mailRegistered" class="red-clr" style="right:auto;">This email address has already been registered</span>
                    
                  </div>
                  <div class="col-sm-4 submit-btn">
                    <button class="btn btn-primary btn-squared counsellor-db-btn" id="submit_1" (click)="onMailChange()" [disabled] = "!mailChange"  type="submit">SUBMIT</button>
                  </div>
                </div>
              </div>
            </form>

            
          </div>

          <div id="box_1" class="otp-boxs" style="display:none" >
            <div class="row">
			 <div class="form-group mail-boxs">
              <div class="col-sm-8 box">
                <label>Enter OTP Sent at the above email address</label>
                <input type="text" maxlength="10" class="form-control" [(ngModel)] ="mailCode">
                <span *ngIf="mailResent" class="red-clr" style="right:auto;">OTP Resent on your Mail</span>
                <span *ngIf="invalidMailKey" class="red-clr" style="right:auto;">Invalid OTP. Please check and enter valid OTP</span>
              </div>

              <div class="col-sm-4">
                <button  [disabled]="!mailCode || emailVerified" class="btn btn-primary btn-squared counsellor-db-btn" type="submit" (click)="verifyMail()">VERIFY</button>
                <button [disabled]="emailVerified" class="btn btn-primary btn-squared counsellor-db-btn" (click)="resendMail()" type="submit">RESEND</button>
              </div>
			  </div>
			  
            </div>
          </div>

          

        </div>
      </div>


      <div class="mail-changes-sections">
        <div class="mail-texts">
          <h3 class="margin">Phone Number</h3>
          <p class="sub-heading">Your registered phone number is {{phoneNumber}}</p>
          <span>
            <a class="btn btn-xs btn-link button">
              <i id="flip_2" class="fa fa-pencil"></i>
            </a>
          </span>

        </div>
        <div class="forgot-blk3" id="mobile_success" style="display:none;">
          <div class="forgot-bx-cntnt">
            <h5 class="sucessmsg">Your Mobile has been successfully updated</h5>
            
          </div>
        </div>
        <div id="panel_2" class="panel_privacy">
          <div   class="mail-add" >
            <form>
              <div class="form-group mail-boxs">
                <div class="row">
                  <div class="col-sm-8">
                    <label>Enter the new phone number</label>
                    <div class="col-md-12 no-padding">
                    <div class="col-xs-4 col-sm-4 col-md-4" style="padding:0px;">
                      <!--input type="text" class="india-text form-control" value ="+91" readonly-->
                      
                      <div class="col-xs-12" style="padding:0px;">
                          <div class="custom-select" id="country-codesdiv">              
                          <select class="" (change)="countryCodechange($event.target.value)">
                          <option value="">Select Code</option>
                          <option *ngFor="let country of countryList" [value]="country.isd_code">
                          {{country.name}} (+{{country.isd_code}})
                          </option>                         
                          </select>
                      </div>
              </div>
                      
                    </div>
                    <div class="col-xs-8 col-sm-8 col-md-8 box" style="padding: 0px;">
                    <input type="text" class="form-control" maxlength="15" id="phoneValue" placeholder="Enter the new phone number" (keypress)="onlyNumberKey($event)">
                    
                  </div>
                  <div class="col-xs-12 no-padding">
                      <span *ngIf="phoneerrormsg" class="red-clr" style="right:auto;">{{phoneerrormsg}}</span>
                     </div>
                  </div>
                  </div>
                  <div class="col-xs-4 submit-btn">
                    <button class="btn btn-primary btn-squared counsellor-db-btn" id="submit_2" (click)="onPhoneChange()" type="submit">SUBMIT</button>
                  </div>
                </div>
              </div>
            </form> 
          </div>
        

          <div id="box_2" class="otp-boxs" style="display:none" >
            <div class="row">
				<div class="otp-box form-group box">
				<div class="col-sm-8 ">
					<label>Enter OTP Sent at the above phone number</label>
					<input type="text" maxlength="10" class="form-control" [(ngModel)] ="phoneCode">
					<span *ngIf="phoneResent" class="red-clr" style="right:auto;">OTP has been re-sent</span>
					<span *ngIf="invalidPhoneKey" class="red-clr" style="right:auto;">Invalid OTP. Please check and enter valid OTP</span>
					  </div>
					  <div class="col-sm-4">
						<button  [disabled]="!phoneCode || phoneVerified" class="btn btn-primary btn-squared counsellor-db-btn" type="submit" (click)="verifyPhone()">VERIFY</button>
						<button [disabled]="phoneVerified" class="btn btn-primary btn-squared counsellor-db-btn" (click)="resendPhone()" type="submit">RESEND</button>
					  </div>
				
			</div>
		</div>
        </div>
      </div>
	</div>


      <div class="mail-changes-sections">
        <div class="mail-texts change-pass" >
          <h3 class="margin">Change Password</h3>
           <p class="sub-heading"><!--Your change Your Password --></p>
          <span>
            <a class="btn btn-xs btn-link button">
              <i id="flip_3" class="fa fa-pencil"></i>
            </a>
          </span>

        </div>

        <div class="forgot-blk3" id="forgot_success" style="display:none;">
            <div class="forgot-bx-cntnt">
              <h5 class="sucessmsg">Your password has been successfully updated</h5>
              
            </div>
          </div>

        <div id="panel_3" class="panel_privacy">
          <div   class="mail-add">
            <div class="forgot-blk2">
              <form class="forgot-bx-cntnt"  [formGroup] = "formPassword">
                <label>Set Your new Password</label>
                <div class="form-group box">
                  <input type="text" [(ngModel)] ="password" class="form-control" autocomplete="off"  formControlName="password" placeholder="New Password" required>
                  <input type="text" [(ngModel)] ="cpassword" class="form-control" autocomplete="off"  formControlName="cpassword" placeholder="Confirm Password" required>
                  <span *ngIf="formPasswordErrors.password" class="red-clr">{{formPasswordErrors.password}}</span>
                  <span *ngIf="formPasswordErrors.cpassword" class="red-clr">{{formPasswordErrors.cpassword}}</span>
                </div>
                <div class="text-center"><input type="submit" (click) = "onReset()" class="btn btn-blue btn-squared text-center blk2-btn" value="Submit"> </div>
              </form>
            </div>
          </div>
      	</div>
        </div>
</div>
</div>
        </div>


   


    </div>
   </div>
      </div>


      <footer class="inner">
        <div class="footer-inner">
          <div class="pull-left">
            2017 &copy; Intercell Technologies Pvt. Ltd.
          </div>
      
          <div class="pull-right">
            <div class="bottom-top-btn">
              <a href="#" class="scrollToTop"><i class="fa fa-arrow-up" aria-hidden="true"></i></a>
            </div>
          </div>
      
        
        </div>
      </footer>


  </div>
</div>
