<app-header></app-header>
<div class="main-wrapper Counsellor_dashboard">
  <!-- start: MAIN CONTAINER -->
  <div class="main-container inner">
    <!-- start: PAGE -->
    <div class="main-content">
      <!-- start: PANEL CONFIGURATION MODAL FORM -->

      <!-- /.modal -->
      <!-- end: SPANEL CONFIGURATION MODAL FORM -->
      <div class="container">
        <!-- start: PAGE CONTENT -->
        <div class="row">
          <div class="col-sm-12">
            <div class="tabbable user_profile-table_tab" id="main">
              <app-inner-header></app-inner-header>

              <div class="tab-content">
                <div id="panel_profile" class="active">
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="card hovercard">
                        <div class="cardheader">
                          <a href="#"><i class="fa fa-picture-o" aria-hidden="true"></i> Update Background Picture</a>
                          <p>Last-Update: 20/05/2017</p>
                        </div>
                        <div class="avatar">
                          <img alt="" src="http://lorempixel.com/100/100/people/9/">
                          <h3>Loriya Zeny</h3>
                          <h4>Computer science</h4>
                        </div>
                        <div class="text-center no-padding">
                          <a class="tags">
                            New York
                          </a>
                          <a class="tags">
                            London
                          </a>
                          <a class="tags">
                            Rome
                          </a>
                          <a class="tags">
                            Paris
                          </a>
                          <a class="tags">
                            Berlin
                          </a>
                          <a class="tags">
                            Amsterdam
                          </a>
                          <a class="tags">
                            Madrid
                          </a>
                        </div>
                        <div class="panel-tools">
                          <div class="dropdown">
                            <a data-toggle="dropdown" class="btn btn-xs dropdown-toggle btn-transparent-grey">
                              <i class="fa fa-ellipsis-h"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-light pull-right" role="menu">
                              <li>
                                <a class="panel-collapse collapses" href="#"><i class="fa fa-angle-up"></i> <span>Collapse</span> </a>
                              </li>
                              <li>
                                <a class="panel-refresh" href="#">
                                  <i class="fa fa-refresh"></i> <span>Refresh</span>
                                </a>
                              </li>
                              <li>
                                <a class="panel-config" href="#panel-config" data-toggle="modal">
                                  <i class="fa fa-wrench"></i> <span>Configurations</span>
                                </a>
                              </li>

                            </ul>
                          </div>
                          <a class="btn btn-xs btn-link" href="#" data-toggle="modal" data-target="#squarespaceModal">
                            <i class="fa fa-pencil"></i>
                          </a>
                        </div>
                        <div class="text-center profile_summary">
                          <p>
                            ornare vel eu leo. Cum sociis natoquenibh ultricies vehicula. is risus eget urna mollis or eget urna mollis ornare vel eu leo. Cum sociis is natoquenibh ultricies vehiculnare vel eu leo. Cum sociis natoque penatibus</p>
                          <a href="#" class="text-center">See More</a>
                          <p>Gurgaon, Hariyana, India(34 Year Old)</p>

                        </div>
                      </div>

                    </div>

                  </div>

                  <div class="panel panel-white panel_profile_progress panel_profile_counsellor">
                    <div class="panel-heading">
                      <h4 class="panel-title">Experience</h4>
                    </div>
                    <div class="panel-tools panel-tools-pr">
                      <div class="dropdown">
                        <a class="btn btn-xs dropdown-toggle btn-transparent-grey" data-toggle="modal" data-target="#squarespaceModal2">
                          <i class="fa fa-plus"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-light pull-right" role="menu">
                          <li>
                            <a class="panel-collapse collapses" href="#"><i class="fa fa-angle-up"></i> <span>Collapse</span> </a>
                          </li>
                          <li>
                            <a class="panel-refresh" href="#">
                              <i class="fa fa-refresh"></i> <span>Refresh</span>
                            </a>
                          </li>
                          <li>
                            <a class="panel-config" href="#panel-config" data-toggle="modal">
                              <i class="fa fa-wrench"></i> <span>Configurations</span>
                            </a>
                          </li>

                        </ul>
                      </div>
                      <a class="btn btn-xs btn-link" href="#">
                        <i class="fa fa-pencil"></i>
                      </a>
                    </div>
                    <div class="panel-body">
                      <div class="exp-panel">
                        <div class="row">
                          <div class="col-sm-2">
                            <img src="assets/images/school.png">
                          </div>
                          <div class="col-sm-9">
                            <ul>
                              <li>
                                <h3>Asst. Professior</h3>
                              </li>
                              <li>
                                P.G. College Dholpur
                              </li>
                              <li>
                                April 2011 to Present. 2 Year
                              </li>
                              <li>
                                New Delhi
                              </li>
                            </ul>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-sm-2">
                            <img src="assets/images/school.png">
                          </div>
                          <div class="col-sm-9">
                            <ul>
                              <li>
                                <h3>Operations Manager</h3>
                              </li>
                              <li>
                                AIMK Technology
                              </li>
                              <li>
                                May 2009 to April 2011. 2 Year
                              </li>
                              <li>
                                New Delhi
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
                  <div class="panel panel-white panel_profile_progress panel_profile_counsellor">
                    <div class="panel-heading">
                      <h4 class="panel-title">Education</h4>
                    </div>
                    <div class="panel-tools panel-tools-pr">
                      <div class="dropdown">
                        <a class="btn btn-xs dropdown-toggle btn-transparent-grey" data-toggle="modal" data-target="#squarespaceModal3">
                          <i class="fa fa-plus"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-light pull-right" role="menu">
                          <li>
                            <a class="panel-collapse collapses" href="#"><i class="fa fa-angle-up"></i> <span>Collapse</span> </a>
                          </li>
                          <li>
                            <a class="panel-refresh" href="#">
                              <i class="fa fa-refresh"></i> <span>Refresh</span>
                            </a>
                          </li>
                          <li>
                            <a class="panel-config" href="#panel-config" data-toggle="modal">
                              <i class="fa fa-wrench"></i> <span>Configurations</span>
                            </a>
                          </li>

                        </ul>
                      </div>
                      <a class="btn btn-xs btn-link" href="#">
                        <i class="fa fa-pencil"></i>
                      </a>
                    </div>
                    <div class="panel-body">
                      <div class="exp-panel">
                        <div class="row">
                          <div class="col-sm-2">
                            <img src="assets/images/school2.png">
                          </div>
                          <div class="col-sm-9">
                            <ul>
                              <li>
                                <h3>Asst. Professior</h3>
                              </li>
                              <li>
                                P.G. College Dholpur
                              </li>
                              <li>
                                April 2011 to Present. 2 Year
                              </li>
                              <li>
                                New Delhi
                              </li>
                            </ul>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-sm-2">
                            <img src="assets/images/school2.png">
                          </div>
                          <div class="col-sm-9">
                            <ul>
                              <li>
                                <h3>Operations Manager</h3>
                              </li>
                              <li>
                                AIMK Technology
                              </li>
                              <li>
                                May 2009 to April 2011. 2 Year
                              </li>
                              <li>
                                New Delhi
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
                  <div class="panel panel-white panel_profile_progress panel_profile_counsellor">
                    <div class="panel-heading">
                      <h4 class="panel-title"> Skills </h4>
                    </div>
                    <div class="panel-body">
                      <div class="Featured">
                        <div class="row">
                          <div class="col-sm-4">
                            <h3>Digital Technology</h3>
                          </div>
                          <div class="col-sm-8">
                            <p>Manav Bhargava and 20 connections have given endorsements for this skill
                              <br>Lorem ipsum dedsj

                            </p>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-sm-4">
                            <h3>Medical science Department</h3>
                          </div>
                          <div class="col-sm-8">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                            </p>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-sm-4">
                            <h3>Operations </h3>
                          </div>
                          <div class="col-sm-8">
                            <p>Lorem Ipsum is simply Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                            </p>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                  <div class="panel panel-white panel_profile_progress panel_profile_counsellor">
                    <div class="panel-heading">
                      <h4 class="panel-title">Accomplishments</h4>
                    </div>
                    <div class="panel-body">

                      <div class="exp-panel">

                        <div class="row">
                          <div class="col-sm-2">
                            <h1>2</h1>
                          </div>

                          <div class="col-sm-9">
                            <ul>
                              <li>
                                <h3>Language</h3>
                              </li>
                              <li>
                                Hindi,&nbspEnglish
                              </li>

                            </ul>
                          </div>


                        </div>
                        <div class="row">
                          <div class="col-sm-2">
                            <h1>1</h1>
                          </div>
                          <div class="col-sm-9">
                            <ul>
                              <li>
                                <h3>Operations </h3>
                              </li>
                              <li>
                                DTP., Pharma
                              </li>
                            </ul>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-sm-2">
                            <h1>3</h1>
                          </div>
                          <div class="col-sm-9">
                            <ul>
                              <li>
                                <h3>Project </h3>
                              </li>
                              <li>
                                JICTC Delhi,RSCIM ,&nbsp Project Head
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-white panel_profile_progress panel_profile_counsellor">
                    <div class="panel-heading">
                      <h4 class="panel-title">Honor- Awards</h4>
                    </div>
                    <div class="panel-tools panel-tools-pr">
                      <div class="dropdown">
                        <a class="btn btn-xs dropdown-toggle btn-transparent-grey" data-toggle="modal" data-target="#squarespaceModal3">
                          <i class="fa fa-plus"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-light pull-right" role="menu">
                          <li>
                            <a class="panel-collapse collapses" href="#"><i class="fa fa-angle-up"></i> <span>Collapse</span> </a>
                          </li>
                          <li>
                            <a class="panel-refresh" href="#">
                              <i class="fa fa-refresh"></i> <span>Refresh</span>
                            </a>
                          </li>
                          <li>
                            <a class="panel-config" href="#panel-config" data-toggle="modal">
                              <i class="fa fa-wrench"></i> <span>Configurations</span>
                            </a>
                          </li>

                        </ul>
                      </div>
                      <a class="btn btn-xs btn-link" href="#">
                        <i class="fa fa-pencil"></i>
                      </a>
                    </div>
                    <div class="panel-body">
                      <div class="exp-panel">
                        <div class="row">
                          <div class="col-sm-2">
                            <img src="assets/images/trophies.png">
                          </div>
                          <div class="col-sm-9">
                            <ul>
                              <li>
                                <h3>Professor of the year</h3>
                              </li>
                              <li>
                                P.G. College Dholpur
                              </li>
                              <li>
                                April 2011,Dholpur.
                              </li>
                            </ul>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-sm-2">
                            <img src="assets/images/trophies.png">
                          </div>
                          <div class="col-sm-9">
                            <ul>
                              <li>
                                <h3>Operations Manager</h3>
                              </li>
                              <li>
                                AIMK Technology
                              </li>
                              <li>
                                May 2009,New Delhi
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-white panel_profile_progress panel_profile_counsellor">
                    <div class="panel-heading">
                      <h4 class="panel-title">Publications</h4>
                    </div>
                    <div class="panel-body">
                      <div class="Publications">

                      </div>
                    </div>
                  </div>
                  <div class="panel panel-white panel_profile_progress panel_profile_counsellor">
                    <div class="panel-heading">
                      <h4 class="panel-title">Recommendations</h4>
                    </div>
                    <div class="panel-body">
                      <div class="Recommendations">

                        <div class="row">

                          <div class="col-sm-12">

                            <ul>
                              <li><img src="assets/images/avatar-3.jpg"></li>
                            </ul>
                            <ul>
                              <li>
                                <h3>Strive Wright</h3>
                              </li>
                              <li>
                                Nuke VFX Compositing lorem ipsum da dollar
                              </li>
                              <li>
                                June 3, 2012
                              </li>
                            </ul>
                            <ul>
                              <li>
                                <p>Sachin is an astute and affable fellow with a keen instinct for training and visual effects. He was a delight to work with when I developed the Nuke training program for Frameboxx and
                                  turned out to be an honest and enthusiastic team player.</p>
                              </li>
                            </ul>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-sm-12">
                            <ul>
                              <li><img src="assets/images/avatar-7.jpg"></li>
                            </ul>
                            <ul>
                              <li>
                                <h3>Cat Winson</h3>
                              </li>
                              <li>
                                lorem ipsum da dollar astute and affable fe
                              </li>
                              <li>
                                June 3, 2012
                              </li>
                            </ul>
                            <ul>
                              <li>
                                <p>Sachin is an astute and affable fellow with a keen instinct for training and visual effects. He was a delight to work with when I developed the Nuke training program for Frameboxx and
                                  turned out to be an honest and enthusiastic team player.</p>
                              </li>
                            </ul>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-sm-12">
                            <ul>
                              <li><img src="assets/images/avatar-5.jpg"></li>
                            </ul>
                            <ul>
                              <li>
                                <h3>Nicole Josef</h3>
                              </li>
                              <li>
                                HRX Department lorem ipsum da New Delhi
                              </li>
                              <li>
                                June 3, 2012
                              </li>
                            </ul>
                            <ul>
                              <li>
                                <p style="border:none">Sachin is an astute and affable fellow with a keen instinct for training and visual effects. He was a delight to work with when I developed the Nuke training program for Frameboxx and
                                  turned out to be an honest and enthusiastic team player.</p>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>


                </div>
              </div>
            </div>
            <!-- end: PAGE CONTENT-->
          </div>

        </div>
        <!-- end: PAGE -->
      </div>
      <!-- end: MAIN CONTAINER -->
      <!-- start: FOOTER -->
      <footer class="inner">
        <div class="footer-inner">
          <div class="pull-left">
            2017 &copy; Intercell Technologies Pvt. Ltd.
          </div>
          <div class="pull-right">
            <span class="go-top"><i class="fa fa-chevron-up"></i></span>
          </div>
        </div>
      </footer>

      <!-- end: FOOTER -->
    </div>
  </div>
  <div class="modal fade" id="squarespaceModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-custom_mo">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            <h3 class="modal-title" id="lineModalLabel">Profile</h3>
          </div>
          <div class="modal-body">

            <!-- content goes here -->
            <form>
              <div class="form-group">
                <div class="fileupload fileupload-new" data-provides="fileupload">
                  <div class="fileupload-new thumbnail"><img src="assets/images/avatar-1-xl.jpg" alt="">
                  </div>
                  <div class="fileupload-preview fileupload-exists thumbnail"></div>
                </div>
                <div class="user-edit-image-buttons">
                                        <span class="btn btn-primary btn-file"><span class="fileupload-new"><i class="fa fa-picture"></i> Change</span><span class="fileupload-exists"><i class="fa fa-picture"></i> Image</span>
                                        <input type="file">
                                        </span>
                  <a href="#" class="btn fileupload-exists btn-red" data-dismiss="fileupload">
                    <i class="fa fa-times"></i> Remove
                  </a>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="exampleInputEmail1">First Name</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="exampleInputPassword1">Last Name</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <label for="form-field-select-1">
                      Language
                    </label>
                    <select id="form-field-select-1" class="form-control">
                      <option value="">&nbsp;</option>
                      <option value="AL">Hindi</option>
                      <option value="AK">English</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <label for="form-field-select-1">
                      Tags
                    </label>
                    <input type="text" class="form-control" id="" placeholder="Tags">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="form-field-select-1">
                      Country
                    </label>
                    <select id="form-field-select-1" class="form-control">
                      <option value="">&nbsp;</option>
                      <option value="AL">Alabama</option>
                      <option value="AK">Alaska</option>
                      <option value="AZ">Arizona</option>
                      <option value="AR">Arkansas</option>
                      <option value="CA">California</option>
                      <option value="CO">Colorado</option>
                      <option value="CT">Connecticut</option>
                      <option value="DE">Delaware</option>
                      <option value="FL">Florida</option>
                      <option value="GA">Georgia</option>
                      <option value="HI">Hawaii</option>
                      <option value="ID">Idaho</option>
                      <option value="IL">Illinois</option>
                      <option value="IN">Indiana</option>
                      <option value="IA">Iowa</option>
                      <option value="KS">Kansas</option>
                      <option value="KY">Kentucky</option>
                      <option value="LA">Louisiana</option>
                      <option value="ME">Maine</option>
                      <option value="MD">Maryland</option>
                      <option value="MA">Massachusetts</option>
                      <option value="MI">Michigan</option>
                      <option value="MN">Minnesota</option>
                      <option value="MS">Mississippi</option>
                      <option value="MO">Missouri</option>
                      <option value="MT">Montana</option>
                      <option value="NE">Nebraska</option>
                      <option value="NV">Nevada</option>
                      <option value="NH">New Hampshire</option>
                      <option value="NJ">New Jersey</option>
                      <option value="NM">New Mexico</option>
                      <option value="NY">New York</option>
                      <option value="NC">North Carolina</option>
                      <option value="ND">North Dakota</option>
                      <option value="OH">Ohio</option>
                      <option value="OK">Oklahoma</option>
                      <option value="OR">Oregon</option>
                      <option value="PA">Pennsylvania</option>
                      <option value="RI">Rhode Island</option>
                      <option value="SC">South Carolina</option>
                      <option value="SD">South Dakota</option>
                      <option value="TN">Tennessee</option>
                      <option value="TX">Texas</option>
                      <option value="UT">Utah</option>
                      <option value="VT">Vermont</option>
                      <option value="VA">Virginia</option>
                      <option value="WA">Washington</option>
                      <option value="WV">West Virginia</option>
                      <option value="WI">Wisconsin</option>
                      <option value="WY">Wyoming</option>
                    </select>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="form-field-select-1">
                      Province/State
                    </label>
                    <select id="form-field-select-1" class="form-control">
                      <option value="">&nbsp;</option>
                      <option value="AL">Andra Pradesh</option>
                      <option value="AK">Arunachal Pradesh</option>
                      <option value="AZ">Assam</option>
                      <option value="AR">Bihar</option>
                      <option value="WY">Chhattisgarh</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <label for="form-field-select-1">
                      City/District
                    </label>
                    <select id="form-field-select-1" class="form-control">
                      <option value="">&nbsp;</option>
                      <option value="AL">Hyderabad</option>
                      <option value="AK">Itangar</option>
                      <option value="AZ">Dispur</option>
                      <option value="AR">Patna</option>
                      <option value="WA">Raipur</option>
                      <option value="WV">Panaji</option>
                      <option value="WI">Gandhinagar</option>
                      <option value="WY">Chandigarh</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Category</label>
                    <input type="text" class="form-control" placeholder="Technology,.etc">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <label for="form-field-select-4">Sub-Category</label>
                    <input type="text" class="form-control" placeholder="Technology,.etc">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Project </label>
                    <input type="text" class="form-control" placeholder="Project">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Operations  </label>
                    <input type="text " class="form-control" placeholder="Operations">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <label for="exampleInputEmail1">summary</label>
                    <textarea placeholder="summary" id="form-field-22" class="form-control"></textarea>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" data-dismiss="modal" role="button" class="btn btn-default btn-squared">
              Cancel
            </button>
            <button type="button" data-action="save" class="btn btn-primary btn-squared">
              Save
            </button>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="modal fade" id="squarespaceModal2" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-custom_mo">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            <h3 class="modal-title" id="lineModalLabel">Edit Experience</h3>
          </div>
          <div class="modal-body">

            <!-- content goes here -->
            <form>

              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Title</label>
                    <input type="Text" class="form-control" id="exampleInputEmail1" placeholder="Title">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Company</label>
                    <input type="Text" class="form-control" id="exampleInputEmail1" placeholder="Company">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Location</label>
                    <input type="Text" class="form-control" id="exampleInputEmail1" placeholder="Location">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="form-field-select-1">
                      From
                    </label>
                    <select id="form-field-select-12" class="form-control">
                      <option value="">&nbsp;</option>
                      <option value="AL">January</option>
                      <option value="AK">Febuary</option>
                      <option value="AZ">March</option>
                      <option value="AR">April</option>
                      <option value="CA">May</option>
                      <option value="CO">June</option>
                      <option value="CT">July</option>
                      <option value="DE">August</option>
                      <option value="FL">Septmeber</option>
                      <option value="FL">November</option>
                      <option value="FL">December</option>
                    </select>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="form-field-select-13">
                      To
                    </label>
                    <select id="form-field-select-1" class="form-control">
                      <option value="">&nbsp;</option>
                      <option value="AL">January</option>
                      <option value="AK">Febuary</option>
                      <option value="AZ">March</option>
                      <option value="AR">April</option>
                      <option value="CA">May</option>
                      <option value="CO">June</option>
                      <option value="CT">July</option>
                      <option value="DE">August</option>
                      <option value="FL">Septmeber</option>
                      <option value="FL">November</option>
                      <option value="FL">December</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <select id="form-field-select-12" class="form-control">
                      <option value="">&nbsp;</option>
                      <option value="AL">January</option>
                      <option value="AK">Febuary</option>
                      <option value="AZ">March</option>
                      <option value="AR">April</option>
                      <option value="CA">May</option>
                      <option value="CO">June</option>
                      <option value="CT">July</option>
                      <option value="DE">August</option>
                      <option value="FL">Septmeber</option>
                      <option value="FL">November</option>
                      <option value="FL">December</option>
                    </select>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <select id="form-field-select-1" class="form-control">
                      <option value="">&nbsp;</option>
                      <option value="AL">January</option>
                      <option value="AK">Febuary</option>
                      <option value="AZ">March</option>
                      <option value="AR">April</option>
                      <option value="CA">May</option>
                      <option value="CO">June</option>
                      <option value="CT">July</option>
                      <option value="DE">August</option>
                      <option value="FL">Septmeber</option>
                      <option value="FL">November</option>
                      <option value="FL">December</option>
                    </select>
                  </div>
                </div>
              </div>
              <label class="checkbox-inline">
                <input type="checkbox" value="" class="grey">
                Current Working
              </label>
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Discription</label>
                    <textarea placeholder="Discription Text" id="form-field-22" class="form-control"></textarea>
                  </div>

                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" data-dismiss="modal" role="button" class="btn btn-default btn-squared">
              Cancel
            </button>
            <button type="button" data-action="save" class="btn btn-primary btn-squared">
              Save
            </button>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="modal fade" id="squarespaceModal3" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-custom_mo">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            <h3 class="modal-title" id="lineModalLabel">Edit Education</h3>
          </div>
          <div class="modal-body">

            <!-- content goes here -->
            <form>

              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <label for="exampleInputEmail1">School/Degree</label>
                    <input type="Text" class="form-control" id="exampleInputEmail1" placeholder="Title">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Field of School/degree</label>
                    <input type="Text" class="form-control" id="exampleInputEmail1" placeholder="Company">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Grade</label>
                    <input type="Text" class="form-control" id="exampleInputEmail1" placeholder="Location">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Activities and societies</label>
                    <textarea placeholder="Discription Text" id="form-field-22" class="form-control"></textarea>
                  </div>
                </div>
              </div>
              <label>
                Time period
              </label>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="form-field-select-1">
                      From year
                    </label>
                    <select id="form-field-select-12" class="form-control">
                      <option value="">&nbsp;</option>
                      <option value="AL">January</option>
                      <option value="AK">Febuary</option>
                      <option value="AZ">March</option>
                      <option value="AR">April</option>
                      <option value="CA">May</option>
                      <option value="CO">June</option>
                      <option value="CT">July</option>
                      <option value="DE">August</option>
                      <option value="FL">Septmeber</option>
                      <option value="FL">November</option>
                      <option value="FL">December</option>
                    </select>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="form-field-select-13">
                      To year
                    </label>
                    <select id="form-field-select-1" class="form-control">
                      <option value="">&nbsp;</option>
                      <option value="AL">January</option>
                      <option value="AK">Febuary</option>
                      <option value="AZ">March</option>
                      <option value="AR">April</option>
                      <option value="CA">May</option>
                      <option value="CO">June</option>
                      <option value="CT">July</option>
                      <option value="DE">August</option>
                      <option value="FL">Septmeber</option>
                      <option value="FL">November</option>
                      <option value="FL">December</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Discription</label>
                    <textarea placeholder="Discription Text" id="form-field-22" class="form-control"></textarea>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" data-dismiss="modal" role="button" class="btn btn-default btn-squared">
              Cancel
            </button>
            <button type="button" data-action="save" class="btn btn-primary btn-squared">
              Save
            </button>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<!-- end: CORE JAVASCRIPTS  -->
