.Counsellor_dashboard {}


/*-----------------------profile_section start-------------------*/

.tabbable.user_profile-table_tab .tab-content {
    background: #fff!important;
}

.tab-content {
    background: #fff!important;
}

.nav-tabs>li.active a,
.nav-tabs>li.active a:hover,
.nav-tabs>li.active a:focus {
    border-width: 1px;
    background: #fff!important;
}

.card {
    padding-top: 20px;
    margin: 10px 0 20px 0;
    background-color: rgba(214, 224, 226, 0.2);
    border-top-width: 0;
    border-bottom-width: 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card .card-heading {
    padding: 0 20px;
    margin: 0;
}

.card .card-heading.simple {
    font-size: 20px;
    font-weight: 300;
    color: #777;
    border-bottom: 1px solid #e5e5e5;
}

.card .card-heading.image img {
    display: inline-block;
    width: 46px;
    height: 46px;
    margin-right: 15px;
    vertical-align: top;
    border: 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.card .card-heading.image .card-heading-header {
    display: inline-block;
    vertical-align: top;
}

.card .card-heading.image .card-heading-header h3 {
    margin: 0;
    font-size: 14px;
    line-height: 16px;
    color: #262626;
}

.card .card-heading.image .card-heading-header span {
    font-size: 12px;
    color: #999999;
}

.card .card-body {
    padding: 0 20px;
    margin-top: 20px;
}

.card .card-media {
    padding: 0 20px;
    margin: 0 -14px;
}

.card .card-media img {
    max-width: 100%;
    max-height: 100%;
}

.card .card-actions {
    min-height: 30px;
    padding: 0 20px 20px 20px;
    margin: 20px 0 0 0;
}

.card .card-comments {
    padding: 20px;
    margin: 0;
    background-color: #f8f8f8;
}

.card .card-comments .comments-collapse-toggle {
    padding: 0;
    margin: 0 20px 12px 20px;
}

.card .card-comments .comments-collapse-toggle a,
.card .card-comments .comments-collapse-toggle span {
    padding-right: 5px;
    overflow: hidden;
    font-size: 12px;
    color: #999;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card-comments .media-heading {
    font-size: 13px;
    font-weight: bold;
}

.card.people {
    position: relative;
    display: inline-block;
    width: 170px;
    height: 300px;
    padding-top: 0;
    margin-left: 20px;
    overflow: hidden;
    vertical-align: top;
}

.card.people:first-child {
    margin-left: 0;
}

.card.people .card-top {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 170px;
    height: 150px;
    background-color: #ffffff;
}

.card.people .card-top.green {
    background-color: #53a93f;
}

.card.people .card-top.blue {
    background-color: #427fed;
}

.card.people .card-info {
    position: absolute;
    top: 150px;
    display: inline-block;
    width: 100%;
    height: 101px;
    overflow: hidden;
    background: #ffffff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card.people .card-info .title {
    display: block;
    margin: 8px 14px 0 14px;
    overflow: hidden;
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
    color: #404040;
}

.card.people .card-info .desc {
    display: block;
    margin: 8px 14px 0 14px;
    overflow: hidden;
    font-size: 12px;
    line-height: 16px;
    color: #737373;
    text-overflow: ellipsis;
}

.card.hovercard {
    position: relative;
    padding-top: 0;
    overflow: hidden;
    text-align: center;
    border: 1px solid #ece6e6;
    margin: 10px auto;
    width: 90%;
    box-shadow: 1px 2px 2px #F3F1F1 !important;
    background: #fefefe;
    padding-bottom: 10px;
    margin-bottom: 0px;
}

.card.hovercard .cardheader {
    /*background: url("../images/service_in.jpg");*/
    background-size: cover;
    height: 170px;
    text-align: right;
    padding-top: 8px;
    color: #fff;
    font-size: 15px;
    padding-right: 10px;
}

.card.hovercard .cardheader a {
    color: #fff;
    font-weight: bold;
}

.card.hovercard .avatar_web {
    position: relative;
    top: -85px;
    margin-bottom: -85px;
}

.card.hovercard .avatar_web img {
    width: 150px;
    height: 150px;
    max-width: 150px;
    max-height: 150px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 0.5);
    box-shadow: 1px 2px 2px #ccc;
    margin-bottom: 8px;
}

.profile_summary {
    width: 80%;
    margin: 0 auto;
}

.profile_summary p {
    color: rgb(141, 143, 146);
    font-size: 14px;
}

.card.hovercard .avatar_web h3 {
    margin-top: 0px;
    font-weight: 300;
    color: #727278;
}

.card.hovercard .info {
    padding: 4px 8px 10px;
}

.card.hovercard .info .title {
    margin-bottom: 4px;
    font-size: 24px;
    line-height: 1;
    color: #262626;
    vertical-align: middle;
}

.card.hovercard .info .desc {
    overflow: hidden;
    font-size: 12px;
    line-height: 20px;
    color: #737373;
    text-overflow: ellipsis;
}

.card.hovercard .bottom {
    padding: 0 20px;
    margin-bottom: 17px;
}

.panel_profile_counsellor .counsoller_pr {
    width: 100%;
    margin: 0px;
    padding: 20px;
}

.panel_profile_counsellor .counsoller_pr ul {
    margin: 0px;
    padding: 0px;
}

.panel_profile_counsellor .counsoller_pr ul li {
    float: left;
    list-style: none;
    width: 48%;
}

.panel_profile_counsellor .counsoller_pr ul li:first-child {
    border-right: 1px solid #ccc;
}

.panel_profile_counsellor .counsoller_pr ul li:last-child {
    margin-left: 20px;
}

.panel_profile_counsellor .counsoller_pr ul li p {
    font-size: 16px;
}

.panel_profile_counsellor .exp-panel {
    padding: 0px!important;
}

.panel_profile_counsellor .exp-panel img {
    float: right;
    margin-top: 0px;
}

.panel_profile_counsellor .edu-panel {
    border-top: 2px solid #ccc;
}

.panel-title-edu {
    margin-top: 10px;
    margin-left: 10px;
}

.panel_profile_counsellor .panel-body {
    padding: 0px;
}

.panel_profile_progress .panel-body .exp-panel h1 {
    float: right;
    margin: 0px;
}

.modal-custom_mo .modal-dialog {
    width: 60%!important;
    margin: 30px auto;
    height: 30%;
}

.modal-custom_mo .modal-content {
    border-radius: 0px!important;
    padding: 0 10px;
}

.modal-custom_mo .modal-content .modal-body {
    max-height: 400px;
    overflow: hidden;
    overflow-y: auto;
}

.fileupload .thumbnail>img {
    border-radius: 50%;
}

.fileupload-new.thumbnail {
    width: 100px!important;
    height: 100px!important;
    border-radius: 50%!important;
}

.fileupload {
    text-align: center;
}

.user-edit-image-buttons {
    margin-top: 10px;
    text-align: center;
    display: block!important;
}

.panel-tools-pr {
    position: absolute;
    right: 10px;
    top: 13px!important;
}

.panel_profile_counsellor .Recommendations img {
    float: right;
    margin-top: 0px;
    border-radius: 50%;
}

.panel_profile_progress .panel-body .Recommendations ul li {
    list-style: none;
    text-decoration: none;
    list-style: none;
    text-decoration: none;
    line-height: 20px;
}

.panel_profile_progress .panel-body .Recommendations ul li h3 {
    margin: 0px;
}

.panel_profile_progress .panel-body .Recommendations ul {
    margin: 0px;
    padding: 10px 0px 8px 20px;
    float: left;
}

.panel_profile_progress .panel-body .Recommendations ul li p {
    text-align: left !important;
    margin: 5px 0px;
    font-size: 13px;
    display: inline-block;
    border-bottom: 1px solid #eceaea;
    padding-bottom: 10px;
}

.pr_panel {
    padding-top: 20px;
    margin: 0 auto;
    width: 90%;
    background-color: #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    padding-top: 0;
    overflow: hidden;
    text-align: center;
    border: 1px solid #ece6e6;
    margin: 10px auto;
    width: 90%;
    box-shadow: 1px 2px 2px #F3F1F1 !important;
    background: #fefefe;
    padding-bottom: 10px;
    margin-bottom: 0px;
}

.pr_panel .counsoller_pr {
    width: 100%;
    margin: 0px;
    padding: 20px;
}

.pr_panel .counsoller_pr ul {
    margin: 0px;
    padding: 0px;
}

.pr_panel .counsoller_pr ul li p {
    font-size: 16px;
}

.pr_panel .counsoller_pr ul li:first-child {
    border-right: 1px solid #ccc;
}

.pr_panel .counsoller_pr ul li {
    float: left;
    list-style: none;
    width: 48%;
}

.panel_profile_progress .panel-body .exp-panel ul {
    margin: 0px;
    padding: 0px 0px 8px 10px;
    float: left;
    width: 100%;
}

.panel_profile_progress .panel-body .exp-panel ul li {
    list-style: none;
    text-decoration: none;
    list-style: none;
    text-decoration: none;
    line-height: 20px;
}

.panel_profile_progress .panel-body .exp-panel ul li h3 {
    font-size: 22px;
    color: #727278;
    margin: 3px 0px;
}

.panel-web {
    width: 90%!important;
    margin: 20px auto;
}

.panel-web .panel-title {
    color: #898484!important;
}

.panel-tools.pr-tools{top:187px !important;}


/*-----------------------profile_section end-------------------*/
