.btn-red{background: #E7413A; color: #fff;}
.btn-blue{background: #017FB8; color: #fff;}
.blck-bg{background: #000;}
.block{display:block;}
.w-100{width:100%;}
.blk-center{position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); -moz-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); -o-transform: translate(-50%, -50%);}

/*==Padding==*/
.p-0{padding:0;}
.pad-10{padding: 10px;}
.pd-lt10{padding-left: 10px;}
.pl-35{padding-left: 35px;}

.pos-rel{position: relative;}
.pos-ab{position: absolute;}
.white-clr{color:#fff;}
.bb{border-bottom:1px solid; }
.bb2{border-bottom:2px solid;}
.bdr-clr-blk{border-color: #000;}

.mtp-10{margin-top: 10px;}
.mtp-20{margin-top: 20px;}
.mrgn0{margin:0;}
.bx-rtbtshad{box-shadow: 2px 4px 8px 0px #bbb;}
.bdr-bx{border:1px solid #dcdcdc; background: #E7413A; color: #fff;}

.br-0{border-radius:0;}
.top-fxd-div{padding-top: 51px;}
/*===Rating star====*/

/****** Style Star Rating Widget *****/
.rating { border: none; float: left;}
.rating > input { display: none; }
.rating > label:before { margin: 5px; font-size: 1.25em; font-family: FontAwesome; display: inline-block; content: "\f005";}
.rating > .half:before { content: "\f089";  position: absolute;}
.rating > label { color: #ddd; float: right;}

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  }

/*== Make Appointment Page==*/

/*==Make Appointment Wizard start== */
.wizard { margin: 20px auto; background: #fff;}
.wizard .nav-tabs { position: relative; margin: 40px auto;  margin-bottom: 0; border-bottom-color: #e0e0e0; }
.wizard > div.wizard-inner { position: relative;}
.connecting-line { height: 2px; background: #e0e0e0; position: absolute; width: 80%;  margin: 0 auto; left: 0; right: 0; top: 50%; z-index: 1;}
.wizard .nav-tabs > li.active > a, .wizard .nav-tabs > li.active > a:hover, .wizard .nav-tabs > li.active > a:focus {color: #555555; cursor: default; border: 0; border-bottom-color: transparent;}
span.round-tab { width: 70px; height: 70px; line-height: 70px; display: inline-block; border-radius: 100px; background: #fff; border: 2px solid #e0e0e0; z-index: 2; position: absolute; left: 0; text-align: center; font-size: 25px;}
span.round-tab i{ color:#555555;}
.wizard li.active span.round-tab { background: #fff; border: 2px solid #5bc0de;}
.wizard li.active span.round-tab i{color: #5bc0de;}

span.round-tab:hover {color: #333; border: 2px solid #333;}
.wizard .nav-tabs > li { width: 20%;}
.wizard li:after { content: " "; position: absolute; left: 46%; opacity: 0; margin: 0 auto; bottom: 0px; border: 5px solid transparent; border-bottom-color: #5bc0de; transition: 0.1s ease-in-out;}

.wizard li.active:after { content: " "; position: absolute; left: 46%; opacity: 1; margin: 0 auto; bottom: 0px; border: 10px solid transparent; border-bottom-color: #5bc0de;}

.wizard .nav-tabs > li a { width: 70px; height: 70px; margin: 20px auto; border-radius: 100%; padding: 0;}
 .wizard .nav-tabs > li a:hover {background: transparent; }

.wizard .tab-pane { position: relative; padding-top: 50px;}

.wizard h3 { margin-top: 0;}

@media( max-width : 585px ) {
 .wizard {width: 90%; height: auto !important; }
 span.round-tab {font-size: 16px; width: 50px; height: 50px; line-height: 50px; }
 .wizard .nav-tabs > li a {width: 50px;  height: 50px; line-height: 50px; }
 .wizard li.active:after {content: " "; position: absolute; left: 35%; }
}
.mo_stepwizard_counsoller ul li { float: left; list-style: none; text-align: center; padding: 0px 5px; margin-top: 10px; max-width: 15%; margin: 10px 20px;}

.mo_stepwizard_counsoller ul li img { width: 100%; margin: 0 auto;}
.mo_stepwizard_counsoller ul li h4 { font-size: 14px; font-weight: 600;}
.mo_stepwizard_counsoller ul li p { font-size: 13px;}
.mo_stepwizard_counsoller ul li a { font-size: 12px; padding: 5px 10px;}
.mo_stepwizard_counsoller ul li a:hover { color: #fff;}
.mo_stepwizard_counsoller input[type="checkbox"] { margin: 0px 5px 0px;}


/*== Video Session Page==*/
.video-bx-bg{background:#212121; }
.video-session-blk{padding-top: 51px;}
.video-bx{background: #212121 url("../images/user-live-session.jpg") no-repeat; background-size: cover; height: 100vh; width: 100%; padding: 0 15px 0 15px;}
.video-icon-list{position: absolute; right:0; width: 300px;  height: 150px; z-index: 3; }
.video-icon-list ul{position: absolute; right:15px;}
.video-icon-list li{padding-top: 5px;}
.video-icon-list i{font-size: 22px; color: #fff; background: #0E2231; border-radius:5px; padding: 8px; width: 40px; height: 40px; text-align: center; cursor: pointer;}
.video-icon-list a{color: #fff; font-size: 16px; font-weight: bold; opacity: 0; padding: 5px 15px; background: #0E2231; text-align: center; height: 40px; border-radius: 5px; margin-right: 5px; position: relative; }
.video-icon-list li:hover a{opacity: 1;}

.video-icon-list a::after { border-color: transparent transparent transparent #0E2231;  border-style: solid;  border-width: 5px;
 content: ""; left: 100%; position: absolute; top: 10px;}
.chat-msg.chat-lt span{box-shadow: 0 0 2px 0px #E7413A; float: left; clear: both; padding: 3px; margin-bottom: 8px; border-radius:3px;}
.chat-msg.chat-rt span{box-shadow: 0 0 2px 0px #017FB8; float: right; clear: both; padding: 3px; margin-bottom: 8px; border-radius:3px;}
.chat-btn{background: #F03F36;}
.chat-btn a{color: #fff;}

.navbar-default{background: transparent; margin-bottom: 0;}
.join-frm{left:-450px; min-width: 500px; width: 100%;}

/*===Counsellor profile update===*/
.select-bx .btn{border-radius: 0; border-color:#e6e8e8; } 
.counsellor-updt-profile .panel{padding-top:30px;}
.counsellor-updt-profile .panel-heading{background:#ccc; color: #fff;}
.counsellor-updt-profile .panel-body{border: 1px solid #ccc; margin-bottom: 40px;}


/*== Home page==*/
.hmpg-banner{position: relative;}
.hmpg-banner-bg{background: url('../images/banner2.jpg') no-repeat left top; background-size: cover; width:100%; height:100vh; filter:blur(3px);}
.hmpg-banner-cntnt{position: absolute;}

/*-- carousel--*/
#hmpg-carousel h2{font-size:48px;}
#hmpg-carousel p{font-size: 28px;}
#hmpg-carousel .carousel-caption{width:100%;}

#hmpg-carousel.carousel-fade .carousel-inner .item {-webkit-transition-property: opacity; transition-property: opacity;}
#hmpg-carousel.carousel-fade .carousel-inner .item, #hmpg-carousel.carousel-fade .carousel-inner .active.left, #hmpg-carousel.carousel-fade .carousel-inner .active.right {
  opacity: 0;}
#hmpg-carousel.carousel-fade .carousel-inner .active, #hmpg-carousel.carousel-fade .carousel-inner .next.left, #hmpg-carousel.carousel-fade .carousel-inner .prev.right {
  opacity: 1;}
#hmpg-carousel.carousel-fade .carousel-inner .next, #hmpg-carousel.carousel-fade .carousel-inner .prev, #hmpg-carousel.carousel-fade .carousel-inner .active.left,
#hmpg-carousel.carousel-fade .carousel-inner .active.right { left: 0; -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0);}
#hmpg-carousel.carousel-fade .carousel-control { z-index: 2;}


/*--Header--*/
header .navbar-inverse{background: transparent;}
header .navbar-brand{padding:6px 15px;}
header .navbar{border:0;}
header .dropdown-menu{background:rgba(0,0,0,0.9);}
header.topbar{
    background:rgba(0,0,0,0.5); /*transparent !important;*/
/*background: rgba(255,255,255,1);
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,0.76) 47%, rgba(237,237,237,0.49) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,0.76)), color-stop(100%, rgba(237,237,237,0.49)));
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,0.76) 47%, rgba(237,237,237,0.49) 100%);
background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,0.76) 47%, rgba(237,237,237,0.49) 100%);
background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,0.76) 47%, rgba(237,237,237,0.49) 100%);
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,0.76) 47%, rgba(237,237,237,0.49) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );*/
}
header.navbar-inverse .navbar-nav > li > a{color:#fff; font-weight: bold; font-size: 14px;}
header.navbar-inverse .navbar-nav > li:hover > a, header.navbar-inverse .navbar-nav > li:active > a, .topbar .nav li.dropdown.open > .dropdown-toggle, .topbar .nav li.dropdown.active > .dropdown-toggle, .topbar .nav li.dropdown.open.active > .dropdown-toggle{color:#F13D34;}
.signin-drpdwn{min-width: 400px; left:-325px;}
.signin-drpdwn h3{padding-bottom: 20px;}
.register-frm{min-width:650px; width:100%; left:-500px;}


.mat-frm .form-group textarea { resize: none;}
.mat-frm .form-group select { width: 100%;  background: none; border: none; box-shadow: none;}
.mat-frm .form-group .control-label { position: absolute; top: 0.25rem; pointer-events: none; z-index: 1; color: #b3b3b3; -webkit-transition: all 0.28s ease; transition: all 0.28s ease;}
.mat-frm .form-group .bar { position: relative; border-bottom: 1px solid #999; display: block;}
.mat-frm .form-group .bar::before { content: ''; height: 0.125rem; width: 0; left: 50%; bottom: -0.0625rem; position: absolute;  background: #337ab7;
  -webkit-transition: left 0.28s ease, width 0.28s ease; transition: left 0.28s ease, width 0.28s ease; z-index: 2;}
.mat-frm .form-group input, .mat-frm .form-group textarea { display: block; background: none !important;  border-width: 0; border-color: transparent; width: 100%;  color: transparent; -webkit-transition: all 0.28s ease;
  transition: all 0.28s ease;  box-shadow: none; position: relative; top:5px; left:-3px;}
.mat-frm .form-group input[type="file"] { line-height: 1;}
.mat-frm .form-group input[type="file"] ~ .bar { display: none;}
.mat-frm .form-group select,
.mat-frm .form-group input:focus,
.mat-frm .form-group input:valid,
.mat-frm .form-group input.form-file,
.mat-frm .form-group input.has-value,
.mat-frm .form-group textarea:focus,
.mat-frm .form-group textarea:valid,
.mat-frm .form-group textarea.form-file,
.mat-frm .form-group textarea.has-value { color: #333;}
.mat-frm .form-group select ~ .control-label,
.mat-frm .form-group input:focus ~ .control-label,
.mat-frm .form-group input:valid ~ .control-label,
.mat-frm .form-group input.form-file ~ .control-label,
.mat-frm .form-group input.has-value ~ .control-label,
.mat-frm .form-group textarea:focus ~ .control-label,
.mat-frm .form-group textarea:valid ~ .control-label,
.mat-frm .form-group textarea.form-file ~ .control-label,
.mat-frm .form-group textarea.has-value ~ .control-label { top: -12px; left: 0;}

.mat-frm .form-group select:focus, .form-group input:focus, .form-group textarea:focus { outline: none;}
.mat-frm .form-group select:focus ~ .control-label, .form-group input:focus ~ .control-label, .form-group textarea:focus ~ .control-label {
  color: #337ab7;
}
.mat-frm .form-group select:focus ~ .bar::before, .mat-frm .form-group input:focus ~ .bar::before, .mat-frm .form-group textarea:focus ~ .bar::before {
  width: 100%;  left: 0;}

.mat-frm .checkbox label, .mat-frm .form-radio label { position: relative; cursor: pointer; text-align: left; color: #333; display: block;}
.mat-frm .checkbox input, .mat-frm .form-radio input { width: auto;  opacity: 0.00000001; position: absolute; left: 0;}
.mat-frm .radio { margin-bottom: 1rem;}
.mat-frm .radio .helper { position: absolute; top: -0.25rem; left: -0.25rem; cursor: pointer; display: block; font-size: 1rem; -webkit-user-select: none;
     -moz-user-select: none; -ms-user-select: none; user-select: none; color: #999;}
.mat-frm .radio .helper::before, .radio .helper::after { content: ''; position: absolute; left: 0; top: 0; margin: 2px; width: 15px;
  height: 15px; -webkit-transition: -webkit-transform 0.28s ease; transition: -webkit-transform 0.28s ease; transition: transform 0.28s ease;
  transition: transform 0.28s ease, -webkit-transform 0.28s ease; border-radius: 50%; border: 0.125rem solid currentColor;}
.mat-frm .radio .helper::after {-webkit-transform: scale(0); transform: scale(0); background-color: #337ab7; border-color: #337ab7;}
.mat-frm .radio label:hover .helper {color: #337ab7;}
.mat-frm .radio input:checked ~ .helper::after {-webkit-transform: scale(0.5); transform: scale(0.5);}
.mat-frm .radio input:checked ~ .helper::before {color: #337ab7;}

.mat-frm .checkbox { margin-top: 3rem; margin-bottom: 1rem;}
.mat-frm .checkbox .helper {color: #999; position: absolute; top: 0; left: 0; width: 15px; height: 15px; z-index: 0; border: 1px solid currentColor;
  border-radius: 0.0625rem; -webkit-transition: border-color 0.28s ease; transition: border-color 0.28s ease;}
.mat-frm .checkbox .helper::before, .mat-frm .checkbox .helper::after {position: absolute; height: 0; width: 3px; background-color: #337ab7; display: block;
  -webkit-transform-origin: left top; transform-origin: left top; border-radius: 0.25rem; content: '';  -webkit-transition: opacity 0.28s ease, height 0s linear 0.28s;
  transition: opacity 0.28s ease, height 0s linear 0.28s; opacity: 0;}
.mat-frm .checkbox .helper::before {top: 12px; left: 7px; -webkit-transform: rotate(-135deg); transform: rotate(-135deg);
  box-shadow: 0 0 0 0.0625rem #fff;}
.mat-frm .checkbox .helper::after {top: 5px; left: 0; -webkit-transform: rotate(-45deg); transform: rotate(-45deg);}
.mat-frm .checkbox label:hover .helper {color: #337ab7;}
.mat-frm .checkbox input:checked ~ .helper {color: #337ab7;}
.mat-frm .checkbox input:checked ~ .helper::after, .mat-frm .checkbox input:checked ~ .helper::before {
  opacity: 1;
  -webkit-transition: height 0.28s ease;
  transition: height 0.28s ease;
}
.mat-frm .checkbox input:checked ~ .helper::after {
  height: 9px;
}
.mat-frm .checkbox input:checked ~ .helper::before {height: 17px; -webkit-transition-delay: 0.28s;  transition-delay: 0.28s;}

.mat-frm .radio + .radio, .mat-frm .checkbox + .checkbox { margin-top: 1rem;}

.mat-frm .has-error .legend.legend, .mat-frm .has-error.form-group .control-label.control-label { color: #d9534f;}
.mat-frm .has-error.form-group .form-help,
.mat-frm .has-error.form-group .helper, .mat-frm .has-error.checkbox .form-help,
.mat-frm .has-error.checkbox .helper, .mat-frm .has-error.radio .form-help,
.mat-frm .has-error.radio .helper, .mat-frm .has-error.form-radio .form-help,
.mat-frm .has-error.form-radio .helper {
  color: #d9534f;
}
.mat-frm .has-error .bar::before { background: #d9534f; left: 0; width: 100%;}

.mat-frm .button { position: relative; background: currentColor;  border: 1px solid currentColor; font-size: 1.1rem; color: #4f93ce; margin: 3rem 0;
  padding: 0.75rem 3rem; cursor: pointer; -webkit-transition: background-color 0.28s ease, color 0.28s ease, box-shadow 0.28s ease;
  transition: background-color 0.28s ease, color 0.28s ease, box-shadow 0.28s ease; overflow: hidden; box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.mat-frm .button span {color: #fff; position: relative; z-index: 1;}
.mat-frm .button::before { content: ''; position: absolute; background: #071017; border: 50vh solid #1d4567; width: 30vh; height: 30vh;
  border-radius: 50%;  display: block; top: 50%; left: 50%; z-index: 0; opacity: 1; -webkit-transform: translate(-50%, -50%) scale(0);
transform: translate(-50%, -50%) scale(0);}
.mat-frm .button:hover { color: #337ab7; box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
}
.mat-frm .button:active::before, .mat-frm .button:focus::before { -webkit-transition: opacity 0.28s ease 0.364s, -webkit-transform 1.12s ease;
  transition: opacity 0.28s ease 0.364s, -webkit-transform 1.12s ease;  transition: transform 1.12s ease, opacity 0.28s ease 0.364s;
  transition: transform 1.12s ease, opacity 0.28s ease 0.364s, -webkit-transform 1.12s ease;  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);  opacity: 0;}
.mat-frm .button:focus {outline: none;}

/*--login with---*/
.login-with.text-center > a{color:#396c79;}

.white-bg{background:#fff; padding:50px 30px 80px 30px;}
.gray-bg{background:#f5f5f5; padding:50px 30px 80px 30px;}
.white-bg h3,  .gray-bg h3{color:#152f71; font-size: 35px; text-align: center; padding:30px 0px; text-transform: uppercase; font-weight: 500;}
.fxd-bx{height: 300px; background-size: cover;}
.ih-item.square{width:100%;}

/*==Footer==*/
footer{height:auto;}
footer .footer{background: #253340; padding: 30px 0; color:#fff; font-size:14px;}
footer h3.title{margin-top: 0;}
.footer .footer-col.connect .social li a .fa { color: #b3b3b3; font-size: 22px;}
.footer .contact .fa { margin-right: 10px; font-size: 20px;}
.footer .download .download-list li .btn-ghost { color: #fff; padding: 8px 20px; width: 230px; margin-right: 10px;
font-size: 14px; text-align: left; opacity: 0.6;}
a.btn-ghost, .btn-ghost {  background: none; border: 1px solid #fff; color: #6d8dab; padding: 8px 20px; vertical-align: middle; font-weight: bold;}
.footer .download .download-list li{margin-bottom: 15px;}
a.btn-ghost .fa, .btn-ghost .fa {margin-right: 10px; font-size: 22px; }
a.btn-ghost:hover, .btn-ghost:hover {background: #4a6781;  border: 1px solid #4a6781; color: #fff !important; opacity: 1;}
.footer .footer-col .navbar-form{padding: 10px 0; border-radius: 5px;}
.footer .footer-col .navbar-form .form-control {opacity: 0.9;}
footer .navbar-form .form-control {width: 280px; padding: 6px 15px; border-radius: 4px !important; height:40px;}

.footer .footer-col.connect .btn-cta-primary { background: #5d80a1; border-color: #5d80a1;}
.footer .btn-cta, .footer a.btn-cta { padding: 9px 10px;}
.footer .footer-col a {color: #6d8dab;}
.footer-col-inner p{opacity: 0.6;}
.footer .has-divider { border-top: 1px solid #2b3b4a; padding-top: 30px; margin-top: 30px;}


/*==Student Speak==*/
  .card{ box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12); position: relative;}
  .default-color-dark{background: #284373; height: 100px; width: 100%;}
  .avatar{position: relative; margin-top: -60px;}
  .testimonial-card .avatar { -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%;
    border-radius: 50%; width: 120px; margin: -65px auto 0; border: 5px solid #fff; background: #FFF; height: 120px;}
  .card-block{padding-bottom:20px;}
  
 /*==Dark Gray==*/
 .dark-gray{background: #555555; padding: 50px 0;}
 .dark-gray h5{text-transform: uppercase; color: #fff; font-weight: 500; font-size: 22px;}
 .dark-gray p{color:#f1f1f1; font-size: 13px; font-weight: 300;}
 

/*    #owl-demo .item{
      margin: 3px;
    }
    #owl-demo .item img{
      display: block;
      width: 100%;
      height: auto;
    }*/

#counsellor-carousel{text-align: center;}
#counsellor-carousel img{width:100px; height: 100px;}
#counsellor-carousel .carousel-control{background:none;}

#counsellor-carousel .lt-blk{position: absolute; left: 10px; top:10px;}
#counsellor-carousel .rt-blk{position: absolute; right: 10px; top:10px;}
#counsellor-carousel .default-color-dark{background: #f1f1f1;}
#counsellor-carousel .card{margin-bottom:5px;}

/*==Forgot Password==*/
.forgot-hdr{background: rgb(255,255,255,0.8); padding: 5px 20px; box-shadow: 0px 1px 6px 0px #999;}
.forgot-bg{background: url('../images/banner2.jpg') no-repeat; background-size: cover; width: 100%; height: 100vh; filter: blur(100px); position: absolute;
top:0; left:0; z-index: -1;}
.forgot-bx{max-width: 500px;}
.forgot-bx .forgot-bx-cntnt{background: rgba(255,255,255,0.7); padding: 50px 50px;}
.forgot-bx h3{font-size:32px; color: #333; margin-bottom: 20px; }
.forgot-bx .forgot-bx-cntnt h5{ color:#253340; font-size: 16px; line-height: 30px; }
.forgot-bx .form-control{margin: 20px 0;}

/*===Feedback Dialog===*/
.feedback-bx{ max-width: 600px; width: 100%; box-shadow: 0px 0px 6px 0px #ccc; margin:120px auto 80px; padding: 0 15px 30px 15px;}
.feedback-bx .title{background: #f5f5f5; padding: 10px 20px;}