.overlay{height:100%;width:0;position:fixed;z-index:12312;left:0;top:0;background-color:rgb(0,0,0);background-color:rgba(0,0,0, 0.9);overflow-x:hidden;transition:0.5s;}
[hidden]{display:none !important;}
.overlay-content{position:relative;top:0%;width:100%;text-align:center;margin-top:0px;}
.overlay a{padding:8px;text-decoration:none;font-size:36px;color:#818181;display:block;transition:0.3s;}
.overlay a:hover, .overlay a:focus{color:#f1f1f1;}
.overlay .closebtn{position:absolute;top:0px;right:5px;font-size:60px;}
@media screen and (max-height:450px){.overlay a{font-size:20px}
.overlay .closebtn{font-size:40px;top:0px;right:35px;}
}
.overlay .tags{display:inline-block;background:#C2C6CD;color:#ffffff !important;text-decoration:none;cursor:pointer;font-size:16px;margin:0 0 10px 18px;padding:2px 10px 1px;border-top-right-radius:3px;border-bottom-right-radius:3px;position:relative;transition:all .25s linear;white-space:nowrap;line-height:21px;}
.panel_profile_progress .panel-body .exp-panel ul li h3{font-size:18px !important;}
.panel_profile_counsellor .exp-panel img{float:none!important;}
h4.panel-title.prifile-heading{font-size:20px;font-weight:600;color:#333;text-align:left;padding-bottom:10px;}
.panel_profile_progress .panel-body .exp-panel ul li{text-align:left !important;}