body {

    width: 100%;
    height: 100%;

}


/*
snippet from Animate.css - zoomIn effect
*/

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

.animated.infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite
}

.animated.hinge {
    -webkit-animation-duration: 2s;
    animation-duration: 2s
}

@-webkit-keyframes zoomIn {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3)
    }
    50% {
        opacity: 1
    }
}

@keyframes zoomIn {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3)
    }
    50% {
        opacity: 1
    }
}

.zoomIn {
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn
}

@-webkit-keyframes zoomOut {
    0% {
        opacity: 1
    }
    50% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3)
    }
    100% {
        opacity: 0
    }
}

@keyframes zoomOut {
    0% {
        opacity: 1
    }
    50% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3)
    }
    100% {
        opacity: 0
    }
}

.zoomOut {
    -webkit-animation-name: zoomiIn;
    animation-name: zoomiIn
}

.faq-pages #accordion .panel-title i.glyphicon {
    -moz-transition: -moz-transform 0.5s ease-in-out;
    -o-transition: -o-transform 0.5s ease-in-out;
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
}

.faq-pages .rotate-icon {
    -webkit-transform: rotate(-225deg);
    -moz-transform: rotate(-225deg);
    transform: rotate(-225deg);
}

.faq-pages .panel {
    border: 0px;
    border-style: none !important;
    border-bottom: 1px solid #61738F;
    box-shadow: 0 1px 4px #ffff;
}

.faq-pages .panel-group .panel+.panel {
    margin-top: 0px;
}

.faq-pages .panel-group .panel {
    border-radius: 0px;
    margin-bottom: 2px;
}

.faq-pages .panel-heading {
    border-radius: 0px;
    color: white;
    padding: 15px 15px;
}

.faq-pages .panel-custom>.panel-heading {
    background-color: #0283BB;
}

.faq-pages .panel-group .panel:last-child {
    border-bottom: 5px solid #0283BB;
}

.panel-title {
    color: #fff;
}

.panel-body.animated.zoomIn {
    color: #333;
    padding: 20px;
}

.faq-pages panel-collapse .collapse.in {
    border-bottom: 0;
}

.faq-pages .faq-heading h1 {
    font-size: 30px;
    font-weight: 700;
    color: #0283BB;
}

.faq-pages {
    width: 95%;
    margin: 0 auto;
    margin-top: 75px;
}

.faq-pages .panel-collapse.collapse.in {
    display: block !important;
}

.faq-pages .panel-heading i {
    font-size: 14px;
}

.faq-pages .panel-heading a {
    font-size: 14px;
}

.faq-pages .panel.panel-custom .panel-heading a:hover {
    color: #fff !important;
}

.faq-pages .panel-body {
    padding: 25px;
}


/*
about us css
*/

.about-us-pages {
    width: 100%;
    margin: 0 auto;
    height: auto;
}

.about-us-pages img {
    width: 100%;
    height: auto;
}

.about-section h2 {
    font-size: 31px;
    font-weight: 600;
    margin-top: 30px;
    color: #333;
}

.about-section p {
    font-size: 15px;
    color: #333;
}



.about-section {
    background: #fff none repeat scroll 0 0;
    padding: 25px;
    padding-top:0px; margin-top:0px;
}

.about-right img {
    width: 100%;
    height: auto;
}


/*
term css
*/

.term-section {
    width: 100%;
    height: auto;
}

.term-section img {
    width: 100%;
    height: auto;
    background-repeat: no-repeat !important;
    background-size: 100%;
    background-position: center top;
}

.terms-pages {
    background: #fff none repeat scroll 0 0;
    margin-top: 25px;
    padding: 25px;
}

.terms-pages>h3 {
    color: #333;
    font-size: 25px;
    font-weight: 600;
}

.terms-pages p {
    font-size: 15px;
    color: #333;
}

.terms-pages li {
    color: #333;
    font-size: 15px;
    padding: 5px 0;
}

.terms-pages>ul {
    padding: 13px;
}


/*
download-app css
*/

.download-part {
    margin-top: 50px;
    background: #fff !important;
    overflow: hidden;
	width:100%;
}

.download-right-part {
    margin: 60px 0;
}

.download-sections {
    width: 90%;
}

.mb5 {
    margin: 15px 0;
}

.download-forms form input {
    padding: 10px;
    color: #333;
    border: 1px solid #9999;
}

.download-forms form button {
    border: 1px solid #233D76;
    background: #233D76;
    color: #fff;
    padding: 9px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.ui.horizontal.divider {
    font-size: 15px;
    white-space: nowrap;
    height: auto;
    overflow: hidden;
    line-height: 1;
    text-align: center;
}

.border-left {
    background: #ddd none repeat scroll 0 0;
    float: left;
    height: 1px;
    position: relative;
    top: -9px;
    width: 48%;
}

.border-right {
    background: #ddd none repeat scroll 0 0;
    float: right;
    height: 1px;
    position: relative;
    top: -9px;
    width: 48%;
}

.download-forms img {
    width: auto;
    height: 56px;
    margin-top: 30px;
    margin-left: 1px;
    margin-right: 14px;
}

.save-reset-btn {
  margin-right: 24px;
  text-align:right
}

modal-footer .modal-footer button {
  margin-right: 10px;
}
.btn-grid {
  float: right;
}
.list_grid_appoint ul li .right {
  text-align: left;}
.main-content {
  background: #fff none repeat scroll 0 0;
}
.main-content {
  background: #fff none repeat scroll 0 0;
}

.download-sections h2 {
    font-size: 30px;
    font-weight: 700;
    color: #333;
    margin-bottom: 20px;
}

.download-sections h4 {
    font-size: 16px;
    color: #333;
    font-weight: 500;
}

.download-sections p {
    font-size: 15px;
    color: #333;
    font-weight: 500;
}

.download-forms p {
    font-size: 15px;
    color: #333;
    font-weight: 500;
}

.download-forms {
    margin-top: 30px;
}


/*
modal part css
*/

.center {
    margin-top: 50px;
}

.modal-header {
    padding-bottom: 5px;
}

.modal-footer {
  padding: 10px 0;
}

.modal-footer .btn-group button {
    height: 40px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border: none;
    border-right: 1px solid #ddd;
}

.modal-footer .btn-group:last-child>button {
    border-right: 0;
}

.renewal-part {
    margin-top: 70px;
}

.renewal-btn {
    background: #233D76;
    border: 1px solid #233D76;
}

button.btn.btn-default.right-btn-renewal {
    background: #233D76;
    border: 1px solid #233D76;
    float: right;
    color: #fff;
}

.modal-body>form {
    padding: 0px 0 30px 0;
}

.modal-heading {
    font-size: 25px;
    color: #333;
    font-weight: 500;
}

label.radio-inline {
    color: #333;
}


/*
refer part css
*/

.refer-friends-part {
    margin-top: 0;
}

.refer-friends-part>img {
    width: 100%;
    height: auto;
}

form.refer-forms {
    margin: 40px 0;
    overflow: hidden;
}

.refer-btn {
    background: #137CAC;
    border: 1px solid #137CAC;
    padding: 8px 20px;
    color: #fff;
    float: right;
    margin-right: 14px;
    margin-top: 10px;
}

.refer-friends-sections h2 {
    color: #333;
    font-size: 25px;
    font-weight: 600;
}

.refer-friends-sections p {
    color: #333;
    font-size: 15px;
}

.refer-friends-sections {
  background: #fff none repeat scroll 0 0;
  overflow: hidden;
  padding-bottom: 20px;
}

.trans-history button{ float:right; margin:10px 0px;}


.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev {
  width: 35px;
  height: 35px;
  margin-top: -15px;
  font-size: 20px;
  border: 2px solid red;
  border-radius: 50px;
  padding: 4px;
  color: red;
}

.multi-carousel .carousel-control{ width:0px !important;}

/*
Request For registering part css
*/

#enquirypopup .modal-dialog {
    width: 400px;
    padding: 0px;
    position: relative;
}

#enquirypopup .modal-dialog {
    width: 400px;
    padding: 0px;
    position: relative;
}

#enquirypopup .modal-dialog:before {
    content: '';
    height: 0px;
    width: 0px;
    border-left: 50px solid #31457F;
    border-right: 50px solid transparent;
    border-bottom: 50px solid transparent;
    position: absolute;
    top: 1px;
    left: -14px;
    z-index: 99;
}

.custom-modal-header {
    text-align: center;
    color: #17b6bb;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-top: 4px solid #31457F;
}

#enquirypopup .modal-dialog .close {
    z-index: 99999999;
    color: white;
    text-shadow: 0px 0px 0px;
    font-weight: normal;
    top: 4px;
    right: 6px;
    position: absolute;
    opacity: 1;
}

.custom-modal-header .modal-title {
    /* font-weight: bold; */
    font-size: 18px;
    color: #31457F;
}

#enquirypopup .modal-dialog:after {
    content: '';
    height: 0px;
    width: 0px;
    /* border-right: 50px solid rgba(255, 0, 0, 0.98); */
    border-right: 50px solid #31457F;
    border-bottom: 50px solid transparent;
    position: absolute;
    top: 1px;
    right: -14px;
    z-index: 999999;
}

.form-group.refer-form {
    margin-bottom: 15px;
}

.form-inline .form-control {
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    height:39px;
}

.fileupload-preview.thumbnail{ margin-left:-16px}

/*
careers part css
*/

.careers-pages h4 {
    font-size: 18px;
    color: #333;
    font-weight: 600;
}

.careers-pages p {
    font-size: 15px;
    color: #333;
    font-weight: 400;
    margin-bottom: 30px;
}

.options_careers h3 {
    color: #333;
    font-weight: 600;
    margin-bottom: 30px;
}

.options_careers {
    margin-bottom: 70px;
}


/*
news part css
*/

.news-section h2 {
    font-size: 30px;
    font-weight: 600;
    color: #333;
}

.news-pages h4 {
    font-size: 18px;
    color: #333;
}

.news-pages h6 {
    font-size: 12px;
    color: #333;
}

.news-img span {
    float: left;
}

.news-img {
    width: 17%;
    float: left;
    overflow: hidden;
}

.news-pages span img {
    width: 100%;
    padding: 10px 13px 10px 0px;
}

.news-pages p {
    float: right;
    margin-top: 11px;
    font-size: 15px;
    color: #333;
}

.news-content {
    width: 82%;
    float: right;
    overflow: hidden;
}

button.news-btns {
    margin-top: 20px;
    background: none;
    border: none;
    box-shadow: none;
    font-size: 15px;
    font-weight: 700;
}

.news-pages {
    overflow: hidden;
    margin: 20px 0;
}


/*--------------responsive css---------------------*/

@media screen and (max-width: 767px) {
    .refer-friends-part {
        margin-top: 2px;
    }

    .download-sections {
        width: 100%;
    }
    .download-forms form button {
        font-size: 11px !important;
    }
    .img-resp>a {
        display: inline;
        float: left;
        width: 50%;
    }
    .download-forms img {
        height: 70px;
        margin: 30px 0;
        width: 100%;
    }
    .news-img {
        width: 100%;
    }
    .news-content {
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    .download-forms img {
        height: auto;
    }
}

@media screen and (max-width: 800px) {
    .download-forms form button {
        padding: 10px;
        font-size: 11px
    }
    .faq-pages {
        margin: 0px;
    }
}

.appoinment_list-part ul {
    float: left;
    width: 14%;
    list-style: none;
    text-align: center;
    padding: 0px;
    margin: 0px;
}

.appoinment_list-part li {
    padding: 5px 0;
    font-size: 14px;
    border: 1px solid #ddd;
    border-left: none;
    border-right: none;
    border-bottom: none;
}

ul.one li:first-child {
    background: red;
    color: #fff;
}

ul.two li:first-child {
    background: #0D728F;
    color: #fff;
}

ul.three li:first-child {
    background: #2E99F1;
    color: #fff;
}

ul.four li:first-child {
    background: #F1572E;
    color: #fff;
}

ul.five li:first-child {
    background: #7E35AB;
    color: #fff;
}

ul.six li:first-child {
    background: #e91e63;
    color: #fff;
}

ul.seven li:first-child {
    background: #009688;
    color: #fff;
}

ul.one {
    border: 1px solid #ddd;
}

ul.two,
.three,
.four,
.five,
.six,
.seven {
    border: 1px solid #ddd;
    border-left: none;
}

.appoinment_list-part li:first-child {
    border-top: none;
}

.appoinment_list-part {
    margin-bottom: 25px;
    overflow: hidden;
}

.right_icon {
    margin-right: -43px;
    position: relative;
    top: -19px;
}

.left_icon {
    margin-left: -53px;
    position: relative;
    top: -19px;
}

.wizard .wizard-inner .nav-tabs>li {
    width: 16% ;
}

.setting-edit_heading{ background:#fff !important;}
.terms-pages h2 {
    font-size: 26px !important;
    color: #333 !important;
    font-weight: 600 !important;
}


button.btn.btn-default.view-btn {
    margin-right: 15px !important;
    color: #fff;
    background: darkslateblue;
	 margin-top: 10px;
	  padding: 7px 15px;
}

/*----------------------pintu css---------------*/
.services-section h3 {
    font-size: 17px;
    color: #333;
    margin: 0px;
}
.col-md-3.col-sm-3.services-section p {
    font-size: 14px;
    color: #333;
}
.services_cat {
    border: 1px solid #ddd;
    padding: 7px;
}
.services_cat .nav {
    left:50%;
    margin-left:-150px;
    top:8px;
    position:relative;
}
.services_cat .nav>li>a:hover, .nav>li>a:focus, .nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
    background:#fff;
}
.services_cat .dropdown {
    background:#fff;
    border:1px solid #ccc;

    width:300px;
	 border-bottom-left-radius:4px !important;
	 border-bottom-right-radius:4px !important
	 border-top-left-radius:none !important;
	 border-top-right-radius:none !important
}
.services_cat .dropdown-menu>li>a {
    color:#428bca;
}
.services_cat .dropdown ul.dropdown-menu {
    border-radius:4px;
    box-shadow:none;
    margin-top:12px;
    width:300px;
}
.services_cat .dropdown ul.dropdown-menu:before {
    content: "";
    border-bottom: 10px solid #fff;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    top: -10px;
    right: 16px;
    z-index: 10;
}
.services_cat .dropdown ul.dropdown-menu:after {
    content: "";
    border-bottom: 12px solid #ccc;
    border-right: 12px solid transparent;
    border-left: 12px solid transparent;
    position: absolute;
    top: -12px;
    right: 14px;
    z-index: 9;
}
.services_cat ul li .right-page{
    float: right;
    position: relative;
    top: -14px;
}
.services_cat .dropdown-menu .divider{ margin:0px;}
.services_cat .dropdown-menu > li > a{ padding:7px 20px; color:#333;}
.services_cat .dropdown-menu{ padding:1px 0;}
.dropdown-toggle.sub-service-part {
    color: #333;
    font-size: 16px;
}
.gmd {
  background: #fff;

  display: block;
  float: left;
  height: 100%;

  position: relative;
  width: 100%;
}

.gmd-2:hover {
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -ms-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -o-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.img-circle.img-thumbnail.servicrs-img {
    height: 120px;
    width: 120px;
}

.cuadro_intro_hover h3 {
  font-size: 20px !important;
}

.cuadro_intro_hover{
    	padding: 0px;
		position: relative;
		overflow: hidden;
		height: 240px;
	}
	.cuadro_intro_hover .caption:hover {
		opacity: 1;
		transform: translateY(-150px);
		-webkit-transform:translateY(-150px);
		-moz-transform:translateY(-150px);
		-ms-transform:translateY(-150px);
		-o-transform:translateY(-150px);
	}
	.cuadro_intro_hover img{
		z-index: 4;
	}
	.cuadro_intro_hover .caption{
		position: absolute;
		top:157px;
		-webkit-transition:all 0.3s ease-in-out;
		-moz-transition:all 0.3s ease-in-out;
		-o-transition:all 0.3s ease-in-out;
		-ms-transition:all 0.3s ease-in-out;
		transition:all 0.3s ease-in-out;
		width: 100%;
		  margin-top: 40px;
	}

	.cuadro_intro_hover .blur{
    background:#ef3e39;
		height: 300px;
		z-index: 5;
		position: absolute;
		width: 100%;
	}
	.cuadro_intro_hover .caption-text{
		z-index: 10;
		color: #fff;
		position: absolute;
		height: 300px;
		text-align: center;
		top:0px !important;
		width: 100%;
	}
	.services-img-hover {
    position: relative;
    margin-top: -69px;
}
.btn.btn-default.services-right-btn {
     float: right;
    margin-right: 3px;
    margin-top: 0;
    position: relative;
}
.service-list {
    margin: 0;
    padding: 8px 21px;
    text-align: left;
}
.service-list > li {
    font-size: 14px;
    list-style: outside none none;
	padding:1px 0;
}
.service-list a {
    color: #fff;
}
.caption-text > h3 {
  color: #fff !important;
  font-size: 18px !important;
}

.services-row{padding-bottom:50px;}
.cuadro_intro_hover > p {
    color: #333;
}


.post-content-mo {
    margin-top: 30px !important;
    background: #fff!important;
}
	.inner-services-img {
    position: relative;
    left: -2%;
    margin-top: -50px;
}

#hmpg-carousel{ height:100vh;font-size:35px !important;}

#hmpg-carousel .carousel-inner{ height:100%;}
#hmpg-carousel h2{ font-weight:700;font-family:'robotobold';}
#hmpg-carousel p{ font-size:25px !important;}

#counsellor-carousel .carousel-control{ width:0% !important;}
.inner-services-page > h3 strong{ font-size:30px; color:#333;}
.col-md-8.inner-services-page > p {
    color: #333;
    font-size: 14px;}
.inner-services-page > ul {
    color: #333;
    font-size: 14px;
}
.inner-services-page li {
    padding: 5px 0;
}
.inner-services-page strong{ line-height:34px; padding:20px 0;}
.ih-item.square.effect3 .info h3{ font-size:16px !important;}

.question-section{
    width: 100%;
    box-shadow: 0px 0px 6px 0px #ccc;
    margin: 70px auto 30px;
	padding:20px;
	background:#fff;
}
.question-section > h3 {
    color: #333;
    font-size: 29px;
    font-weight: 600;
    margin-bottom: 30px;
}
.question-input {
    margin-bottom: 10px;
    overflow: hidden;
}
.question-input .form-group > label {
    color: #333;
    font-size: 14px;
}
.question-input button{ padding:5px 10px; margin-top:10px;}






.students_select .Modal {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: transparent;
  visibility: hidden;
}
.students_select .Modal .content {
  position: absolute;
  left: 50%;
  top: 30%;
  width: 50%;
  padding: 50px;
  border-radius: 3px;
  background: #fff;
  transform: translate(-50%, -30%) scale(0);
}

.students_select .Modal .close:before {
  content: '\2715';
}
.students_select .Modal.is-visible {
  visibility: visible;
  background: rgba(0, 0, 0, 0.5);
  transition: background .35s;
  transition-delay: .1s;
  text-align:center;
}
.students_select .Modal.is-visible .content {
  transform: translate(-50%, -30%) scale(1);
  transition: transform .35s;
}

/***********************\

	Pen Specific Styles

\***********************/

.students_select .button.button-block {

  width: 150px;
  height: 45px;

  margin: 10px auto 0;
  border-radius: 3px;
  text-align: center;
  text-decoration: none;
  background: rgb(240,62,54);
  color: #fff;

}



.students_select a:hover {
  color: #179b77;
}

.students_select .form {
  background:#fff;
  padding: 40px;
  max-width: 600px;
  margin: 40px auto;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

.students_select .tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
}
.students_select .tab-group:after {
  content: "";
  display: table;
  clear: both;
}
.students_select .tab-group li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  background: rgba(160, 179, 176, 0.25);
  color: #a0b3b0;
  font-size: 20px;
  float: left;
  width: 50%;
  text-align: center;
  cursor: pointer;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}
.students_select .tab-group li a:hover {
  background: rgb(2,130,188)	;
  color: #ffffff;
}
.students_select .tab-group .active a {
  background:rgb(2,130,188);
  color: #ffffff;
}

.students_select .tab-content > div:last-child {
  display: none;
  text-align:center;
}

.students_select h1 {
  text-align: center;
  color: #333;
  font-weight: 300;
  margin: 0 0 10px !important;
}


.students_select label.active {
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  left: 2px;
  font-size: 14px;
}


.skips {
    margin-right: 21px;
	color:#000;
	font-size:16px;
}
.prices{ font-size:16px; color:#333;}




.students_select .tab-content{ background:none !important;}


/* Tabs panel */
.tabbable-panel {
  border:none !important;
  padding: 10px;
}

/* Default mode */
.tabbable-line > .nav-tabs {
  border: none;
  margin: 0px;
}
.tabbable-line > .nav-tabs > li {
  margin-right: 2px;
  width:49%;
  text-align:center;
}
.tabbable-line > .nav-tabs > li > a {
  border: 0;
  margin-right: 0;
  color: #737373;
}
.tabbable-line > .nav-tabs > li > a > i {
  color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open, .tabbable-line > .nav-tabs > li:hover {
  border-bottom: 4px solid #fbcdcf;
}
.tabbable-line > .nav-tabs > li.open > a, .tabbable-line > .nav-tabs > li:hover > a {
  border: 0;
  background: none !important;
  color: #333333 !important;
}
.tabbable-line > .nav-tabs > li.open > a > i, .tabbable-line > .nav-tabs > li:hover > a > i {
  color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open .dropdown-menu, .tabbable-line > .nav-tabs > li:hover .dropdown-menu {
  margin-top: 0px;
}
.tabbable-line > .nav-tabs > li.active {
  border-bottom: 4px solid #f3565d;
  position: relative;
}
.tabbable-line > .nav-tabs > li.active > a {
  border: 0;
  color: #fff;
  background:rgb(1,127,185) !important;
}
.tabbable-line > .nav-tabs > li.active > a > i {
  color: #404040;
}
.tabbable-line > .tab-content {
  margin-top: -3px;
  background-color: #fff;
  border: 0;
  border-top:none !important;
  padding: 15px 0;
}

.tabs_part.modal-header {
    border: none;
}
.tabs_part.modal-header .close {
    margin-top: -8px;
}
.tabs_part.tab-content > .active{ text-align:center;}
.tabs_part .tab-content > .active, .pill-content > .active{ text-align:center;}

.modal-content .modal-footer {
  padding: 10px 0;
}
.btn.btn-green.btn-block {
  float: right;
  margin-right: 20px;
  width: auto;
}

.btn-green{border-radius:0px!important ; padding:6px 15px !important;}
.btn-file{border-radius:0px !important;}

.panel-heading.setting-edit_heading h4 a{ color:#333 !important; float:laft}
.accordion_setting .panel-default > .panel-heading{overflow: hidden;}
.panel-heading.setting-edit_heading h5{ color:#333; float:right;}
.panel-heading.setting-edit_heading h5 input{ margin:0px 10px;}

.sb-toggle-left.hidden-md.hidden-lg i{color:#000!important;}
ul#myTab li {
   border: 1px solid #ddd;
   margin-bottom: -2px;
   text-align: center;
   margin: 0 -1px -2px 5px;
}
ul#myTab li a {
       min-width: 34px !important;
   padding: 5px !important;
   text-align: center;
   display: inline-block;
   margin: 0px;
}
span.round-tabs.three{border:none !important;}
ul#myTab li.active a {
   background: #EE3E39!important;
   color: #fff !important;
}
ul#myTab {
   padding-left: 93px;
   margin-top: -16px;
}
#panel_overview p{ padding:6px !important;}

#panel_edit_account{ padding:6px !important;}

.modal.in .modal-dialog button{ margin-right:15px;}


.wizard .wizard .nav-tabs{ margin:0px !important;}
.wizard .nav-tabs > li a{ padding:0px !important;}
step4{ padding-top:0px !important;}
.wizard .nav-tabs > li a{ height:30px !important;width: 45px;min-width: 45px;cursor: context-menu;}
span.round-tab{ font-size:18px;line-height: 44px;width: 45px;height: 45px;}
.wizard li.active span.round-tab {
   background: #5bc0de none repeat scroll 0 0;  color: #fff;}
.list_grid_appoint .thumbnails{ border:none !important;}
.right-icons-list {
    position: absolute;
    right: 48px;
    top: 31px;
}
.left-icons-list {
    position: absolute;
    left: 31px;
    top: 31px;
}


.wizard .nav-tabs{ margin:0 auto !important;}
.wizard{ margin:0 auto !important;}
.wizard .wizard-inner .nav-tabs>li h4{ font-size:14px !important;}
.wizard .tab-pane{ padding-top:10px !important; text-align:center;}
.wizard h3{ margin-top:0px !important;    margin-bottom: 22px !important;}
a.make-link {
   font-size: 16px;
   color: cornflowerblue;
   padding-bottom: 10px;
   font-weight: 600;
}

.wrapper1 {
  margin: 10% auto;
  border-radius: 3px;
  background: rgba(255, 255, 255, 0.8);
  max-width: 530px;
  width: 100%;
  height: auto;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 1px 2px 15px #555;
}
.wrapper1 h3 {
  margin: 0;
  padding-bottom: 10px;
  color: #ffb73d;
  position: relative;
}
.wrapper1 h3::after {
  content: "";
  width: 15px;
  height: 2px;
  background: #ffb73d;
  position: absolute;
  left: 0;
  bottom: 8px;
}
.wrapper1 form .input-group {
  position: relative;
  z-index: 0;
  width: 100%;
}
.wrapper1 form .input-group input, .wrapper1 form .input-group label {
  vertical-align: middle;
}
.wrapper1 form .input-group input.text {
  background: none !important;
  border: 0;
  border-bottom: 1px solid #bbb;
  width: 100%;
  height: 30px;
  margin-top: 24px;
  padding: 0 5px;
  box-sizing: border-box;
  font-size: 16px;
  letter-spacing: 1px;
  outline: none;
}
.wrapper1 form .input-group input.text:placeholder-shown + label {
  position: absolute;
  left: 5px;
  bottom: 5px;
  padding-left: 0;
  color: #999;
}
.wrapper1 form .input-group input.text:placeholder-shown + label::before {
  left: -5px;
  background: transparent;
  transition-delay: 0s;
}
.wrapper1 form .input-group input.text + label, .wrapper1 form .input-group input.text:focus + label {
  color: #555;
  position: absolute;
  bottom: 20px;
  font-size: 13px;
  left: 0;
  padding-left: 7px;
  z-index: -1;
  pointer-events: none;
  transition-duration: 0.3s;
}
.wrapper1 form .input-group input.text + label::before, .wrapper1 form .input-group input.text:focus + label::before {
  content: "";
  display: block;
  width: 3px;
  height: 80%;
  position: absolute;
  left: 0;
  top: 10%;
  background: #ffb73d;
  transition-duration: 0.3s;
  transition-delay: 0.1s;
}
.wrapper1 form .input-group label {
  color: #999;
}
.wrapper1 form .input-group.check {
  margin: 5px 0 20px 0;
}
.wrapper1 form .input-group.check input[type='checkbox'] {
  display: none;
}
.wrapper1 form .input-group.check input[type='checkbox']:checked + label {
  color: #555;
}
.wrapper1 form .input-group.check input[type='checkbox']:checked + label::before {
  border-color: #888;
}
.wrapper1 form .input-group.check input[type='checkbox']:checked + label::after {
  opacity: 1;
  color: #ffb73d;
}
.wrapper1 form .input-group.check label {
  font-size: 12px;
  position: relative;
  padding-left: 20px;
}
.wrapper1 form .input-group.check label::before, .wrapper1 form .input-group.check label::after {
  display: block;
  position: absolute;
  opacity: 1;
  cursor: pointer;
}
.wrapper1 form .input-group.check label::before {
  border: 1px solid #ccc;
  content: "";
  height: 13px;
  left: 3px;
  top: 2px;
  width: 13px;
}
.wrapper1 form .input-group.check label::after {
  content: "✓";
  font-size: 17px;
  top: -6px;
  left: 4px;
  opacity: 0;
}
.wrapper1 form .btn, .wrapper1 form .forgot-password {
  display: block;
  margin: 10px auto;
  text-align: center;
  cursor: pointer;
}
.wrapper1 form .btn {
  color: #abc;
  background: white;
  border: 1px solid #abc;
  padding: 10px 40px;
  transition-duration: 0.3s;
}
.wrapper1 form .btn:hover {
  box-shadow: 0 1px 5px rgba(85, 85, 85, 0.3);
  background: #ffb73d;
  color: #555;
}
.wrapper1 form .forgot-password {
  font-size: 12px;
  color: #abc;
  transition-duration: 0.3s;
}
.wrapper1 form .forgot-password:hover {
  color: #ffb73d;
}

.radio-sections {
  margin-top: 20px;
}
.radio-sections .form-group{ width:50%; float:left;}
.radio-sections .form-group span{ margin-left:10px;}
.date-passed,
.date-not-passed {
  display: none;
}


/* display hidden*/


 .setup-content-bx{position:relative; /*min-height:100vh; height: 100%;*/ z-index:1;} 


.setup-content, .setup-content2 {
  width: 600px;
  margin: 100px auto;
  background: #fff !important;
  padding:0px;
  border-radius: 5px;
  box-shadow: 0px 1px 5px #959595;
}


.setup-content {
  background: #fff !important;
  overflow: hidden;
  /*position: absolute;
  left: 50%;
  top:50%;
  transform:translate(-50%, -50%); -webkit-transform:translate(-50%, -50%); -moz-transform:translate(-50%, -50%); -ms-transform:translate(-50%, -50%);
  -o-transform:translate(-50%, -50%);*/
  padding:0 20px;

}
.setup-content .mat-frm{    overflow: hidden;
  margin: 0 auto;
  display: inline !important;


}

.setup-content .nextBtn{text-align:center;}
.btn-last-part{ text-align:center; float:right;margin: 20px 0;}

.setup-content h3 {
  font-size: 25px;
  color: #333;
  font-weight: 500;
}

.side-content_form{
  width: 100%;
  float: left;
  margin-top: 38px;
}
.side-content_form ul li{
  list-style: none;
  display: table-footer-group;
}
.radio-btn span {
  margin-top: 2px !important;
  position: absolute;
  margin-left: 10px;
}

.forms-heading {
  font-size:25px;
  text-align: left;
  width: 100%;
  margin: 0;
  padding: 0px 27px;
  background:#fff;
  width:70%;
}

.forms-heading h3{ color:#333;}

.btn-right{ float:none}

.back-btn {
  float:left; margin:0 5px;
  padding: 10px 22px;
  font-size: 14px;
}
.user-all-detail-part {
  left: 0%;
  top: 10%;
  position: absolute;
  z-index: 99999999;
  overflow: hidden;
  display: inline-block;
  transform: translateX(400px);
  transition: 1s ease-in-out;
  transition-timing-function: ease-in-out;
  will-change: transform, opacity;
  animation: bounce .5s forwards;
  animation-delay: .5s;
  animation-name: shadowPulse;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
}
.setup-content .checkbox-inline {
  color:#0043ff !important;
}
.side-content_form i {
  font-size: 30px;
  float: left;
  margin-left: 10px;
  margin-right: 14px;
}
.side-content_form h2 {
  text-align: left;
  font-weight: 500;
  font-size: 23px;
  padding-bottom: 10px;
}
.edcutions {
  margin-bottom: 20px;
  border-bottom: 1px solid #ddd;
}

.fileupload-new.thumbnail.counsoller-profiles {
  width: 250px !important;
  height: 250px !important;
}
.fileupload-new.thumbnail.counsoller-profiles img {
  width: 100%;
}
.fileupload-preview.fileupload-exists.thumbnail.img-select-icon {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  line-height: 15px;
  z-index: 99999999;
  margin-left: -33px;
  cursor: pointer;
  position: relative;
}
.upload-img{ margin-top:20px;}
.btn-right {
  float: left;
  margin-bottom: 10px;
}
.btn-left {
  float: left;


}
.verify-btn {
  float: right;
  width: 12%;
  padding: 6px;
  margin: 0 4px;
}
.last-screen{padding:15px 0;}

.resent-otp {
  text-align: right;
  margin-top: 15px;
  /* margin-right: 82px; */
  width: 85%;
}

.forms-heading h3{ color:#333 !important;border-bottom: 1px solid #ddd;
padding-bottom: 12px; font-size:20px;}
.radio-bx h4 {
    font-size: 17px;
	color:#9F9F9F;
}

.prifile-views img {
   width: 50px;
}
.prifile-views .col-sm-2 {padding:0px;}
.prifile-views  .col-sm-9{padding:0px;}
.prifile-heading{ color:#333; padding:10px 0;}
.panel_profile_progress .panel-body .exp-panel ul li h3{ font-size:18px !important;}

.ribbon_fold {
   border-color:#dc2e28 #dc2e28 transparent transparent;
   border-style: solid;
   border-width: 0.5em;
   display: inline-block;
   height: 0;
   left: 0;
   position: absolute;
   right: auto;
   top: 36px;
   width: 0;
}
.ribbon {
   background-color:#F03D37;
   border-top-left-radius: 3px;
   border-top-right-radius: 0;
   color: #fff;
   display: inline-block;
   left: 0;
   line-height: 2;
   margin-left: -14px;
   margin-right: 0;
   position:absolute;
   padding: 5px 10px;
}
.card-block{ height:auto !important;    padding: 10px 0	;
    text-align: left;
    word-break: break-all;}

.book-btn {
  bottom: 20px;
  font-size: 12px;
  left: 50%;
  position: absolute;
  border-radius:0px;
  transform: translate(5%) translate(-50%);
}

.view-btn{font-size:12px;}
.card.hovercard .avatar h3{ font-weight: 600 !important ;}
.panel_profile_progress .panel-body .exp-panel ul li h3{ font-weight: 600 !important ;}
.panel_profile_counsellor .exp-panel{text-align:center!important; }
.panel_profile_counsellor .exp-panel .row{ margin-bottom: 30px;}
.panel_profile_progress .panel-body .exp-panel ul li h2{ margin: 0px;}
.panel_profile_counsellor .exp-panel .col-sm-2{  text-align: center!important; z-index:9; display:flex;}



.white-bg{ padding:1px 30px 0 !important;}

.white-bg h3, .gray-bg h3{ color:#333; font-size:25px; font-weight:600;}



.gray-bg{ padding:1px 30px 20px;}

.ih-item.square.effect3 .info{ background:#ef3e39 !important;}

.footer .footer-col a{ line-height:35px !important; font-size:15px !important; color:#fff !important; font-weight:400;}

.footer .footer-col.connect .btn-cta-primary:hover{ color:#fff !important;}
.footer-col-inner p{ font-size:15px !important; color:#fff !important; line-height:30px;}
.footer .footer-col.connect .btn-cta-primary{border-radius:0px !important;}
footer .navbar-form .form-control{border-radius:0px !important;}


.login-with.text-center > a{ padding-left:7px !important;}
.form-forgot_text{ line-height:23px !important;}

a.intercell_ser{ color:#333 !important;}



.prifile-detelis {
  width: 50%;
  float: right;
  position: relative;
  margin-top: -59px;
}
a.btn.btn-xs.btn-link.profile-icon {
  float: right;
  margin-right: 10px;
}

.mail-texts p{
  float: left;
  width: 97%;
}
.form-group.mail-boxs{ width:100%;}
.form-group.mail-boxs button {
  margin-top: 21px;
}

div.otp-boxs button {
  margin-top: 21px;
}

.panel_privacy {
  padding: 50px;
  display: none;
}

.meet_inner_carousel .card{ height:320px;}


.next-step {    border-radius: 0px;}
.prev-step{border-radius: 0px;}
.btn-block{border-radius: 0px;}
.view_button{border-radius: 0px;}
ul.main-navigation-menu span{border-radius: 0px;}


.form-control:focus{ box-shadow: none !important;
  border-color: #eeeeee !important;
  background-color: #F8F8F8 !important;}

.form-control{ border-radius: 0px; box-shadow:none !important;}
.btn-primary{border-radius: 0px;}

.about-upper{
  margin-top: 50px;
}

.counsellor-photo img {
  width: 200px;
  height: 190px;
}




.cht-msg-bx.clearfix{width:25%;     position: fixed;    bottom: 9px;}

input#msgTxt {
  height: 40px;
  position: absolute;
  bottom: 0;
  width: 88%;
}
.chat-btn a {
  color: #fff;
  padding: 6px;
  z-index: 99999999;
  position: relative;
}

.video-list h4{font-size:14px !important;}

.gray-bg{padding:1px 75px 20px;}
.services-section{margin-top:50px;}

.btn.btn-default.join-btn {
  background: #EF3030;
  color: #fff;
  font-size: 16px;
  padding: 8px 30px;
  border: #EF3030;
  border-radius: 0px;
}
.btn.btn-default.join-btn:hover{background:#FC4545; border-color:#FC4545}

.chat-bx{width:28% !important; display:none;}



.input-group-addon:last-child {
  border-left: 0;
  z-index: 9999999999;
  position: relative;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  background-color:none !important;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;

}

.drop_box_tracks[_ngcontent-c1]{width:50%;}
.main-container, #pageslide-left, #pageslide-right{overflow:hidden; background:#ddd;}
header.topbar.navbar.navbar-inverse.navbar-fixed-top.inner{width:100%;}
.btn-default.active, .btn-default.focus, .btn-default:active, .btn-default:focus, .btn-default:hover, .open>.dropdown-toggle.btn-default{background:none !important;}
.btn-default.active, .btn-default.focus, .btn-default:active, .btn-default:focus, .btn-default:hover, .open>.dropdown-toggle.btn-default{background:none!important;}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {  transition: margin-left .5s;}
.lgn-bx p {
    word-break: break-all;
    font-size: 12px;
    text-align: center;
    color: rgb(242,60,55);
}
.padding-20{height:110px !important;}
.white-bg.stream-custom {
    margin-top: 30px;
}
.cuppa-dropdown{width:100% !important;}
.video-session-blk{padding-top: 51px;}
.verify-button{width:70%;float:left;}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}








/* header-part css  */

.header-top-part {
    background: #fff;
    padding: 20px 0;



}
.phone-part span {
        font-size: 37px;
    display: inline;
    float: left;
    margin-top: 7px;
    margin-left: 0px;
    margin-right: 16px;
	color:rgb(0,122,173);
}
.phone-part p {
    font-size: 17px;
    display: table-header-group;
    color:rgb(139,127,127);
	font-family:'robotoregular';
}
.address-part span {
        font-size: 37px;
    display: inline;
    float: left;
    margin-top: 7px;
    margin-left: 0px;
    margin-right: 16px;
	color:rgb(0,122,173);
}
.address-part p {
    font-size: 17px;
    display: table-header-group;
	color:rgb(139,127,127);
	font-family:'robotoregular';

}
.search-part{float:right;}
.search-part input {
    padding: 10px;
    margin-top: 8px;
    background: rgb(234,239,245);
    color: #000;
    font-size: 16px;
}
.search-part span {
 position: absolute;
right: 9px;
top: 20px;
font-size: 16px;
color: #000;
z-index: 9;
    cursor: pointer;
}
.numbers {
    color: #000 !important;
    font-size: 17px!important;
    font-weight: 600;
	font-family:'robotoregular';
}
.address {
    color: #000 !important;
    font-size: 17px!important;
    font-weight: 600;
	font-family:'robotoregular';
}
.header-fixed-part{background:rgb(5,129,189); width:48%; margin:0 auto;}

.header-section.sticky .header-fixed-part{width:60%;}
.navbar-inverse{background:none;}
.header-section {
   background:none;
	z-index:9999999;
	position:absolute;
	width:100%;
}
.last-list a {
    padding: 14px 21px !important;
    border: 2px solid #fff;
    margin-top: 4px;
}

.last-list {
    float: right !important;
    position: absolute;
    left: 8%;
}




.red-bg {
    background: #EA3B38;
    position: absolute;
    right: 0;
    width: 120px;
    height: 60px;
    z-index:0;
}

.blue-bg{

    position: absolute;
    right: 0;
    width: 100%;
    height: 60px;
    z-index: -1;
	left:0;
	top:0;
}
.navbar-nav {
    float: left;
    margin: 0;
    z-index: 9;
    position: relative;
}
.intercell-slider {
    width: 100%;
    bottom: 0px;
    left: 0px;
    right: 0;
	  margin-top: 30px;
    z-index: -1;
    background : #fff;
}
.contact-btn{float:left; margin-top:50px;}
.contact-btn button {
    padding: 10px 25px;
    font-size: 15px;
    border-radius: 0px;
    background: #0581BD;
    border: 2px solid #0581BD;
    color: #fff;
	margin-right: 0;
    margin-left: 8px;
}
.contact-btn button:hover{background:none; border:2px solid #fff; color:#fff;}
.mentee-part h3 {
    color: #4D2627;
    text-align: left;
    font-size: 30px;
    font-weight: 600;
	    padding-bottom: 25px;
  margin-left: 10px;
  text-transform:uppercase;
}
.mentee-part {
    padding: 40px 0;
	width:100%;
  background: #fff;
	}
p.profile-detelis {
    margin-top: 20px;
  text-align: left;
  position: absolute;
  bottom: 0px;
  }
p.profile-detelis a {
    color: #0081C1;
    font-size: 16px;
    font-weight: 600;
}
.timer-part{width:100%; height:100%;background-image: url('../images/timer.jpg');    background-position: center;
    background-size: 100%; }


.services-heading h3 {
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 600;
	color:#4D2627;
}
.services-part{
  width:100%; overflow: hidden; background: #fff;}
.services-part h3{text-align: center; font-size: 30px;
  text-transform: uppercase;
  font-weight:600;color:#4D2627; margin-bottom: 20px;}
.services-img p {
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    background: #0581BD;
    padding: 8px 0;
    color: #fff;
    font-weight: 600;
}
.services-img a{ color:#fff !important;}
.services-img img {
    height: 170px;
    width: 100%;
}
.services-heading {
    margin-bottom: 30px;
}
.intercell-services {
    margin-bottom: 40px;
}
.list-unstyled{margin-top:20px;}
.footer-content {    padding-top: 20px; }

.profile-detelis span {
    position: absolute;
    bottom: -2px;
    left: 2px;
    width: 0%;
    height: 3px;
    background: #0081C1;
    transition: all 0.8s linear 0s;
}
.profile-detelis:hover span {
    width: 100%;
}

.profile-detelis:hover .mentee{width: 35% !important;}

.col-sm-4.timer-section span {
    width: 28%;
    background: #0081C1;
    height: 3px;
    position: absolute;
    left: 127px;


}
.timer-section p{margin-top:20px;}
.header-section{
  position: absolute;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  z-index: 99999999;

}

.header-section.sticky{ position:fixed; top:0px; -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
   -webkit-transform: scale(1,1);
  transform: scale(1,1);
  opacity: 1;
  background:#fff;


  }
 .temp{-moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease; position:relative; z-index:9999;}
.header-section.sticky .header-fixed-part{background:none;}
.header-section.sticky .header-fixed-part header.navbar-inverse .navbar-nav > li > a{color:#333;}
.header-section.sticky .header-fixed-part header{box-shadow:none;}
.header-section.sticky .header-fixed-part .red-bg{background:#fff;}



.intercell-logo {
    width: 16%;
    float: left;
}
.intercell-logo img {
    margin-top:10px; display:none;
}
.header-section.sticky .header-fixed-part .intercell-logo img{display:block !important; margin-top:5px;}
  .inner{background-image:url('../images/footer.jpg');background-size: 100% contain;
background-repeat: no-repeat;
background-size: cover;
background-position: bottom;}

.btn.btn-default.leftRs i {
    font-size: 40px;
font-weight: 700;}
.btn.btn-default.rightRs i {
    font-size: 40px;
font-weight: 700;}



.services-sections .services-img {
	position: relative;
}
.services-sections .services-img::before {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 2;
	display: block;
	content: '';
	width: 0;
	height: 0;
	background: rgba(255,255,255,.2);
	border-radius: 100%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	opacity: 0;
}
.services-sections .services-img:hover::before {
	-webkit-animation: circle .75s;
	animation: circle .75s;
}


.student-speak-section .avatar {
	position: relative;
}
.student-speak-section .avatar::before {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 2;
	display: block;
	content: '';
	width: 0;
	height: 0;
	background: rgba(255,255,255,.2);
	border-radius: 100%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	opacity: 0;
}
.student-speak-section .avatar:hover::before {
	-webkit-animation: circle .75s;
	animation: circle .75s;
}


@-webkit-keyframes circle {
	0% {
		opacity: 1;
	}
	40% {
		opacity: 1;
	}
	100% {
		width: 120%;
		height: 150%;
		opacity: 0;
	}
}
@keyframes circle {
	0% {
		opacity: 1;
	}
	40% {
		opacity: 1;
	}
	100% {
		width: 120%;
		height: 150%;
		opacity: 0;
	}
}
.mobile-logo{display:none;}

.join-forms-sections{    width: 100%;     height: 100vh;    min-height: 100vh;    max-height: 100vh;    overflow-x: auto;
    z-index: 99999;
position: relative;}




/*----------------about us css start--------------------*/
.intercell-aboutus{width:100%;overflow:hidden;background-image:url('../images/aboutus-banner.jpg');
    text-align: center;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}
.intercell-aboutus h2 {
    padding: 100px 0;
    color: #fff;
    font-size: 30px;
    font-weight: 700;
}


/*--------------------------------Mobile Layout Start----------------------------------*/


@media only screen and (min-width:1px) and (max-width:767px){
	.mentee-part h3{font-size:20px; text-align:center;}
	.header-top-part{display:none;}
.intercell-slider{margin-top:0px ;}
.header-section{position:relative!important;}
.header-fixed-part{width:100% ;}
.header-section .container{ margin:0px; padding:0px; width:100%;	}
.header-fixed-part{background:#fff ;}
.mobile-logo {    width: 50%;     float: left;     margin-top: 5px; }
.intercell-logo{ display:none;}
#hmpg-carousel .carousel-caption{padding:0px 20px;}
.contact-btn{margin-top:0px ;}
.contact-btn button {    padding: 5px 10px; font-size: 12px;}
.mobile-logo{display:block;}
h4.card-title{font-size:16px;}
.user-text{font-size:14px;}
.profile-detelis span{bottom:24px;}
p.profile-detelis a{font-size:14px;}
.profile-detelis:hover .mentee{width:28% !important;}
.timer-part{background-size:auto;}
.dark-gray h5{font-size:20px;}
.profile-detelis:hover span{width:57%;}
.services-heading h3{font-size:20px;}
.services-img p{font-size:16px;}
footer h3.title{font-size:18px;}
.footer .footer-col a{font-size:14px !important;}
.footer-col-inner p{font-size:14px !important;}
.mentee{display:none;}
.profile-detelis span{display:none;}
.col-sm-4.timer-section span{left:36%;}
.services-img img{height:160px;}
.about-section{padding:0px; margin-bottom:30px;}
}
@media only screen and (min-width:400px) and (max-width:480px){

.carous-card .card{margin-bottom:60px;}


}
@media only screen and (min-width:500px) and (max-width:767px){

.intercell-services .col-md-4{width:33%;float:left;}
.services-img img{height:110px;}

}
@media only screen and (min-width:768px) and (max-width:991px){
	.phone-part span{font-size:24px;}
	.numbers{font-size:13px !important;}
	.phone-part p{font-size:13px;}
	.address-part span{font-size:24px;}
	.address{font-size:13px !important;}
	.address-part p{font-size:13px;}
	.header-top-part .col-md-3{padding:0px;}
	.search-part span{ top:11px; right:18px;}
	.search-part input{margin-top:0px; font-size:15px; margin-right:10px;}
	header.navbar-inverse .navbar-nav > li > a{padding:15px; font-size:14px;}
	.header-fixed-part{width:100%;}
	.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{background:none; padding:0px;}
	header .nav.navbar-nav li a{color:#fff;}
	.header-section.sticky .header-fixed-part{width:100%;}
	.header-section.sticky header.navbar-inverse .navbar-nav > li > a{padding:10px;}
	.header-section.sticky header .nav.navbar-nav {    margin-left: 18px !important;     margin-right: 10px !important; margin-top: 7px !important;}
	.mentee-part h3{font-size:24px;}
	h4.card-title{font-size:16px;}
	.user-text{font-size:15px;}
	p.profile-detelis a{font-size:15px;}
	.dark-gray h5{font-size:24px;}
	.col-sm-4.timer-section span{left:32%;}
	.services-heading h3{font-size:24px;}
	.services-img p{font-size:16px;}
	.profile-detelis:hover span {    width: 53%;	}
	.profile-detelis span{bottom:-9px;}
	.profile-detelis span{display:none;}


}
@media only screen and (min-width:992px) and (max-width:1024px){

	.phone-part span{font-size:24px;}
	.numbers{font-size:13px !important;}
	.phone-part p{font-size:13px;}
	.address-part span{font-size:24px;}
	.address{font-size:13px !important;}
	.address-part p{font-size:13px;}
	.header-top-part .col-md-3{padding:0px;}
	.search-part span{ top:11px; right:18px;}
	.search-part input{margin-top:0px; font-size:15px; margin-right:10px;}
	header.navbar-inverse .navbar-nav > li > a{padding: 15px;
font-size: 14px;
margin-right: 0;
}
	.header-fixed-part{width:100%;}
	.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{background:none; padding:0px;}
	header .nav.navbar-nav li a{color:#fff;}
	.header-section.sticky .header-fixed-part{width:100%;}
	.header-section.sticky header.navbar-inverse .navbar-nav > li > a{padding:10px;}
	.header-section.sticky header .nav.navbar-nav {    margin-left: 18px !important;     margin-right: 10px !important; margin-top: 7px !important;}
	.mentee-part h3{font-size:24px;}
	#bs-example-navbar-collapse-1 .nav.navbar-nav {
    position: absolute;
    left: 16%;
}
.mentee-part{padding-top:30px;}
}
@media only screen and (max-width:1280px){
#hmpg-carousel{height:100% !important;}
}

/*--------------------------------Mobile Layout End----------------------------------*/
