@-ms-viewport {
  width: auto !important;
}
/* ---------------------------------------------------------------------- */
/*  Only larger Devices
/* ---------------------------------------------------------------------- */
@media (min-width: 1824px) {
  /* line 8, ../sass/partials/_responsive.scss */
  .layout-boxed > .main-wrapper, .layout-boxed .navbar, .layout-boxed footer, .layout-boxed .newton, .layout-boxed #horizontal-menu {
    max-width: 1470px !important;
  }

  /* line 11, ../sass/partials/_responsive.scss */
  .layout-boxed .main-wrapper > .topbar, .layout-boxed .main-wrapper > footer, .layout-boxed #horizontal-menu {
    left: 50% !important;
    margin-left: -734px  !important;
  }

  /* line 16, ../sass/partials/_responsive.scss */
  .layout-boxed.right-sidebar-open .main-wrapper > .topbar, .layout-boxed.right-sidebar-open .main-wrapper > footer {
    margin-left: -994px !important;
  }
}
@media (min-width: 1224px) and (max-width: 1823px) {
  /* line 23, ../sass/partials/_responsive.scss */
  .layout-boxed > .main-wrapper, .layout-boxed .navbar, .layout-boxed footer, .layout-boxed .newton, .layout-boxed #horizontal-menu {
    max-width: 1170px !important;
  }

  /* line 26, ../sass/partials/_responsive.scss */
  .layout-boxed .main-wrapper > .topbar, .layout-boxed .main-wrapper > footer, .layout-boxed #horizontal-menu {
    left: 50% !important;
    margin-left: -584px !important;
  }

  /* line 31, ../sass/partials/_responsive.scss */
  .layout-boxed.right-sidebar-open .main-wrapper > .topbar, .layout-boxed.right-sidebar-open .main-wrapper > footerfooter {
    margin-left: -844px !important;
  }
}
@media (min-width: 992px) {
  /* 992px */
  /* line 37, ../sass/partials/_responsive.scss */
  .layout-boxed #pageslide-left {
    left: auto !important;
    margin-left: 0 !important;
  }

  /* line 41, ../sass/partials/_responsive.scss */
  .layout-boxed .closedbar {
    left: auto !important;
    display: none;
  }

  /* line 46, ../sass/partials/_responsive.scss */
  .layout-boxed.right-sidebar-open #pageslide-left {
    margin-left: -260px !important;
  }

  /* line 50, ../sass/partials/_responsive.scss */
  .layout-boxed.sidebar-close #pageslide-left {
    display: none;
  }

  /* line 53, ../sass/partials/_responsive.scss */
  .layout-boxed.sidebar-close .main-container {
    margin-left: 0 !important;
  }

  /* line 56, ../sass/partials/_responsive.scss */
  .layout-boxed.sidebar-close .closedbar {
    display: block;
  }

  /* line 59, ../sass/partials/_responsive.scss */
  .layout-boxed.right-sidebar-open .closedbar {
    margin-left: -260px !important;
  }
}
@media (min-width: 1200px) {
  /* 1200px */
  /* line 64, ../sass/partials/_responsive.scss */
  .core-box .title {
    font-size: 16px;
    line-height: 16px;
    font-size: 1.2vw;
    line-height: 1.2vw;
  }
}
/* ---------------------------------------------------------------------- */
/*  Small Devices Only
/* ---------------------------------------------------------------------- */
@media (max-width: 767px) {
  /* 767px */
  /* line 75, ../sass/partials/_responsive.scss */
  .current-user .dropdown-menu {
    right: auto !important;
    left: -100px !important;
  }

  /* line 79, ../sass/partials/_responsive.scss */
  .toolbar .tooltip-notification {
    right: auto;
  }

  /* line 82, ../sass/partials/_responsive.scss */
  .tooltip-notification .tooltip-notification-arrow {
    left: 40%;
  }
  .navbar-brand > img{ width:90px;}
  .topbar .container .topbar-tools {
    padding-top: 4px !important;
  }
  .panel-scroll {
    height: 400px;
    overflow: scroll;}

  .tab-content.list_grid_appoint #caldesign{ padding:15px !important;}
  .fc button{ padding:0 6px;}
  .tab-content > .active, .pill-content > .active {    display: block;     }
  #panel_availability panel-body{ padding:0px !important;}
  .messages-content .message-header .message-actions{ margin-left:-0px;}
  .modal.fade.in.modal-overflow{ display:block !important;}
  .modal-custom_mo .modal-dialog{ width:95% !important}
  .intercell_tab_text_remove{display: none;}
  .about-section p{ font-size:13px;}
  .about-section h2{ font-size:25px;}
  .about-section{ margin-top:0px;}
  .download-sections h2{ font-size:25px;}
  .modal.fade.in.modal-overflow{ display:block !important;}
  .nav-tabs > li > a {
   min-width: auto !important;
   padding: 5px 13px !important;
}
.download-sections h2{ font-size:20px !important;}
.about-section h2{ font-size:25px !important;}
ul#myTab{ margin-top:0px;}
.panel-heading h2{ font-size:20px !important;}
.panel_profile_counsellor .exp-panel {
   padding: 29px;
   margin:15px;
}
.btn-group-xs > .btn, .btn-xs{ float:right;}
.panel_profile_counsellor .exp-panel img{ float:left;}
.fade.in {
   opacity: 1;
}

  .fc-center h2 {
    display: inline-block;
    font-size: 12px;
    margin-top: 13px;
    overflow: visible;
    position: relative;
  }
  ul#myTab {
    margin-top: -3px;
    padding-left: 93px;
  }
  .exp-panel .row {
    padding: 15px;
  }
  .trans-history .fs {
    font-size: 13px;
  }
  .row.edit_account_top h3{ font-size:16px;}
  .counsoller_dashboard_table{ padding:0px !important;}
  .list_grid_appoint ul.thumbnails li{ width:89%; margin:0px;}
  .caption h3{ font-size:16px;}
  .list_grid_appoint ul {
    margin: 9px;
    padding: 0;
    width: 91%;
  }
  .tab_view_btn .appoint_view img {
    margin: 0 auto;
    text-align: center;
  }
  .tab_view_btn .appoint_view {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    padding:20px;
  }
  .appoint_view h2{ font-size:17px;}
  .appoint_view h4{ font-size:16px;}
  .appoint_view h5{ font-size:14px;}
  .appoint_view_action .btn-block{ margin:5px 0px;}
  .about-section{ margin-top:0px; padding-top:0px !important;}
  .download-right-part{ margin-top:50px !important;}


  #formSlide{ display:none}
  #hmpg-carousel{height:100% !important;}
  .services-row{margin-top:0px;}
  .services-section{margin:40px 0;}

  ul#myTab{ margin-top:0px !important;}

  .video_part2{width:100px!important; height:100px!important;}
   #videoScreen .chat-bx{width:100% !important;float:left;}
  .video-bx-bg{width:100% !important; float:left;}
  .video-img{width: auto !important;}
  #subscriber{height:220px !important;}
  #history{height:122px !important;}
  .cht-frm .cht-msg-bx.clearfix{width:95% !important; }

.closebtn.side-close-btn {
    float: left;
    position: absolute;
    left: 11px;
    font-size: 16px;
    color: #333;
    top: 14px;
}
.Counsellor_dashboard .topbar .container .navbar-header .navbar-brand {
    left: 30px!important;
}
.main-container{margin-top:0px !important}
.mo_service_section .drop_box_tracks{ width:100% !important;}
.main-container{margin-top:0px !important;}
.download-part{margin-top:-16px !important;position:relative; z-index:1;}
.post-content-mo{margin-top:0px !important; padding:0px !important;}
.inner-services-page > h3 strong{ font-size:20px;}
   .mail-texts h3{ font-size:20px;}
   .mail-texts p{font-size:12px;}
   .mo_service_section h4 {
    font-size: 16px;
    margin-bottom: 14px;
}
.mo_stepwizard_counsoller ul li{margin:0px !important;}
.mail-texts a {
    margin-top: -33px;
}
.card.hovercard .avatar h3{font-size:16px;}
.panel_profile_progress .panel-body .exp-panel ul li h2{font-size:16px; margin-top:5px;}
#panel_favourite{padding:0px;}
.space20{padding:0px;}
.about-section{padding:0px;}
.main-container.inner{margin:0px !important;}
.mo_services_box{margin-bottom:20px;}
.video-session-blk{margin-top:0px !important; padding-top:0px !important;}
#textchat{margin-top:0px !important;}


}

@media (max-width: 640px) {
  .setup-content, .setup-content2{width:100% !important;}
.wizard .wizard-inner .nav li{width:33% !important;}
.list-inline > li{margin-bottom:5px;}
.mo_stepwizard_counsoller .col-xs-6.col-md-4 {
    width: 100%;
}
.mo_stepwizard_counsoller .col-xs-6.col-md-8{ width:100%; padding:0px;}
#step3 .mo_stepwizard_counsoller ul li{ max-width:100% !important; width:100%; min-width:100%;}
.mo_stepwizard_counsoller ul{padding:0px !important; margin:0px;}
.setup-content-bx{margin-top:30%;}

.li.day-hdr{font-size:11px !important;}
.main-container .main-content{padding:0px;}
.wizard .tab-pane{padding:0px;}
.mo_stepwizard_counsoller ul li img{width:50% !important;}
.appoinment_list-part[_ngcontent-c1]   li[_ngcontent-c1]:first-child{font-size:11px;}
#panel_availability{padding:0px;}
.row.grid_view h1{font-size:15px;}
#profile h1{font-size:15px;}
.forms-heading h3{font-size:18px !important;}
#step4 .col-md-12{padding:0px;}
.carousel-indicators{display:none;}
.btn.btn-default.join-btn{padding:5px 20px; font-size:14px;}

#history{height:200px !important; }
.video-session-blk h1{font-size:20px !important;}
.video-session-blk h1 small{font-size:20px !important;}
.list_grid_appoint ul.thumbnails li:nth-child(6){float:left !important;}
.list_grid_appoint ul.thumbnails li:nth-child(3){float:left !important;}
}

@media (min-width: 500px) and (max-width: 767px) {
	.mo_stepwizard_counsoller ul li img{width:50% !important; }
	#step3 .mo_stepwizard_counsoller ul li{max-width:32% !important;min-width:32%;}
	.mo_services_box{width:50% !important; float:left;}
	
	
}


/* ---------------------------------------------------------------------- */
/*  From Small Devices Up To Medium Devices
/* ---------------------------------------------------------------------- */
@media (min-width: 768px) and (max-width: 991px) {
  /* 768px - 991px */
  /* line 90, ../sass/partials/_responsive.scss */


header .nav.navbar-nav{ width:auto !important;}
.join-frm{ left:-223px;}
.signin-drpdwn{ left:120px;}
.footer .btn-cta, .footer a.btn-cta{ margin-left:10px;}
  .current-user .dropdown-menu {
    right: auto !important;
    left: -30px !important;
  }
  .nav-tabs > li > a{ padding:5px 12px;}

  #hmpg-carousel{height:100%;}
  .panel_profile_progress{padding:20px;}
  #hmpg-carousel{height:100% !important;}

  .closebtn.side-close-btn {
    float: left;
    position: absolute;
    left: 11px;
    font-size: 16px;
    color: #333;
    top: 14px;
}
.Counsellor_dashboard .topbar .container .navbar-header .navbar-brand{left:30px !important;}
.main-container.inner{margin-top:0px !important;}
.mo_services_box{width:25%; float:left;}
.mo_services_box h4{font-size:16px;}
.mo_stepwizard_counsoller .col-xs-6.col-md-8{width:100%;}
.mo_stepwizard_counsoller .col-xs-6.col-md-4{width:100%;}
.mail-texts span{float:right;}
.mail-texts a{margin-top:-40px;}
.download-forms img{width:120px !important; height:30px !important;}
.download-app-page img{width:80% !important; float:right;}
  .wizard .tab-pane{padding:0px;}
  .list_grid_appoint ul.thumbnails li{ width:28%;}
  .video-session-blk{padding-top:0px !important;}
}
/* ---------------------------------------------------------------------- */
@media (min-width: 768px) and (max-width: 850px) {
  /* 768px - 991px */
  /* line 90, ../sass/partials/_responsive.scss */
.topbar .container .topbar-tools{ padding-top:3px !important}

  .cht-msg-bx.clearfix{bottom:none}
  .cht-msg-bx.clearfix{margin-top:11px;}

  .video_part2{width:110px; height:110px;}
.ResSlid0 .item{width:50% !important;}
.ResSlid1 .item{width:50% !important;}
.services-section{margin-bottom:30px;}
.mo_services_box h4{font-size:14px !important;}
.btn.btn-blue.checkbox-inline.next-step{font-size:12px;}
.video-session-blk{padding-top:0px !important;}

.cht-msg-bx.clearfix {
    width: 98% !important;}
	#textchat #history{height:300px !important;}
.video-bx-bg{width:100% !important; float:left;}
#videoScreen .chat-bx {
    width: 100% !important;
    float: left;
}	
.cht-msg-bx.clearfix {
    position: absolute;
    bottom: -36px;
}
#textchat{margin:40px 0px;}
}
@media (min-width: 851px) and (max-width: 1024px) {
	.mo_services_box h4{font-size:14px !important;}
	.mo_stepwizard_counsoller ul li{max-width:35% !important; margin:10px 5px !important;}
	.mo_stepwizard_counsoller ul li h4{font-size:12px !important;}
	.btn.btn-blue.checkbox-inline.next-step{font-size:12px;}
	.appoinment_list-part[_ngcontent-c1]   li[_ngcontent-c1]{font-size:13px !important;}
	  .list_grid_appoint ul.thumbnails li{ width:28%;}
	
.cht-msg-bx.clearfix {
   width: 100% !important;
bottom: -53px !important;
}
#videoScreen {
    height: 100% !important;
}
.cht-msg-bx.clearfix{position:absolute !important;}
.video-screens .chat-bx{width:42% !important;}
}
@media (min-width: 1025px) and (max-width: 1280px) {
.cht-msg-bx.clearfix {
   width: 100% !important;
bottom: -53px !important;
}
#videoScreen {
    height: 100% !important;
}
.cht-msg-bx.clearfix{position:absolute !important;}
.video-screens .chat-bx{width:32% !important;}	
	
}
/* ---------------------------------------------------------------------- */
/*  Up To Medium Devices
 /* ---------------------------------------------------------------------- */
@media (max-width: 991px) {
	.mo_services_box h4{font-size:14px;}
  /* 991px */
  /* line 100, ../sass/partials/_responsive.scss */
  .horizontal-menu-fixed .main-container {
    margin-top: 36px !important;
  }

  /* line 103, ../sass/partials/_responsive.scss */
  .main-container {
    margin-left: 0 !important;
  }
  /* line 105, ../sass/partials/_responsive.scss */
  .sidebar-mobile-open .main-container {
    left: 260px !important;
  }

  /* line 109, ../sass/partials/_responsive.scss */
  .main-content .container > .row, #ajax-content > .row {
    padding: 0;
  }

  /* line 113, ../sass/partials/_responsive.scss */
  .sidebar-mobile-open .topbar {
    left: 260px !important;
    right: -260px !important;
  }
  /* line 117, ../sass/partials/_responsive.scss */
  .topbar > .container .navbar-header {
    float: none;
    margin: 12px 0 0 10px;
    width: 140px;
  }

  /* line 123, ../sass/partials/_responsive.scss */
  .topbar {
    min-height: 50px !important;
    position: relative !important;
  }
  /* line 128, ../sass/partials/_responsive.scss */
  .topbar .container .navbar-header .sb-toggle-left {
    height: 50px !important;
    line-height: 50px !important;
  }
  /* line 132, ../sass/partials/_responsive.scss */
  .topbar .container .navbar-header .navbar-brand {
    line-height: 50px !important;
  }
  /* line 136, ../sass/partials/_responsive.scss */
  .topbar .container .topbar-tools {
    height: 50px !important;
    max-height: 50px !important;
  }
  /* line 143, ../sass/partials/_responsive.scss */
  .topbar .container .topbar-tools > ul > li.current-user .dropdown-toggle {
    line-height: 50px !important;
    height: 50px !important;
  }
  /* line 149, ../sass/partials/_responsive.scss */
  .topbar .container .topbar-tools > ul > li.right-menu-toggle a {
    line-height: 40px;
    height: 40px;
  }

  /* line 160, ../sass/partials/_responsive.scss */
 
  /* line 163, ../sass/partials/_responsive.scss */
  .topbar > .container .navbar-brand, .logo {
    left: 50px;
  }

  /* line 166, ../sass/partials/_responsive.scss */
  li.dropdown.current-user .dropdown-toggle > i {
    margin-left: 0;
  }

  /* line 169, ../sass/partials/_responsive.scss */
  .dropdown-subview {
    right: auto !important;
    left: -15px !important;
  }
  /* line 172, ../sass/partials/_responsive.scss */
  .dropdown-subview:before {
    right: auto !important;
    left: 49px !important;
  }
  /* line 176, ../sass/partials/_responsive.scss */
  .dropdown-subview:after {
    right: auto !important;
    left: 50px !important;
  }

  /* line 182, ../sass/partials/_responsive.scss */
  .dropdown-messages {
    right: auto !important;
    left: -110px !important;
  }
  /* line 185, ../sass/partials/_responsive.scss */
  .dropdown-messages:before {
    right: auto !important;
    left: 144px !important;
  }
  /* line 189, ../sass/partials/_responsive.scss */
  .dropdown-messages:after {
    right: auto !important;
    left: 145px !important;
  }

  /* line 195, ../sass/partials/_responsive.scss */
  .main-content .row {
    padding: 0;
  }

  /* line 198, ../sass/partials/_responsive.scss */
  #pageslide-left {
    top: 0;    
    margin-left: 0 !important;
	width:0px;
    
  }
  /* line 203, ../sass/partials/_responsive.scss */
  .sidebar-mobile-open #pageslide-left {
    left: 0 !important;
  }
  /* line 206, ../sass/partials/_responsive.scss */
  .right-sidebar-open #pageslide-left {
    left: -520px !important;
  }
  /* line 209, ../sass/partials/_responsive.scss */
  #pageslide-left .navbar-content {
    top: 0;
  }

  /* line 214, ../sass/partials/_responsive.scss */
  .sidebar-mobile-open #pageslide-right {
    right: -520px;
  }

  /* line 219, ../sass/partials/_responsive.scss */
  .flot-small-container {
    height: 200px;
  }

  /* line 222, ../sass/partials/_responsive.scss */
  .main-content, footer .footer-inner {
    position: relative;
	margin-left:0px;
  
  }

  /* line 227, ../sass/partials/_responsive.scss */
  .sidebar-mobile-open footer {
    left: 260px !important;
  }

  /* line 231, ../sass/partials/_responsive.scss */
  div.timeline {
    margin: 0;
  }
  /* line 233, ../sass/partials/_responsive.scss */
  div.timeline .columns li {
    float: none !important;
    width: 100% !important;
  }

  /* line 241, ../sass/partials/_responsive.scss */
  .timeline_element {
    margin: 20px auto !important;
  }
  /* line 243, ../sass/partials/_responsive.scss */
  .timeline_element:after {
    display: none;
  }
  /* line 246, ../sass/partials/_responsive.scss */
  .timeline_element:before {
    display: none;
  }

  /* line 250, ../sass/partials/_responsive.scss */
  .timeline-scrubber {
    display: none;
  }

  /* line 253, ../sass/partials/_responsive.scss */
  .faq .nav-tabs {
    float: none;
  }

  /* line 256, ../sass/partials/_responsive.scss */
  .page-header h1 {
    font-size: 24px;
    margin-top: 15px !important;
  }

  /*Lock Screen*/
  /* line 261, ../sass/partials/_responsive.scss */
  .main-ls {
    height: auto;
    left: 0;
    margin: 0 auto !important;
    position: relative;
    top: 0;
    width: 85%;
  }

  /* line 269, ../sass/partials/_responsive.scss */
  .main-ls .logo, .main-ls .copyright {
    text-align: center;
  }

  /* line 272, ../sass/partials/_responsive.scss */
  body.lock-screen .box-ls {
    display: inline-block;
    text-align: center;
    width: 100% !important;
  }

  /* line 277, ../sass/partials/_responsive.scss */
  body.lock-screen .user-info {
    float: none !important;
    width: auto !important;
  }

  /* line 283, ../sass/partials/_responsive.scss */
  .mini-stats li {
    border-right: 1px solid #30ddc6;
  }
  /* line 285, ../sass/partials/_responsive.scss */
  .mini-stats li:last-child {
    border-right: 0 none;
  }

  /* line 290, ../sass/partials/_responsive.scss */
  #sidebar-tab.nav-justified > li {
    display: table-cell;
    width: 1%;
  }
  /* line 293, ../sass/partials/_responsive.scss */
  #sidebar-tab.nav-justified > li a {
    border: 1px solid transparent;
  }
  .mo_stepwizard_counsoller ul li{max-width:30% ;}
}

@media (max-width: 1170px) {

  #hmpg-carousel{height:100% !important;}
  .download-app-page img{width:80% !important; float:right;}
}
@media (min-width: 1px) and (max-width: 480px) {
button.btn.btn-blue.checkbox-inline.next-step{font-size:10px;}
.form-control.ng-pristine.ng-valid.ng-touched{width:55% !important;float:left;}
.verify-btn{width:19% !important;float:right; padding: 8px !important;
font-size: 11px !important;}
.back-btn{padding:4px 8px !important;font-size:12px !important;}
.verify-button{width:55% !important;float:left;}
.appoinment_list-part li{font-size:11px !important;}
#step4 .col-sm-12{padding:0px;}
#hmpg-carousel h2{font-size:20px !important;}
.p8{padding:0px 40px !important;}
.p8 h3{font-size:20px !important;}
.white-bg h3, .gray-bg h3{font-size:20px !important;}
.gray-bg{padding:0 40px !important;}
.Counsellor_dashboard .topbar .container .topbar-tools>ul>li.current-user .dropdown-toggle{padding-right:15px;}
div#panel_overview h3{font-size:18px;}
.cuadro_intro_hover .caption{top:160px;}
.caption-text > h3{font-size:15px !important;}
 #history{height:177px !important;}
 .video-session-blk h1{top:20%;}
 .cuppa-dropdown{width:100%;}
 .main-container .container{padding:0px;}
 .expectation-section .form-control.ng-pristine.ng-valid.ng-touched{width:100% !important;}
 #main .col-sm-12 .container {
    padding: 0px;
}
.right-icons-list{right:-9px;}
.left-icons-list{left:-15px;}
}

#history{height:200px;}


