/** containers **/

#wrap {
    width: 100%;
    margin: 0 auto;
    background: none;
}

#wrap header {
    border-bottom: none;
    margin: 15px 22px;
    margin-bottom: 35px;
    padding-top: 20px;
    position: relative;
}

#wrap footer {
    border-top: 1px solid #b6bdbe;
    padding-bottom: 40px;
    margin: 15px 22px;
}

#wrap header .list-style-buttons {
    position: absolute;
    right: 0;
}


/** list view **/

ul.list {
    list-style: none;
    width: 100%;
}

ul.list li {
    display: block;
    padding: 10px 0px 0px 0px;
    border-bottom: 1px solid #f3eded;
}

ul.list li.alt {
    background: #fafafa;
}

ul.list li section.left {
    display: block;
    float: left;
    width: 65%;
    position: relative;
    padding-left: 8px;
    margin-bottom: 7px;
}

ul.list li section.right {
    display: block;
    float: right;
    margin-right: 10px;
    width: 30%;
    text-align: right;
    padding-bottom: 10px;
}

.meta_right {
    color: #5d5454;
    font-size: 15px;
    display: inline-block;
    margin: 10px 0 0px 10px;
}

ul.list li section.left img.thumb {
    float: left;
    margin-right: 10px;
}

ul.list li section.left img.featured-banner {
    position: absolute;
    left: -18px;
    top: 35px;
}

ul.list li section.left h3 {
    font-family: "Trebuchet MS", Arial, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: #707375;
    font-size: 1.4em;
    line-height: 1.6em;
    margin: 0px;
    text-align: left;
}

ul.list li section.left span.meta {
    color: #93989b;
    font-weight: normal;
    font-size: 15px;
    margin-left: 20px;
}

ul.list li section.right span.price {
    font-weight: bold;
    display: block;
    color: #EE3F38;
    font-size: 1.6em;
    text-align: right;
}

ul.list li section.right a.firstbtn {
    margin-right: 7px;
}


/** grid view **/

ul.grid {
    list-style: none;
    margin: 0 auto;
    padding-left: 25px;
}

ul.grid li {
    position: relative;
    display: block;
    float: left;
    width: 220px;
    height: 200px;
    border-right: 1px solid #b6bdbe;
    padding: 5px 22px;
    margin-bottom: 20px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

ul.grid li.third {
    border: 0;
}

ul.grid li section.left {
    position: relative;
}

ul.grid li section.right {
    /* nothing */
}

ul.grid li section.left img.featured-banner {
    position: absolute;
    top: 0;
}

ul.grid li section.left h3 {
    font-family: "Trebuchet MS", Arial, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: #707375;
    font-size: 1.4em;
    line-height: 1.5em;
}

ul.grid li section.left span.meta {
    display: block;
    color: #93989b;
    font-weight: normal;
    font-size: 1.1em;
    margin-bottom: 7px;
}

ul.grid li section.right span.price {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    color: #ad3939;
    font-size: 16px;
}

ul.grid li section.right span.darkview {
    opacity: 0;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 190px;
    height: 200px;
    margin: 0 15px;
    border-radius: 6px;
    background: rgba(40, 45, 55, 0.75);
    overflow: hidden;
    text-align: center;
    padding-top: 35px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    transition: opacity 0.2s linear 0s;
    -webkit-transition: opacity 0.2s linear 0s;
    -moz-transition: opacity 0.25s linear 0s;
    -o-transition: opacity 0.25s linear 0s;
}

ul.grid li:hover section.right span.darkview {
    opacity: 1;
}

ul.grid li section.right span.darkview a.firstbtn {
    display: block;
    margin-bottom: 10px;
}

.btn-grid {
    background-color: #0482BD;
    border-color: #0482BD;
    color: #ffffff;
    padding: 4px 10px;
}

#panel_projects .btn.active,
btn:active {
    background: #ee3f36;
    border-color: #ee3f36;
    color: #fff;
}

.btn-grid.focus,
.btn-grid:focus,
.btn-grid:hover,
.btn-grid:active {
    background: #ee3f36;
    border-color: #ee3f36;
    color: #fff;
}


/** clearfix **/

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}

.calendar-box .pannel,
.panel-white,
.partition-white {
    box-shadow: none!important;
}

.modal-calendarview {}

.modal-calendarview img {
    width: 100%;
    float: right;
}

.modal-calendarview h2 {}

.modal-calendarview p {}