<app-header></app-header>
<div class="main-wrapper Counsellor_dashboard">
  <!-- end: PAGESLIDE LEFT -->
  <!-- start: MAIN CONTAINER -->
  <div class="main-container inner">
    <!-- start: PAGE -->
    <div class="main-content" id="main">
      <!-- end: SPANEL CONFIGURATION MODAL FORM -->
      <div class="container">
        <!-- start: PAGE CONTENT -->
        <div class="row">
          <div class="col-sm-12">
            <div class="tabbable user_profile-table_tab">
              <app-inner-header></app-inner-header>
              <div class="tab-content">
                <div id="panel_overview" class="active">
                  <div class="row">
                    <div class="col-md-12 no-padding">
                      <h2 class="col-md-12 title">Dashboard</h2>
						<div class="col-md-12">
							<div class="inner-box notification-area padding-20">
							  <div class="col-md-1 col-sm-1 no-padding">
								<div class="over-couns " (click)="onProfileClick()">
								<img src="{{UserProfile.dp_image}}">
								</div>
							  </div>
							  <div class="col-md-11 dashboard-address">
								<div class="col-md-12 extra-email"><strong>Email ID:</strong> {{UserProfile.email}}</div>
							  
								<ul>
									<li>
										<div class="space10">
											<strong>Name:</strong> {{UserProfile.first_name}} {{UserProfile.last_name}}<br/>
										
											<strong>Mobile Number:</strong> {{UserProfile.mobile}}
										</div>
									</li>
									<li>
										<div class="space10">
											<strong>Date of Birth:</strong> {{UserProfile.dob}}<br/>
											<strong>Gender:</strong> {{UserProfile.gender}}<br/>
										
										</div>
									</li>
									<li>
										<div class="space10">
											<strong>City:</strong> {{UserProfile.city}}<br>
											<strong>State:</strong> {{UserProfile.state}}<br>
											<strong>Country:</strong> {{UserProfile.country}}
										</div>
									</li>
								</ul>
							  </div>
							</div>
						</div> 
                     
						<div class="inner-box-icons">
							<ul class="text-center">
								<li *ngIf="userType==3" class="book-a-session">
									<div class="box">
										<a [routerLink]="['/set-availability']">								
											<div class="icon"><i class="fa fa-clock-o" aria-hidden="true"></i></div>
											<div class="buttom-text">Set Availability</div>
										</a>
									</div>
								</li>
							<li *ngIf="userType==2" class="book-a-session">
									<div class="box">
										<a [routerLink]="['/make-appointment']">								
											<div class="icon"><i class="fa fa-group" aria-hidden="true"></i></div>
											<div class="buttom-text">Book a Session</div>
										</a>
									</div>
								</li>
								<li class="sessions">
									<div class="box">
										<a  [routerLink]="['/appointments']">											
											<div class="icon"><i class="fa fa-calendar" aria-hidden="true"></i></div>
											<div class="buttom-text">Sessions</div>
										</a>
									</div>
								</li>
								<li class="mentors">
									<div class="box">
										<a  [routerLink]="['/account']">
											<!--div class="notification">5</div-->
											<div class="icon"><i class="fa fa-history" aria-hidden="true"></i></div>
											<div class="buttom-text">History</div>
										</a>
									</div>
								</li>
								
								<li class="notification">
									<div class="box">
										<a [routerLink]="['/message']">
											<div *ngIf="unreadmessagecount1>0" class="notification" >{{unreadmessagecount1}}</div>
											<div class="icon"><i class="fa fa-bell-o" aria-hidden="true"></i></div>
											<div class="buttom-text">Notifications</div>
										</a>
									</div>
								</li>
							</ul>
						</div>


                      <div id="panel_edit_account" class="col-md-12 recent_email-nt">
					   <div class="inner-box session_history">
                        <div class="panel-heading overview">
						  <h3 class="">Session History</h3></div>
							<div class="col-md-12 no-padding">
									<!-- start: TABLE Transaction -->
									<div class="panel panel-white">


										<div class="panel-body">

											<table class="table table-striped table-hover" id="sample-table-2">
												<thead>
												<tr>
													<th>Name</th>
													<th class="">Amount</th>
													<th class="">Credit/ Debit</th>

													<th class=" center">Transaction Date</th>
													<th class=" center">Session Status</th>
												</tr>
												</thead>
												<tbody>


												<tr *ngFor="let register of registerPayment; ">
													<td>{{fullName}}</td>
													<td class=""><i class="fa fa-inr" aria-hidden="true"></i>{{register.amount}}</td>
													<td class="">
														Debit
													</td>

													<td class=" center">{{register.created_on}}</td>
													<td class=" center">Registration</td>
												</tr>


												<tr *ngFor="let session of sessionPayment;">
													<td>{{session.first_name | titlecase}} {{session.last_name | titlecase}}</td>
													<td *ngIf="userType == 2" class="">
														<i class="fa fa-inr" aria-hidden="true"></i>{{session.amount}}
													</td>
													<td *ngIf="userType == 3" class="">
														<i class="fa fa-inr" aria-hidden="true"></i>
														{{session.price_amount - (session.our_commision--session.ccavenue_commision)}}<span>*</span>
														
													</td>

													<td *ngIf="userType == 2" class="">
															<ng-container [ngSwitch]="true">
																	<ng-container *ngSwitchCase="session.status === 'Rejected'">Credit</ng-container>
																	<ng-container *ngSwitchDefault>Debit</ng-container>
															</ng-container>
													
													</td>
													<td *ngIf="userType == 3" class="">
														Credit
													</td>
													<td class="center" >{{session.updated_on}}</td>
													<td [ngClass]="ngClassForColor( session.status )">{{session.status}}</td>
												</tr>

												<tr *ngFor="let return of returnedPayment; let eduId = index;">
													<td>{{fullName}}</td>
													<td class=""><i class="fa fa-inr" aria-hidden="true"></i>{{return.amount}}</td>
													<td class="">
														{{return.transaction_type | titlecase}}
													</td>

													<td class="center">{{return.updated_on}}</td>
													<td class="text-red">Withdraw</td>
												</tr>

												</tbody>
											</table>
											<!--<span *ngIf="userType == 3">* Subject to TDS</span>-->
										</div>
									</div>
									<!-- end: TABLE WITH IMAGES PANEL -->
								</div>
             
						</div>
                      
					  
 
											<div *ngIf="userType == 3" class="row trans-history">
													<div class="col-xs-12">
															<div class="inner-box payment-section">
																	<div class="col-md-12"><label class="tds">*Subject to TDS</label></div>
															<div class="form-group">
																<div class="col-sm-8 fs">
																	Total Payable Amount :
																</div>
																<div class="col-sm-4">
																		<label>&#8377; {{maxAmount}}</label>
																</div>
															</div>
			
															<!--div *ngIf="maxAmount" class="form-group">
																<div class="col-sm-8 fs">
																	Amount you want to withdraw
																</div>
																<div class="col-sm-4">
																	<input type="text" class="form-control" [(ngModel)] ="maxAmount"   readonly placeholder="Enter Amount you want to withdraw">
																	<div class="red-clr col-xs-12"><span *ngIf="moneyError">Out of Range</span></div>
															</div>
															</div-->
			
															
															<!--div *ngIf="maxAmount" class="col-xs-12">
																<button class="btn btn-green" (click) = "onSubmit()" >Withdraw Payment</button></div-->

																<div class="col-md-12"><label class="tds"><b>Please Note : </b>Your monthly earnings will be auto-credited to your registered bank account latest by 15th of the following month. The amount credited will be subject to TDS.</label></div>
																
													</div>
													</div>
												</div>
			
											</div>
										</div>
									</div>
								</div>
            <!-- end: PAGE CONTENT-->
          </div>
			</div>
			</div>
        <!-- end: PAGE -->
		</div>
		</div>
      <!-- end: MAIN CONTAINER -->
      <!-- start: FOOTER -->
      <footer class="inner">
        <div class="footer-inner">
          <div class="pull-left">
            2017 &copy; Intercell Technologies Pvt. Ltd. 
          </div>

          <div class="pull-right">
            <div class="bottom-top-btn">
              <a href="#" class="scrollToTop"><i class="fa fa-arrow-up" aria-hidden="true"></i></a>
            </div>
          </div>
        </div>
      </footer>
      <!-- end: FOOTER -->
    </div>
  </div>
</div>
<!-- end: CORE JAVASCRIPTS  -->

