<app-login-header></app-login-header>


<div class="col-lg-12 no-padding contact-page">
	<div class="inner-banner-div"  style="background:url(../../assets/images/contact-banner.jpg) no-repeat;background-size:cover;background-position:top center; height:180px;">
		<div class="container">
			<div  class="row">
				<div class="col-lg-12 banner-box">
					<p class="">Contact Us</p>
				</div>
			</div> 
		</div>
	</div> 
</div>

<div class="container-fluid p-0">
  <div class="contact-intercell">
  <div class="container">
	<div class="row">

	<div class="col-md-6 col-sm-6 col-xs-12 contact-left-image ">
	
	 <img src="assets/images/contact-right.jpg" alt="Intercell Logo"/>

	</div>
	
	
	<div class="col-md-6 col-sm-6 col-xs-12 ">
	<div class="row">
	
	<div class="feedback-form" >
      <form [formGroup] = "formContact" class="form">
	  <div class="col-sm-12">
	   <span *ngIf="AllRequiredError" class="blue-clr">{{AllRequiredError}}</span>
	   </div>
        <div class="col-sm-6">
        
         
          <div class="form-group">
            <label>Name: <span>*</span></label>
            <input type="Text"  maxlength="50"class="form-control" formControlName="name" (click)="selectAllContent($event)">
            <span *ngIf="formErrors.name" class="blue-clr">{{formErrors.name}}</span>
          </div>
        </div>
         <div class="col-sm-6">
          <div class="form-group">
            <label>Email address: <span>*</span> </label>
            <input type="Text"  maxlength="50" class="form-control"  formControlName="email" (keyup)="onEmailOut()" (click)="selectAllContent($event)">
            <span *ngIf="formErrors.email" class="blue-clr">{{formErrors.email}}</span>
          </div>
        </div>  
        <div class="col-sm-12">
          <div class="form-group">
            <label>Phone no.</label>
            <input type="Text"  class="form-control" maxlength="10" formControlName="phone" (keyup)="onPhoneOut()" (click)="selectAllContent($event)" (keypress)="onlyNumberKey($event)">
            <span *ngIf="formErrors.phone" class="blue-clr">{{formErrors.phone}}</span>
          </div>
        </div>
        <div class="col-sm-12">
          <div class="form-group">
            <label>Query: <span>*</span></label>
            <textarea placeholder="Please enter your query" maxlength="450" class="form-control textareacss" style="min-height:130px;" formControlName="message" (click)="selectAllContent($event)"></textarea>
            <span *ngIf="formErrors.message" class="blue-clr">{{formErrors.message}}</span>
          </div>
        </div>
        <div class="col-sm-12">
          <div class="btn-last-part">
            <a class="btn btn-default btn-squared counsellor-db-btn nextBtn btn-lg back-btn btn-left" [routerLink]="['/']" >Cancel</a>
            <button class="btn btn-primary btn-squared counsellor-db-btn nextBtn btn-lg back-btn btn-right"  type="button" (click) = "onDone(formContact.value)">Submit</button>
            
            
          </div>
        </div>
      </form>
    </div>
	<div class="contac_box col-md-12">
    	<div class="innr_box">
				<ul class="contact-info">
					
					<li>Or Email us : <i class="fa fa-envelope" aria-hidden="true"></i><a href="mailto:info@intercellworld.com">info@intercellworld.com</a></li>
				</ul>
        </div>
	</div>
	
	</div>
	</div>

	</div>
</div>
  </div>

  
  
</div>
<app-footer></app-footer>
