<app-header></app-header>

<!-- start: PAGE -->
<div class="main-container inner">
        <!-- start: MAIN CONTAINER -->
			<div class="main-content" id="main">
               <div class="container">
                   <!-- start: PAGE CONTENT -->
                   <div class="row">
                       <div class="col-sm-12">
                                <!-- start :- forms -->
                                    <div class="tab-content">
								     <!--<h2 class="col-md-12 title no-padding">Appointments</h2>-->
										<div class="inner-box">
											<div class="wizard">
                                            <div class="tab-pane active" role="tabpanel" id="step4" *ngIf="isCalendar">
                                                 <div class="row">
                                                        <div class="col-sm-12">
                                                            <!-- start: FULL CALENDAR PANEL -->
                                                            <div class="panel panel-white">
                                                              <div class="col-md-12">

                                                                <div class="appointment_table" *ngIf="appointmentTable">

																	<div class="appoinment_sections" >
                                    <i *ngIf="prevousArraow" class="fa fa-chevron-circle-left left-icons-list" style="font-size:32px;" aria-hidden="true" (click)="getPreviousWeek();"></i>
                                    <i *ngIf="nextArraow" class="fa fa-chevron-circle-right right-icons-list" style="font-size:32px;" aria-hidden="true" (click)="getNextWeek();"></i>
																	<div class="appoinment_list-part" >
                                      <div class="col-md-12 no-padding" style="overflow-y:scroll;">
                                          <span *ngFor="let cals of calendaring; let index = index">
                                            <ul [ngClass]="getClassName(index)">
                                              <li class="day-hdr">{{cals.day}}, <b>{{ cals.date | date:'MMM dd'}}</b><br>
                                              </li>
                                            </ul>
                                            
                                          </span>
                                        </div>	
                                        <div class="col-md-12 no-padding direct-time-list">
                                    <span *ngFor="let cals of calendaring; let index = index">

                                      <ul [ngClass]="getClassName(index)">
																	      <!-- <li class="day-hdr">{{cals.day}}, <b>{{ cals.date | date:'MMM dd'}}</b><br>

																	       </li>-->
																	      <span *ngFor="let time of generateArray(cals.time); let i = index">


                                          <li *ngIf="i > 15 && time.status == 'Available'" style="background-color:#61A344;color:#fff;margin:3%;">
                                            <a href="javascript:void(0);" style="color:#fff;">
                                              <span (click)="setDateTime(cals.date,time.start)">
                                                {{time.start}}
                                              </span>
                                            </a>
                                          </li>
                                          <li *ngIf="i > 15 && time.status == 'Not Available'" style="background-color:#f7f8fa;color:#333;margin:3%;">
                                              <del>{{time.start}}</del>
                                          </li>
                                          <li *ngIf="i > 15 && time.status == 'Pending for Approval'" style="background-color:#a1a1a1;color:#fff;margin:3%;">
                                              <span>Pending</span>
                                          </li>
                                          <li *ngIf="i > 15 && time.status == 'Approved & Booked'" style="background-color:#0082b9;color:#fff;margin:3%;">
                                              <span>Booked</span>
                                          </li>
                                        </span>

                                        <span *ngFor="let time of generateArray(cals.time); let i = index">


                                          <li *ngIf="i <= 15 && time.status == 'Available'" style="background-color:#61A344;color:#fff;margin:3%;">
                                            <a href="javascript:void(0);" style="color:#fff;">
                                              <span (click)="setDateTime(cals.date,time.start)">
                                                {{time.start}}
                                              </span>
                                            </a>
                                          </li>
                                          <li *ngIf="i <= 15 && time.status == 'Not Available'" style="background-color:#f7f8fa;color:#333;margin:3%;">
                                              <del>{{time.start}}</del>
                                          </li>
                                          <li *ngIf="i <= 15 && time.status == 'Pending for Approval'" style="background-color:#a1a1a1;color:#fff;margin:3%;">
                                              <span>Pending</span>
                                          </li>
                                          <li *ngIf="i <= 15 && time.status == 'Approved & Booked'" style="background-color:#0082b9;color:#fff;margin:3%;">
                                              <span>Booked</span>
                                          </li>
                                        </span>

																	    </ul>
                                </span>

																	</div>
																	</div>

                                                                </div>
                                                                    </div>
                                                            </div>
                                                            <!-- end: FULL CALENDAR PANEL -->
                                                        </div>
                                                    </div>
                                                     </div>
                                                    </div>

                                                <div class="tab-pane active" role="tabpanel" id="step4" *ngIf="isExpectation">
                                                       <div class="col-xs-12 col-md-12">
                                                         <div class="expectation-section">
                                                           <h3>Your expectation from {{counsellorName}}</h3>
                                                           <p><i class="glyphicon glyphicon-globe"></i> <strong> Session Date:</strong> {{request.date | date:'dd MMM yyyy'}} </p>
                                                           <div class="text"><p>(Please mention your query here in advance)</p></div>
                                                           <textarea type="text" [(ngModel)]="expectationMessages" maxlength="500" class="form-control" placeholder="I need mentoring for ..."></textarea>
                                                         </div>
														  <ul class="list-inline pull-right">
                                                           <!--<li><button type="button" class="btn btn-default prev-step" (click)="setCalendarTab()">Previous</button></li>-->
                                                           <li><button type="button" class="btn btn-primary next-step btn-squared" (click)="setCheckoutTab()">Save and continue</button></li>
                                                       </ul>
                                                       </div>
                                                      
                                                       <div class="clearfix"></div>
                                                     </div>
                                               <div class="tab-pane active" role="tabpanel" id="complete" *ngIf="isCheckout">                                                 <div id="panel_edit_account" class="active">
                                                 <div class="checkouts-part">
												 <div class="col-md-12"><h2>Confirm Order</h2></div>
                                                     <div class=" col-sm-4  col-md-4">
                                                       <div class="check-img">
                                                         <img class="img-responsive" src="assets/images/computer.jpg"/>
                                                       </div>
                                                       <div class="col-md-12 plz-note-text"><span class="red-text">*</span> Please note that you will be prompted to make payment (non-refundable) after the Mentor confirms the session.</div>
                                                       
                                                     </div>
                                                     <div class="col-sm-8 col-md-8">
                                                       <div class="check-order-part">
                                                         
                                                         <div class="all-check-section">
                                                           <div class="check-border">
                                                             <ul class="check-two">
                                                               <li><h3>Description</h3></li>
                                                               <li>30 mins. session with <br><strong>{{counsellorName}}</strong></li>
                                                             <!--  <li>Track:- {{request.serviceName}}</li>-->
                                                               <li><i class="glyphicon glyphicon-globe"></i><strong>Session Date:</strong> {{request.date | date:'dd MMM yyyy'}} </li>
                                                               <li><i class="glyphicon glyphicon-gift"></i><strong>Start:</strong> {{request.time}}  (Duration: {{request.duration}} mins.)</li>
                                                              

                                                             </ul>
                                                             <ul class="check-three">
                                                               <li><h3>Unit Cost</h3>  </li>
                                                               <li>Rs.{{item.unitPrice}}</li>

                                                             </ul>
                                                             <ul class="check-four">
                                                               <li><h3>Quantity</h3></li>
                                                               <li>{{item.qty}}</li>
                                                             </ul>
                                                             <ul class="check-five">
                                                               <li><h3>Price</h3></li>
                                                               <li>Rs.{{item.unitPrice * item.qty}}<span class="red-text">*</span></li>
                                                             </ul>

                                                             <div class="total-amount-part">
                                                               <ul>
                                                                 <li>Sub Total Rs.{{item.unitPrice * item.qty}}</li>
                                                                 <li>GST ({{item.gst /100}}%) Rs.{{item.unitPrice * item.qty * item.gst /100}}</li>

                                                               </ul>

                                                             </div>
															 <div class="col-md-12">{{expectationMessages}}</div>
                                                           </div>

                                                           <div class="col-sm-5 col-md-6" style="float:right">
                                                             <div class="total-last">
                                                               <ul>
                                                                 <li>Total Rs.{{(item.unitPrice * item.qty) + (item.unitPrice * item.qty * item.gst /100) - discount}} </li>
                                                               </ul>
                                                             </div>

                                                           </div>
                                                           <div class="col-sm-7 col-md-6" style="float:left;">
                                                             <!--div class=" check-form">
                                                               <div class="form-group">
                                                                 <label>Apply Promo Code</label>
                                                                 <input type="text"  class="form-control" [(ngModel)]="promoCode">
                                                                 <button class="btn btn-info" (click)="getDiscount()">Apply</button>
                                                               </div>

                                                             </div-->
                                                             
                                                           </div>

                                                           <div>&nbsp;
                                                             <span *ngIf="discount">Rs.{{discount}}</span>
                                                           </div>
                                                         </div>

                                                         <div _ngcontent-c1="" class1="col-md-12 col-sm-12">
                                                           <ul _ngcontent-c1="" class="list-inline pull-right">
                                                             <li _ngcontent-c1=""><button _ngcontent-c1="" class="btn btn-primary prev-step" type="button" (click)="checkOut()">Confirm!</button></li>
                                                           </ul>
                                                         </div>
                                                       </div>
                                                     </div>    
                                                 </div>
                                               </div>
                                               </div>
                                                   <!-- <div class="tab-pane active" role="tabpanel" id="complete" *ngIf="!isCheckout">
                                                      <div class="row">
                                                        <div class="col-sm-4 col-md-4">
                                                            <img src="assets/images/computer.jpg" alt="" class="img-responsive" />
                                                        </div>
                                                        <div class="col-sm-4 col-md-4">

                                                            <p>
                                                                <i class="glyphicon glyphicon-globe"></i> Session Date: {{request.date}}
                                                                <br />
                                                                <i class="glyphicon glyphicon-gift"></i> Start: {{request.time}} (Duration:  {{request.duration}})</p>
                                                        </div>
                                                        <div class="col-md-4 col-sm-4"></div>
                                                      </div>
                                                        <div class="clearfix"></div>
                                                        <div class1="col-md-12 col-sm-12">
                                                            <a href="javascript:void(0);" class="btn btn-primary nextBtn btn-lg pull-right" (click)="checkOut();">Proceed to Pay!</a>
                                                        </div>
                                                        <div class="clearfix"></div>
                                                    </div>
-->
										
										</div>
                                    </div>
                                <!-- end :- forms -->
                                <!-- payment form start -->
                                <form class="hide" action={{paymentUrl}} method="POST" id="payment_form">
                                    <input name="userId" id="paymentUserId" value={{userId}}>
                                    <input name="sessionId" id="sessionId">
                                    <!--<button type="submit" (click)="form.submit()">Search</button>-->
                                </form>
                       </div>
                   </div>
               </div>
            <!-- end: MAIN CONTAINER -->
            <div class="subviews">
                <div class="subviews-container"></div>
            </div>
        <!-- end: PAGE -->
	<footer class="inner">
        <div class="footer-inner">
          <div class="pull-left">
            2017 &copy; Intercell Technologies Pvt. Ltd.
          </div>
          <div class="pull-right">
            <div class="bottom-top-btn">
              <a href="#" class="scrollToTop"><i class="fa fa-arrow-up" aria-hidden="true"></i></a>
            </div>
          </div>
        </div>
    </footer>
	<!--<app-footer></app-footer>-->	
		</div>		
</div>


