<app-header></app-header>

<!-- start: PAGE -->
<div class="main-container inner">
  <!-- start: MAIN CONTAINER -->
  <div class="main-content" id="main">

    <div class="container">

      <!-- start: PAGE CONTENT -->
      <div class="row">
        <div class="col-sm-12">
          <div class="tab-content">
            <div class="">
              <section>
			  	<h2 class="col-md-12 title no-padding">Book a Session</h2>
                <div class="wizard inner-box">
                  <div class="wizard-inner">
                    <ul class="nav nav-tabs" role="tablist">
                      <li role="presentation" [ngClass]="{ 'active': isServicesTab == true }">
                        <a href="javascript:void(0);" data-toggle="tab" aria-controls="Choose from Streams" role="tab" title="Step 1">
                          <span class="round-tab"> 1</span>
                        </a>
                        <h4>Career Field</h4>
                      </li>
                      <li role="presentation" [ngClass]="{ 'active': isLevelTab == true }">
                        <a href="javascript:void(0);" data-toggle="tab" aria-controls="Choose from Tracks" role="tab" title="Step 2">
                          <span class="round-tab">2</span>
                        </a>
                        <h4>Specialisation</h4>
                      </li>
                      <li role="presentation" [ngClass]="{ 'active': isCounsellorTab == true }">
                        <a href="javascript:void(0);" data-toggle="tab" aria-controls="step3" role="tab" title="Choose from Counsellors">
                          <span class="round-tab">3</span>
                        </a>
                        <h4>Mentor</h4>
                      </li>


                      <li role="presentation" [ngClass]="{ 'active': isCalendarTab == true }">
                        <a href="javascript:void(0);" data-toggle="tab" aria-controls="step3" role="tab" title="Choose Date & Time">
                          <span class="round-tab">4</span>
                        </a>
                        <h4>Date & Time</h4>
                      </li>

                      <li role="presentation" [ngClass]="{ 'active': isExpectationTab == true }">
                        <a href="javascript:void(0);" data-toggle="tab" aria-controls="step3" role="tab" title="Add Your Session Expectation">
                          <span class="round-tab">5</span>
                        </a>
                        <h4>Expectation</h4>
                      </li>



                      <li role="presentation" [ngClass]="{ 'active': isCheckoutTab == true }">
                        <a href="javascript:void(0);" data-toggle="tab" aria-controls="complete" role="tab" title="Complete">
                          <span class="round-tab">6</span>
                        </a>
                        <h4>Checkout</h4>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <!-- start :- forms -->
                  <div class="">
                    <div class="tab-pane active" role="tabpanel" id="step1" *ngIf="isServicesTab">
                      <div class="col-xs-12 col-md-12">

                        <h3 class="col-xs-12"> Choose from below career fields</h3>
                        <div class="mo_service_section">
                         
                            <div class="col-md-3 mo_services_box" *ngFor="let serv of services;">
								 <div class="card-header"> 
									  <img src="{{serv.image}}" alt="services-image" class="img-responsive" />
									  <div class="card-inner">
										  <h4>{{serv.name}}</h4>
										  <div class="select-button text-center">
											<button class="btn btn-blue" (click)="setLevelTab(serv)"  type="button">Select</button>
										  </div>
									  </div>
								 </div>
                            </div>
                          
                        </div>
                      </div>
                      <!--<ul class="list-inline pull-right">
                          <li><button type="button" class="btn btn-primary next-step">Save and continue</button></li>
                      </ul>-->
                     
                    </div>

                    <div class="tab-pane active" role="tabpanel" id="step2" *ngIf="isLevelTab">
                      <div class="col-md-12 col-sm-12">

                        <!--<input type="checkbox" name="genric" (change)="checkGenric($event)"> Generic (Not specific)<br/>-->
                        <div class="mo_service_section space12 min-height-50">
                          <!--<hr>-->
                          <div class="drop_box_tracks col-sm-6 col-md-6">
                                                                <span *ngIf="showSubServices">
                                                                <angular2-multiselect
                                                                  [data]="dropdownList"
                                                                  [(ngModel)]="selectedSubServices"
                                                                  [settings]="dropdownSettings"
                                                                  (onSelect)="onItemSelect($event)"
                                                                  (onDeSelect)="OnItemDeSelect($event)"
                                                                  (onSelectAll)="onSelectAll($event)"
                                                                  (onDeSelectAll)="onDeSelectAll($event)">
                                                                </angular2-multiselect></span>
                          </div>
                          <ul class="list-inline pull-right col-sm-6 col-md-6 text-right">
                              <li><button type="button" class="btn btn-default prev-step" (click)="showTab('isServicesTab')">Previous</button></li>
                              <li><button type="button" class="btn btn-primary btn-squared" (click)="setCounsellorTab('yes')">Save and continue</button></li>
                            </ul>
                          <!--<div class="">
                              <h5>Duration</h5>
                              <label class="radio-inline" *ngFor="let duration of levelsPeriods.durations;">
                                <input type="radio"
                                        name="duration"
                                        [value]="duration.id"
                                        (change)="onPeriodChange(duration)"
                                        class="grey radio-callback">
                                  {{duration.duration}}
                              </label>
                          </div> <hr>
						  -->

                          
                         
                          <!--<div class="">
                            <h4>Fees start from <span><strong>INR {{item.unitPrice}} only per 30 minutes session</strong></span></h4>
                          </div>-->
                        </div>
                      </div>
                      
                      
                    </div>




                    <div class="tab-pane active" role="tabpanel" id="step3" *ngIf="isCounsellorTab">
                      <div class="col-xs-12 col-md-12">
					  <div class="row">
						<div class="col-md-12">
							<h3 class="col-xs-6"><span>Select Mentor</span></h3>
							<ul class="list-inline pull-right col-md-6 text-right nopadding-right">
								<li><button type="button" class="btn btn-default prev-step" (click)="showTab('isLevelTab')">Previous</button></li>
								<!--li><button type="button" class="btn btn-danger prev-step" (click)="showTab('isServicesTab')">Start Fresh!</button></li-->
							</ul>
						</div>
					
						</div>

                        <div class="mo_stepwizard_counsoller">
                          <div class="col-xs-12 col-md-12">
                            <div class="row">
                            <ul *ngIf="counsellors">
                              
                              <li *ngFor="let user of counsellors;let indCounsellor = index">
                                
							
                <div class="image-box">

                  <div class="avatar meettor-img meettor-img-height" *ngIf="user.dp_image" [ngStyle]="{'background-image': 'url('+cdnPath+user.dp_image+ ')'}" [style.backgroundSize]="'cover'"></div>
                  <div class="avatar meettor-img meettor-img-height"  *ngIf="!user.dp_image" [ngStyle]="{'background-image': 'url('+cdnPath+'intercell-user-pic.png'+ ')'}" [style.backgroundSize]="'cover'"></div>
                 </div>
                <span class="card-block">
                
                  <h4 class="card-title">{{ user.first_name | titlecase }} {{ user.last_name | titlecase }}</h4>
                    <p class="testi-title-home"><span>Total Experience:</span>  {{user.totalexperience | titlecase}} years</p>
                    <p class="testi-title-home"><span>Expertise:</span> {{user.name | titlecase}} </p>
                    <p class="testi-title-home" *ngIf="user.brand_worked_for"><span>Brand Portfolio:</span> <em [innerHTML]="user.brand_worked_for">   </em> </p>
                </span>
				
				<div class="book-session">
					<div>
						<a class="btn intercell-btn" href="javascript:void(0);" (click)="setCalendarTab(user)">Book a Session</a>
					
					<div class="read-more-icon pull-right">
						
						<a href="javascript:void();" (click)="summaryModel.open();setCounsellor_popup(user,indCounsellor,user.dp_image);"><img src="../../assets/images/read_more.png" style="max-width:38px;"></a></div>
					</div>							  
					 
                </div>
                              </li>
                            </ul>
							
								<div *ngIf="!counsellors" class="padding-10 no-mentor-list">
								<p>There is no Mentor available for your selected career field / specialisation.<br/>
								Please start over or get suggestions from our support team.</p>
								</div>
							</div>
                          </div>
                          <!--div class="col-xs-6 col-md-4 find-ment">
                            <h3  class="make-link">Have you not found the right Mentor on the panel?</h3>
                            <p>Please indicate the fields below in which you would like to receive mentoring. Also tell us more if you have anything specific in mind regarding the type of Mentors.</p>
                            <div class="form-group box">
                              <textarea [(ngModel)]="suggestionMessages" class="form-control" placeholder=""></textarea>
                              <span *ngIf="ErrorsuggestionMessages" class="red-clr">{{ErrorsuggestionMessages}}</span>
                            </div>
                            <button class="btn btn-blue next-step" (click)="getSuggestions()" type="button">Submit</button>
                            </div-->
                        </div>
                      </div>
                    
                      <div class="clearfix"></div>
                    </div>



                    <div class="tab-pane active" role="tabpanel" id="step4" *ngIf="isExpectationTab">

                      <div class="col-xs-12 col-md-12">
                        <div class="expectation-section">
                          <label>Your expectation from {{request.gendertype}} {{request.counsellorName}}</label>
                          <p><i class="glyphicon glyphicon-globe"></i><strong> Session Date: </strong> {{request.date | date:'dd MMM yyyy'}} </p>
                          <div class="text"><p>(Please mention your query here in advance)</p></div>
                          <textarea [(ngModel)]="expectationMessages" maxlength="500"class="form-control" placeholder="I need mentoring for ..."></textarea>
                        </div>
                      </div>
                      <ul class="list-inline pull-right col-md-12 text-right">
                        <li><button type="button" class="btn btn-default prev-step" (click)="showCounsellorCalendar('new')">Previous</button></li>
                        <!--li><button type="button" class="btn btn-danger prev-step" (click)="showTab('isServicesTab')">Start Fresh!</button></li-->
                        <li><button type="button" class="btn btn-primary next-step" (click)="setCheckoutTab()">Save and continue</button></li>
                      </ul>
                      
                    </div>

                    <div class="tab-pane active" role="tabpanel" id="step4" *ngIf="isCalendarTab">


                      <div class="row">
                        <div class="col-sm-12">
                          <!-- start: FULL CALENDAR PANEL -->
                          <div class="panel panel-white">
                            <div class="col-md-12">

                              <div class="appointment_table" *ngIf="appointmentTable">

								<div class="row">
                    <div class="col-sm-6 col-xs-12 col-md-6">Select available time slot with <strong>{{request.gendertype}} {{request.counsellorName}}</strong></div>
                    <ul class="list-inline pull-right col-md-6 col-xs-12 col-sm-6 text-right m-bottom-md-30">
                    <li><button type="button" class="btn btn-default prev-step" (click)="showTab('isCounsellorTab')">Previous</button></li>
                    <!--li><button type="button" class="btn btn-danger prev-step" (click)="showTab('isServicesTab')">Start Fresh!</button></li-->
                    </ul>
								</div>
                                <div class="appoinment_sections" >
                                  <i *ngIf="prevousArraow" class="fa fa-chevron-circle-left left-icons-list" style="font-size:32px;" aria-hidden="true" (click)="getPreviousWeek();"></i>
                                  <i *ngIf="nextArraow" class="fa fa-chevron-circle-right right-icons-list" style="font-size:32px;" aria-hidden="true" (click)="getNextWeek();"></i>
                                  <div class="appoinment_list-part" >
                                      <div class="col-md-12 no-padding" style="overflow-y:scroll;">
                                          <span *ngFor="let cals of calendaring; let index = index">
                                            <ul [ngClass]="getClassName(index)">
                                              <li class="day-hdr">{{cals.day}}, <b>{{ cals.date | date:'MMM dd'}}</b><br>
                                              </li>
                                            </ul>
                                            
                                          </span>
                                        </div>
                                        <div class="col-md-12 no-padding time-list">
                                    <span *ngFor="let cals of calendaring; let index = index">

                                      <ul [ngClass]="getClassName(index)">
																	       <!--<li class="day-hdr">{{cals.day}}, <b>{{ cals.date | date:'MMM dd'}}</b><br>

																	       </li>--> 
																	      <span *ngFor="let time of generateArray(cals.time); let i = index">


                                          <li *ngIf="i > 15 && time.status == 'Available'" style="background-color:#61A344;color:#fff;margin:3%;">
                                            <a href="javascript:void(0);" style="color:#fff;">
                                              <span (click)="setDateTime(cals.date,time.start)">
                                                {{time.start}}
                                              </span>
                                            </a>
                                          </li>
                                          <li *ngIf="i > 15 && time.status == 'Not Available'" style="background-color:#f7f8fa;color:#333;margin:3%;">
                                              <del>{{time.start}}</del>
                                          </li>
                                          <li *ngIf="i > 15 && time.status == 'Pending for Approval'" style="background-color:#ed1c24;color:#fff;margin:3%;">
                                              <a href="javascript:void(0);" style="color:#fff;">
                                                <span (click)="setOtherDateTime(cals.date,time.start)">
                                                {{time.start}}
                                              </span>
                                            </a>
                                          </li>
                                          <li *ngIf="i > 15 && time.status == 'Approved & Booked'" style="background-color:#0082b9;color:#fff;margin:3%;">
                                              <span>Booked</span>
                                          </li>
                                        </span>

                                        <span *ngFor="let time of generateArray(cals.time); let i = index">


                                          <li *ngIf="i <= 15 && time.status == 'Available'" style="background-color:#61A344;color:#fff;margin:3%;">
                                            <a style="color:#fff" href="javascript:void(0);">
                                              <span (click)="setDateTime(cals.date,time.start)">
                                                {{time.start}}
                                              </span>
                                            </a>
                                          </li>
                                          <li *ngIf="i <= 15 && time.status == 'Not Available'" style="background-color:#f7f8fa;color:#333;margin:3%;">
                                              <del>{{time.start}}</del>
                                          </li>
                                          <li *ngIf="i <= 15 && time.status == 'Pending for Approval'" style="background-color:#a1a1a1;color:#fff;margin:3%;">
                                              <span>Pending</span>
                                          </li>
                                          <li *ngIf="i <= 15 && time.status == 'Approved & Booked'" style="background-color:#0082b9;color:#fff;margin:3%;">
                                              <span>Booked</span>
                                          </li>
                                        </span>
																	    </ul>
                                </span>
                                </div>
                                  </div>
                                </div>

                              </div>
                            </div>
                          </div>
                          <!-- end: FULL CALENDAR PANEL -->
                        </div>
                      </div>
                      <!--
                      <ul class="list-inline pull-right">
                          <li><button type="button" class="btn btn-default prev-step" (click)="setCounsellorTab('isCounsellorTab')">Previous</button></li>
                      </ul>
                    -->

                    


                    </div>


                    <!--
                                                                     <div class="tab-pane active" role="tabpanel" id="complete" *ngIf="isCheckoutTab">
                                                                          <div class="row">
                                                                            <div class="col-sm-4 col-md-4">
                                                                                <img src="assets/images/computer.jpg" alt="" class="img-responsive" />
                                                                            </div>

                                                                            <div class="col-md-8 col-sm-8">
                                                                                <h3>Confirm Order</h3>
                                                                                <table style="width:95%;text-align:left;border:1px dotted gray;">
                                                                                    <tr>
                                                                                        <th>Item</th>
                                                                                        <th>Description</th>
                                                                                        <th>Unit Cost</th>
                                                                                        <th>Quantity</th>
                                                                                        <th>Price</th>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td>1-1 Session</td>
                                                                                        <td>30 minutes session with {{request.counsellorName}}<br>
                                                                                        Track:- {{request.serviceName}}<br>
                                                                                        <i class="glyphicon glyphicon-globe"></i> Session Date: {{request.date}}
                                                                                    <br />
                                                                                    <i class="glyphicon glyphicon-gift"></i> Start: {{request.time}} (Duration:  {{request.duration}})<br/>
                                                                                        {{expectationMessages}}
                                                                                        </td>
                                                                                        <td>Rs {{item.unitPrice}}</td>
                                                                                        <td>{{item.qty}}</td>
                                                                                        <td>Rs {{item.unitPrice * item.qty}}</td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td colspan='3'>&nbsp;</td>
                                                                                        <td style="border-top:1px solid #000;border-left:1px solid #000;">Sub Total</td>
                                                                                        <td style="border-top:1px solid #000;border-right:1px solid #000;">Rs {{item.unitPrice * item.qty}}</td>
                                                                                    </tr>
                                                                                     <tr>
                                                                                        <td colspan='3'>&nbsp;</td>
                                                                                        <td style="border-top:1px solid #000;border-left:1px solid #000;">GST ({{item.gst}}%)</td>
                                                                                        <td style="border-top:1px solid #000;border-right:1px solid #000;">Rs {{item.unitPrice * item.qty * item.gst /100}}</td>
                                                                                    </tr>
                                                                                    <tr style="padding:5px;">
                                                                                       <td>&nbsp;</td>
                                                                                       <td colspan="5" style="padding:5px;border-top:1px solid #000;border-right:1px solid #000;border-left:1px solid #000;">Apply Promo Code</td>
                                                                                    </tr>
                                                                                    <tr style="">
                                                                                       <td>&nbsp;</td>
                                                                                       <td  style="text-align:right;padding:5px; border-bottom:1px solid #000;border-left:1px solid #000;"><input type="text" [(ngModel)]="promoCode"></td>
                                                                                       <td colspan='2' style="padding:5px;border-bottom:1px solid #000;">

                                                                                        <button type="button" class="btn btn-info" (click)="getDiscount()">Apply</button></td>
                                                                                       <td style="border-bottom:1px solid #000;border-right:1px solid #000;">&nbsp;<span *ngIf="discount">Rs {{discount}}</span></td>
                                                                                   </tr>
                                                                                     <tr>
                                                                                        <td colspan='3'>&nbsp;</td>
                                                                                        <td style="border-bottom:1px solid #000;border-left:1px solid #000;">Total</td>
                                                                                        <td style="border-bottom:1px solid #000;border-right:1px solid #000;">Rs {{(item.unitPrice * item.qty) + (item.unitPrice * item.qty * item.gst /100) - discount}}</td>

                                                                                    </tr>
                                                                                </table>
                                                                            </div>
                                                                          </div>
                                                                            <div class="clearfix"></div>
                                                                            <div class1="col-md-12 col-sm-12">
                                                                              <ul class="list-inline pull-right">
                                                                                 <li><button type="button" class="btn btn-default prev-step" (click)="showTab('isExpectationTab')">Previous</button></li>
                                                                               <li><button type="button" class="btn btn-danger prev-step" (click)="showTab('isServicesTab')">Start Fresh!</button></li>
                                                                               <li><button type="button" class="btn btn-primary prev-step" (click)="checkOut()">Proceed to Pay!</button></li>
                                                                            </ul>
                                                                            </div>
                                                                            <div class="clearfix"></div>
                                                                        </div>-->



                    <div class="tab-pane active" role="tabpanel" id="complete" *ngIf="isCheckoutTab">                                                 <div id="panel_edit_account" class="active">
                      <div class="checkouts-part">
						<div class="col-md-12"><h2>Confirm Order</h2></div>
                          <div class=" col-sm-4  col-md-4">
                            <div class="check-img">
                              <img class="img-responsive" src="assets/images/computer.jpg"/>
                            </div>
							 <div class="col-md-12 plz-note-text">
							 <span class="red-text">*</span> 
							 Please note that you will be prompted to make payment (non-refundable) after the Mentor confirms the session.
							 </div>
                          </div>
                          <div class="col-sm-8 col-md-8">
                            <div class="check-order-part">
                              
                              <div class="all-check-section">
                                <div class="check-border">
                                  <!--<ul class="check-one">
                                    <li><h3>Item</h3></li>
                                    <li>1-1 Session	</li>

                                  </ul> -->
                                  <ul class="check-two">
                                    <li><h3>Description</h3></li>
                                    <li>30 mins. session with <strong><br>{{request.gendertype}} {{request.counsellorName}}</strong></li>
                                    <li><strong>Career Field:-</strong> {{request.serviceName}}</li>
                                    <li><i class="glyphicon glyphicon-globe"></i><strong>Session Date:</strong> {{request.date | date:'dd MMM yyyy'}} </li>
                                    <li><i class="glyphicon glyphicon-gift"></i><strong>Start:</strong> {{request.time}}  (Duration: {{request.duration}} mins.)</li>
                                    

                                  </ul>
                                  <!--<ul class="check-three">
                                    <li><h3>Unit Cost</h3>  </li>
                                    <li>Rs. {{item.unitPrice}}</li>

                                  </ul>-->
                                  <ul class="check-four">
                                    <li><h3>Quantity</h3></li>
                                    <li>{{item.qty}}</li>
                                  </ul>
                                  <ul class="check-five">
                                    <li><h3>Price</h3></li>
									<li><div class="mkt-price">Rs. 4000</div></li>
                                    <li><div class="selling-price">Rs. {{item.unitPrice * item.qty}} <span class="red-text">*</span></div></li>

                                  </ul>



                                  <div class="total-amount-part">
                                    <ul>
									  <li><span class="red-text">*</span> Introductory price</li>
                                      <li class="total-price">Sub Total Rs. {{item.unitPrice * item.qty}}</li>
                                      <li class="total-price">GST ({{item.gst}}%) Rs. {{item.unitPrice * item.qty * item.gst /100}}</li>

                                    </ul>

                                  </div>
								  <div class="col-md-12 col-sm-12 col-xs-12">{{expectationMessages}}</div>
                                </div>
							
                                <div class="col-sm-5 col-md-6" style="float:right">
                                  <div class="total-last">
                                    <ul>
                                      <li>Total Rs. {{(item.unitPrice * item.qty) + (item.unitPrice * item.qty * item.gst /100) - discount}}/- </li>
                                    </ul>
                                  </div>

                                </div>
                                <div class="col-sm-7 col-md-6" style="float:left;">
                                  <div class=" check-form">

                                    <!--div class="form-group">
                                      <label>Apply Promo Code</label>
                                      <input type="text"  class="form-control" [(ngModel)]="promoCode">
                                      <button class="btn btn-info" (click)="getDiscount()">Apply</button>
                                    </div-->



                                  </div>
                                </div>
								
                                <div>&nbsp;<span *ngIf="discount">Rs.{{discount}}</span></div>
                               

                                <!--<tr>
                                     <td colspan='3'>&nbsp;</td>
                                     <td style="border-bottom:1px solid #000;border-left:1px solid #000;">Total</td>
                                     <td style="border-bottom:1px solid #000;border-right:1px solid #000;">Rs  {{(item.unitPrice * item.qty) + (item.unitPrice * item.qty * item.gst /100) - discount}}</td>

                                   </tr>-->


                              </div>
                              <div _ngcontent-c1="" class1="col-md-12 col-sm-12">
                                <ul _ngcontent-c1="" class="list-inline pull-right">
                                  <li _ngcontent-c1=""><button _ngcontent-c1="" (click)="showTab('isExpectationTab')" class="btn btn-default prev-step" type="button">Previous</button></li>
                                  <!--li _ngcontent-c1=""><button _ngcontent-c1="" class="btn btn-danger prev-step" type="button" (click)="showTab('isServicesTab')">Start Fresh!</button></li-->
                                  <li _ngcontent-c1=""><button _ngcontent-c1="" class="btn btn-primary prev-step" type="button" id="booking_confirm" (click)="checkOut()">Confirm</button></li>
                                </ul>
                              </div>
                            </div>

                          </div>
                     

                      </div>
                    </div>
                    </div>
                </div>
                  

                  <!-- end :- forms -->
                  
                </div>
                <!-- payment form start -->
                <form class="hide" action={{paymentUrl}} method="POST" id="payment_form">
                  <input name="userId" id="paymentUserId" value={{userId}}>
                  <input name="sessionId" id="sessionId">
                  <input name="sessionPrice" id="sessionPrice">
                  <input name="sessionGST" id="sessionGST">
                  <input name="sessionDiscount" id="sessionDiscount">
                  <input name="sessionFinalPrice" id="sessionFinalPrice">
                  <!--<button type="submit" (click)="form.submit()">Search</button>-->
                </form>
              </section>
            </div>
          </div>
        </div>
      </div>
    </div>

 

  <!-- end: MAIN CONTAINER -->
  <div class="subviews">
    <div class="subviews-container"></div>
  </div>



  
  <footer class="inner">
    <div class="footer-inner">
      <div class="pull-left">
        2017 &copy; Intercell Technologies Pvt. Ltd.
      </div>

      <div class="pull-right">
        <div class="bottom-top-btn">
          <a href="#" class="scrollToTop"><i class="fa fa-arrow-up" aria-hidden="true"></i></a>
        </div>
      </div>

      <!-- <div class="pull-right">
           <span class="go-top"><i class="fa fa-chevron-up"></i></span>
         </div>-->
    </div>
  </footer>

  
   </div>

</div>
<!-- end: PAGE -->


<!--
<app-footer></app-footer>
-->

<modal #summaryModel>
  <modal-header>
      <h5 class="popup-title">{{popFullName}}</h5>
  </modal-header>
    
  <modal-content>
      <div class="row">
         <div class="col-md-12">
         <div class="col-md-4">
             <img src="{{popUserPic}}" class="img-responsive">
           </div>
       <div class="popup-content col-md-8">
          
         <p>{{summary}}<p>
        </div>
     </div>
       </div>
     </modal-content>
  
</modal>




