
.appoinment_list-part li {
   padding: 5px 0;
    font-size: 14px;
    border: 1px solid #ddd;
    border-left: none;
    border-right: none;
    border-bottom: none;
}
ul.one li:first-child {
    background: red;
    color: #fff;
}
ul.two li:first-child{ background:#0D728F; color:#fff;}
ul.three li:first-child{ background:#2E99F1; color:#fff;}
ul.four li:first-child{ background:#F1572E; color:#fff;}
ul.five li:first-child{ background:#7E35AB; color:#fff;}
ul.six li:first-child{ background:#e91e63; color:#fff;}
ul.seven li:first-child{ background:#009688; color:#fff;}
ul.one {
    border: 1px solid #ddd;
}
ul.two, .three, .four, .five, .six, .seven{
    border: 1px solid #ddd;
    border-left: none;
}
.appoinment_list-part li:first-child {
    border-top: none;
}
.appoinment_list-part {
   
}
.right_icon {
    margin-right: -43px;
    position: relative;
    top: -19px;
}

/*
.drop_box_tracks{
  width:50% !important;
}
*/
.mkt-price{text-decoration:line-through;color:#a0a0a0;}
.selling-price{font-weight:400;}





