<app-header></app-header>
<div class="main-wrapper Counsellor_dashboard">
  <!-- start: MAIN CONTAINER -->
  <div class="main-container inner">
    <!-- start: PAGE -->
    <div class="main-content">

      <div class="container">
        <!-- start: PAGE CONTENT -->
        <div class="row">
          <div class="col-sm-12">
            <div class="tabbable user_profile-table_tab">
              <!--<app-inner-header></app-inner-header>-->
              <div class="tab-content" id="main">
                <div id="panel_favourite" class="active">
                  <div class="panel-body">
                    <div class="col-sm-12 space20">
                      <div role="tabpanel" class="tab-pane" id="favourites">
                        <div class="table-responsive">
                          <table class="table table-bordered">
                            <tbody>
                            <tr>
                              <th>S.No</th>
                              <th>Name</th>
                              <th>Services</th>

                              <th>Action</th>
                            </tr>
                            <tr>
                              <td>1.</td>
                              <td><a class="user-profile" href="#">Mr. Jhon</a></td>
                              <td>artificial intelligence</td>

                              <td>
                                <div class="visible-md visible-lg hidden-sm hidden-xs">
                                  <a href="#" class="btn btn-xs btn-blue tooltips" data-placement="top" data-original-title="Book-again"><i class="fa fa-calendar"></i></a>

                                  <a href="#" class="btn btn-xs btn-red tooltips" data-placement="top" data-original-title="Remove"><i class="fa fa-times fa fa-white"></i></a>
                                </div>
                                <div class="visible-xs visible-sm hidden-md hidden-lg">
                                  <div class="btn-group">
                                    <a class="btn btn-green dropdown-toggle btn-sm" data-toggle="dropdown" href="#">
                                      <i class="fa fa-cog"></i> <span class="caret"></span>
                                    </a>
                                    <ul role="menu" class="dropdown-menu pull-right dropdown-dark">
                                      <li>
                                        <a role="menuitem" tabindex="-1" href="#">
                                          <i class="fa fa-inr"></i> pay
                                        </a>
                                      </li>

                                      <li>
                                        <a role="menuitem" tabindex="-1" href="#">
                                          <i class="fa fa-times"></i> Remove
                                        </a>
                                      </li>
                                    </ul>
                                  </div>
                                </div>
                              </td>
                            </tr>
                            <tr>
                              <td>2.</td>
                              <td><a class="user-profile" href="#">Mr. Tom</a></td>
                              <td>Data structure</td>

                              <td>
                                <div class="visible-md visible-lg hidden-sm hidden-xs">
                                  <a href="#" class="btn btn-xs btn-blue tooltips" data-placement="top" data-original-title="Book-again"><i class="fa fa-calendar" aria-hidden="true"></i></a>

                                  <a href="#" class="btn btn-xs btn-red tooltips" data-placement="top" data-original-title="Remove"><i class="fa fa-times fa fa-white"></i></a>
                                </div>
                                <div class="visible-xs visible-sm hidden-md hidden-lg">
                                  <div class="btn-group">
                                    <a class="btn btn-green dropdown-toggle btn-sm" data-toggle="dropdown" href="#">
                                      <i class="fa fa-cog"></i> <span class="caret"></span>
                                    </a>
                                    <ul role="menu" class="dropdown-menu pull-right dropdown-dark">
                                      <li>
                                        <a role="menuitem" tabindex="-1" href="#">
                                          <i class="fa fa-inr"></i> Edit
                                        </a>
                                      </li>

                                      <li>
                                        <a role="menuitem" tabindex="-1" href="#">
                                          <i class="fa fa-times"></i> Remove
                                        </a>
                                      </li>
                                    </ul>
                                  </div>
                                </div>
                              </td>
                            </tr>
                            <tr>
                              <td>3.</td>
                              <td><a class="user-profile" href="#">Mrs. kaushik</a></td>
                              <td>Digital Electronics</td>

                              <td>
                                <div class="visible-md visible-lg hidden-sm hidden-xs">
                                  <a href="#" class="btn btn-xs btn-blue tooltips" data-placement="top" data-original-title="Book-again"><i class="fa fa-calendar"></i></a>

                                  <a href="#" class="btn btn-xs btn-red tooltips" data-placement="top" data-original-title="Remove"><i class="fa fa-times fa fa-white"></i></a>
                                </div>
                                <div class="visible-xs visible-sm hidden-md hidden-lg">
                                  <div class="btn-group">
                                    <a class="btn btn-green dropdown-toggle btn-sm" data-toggle="dropdown" href="#">
                                      <i class="fa fa-cog"></i> <span class="caret"></span>
                                    </a>
                                    <ul role="menu" class="dropdown-menu pull-right dropdown-dark">
                                      <li>
                                        <a role="menuitem" tabindex="-1" href="#">
                                          <i class="fa fa-inr"></i> pay
                                        </a>
                                      </li>

                                      <li>
                                        <a role="menuitem" tabindex="-1" href="#">
                                          <i class="fa fa-times"></i> Remove
                                        </a>
                                      </li>
                                    </ul>
                                  </div>
                                </div>
                              </td>
                            </tr>
                            <tr>
                              <td>4.</td>
                              <td><a class="user-profile" href="#">Mrs. kaushik</a></td>
                              <td>Digital Electronics</td>

                              <td>
                                <div class="visible-md visible-lg hidden-sm hidden-xs">
                                  <a href="#" class="btn btn-xs btn-blue tooltips" data-placement="top" data-original-title="Book-again"><i class="fa fa-calendar"></i></a>

                                  <a href="#" class="btn btn-xs btn-red tooltips" data-placement="top" data-original-title="Remove"><i class="fa fa-times fa fa-white"></i></a>
                                </div>
                                <div class="visible-xs visible-sm hidden-md hidden-lg">
                                  <div class="btn-group">
                                    <a class="btn btn-green dropdown-toggle btn-sm" data-toggle="dropdown" href="#">
                                      <i class="fa fa-cog"></i> <span class="caret"></span>
                                    </a>
                                    <ul role="menu" class="dropdown-menu pull-right dropdown-dark">
                                      <li>
                                        <a role="menuitem" tabindex="-1" href="#">
                                          <i class="fa fa-inr"></i> pay
                                        </a>
                                      </li>

                                      <li>
                                        <a role="menuitem" tabindex="-1" href="#">
                                          <i class="fa fa-times"></i> Remove
                                        </a>
                                      </li>
                                    </ul>
                                  </div>
                                </div>
                              </td>
                            </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- end: PAGE CONTENT-->
          </div>

        </div>
        <!-- end: PAGE -->
      </div>
      <!-- end: MAIN CONTAINER -->
      <!-- start: FOOTER -->
      <footer class="inner">
        <div class="footer-inner">
          <div class="pull-left">
            2017 &copy; Intercell Technologies Pvt. Ltd.
          </div>
          <div class="pull-right">
            <span class="go-top"><i class="fa fa-chevron-up"></i></span>
          </div>
        </div>
      </footer>

      <!-- end: FOOTER -->
    </div>
  </div>
</div>
