<app-header></app-header>
<div class="main-wrapper Counsellor_dashboard">
  <!-- start: MAIN CONTAINER -->
  <div class="main-container inner account-page">
    <!-- start: PAGE -->
    <div class="main-content" id="main">

      <!-- end: SPANEL CONFIGURATION MODAL FORM -->
      <div class="container">
        <!-- start: PAGE CONTENT -->
        <div class="row">
          <div class="col-sm-12">
            <div class="tabbable user_profile-table_tab">
              <app-inner-header></app-inner-header>
              <div class="tab-content">
                <div id="panel_edit_account" class="active">
                  <form action="#" role="form" id="form">
                    <div class="row edit_account_top hide">
                      <div class="col-md-2">
                        <ul>
                          <li>
                            E-mail
                          </li>
                          <li>
                            Mobile No.
                          </li>
                          <li>
                            Password
                          </li>

                        </ul>
                      </div>
                      <div class="col-md-3">
                        <ul>
                          <li>
                            <span>info@intercellworld.com</span>
                          </li>
                          <li>
                            <span>+91 2847 873 33</span>
                          </li>
                          <li>
                            <span>xxxxx4rt</span>
                          </li>

                        </ul>
                      </div>
                      <div class="col-md-1">
                        <ul>
                          <li>
                            <button type="button" class="btn btn-link" data-toggle="modal" data-target="#myModal_mo">
                              Change
                            </button>
                          </li>
                          <li>
                            <button type="button" class="btn btn-link" data-toggle="modal" data-target="#myModal_mo">
                              Change
                            </button>
                          </li>
                          <li>
                            <button type="button" class="btn btn-link" data-toggle="modal" data-target="#myModal_mo">
                              Change
                            </button>

                        </ul>
                      </div>
                      <div class="col-md-3">
                      </div>
                    </div>
                    <div class="inner-box session_history">
                    <div class="edit_account_top">
                        <div class="panel-heading overview">
                            <h3 class="">Session History</h3>
                          </div>
                      <div class="col-md-12 no-padding">
                        <!-- start: TABLE Transaction -->
                        <div class="panel panel-white">


                          <div class="panel-body">

                            <table class="table table-striped table-hover" id="sample-table-2">
                              <thead>
                              <tr>
                                <th>Name</th>
                                <th class="">Amount</th>
                                <th class="">Credit/ Debit</th>

                                <th class=" ">Transaction Date</th>
                                <th class=" ">Session Status</th>
                              </tr>
                              </thead>
                              <tbody>


                              <tr *ngFor="let register of registerPayment; ">
                                <td>{{fullName}}</td>
                                <td class=""><i class="fa fa-inr" aria-hidden="true"></i>{{register.amount}}</td>
                                <td class="">
                                  Debit
                                </td>

                                <td class=" ">{{register.created_on}}</td>
                                <td class=" ">Registration</td>
                              </tr>

                             
                                <tr *ngFor="let session of sessionPayment;">
                                <td>{{session.first_name | titlecase}} {{session.last_name | titlecase}}</td>
                                <td *ngIf="userType == 2" class="">
                                  <i class="fa fa-inr" aria-hidden="true"></i>{{session.amount}}
                                </td>
                                <td *ngIf="userType == 3" class="">
                                  <i class="fa fa-inr" aria-hidden="true"></i>
                                  {{session.price_amount - (session.our_commision--session.ccavenue_commision)}}<span>*</span>
                                  
                                </td>

                                <td *ngIf="userType == 2" class="">
                                    <ng-container [ngSwitch]="true">
                                        <ng-container *ngSwitchCase="session.status === 'Rejected'">Credit</ng-container>
                                        <ng-container *ngSwitchDefault>Debit</ng-container>
                                    </ng-container>
                                  <!-- 'Payment Pending','Pending for Approval','Approved & Booked','Rejected','Cancelled','Request to reschedule','Student failed to Attain','Counsoller failed to Attain','Failed due to other Reason','Completed','Refunded'-->
                                </td>
                                <td *ngIf="userType == 3" class="">
                                  Credit
                                </td>
                                <td class="">{{session.updated_on}}</td>
                                <td [ngClass]="ngClassForColor( session.status )">
                                    {{session.status}}
                                  <span *ngIf="session.reschedulestatus == 1"><br><br><a [routerLink]="['/reshedule-appointment',session.id,session.counsellor_id]" class="btn btn-primary">Reschedule</a></span>
                                  </td>
                              </tr>

                              <tr *ngFor="let return of returnedPayment; let eduId = index;">
                                <td>{{fullName}}</td>
                                <td class=""><i class="fa fa-inr" aria-hidden="true"></i>{{return.amount}}*</td>
                                <td class="">
                                  {{return.transaction_type | titlecase}}
                                </td>

                                <td class="">{{return.updated_on}}</td>
                                <td class="text-red">Withdraw</td>
                              </tr>

                              </tbody>
                            </table>
                            <!--<span *ngIf="userType == 3">* Subject to TDS</span>-->
                          </div>
                        </div>
                        <!-- end: TABLE WITH IMAGES PANEL -->
                      </div>
                    </div>
                    </div>

               <!--     <div class="row">
                      <div class="col-md-8">
                        <p>
                          By clicking Edit, you are agreeing to the Policy and Terms &amp; Conditions.
                        </p>
                      </div>
                      <div class="col-md-4">
                        <button class="btn btn-green btn-block" type="submit">
                          Save
                        </button>
                      </div>
                    </div>-->
                  </form>


                  <div *ngIf="userType == 3 && maxAmount>0" class="row trans-history">
                    <div class="col-xs-12">
                        <div class="inner-box payment-section">
                            <div class="col-md-12"><label class="tds">*Subject to TDS</label></div>
                        <div class="form-group">
                          <div class="col-sm-8 fs">
                            Total Payable Amount :
                          </div>
                          <div class="col-sm-4">
                              <label>&#8377; {{maxAmount}}</label>
                          </div>
                        </div>

                        <!--div *ngIf="maxAmount>=10000" class="form-group">
                          <div class="col-sm-8 fs">
                            Amount you want to withdraw
                          </div>
                          <div class="col-sm-4">
                            <input type="text" class="form-control" [(ngModel)] ="maxAmount"   readonly placeholder="Enter Amount you want to withdraw">
                            <div class="red-clr col-xs-12"><span *ngIf="moneyError">Out of Range</span></div>
                        </div>
                        </div-->

                        
                        <!--div *ngIf="maxAmount>=10000" class="col-xs-12">
                          <button class="btn btn-green" (click) = "onSubmit()" >Withdraw Payment</button></div-->
                          
                          <div class="col-md-12"><label class="tds"><b>Please Note : </b>Your monthly earnings will be auto-credited to your registered bank account latest by 15th of the following month. The amount credited will be subject to TDS.</label></div>

                    </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
            <!-- end: PAGE CONTENT-->
          </div>

        </div>
        <!-- end: PAGE -->
      </div>
      <!-- end: MAIN CONTAINER -->
      <!-- start: FOOTER -->
      <footer class="inner">
        <div class="footer-inner">
          <div class="pull-left">
            2017 &copy; Intercell Technologies Pvt. Ltd.
          </div>

          <div class="pull-right">
            <div class="bottom-top-btn">
              <a href="#" class="scrollToTop"><i class="fa fa-arrow-up" aria-hidden="true"></i></a>
            </div>
          </div>

        </div>
      </footer>
      <div class="modal fade" id="myModal_mo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
              <h4 class="modal-title" id="myModalLabel">Enter One Time Password (OTP)</h4>
            </div>
            <div class="modal-body">
              <div class="modal_account_tab">
                <div class="row">
                  <div class="maodal_content_tab">
                    <div class="col-md-12">
                      <p>One Time Password (OTP) has been sent to your mobile ****36595, please enter the same here to login.</p>
                      <div class="form-group">

                        <input placeholder="OTP" class="form-control" id="firstname" name="firstname" type="text">
                      </div>
                      <div class="form-group time-sections">
                        <span><a href="#"> Get OTP on call (00:30) </a></span>
                      </div>

                    </div>
                  </div>

                </div>
              </div>
            </div>
            <div class="modal-footer">
              <span><a href="#">Contact us</a></span>
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" id="getotp">Get OTP</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
