/* ---------------------------------------------------------------------- 
>>> TABLE OF CONTENT
-------------------------------------------------------------------------
1 - Basic Elements & Classes
2 - Page Header and Page Header elements
3 - PageSlide Left
4 - PageSlide Right
5 - Main Container
6 - Sliding Bar
7 - Footer
8 - Boxed Layout
9 - Utilities
10 - Subview
11 - Forms
12 - Tables
13 - Dropdown Menu
14 - Modals
15 - Labels and Badges
16 - Accordion
17 - Widgets
18 - Style Selector
19 - Tabs
20 - Login
21 - Horizontal Menu
22 - Blog Elements
23 - Buttons
24 - Icons
25 - User profile
26 - Invoice
27 - Timeline
28 - Calendar
29 - Messages
30 - Gallery
31 - Pagination
32 - Lock Screen
33 - Coming Soon
34 - Pricing Tables
35 - 404 and 500 error
36 - Maps
37 - Panels
38 - Backdrop
39 - Sliding Bar (SB)
40 - CSS FOR MOBILE
/* ---------------------------------------------------------------------- */


@import "modules/variables";
@import "modules/css3-mixins";

.container{max-width:$container-width-desktop;width:$full-width;}

/*............Header SCSS............*/
header.main-header{background:$grey;padding-top:$p-t-10;padding-bottom:$p-b-10;border-bottom:1px solid $grey-border;width:$full-width;}
header.main-header.only-forgot .top-hdr-form-div{margin-top:$m-t-10 - 2px;}


/*............Footer SCSS............*/
footer.main-footer {width:$full-width;float:$float-left;text-align:$text-justify;background:$blue;padding-top:$p-t-5;padding-bottom:$p-b-5;
line-height:$line-height-large;}
section.footercopyright-section{width:$full-width;float:$float-left;padding-top:$p-t-8;padding-bottom:$p-b-8;background:#3c3a6d;margin-top:$m-t-10 - 9px;}
.footer-copy{float:$float-left;color:$lightWhite;}

.ftr-head{font-size:$font-size-extra-large;padding-top:$p-t-10 + 2px;padding-bottom:$p-b-10 + 2px;}
.readmore {color:$white;font-weight:400;text-decoration:none;font-style:italic;}
.readmore:hover{color:$black;}


/*............Homepage banner SCSS............*/
section.banner-section{width:$full-width;position:relative;background:url(../../assets/images/banner-bg.jpg) no-repeat;background-size:cover;height:612px;overflow:hidden;}
section.banner-section .banner-overlay{width:$full-width;height:$full-height;display:inline-block;background:rgba(0,0,0,0.2);position:absolute;top:0;left:0;}


.intercell-btn{padding:8px 18px;background:$gradient-blue;color:#fff;transition:all 0.4s ease;}
.btn-primary{border-radius:4px;background:$gradient-blue;}
.btn-small{padding:7px 8px;}

.btn-blue{background:$gradient-blue;border-color:#0080b8;color:#ffffff;}

p.profile-detelis a{font-size:15px;font-weight:400;color:#fff;padding:7px 15px;background:$gradient-blue;}
p.profile-detelis a:hover{color:#fff;}
.btn-squared{border-radius:0;}

